/*--------------------------------------------------

TABVIEW STYLES

Styles for the tabview thing.

--------------------------------------------------*/


/*--------------------------------------------------

  LOADER

--------------------------------------------------*/
.yui-navset .yui-nav li a em {
	display:block;
}
.yui-navset .yui-nav li a em {
	display:block;
}
.yui-nav li.selected em, .yui-nav li a:hover em {
	background-position:0 -50px;
}
.yui-nav li a em {
	background:url(/web/images/ukisa/tabview/canvas/tabview.gif) no-repeat scroll 0 0 transparent;
	padding:0 0 0 12px;
}
.yui-navset li em {
	font-style:normal;
}
.yui-navset li em {
	font-style:normal;
}

.yui-navset .yui-nav li a {
	display:inline-block;
	vertical-align:bottom;
}
.yui-navset .yui-nav li a {
	display:inline-block;
	vertical-align:bottom;
}
.yui-nav li a:link,
.yui-nav li a:visited,
.yui-nav li a:hover,
.yui-nav li a:active {
	text-decoration: none;
}
.yui-nav li a:hover, .yui-nav li.selected a {
	background-position:100% -150px;
}
.yui-navset .yui-nav a {
	position:relative;
}
.yui-navset .yui-nav a {
	outline:0 none;
}
.yui-navset .yui-nav a {
	position:relative;
}
.yui-navset .yui-nav a {	
	outline:0 none;
}
.yui-nav li a {
	background:url(/web/images/ukisa/tabview/canvas/tabview.gif) no-repeat scroll 100% -100px transparent;
	height:28px;
	line-height:28px;
	padding:0 12px 0 0;
	text-decoration:none;
}

.yui-navset .yui-nav li {
	cursor:pointer;
	display:-moz-inline-stack;
	vertical-align:bottom;
}
.yui-navset .yui-nav li {
	margin-right:0.5em;
}
.yui-navset .yui-nav li {
	cursor:pointer;
	display:-moz-inline-stack;
	vertical-align:bottom;
}
.yui-navset .yui-nav li {
	margin-right:0.5em;
}
.yui-nav li.selected {
	height:29px;
	position:relative;
	top:1px;
}
.yui-navset .yui-nav li {
	margin-right:3px;
	float: left;
}
.yui-nav, .yui-nav li {
	list-style:none outside none;
	margin:0;
	padding:0;
}

.yui-nav, .yui-nav li {
	list-style:none outside none;
	margin:0;
	padding:0;
}

#body .yui-nav {
	border-bottom:1px solid #B8BBBE;
	padding-left:12px;
	height: 28px;
	margin: 0 0 10px;
}
.yui-nav, .yui-nav li {
	list-style:none outside none;
	margin:0;
	padding:0;
}
.yui-nav, .yui-nav li {
	list-style:none outside none;
	margin:0;
	padding:0;
}
.yui-navset {
	position:relative;
	float: left;
	margin: 0 0 1.2727em;
	width: 100%;
}
.yui-navset .yui-hidden {
	display:none;
}