#intro {
    z-index: 19999;
    position: fixed;
    top: 0;
    left: 0;
    min-height: 860px; /* debug purposes, will be overriden in runtime */
    background: #318c2e url(/web/images/_new_images/sections/intro/loader-bg.png) top left repeat-x;
    overflow: hidden;
}

#intro.scrolling {
    background: #27641e;
}

#intro > div, #intro > img {
    position: absolute;
    margin-top: -30px;

    behavior: url(/web/scripts/_new_scripts/csspie/PIE.htc);
}


#intro_fade_helper {
    position: fixed;
    z-index: 19998;
    top: 0;
    left: 0;
    background-color: white;
    overflow: hidden;
}


#intro .picture {

    /*width: 1024px;*/
    /*height: 768px;*/
    width: 1024px;
    height: 682px;
    /* offset - frame */
    /*margin-left: 72px;*/
    /*margin-top: 100px;*/

}
#intro .frame {

    width: 1056px;
    height: 701px;
    z-index: 19991;
}
#intro .frame_blur {
    width: 1056px;
    height: 701px;
    z-index: 19992;
}
#intro .flare {
    position: absolute;
    width: 830px;
    height: 555px;
    margin-top: -200px;
    margin-left: -100px;
    z-index: 19994;
}


#intro .scroll-button {
    width: 164px;
    height: 147px;
    z-index: 19994;
    left: 50%;
    top: 50%;
    margin-left: -82px;
    margin-top: 20px;
    cursor: pointer;
}
#intro .scroll-button.sprite {
    height: 142px;
}
#intro .enter-button {
    width: 138px;
    height: 43px;
    z-index: 19994;
    left: 50%;
    top: 50%;
    margin-left: -69px;
    margin-top: 200px;
    cursor: pointer;
}

#intro .scroll-button, #intro .enter-button {
    position:absolute; z-index: 19994;
}
#intro_spacer {
    width: 1px;
    height: 0px;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
}

#intro .loading-indicator {
    background: url("/web/images/_new_images/ajax-loader.gif") 0 0 no-repeat;
    width: 31px;
    height: 31px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-right: -15px;
}

#intro .loading-logo {
    background: url("/web/images/_new_images/sections/intro/loader-logo.png") 0 0 no-repeat;
    width: 736px;
    height: 182px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -368px;
    margin-top: 28px;
}

#intro .scroll-button,
    #intro .enter-button,
    #intro .flare,
    #intro .frame,
    #intro .frame_blur,
    #intro .picture {
    visibility: hidden;
}