/*body * {*/
    /*color: blue !important;*/
/*}*/
div.circle-inner {
    width: 200px;
    height: 180px;
    padding-right: 20px;
}


.choose-item .choose-colour .palette ul li {
    width: 42px;
    height: 42px;
}
.choose-item .choose-colour .palette ul li {
    margin-right: 1px;
}


body.store-finder input {
    -webkit-border-radius: 0px;
    margin: 0px;
}
button.finder-search {
    right: -5px;
}