/*body > * {*/
    /*color: red;*/
/*}*/

header {
    width: 960px;
}
/*.massive-wrapper, header, footer, .grass, #parallax_debug_panel {*/
    /*display: none;*/
/*}*/
#parallax_debug_panel {
    display: none;
}
.leaf, .can, .skrollable {
    display: none;
}

.container_12 {
    /*border: 0px !important;*/
}


div.fence-repeat {
    top: 166px;
}

.container_12 {
    width: 960px;
}
div.massive-wrapper {
    margin-top: -2px;

}

div.footer-icons {
    padding-left: 0px;
}
.grass {
    display: none;
}
div.akzonobel {
    position: relative;
    left: -100px;
}


div.colour-mixer
div.palette
ul li {
    margin-right: 4px;
}
