/* Overrides for general layout
========================================================================== */
form,fieldset,legend{
	margin:0;
	padding:0;
	border:0;
}
legend{
	position:absolute;
	left:-9999px;
}
fieldset{
	border-bottom:1px solid #d6d6d6;
	padding-bottom:5px;
}
fieldset.final{
	border-bottom:1px solid #707070;
	margin:0 0 20px 0;
}
label,
span.label{
	width:140px;
	padding:12px 10px 13px 0;
	clear:both;
	display:block;
	float:left;
	font-size:1em;
	line-height:1.25em;
}
span.label{
	padding:8px 10px 3px 0;
}
label.small{
	width:120px;
	margin-top:5px;
}
span.value{
	float:left;
	width:262px;
	padding: 8px 8px 3px;
	font-weight:bold;
	font-size:1em
}
input.text{
	float:right;
	margin:11px 0 10px;
}
textarea.textarea{
    border: 1px solid #DCDCDC;
    font-size: 0.9em;
    padding: 3px;
    width: 272px;
    height:218px;	
    margin:8px 0;
    float:right;
}
input.checkbox{
	clear:both;
	float:left;
}
label.checkbox{
	clear:none;
	width:370px;
	margin:0 10px 5px 10px;
	font-size:0.813em;
	font-weight:bold;
	padding-top:9px;
}
span.error{
	display:block;
	width:250px;
	margin:0 0 -13px 150px;
	padding:0 10px;
	position:relative;
	top:-8px;
	float:left;
	color:#fd0001;
	font-size:0.813em;
	line-height:13px;
}
select+span.error{
	top:-15px;
}
#order h2{
	margin:18px 0 11px 0;
}
#order h2.basket {
    margin: 0 0 14px;
}
.button{
	padding: 4px 25px 6px 8px;	
}
.button span{
    right: 9px;
}
.button.grey.checkout{
	box-shadow: -1px -1px 2px #999999;
}
.button.grey.checkout:hover{
	box-shadow:none;
}
.button.grey.checkout{
    background: url("/web/images/_new_images/bg-button-grey.png") top left repeat-x;
    border:1px solid #dcdcdc;
    color:#313131;
    padding:6px 14px 6px 14px;
}
.button.grey.checkout.small{
    background: url("/web/images/_new_images/bg-button-grey-small.png") top left repeat-x;
    padding:2px 12px 2px;
    box-shadow:none;
    font-size:0.875em;
    display:inline-block;
    float:right;
}
.button.grey.checkout:active,
.button.grey.checkout.small:active{
    background: url("/web/images/_new_images/bg-button-grey-active.png") top left repeat-x;
}
.button.grey.paypal{
    padding:6px 90px 6px 14px;
}
.button.grey.paypal span{
    background: url("/web/images/_new_images/logo-paypal.png") no-repeat scroll 0 0 transparent;
    width:74px;
    height:20px;
    right:10px;
}
input.text,
input.password{
	border:1px solid #dcdcdc;
	padding:2px 3px;
	font-size:0.9em;
	width:272px;
}
input.text.error,
input.password.error{
	padding:1px 2px;
	border:2px solid #fe0103;
}
select.select{
	width:220px;
}
select.select.small{
	width:30px;	
}
input.text.small
{
	width:105px;
}
.order-progress{
	width:100%;
	margin:97px 0 26px;
	height:56px;
	float: left;
	border-bottom:1px solid #dcdcdc;
	z-index:9998;
	position:relative;
	background:#fff url(/web/images/_new_images/sections/checkout/bg-order-progress.png) top left repeat-x;
}
.order-progress ul{
	width:880px;
	margin:0 auto;
	padding:0;
	list-style-type: none;
}
.order-progress ul li{
	display:inline-block;
	padding:15px 9px 12px;
	font-size:1.25em;
	color:#313131;
	font-weight:bold;
}
.order-progress ul li.done{
	color:#c0c0c0;
}
.order-progress ul li.current{
	border-bottom:4px solid #313131;
}
#order .order-progress h3,
#order .content-wrapper h3
#order .massive-wrapper h3{
    background:#318D2E;
    color: #FFFFFF;
    display: block;
    left: -10px;
    margin: 0;
    padding: 8px 10px;
    position: relative;	
    font-size:1.625em;
}
#order #account-dropdown .container.forgotten
{
    display:block;
}

/* Basket page
========================================================================== */
.basket-title{
	margin-top:156px;
}
.basket-headers
{
	font-weight:bold;
	font-size:1em;
}
.basket-headers .sep
{
	border-bottom:1px solid #ccc;
	padding:5px 0 0 0;	
}
.basket-items-full{
	margin:0;
	padding:0;
	list-style-type: none;
	margin:0 auto;	
}
.basket-items-full li{		
    padding: 10px 0 0;
    display:block;
    clear:both;
    float:left;

}
.basket-items-full li .sep{
	border-bottom:1px solid #ccc;
    padding: 10px 0 0;
    display:block;
    float:left;	
    clear:both;
}
.basket-items-full .grid_2 img{
	border:4px solid #DEDEDE;
}
.basket-items-full .basket-quantity{
	width:20px;
	margin:0 10px 0 0;
	float:none;
}
.basket-items-full .grid_4{
	font-weight:bold;
	font-size:1em;
}
.basket-items-full .grid_4 span{
	display:block;
	font-weight:normal;
	font-size:0.813em;
}
.basket-items-full .grid_2{
	font-size:0.813em;
}
.basket-items-full .grid_2 a{
	font-size:1em;
}
.basket-items-full .grid_2 a.button{
	font-size:1.1em;
}
.basket-summary-full{
	margin:0;
	padding:10px 0;
	float:left;
	font-size:0.813em;
}
.basket-summary-full li{
	padding:10px 0;
	display:block;
	float:left;
}
.basket-summary-full .grid_8{
	text-align:right;
	font-weight:bold;
}

.basket-voucher-code{
	clear:both;
	float:right;
	background:#fffbd5;
	border:4px solid #e4dfaf;
	padding:6px;
	margin:10px 0;	
}
.basket-voucher-code div{
	width:388px;
}
.basket-voucher-code input.text
{
	width:50px;
	margin:0;
	float:none;
}
.touch .basket-voucher-code input.text{
	width:45px;
}
.basket-voucher-code label{
	margin:3px 12px 0 0;
	display:inline;
	clear:none;
	padding:0;
	width:auto;
	font-size:0.813em;
}
.basket-checkout{
	clear:both;
	padding:10px 0;
	float:right;
}
.basket-checkout button{
	float:right;
	margin-left:10px;		
}
.basket-empty{
	display:none;
	padding:20px 0;
}
.basket-empty a.button
{
	float:left;
}
.checkbox-container span.jqTransformCheckboxWrapper
{
	float:left;
}
.checkbox-container a.jqTransformCheckbox {
    -moz-box-orient: vertical;
    background: url("/web/images/_new_images/sections/checkout/checkbox.gif") no-repeat scroll center top transparent;
    display: inline-block;
    height: 24px;
    vertical-align: middle;
    width: 25px;
}
.checkbox-container a.jqTransformChecked {
    background-position: center bottom;
}
.checkbox-container{
	clear:both;
    float: left;
    padding: 18px 0 0;
    margin:0;
}
/* Account login page
========================================================================== */
.account-details{
	padding-bottom:0px;
}
.account-details.login h3{
    width: 430px;	
}
.account-details.new h3{
	width:355px;
}
.account-details p{
	margin:10px 0;
}
.account-details .arrow-link{
	clear:both;
	float:left;
	margin:6px 0 0 150px;
}
.account-details.login .button{
	float:right;
}
.account-details .button.back{
	clear:both;
	float:left;
}
/* Shipping details page
========================================================================== */
.shipping-details .button{
	float:right;
}
.shipping-details .button.back{
	clear:both;
	float:left;
}
/* Payment details page
========================================================================== */
.payment-details .button{
	float:right;
}
.payment-details .button.back{
	clear:both;
	float:left;
}
.payment-details .highlight{
	width:270px;
	float:right;
	background:#fffbd5;
	border:4px solid #e4dfaf;
	padding:6px;
	line-height:1em;
}
.payment-details .highlight input{
	float:left;
	width: 83px;
	margin:2px 14px 0 0;
}
.payment-details .highlight span
{
	line-height:1.2em;
	font-size:0.75em;
	
	display:block;
}
#dk_container_select-year{
	margin-left:10px;
}
.payment-details .billing-address{
	border-bottom:1px solid #d6d6d6;
	float:left;
	width:430px;
	margin:0 0 10px 0;
	display:none;

}
.payment-details .billing-address p{
	display:block;
	float:left;	
}
/* Basket summary
========================================================================== */
.container_12 .push_1.basket-summary{
	left:65px;
	margin-top: 24px;
}
.basket-summary{
	background:#fffdea url(/web/images/_new_images/sections/checkout/bg-summary.png) top left repeat-x;
	padding:0 10px;
}
.basket-summary h3{
    width:355px;
 }
.basket-summary h4
{
	font-size:1em;
	margin:0;
}
.basket-summary button
{
	float:right;
	margin:15px 0;
}
.basket-items{
	margin:0;
	padding:0;
	list-style-type: none;
	margin:0 auto;	
	border-bottom:1px solid #707070;
	float:left;
}
.basket-items img{
	padding:5px 7px;
	border:4px solid #dedede;
	float:left;
	background:#fff;
}
.basket-items li div{
	margin: -5px 0 0 18px;
	float:left;
	width:180px;
	font-weight:bold;
	font-size:0.813em;
	line-height:1.3em;
}
.basket-items li div span{
	display:block;
	font-weight:normal;
	margin:4px 0 20px 0;
}
.basket-items li{		
    padding: 18px 0 15px;
    display:block;
    clear:both;
    float:left;
    background:url(/web/images/_new_images/dash-line-light.png) top left repeat-x;
    width:355px;
}
.basket-items li:first-child{
	background:none;
}
.basket-details{
	margin:0 0 20px;
	padding:10px 0;
	float:left;
	width:355px;
	font-size:1em;
}
.basket-details li{
	padding:10px 0;
	display:block;
	float:left;
	background:url(/web/images/_new_images/dash-line.png) bottom left repeat-x;
	font-weight:bold;
	width:355px;
}
.basket-details li span{
	display:inline-block;
	float:left;
	width:230px;
	font-weight:normal;
}
.basket-details .grid_8{
	text-align:right;
	font-weight:bold;
}
/* Order confirmation
========================================================================== */
.order-confirmation{

}
.order-confirmation ul{
	margin:30px 0 20px 0;
	padding:0;
	list-style-type: none
}
.order-confirmation ul li{
	font-size:1em;
	padding:0 0 10px 0;
}
.order-confirmation ul li span{
	font-weight:bold;
}
.order-confirmation p a{
	text-decoration: underline;
}
.order-confirmation a.button{
	margin:15px 0;
	display:block;
	float:left;
}