.clearfix {
    *zoom: 1;
}

.clearfix:before,
.clearfix:after {
    display: table;
    line-height: 0;
    content: "";
}

.clearfix:after {
    clear: both;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block;
}

font-size: 100%;
-webkit-text-size-adjust: 100%;
-ms-text-size-adjust: 100%;
    }

a:focus {
}

a:hover,
a:active {
    outline: 0;
}

img {
    /*width: auto\9;*/
    height: auto;
    /*max-width: 100%;*/
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}

button,
input,
select,
textarea {
    margin: 0;
    font-size: 100%;
    vertical-align: middle;
}

button,
input {
    *overflow: visible;
    line-height: normal;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0;
}


body {
    margin: 0;
    padding:0;
}

a {
    text-decoration: none;
}


p {
    margin: 0 0 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin:0;
    font-family: inherit;
    font-weight: bold;
    color: inherit;
    text-rendering: optimizelegibility;
}

ul,
ol {
    padding: 0;
    margin: 0 0 10px 25px;
}

ul ul,
ul ol,
ol ol,
ol ul {
    margin-bottom: 0;
}