/* ==========================================================================
Sheds
========================================================================== */

body.sheds div.sheds {
    margin-top: 56px;
    margin-bottom: 15px;
    padding-top: 34px;

}

body.sheds .heading-wrapper {
    background: url(/web/images/_new_images/sections/sheds/background.jpg) 34px 34px repeat-x;
    height: 492px;
    display: block;
    padding-bottom: 20px;
}
/**
 * Headings
 */
body.sheds div.sheds .image {
    background: url(/web/images/_new_images/sections/sheds/headings/sheds.jpg) top center no-repeat;
    height:492px;
}
body.sheds.buildings div.sheds .image {
    background: url(/web/images/_new_images/sections/sheds/headings/buildings.jpg) top center no-repeat;
    height:492px;
}
body.sheds.decking div.sheds .image {
    background: url(/web/images/_new_images/sections/sheds/headings/decking.jpg) top center no-repeat;
    height:492px;
}
body.sheds.garden div.sheds .image {
    background: url(/web/images/_new_images/sections/sheds/headings/garden.jpg) top center no-repeat;
    height:492px;
}
body.sheds.fences div.sheds .image {
    background: url(/web/images/_new_images/sections/sheds/headings/fences.jpg) top center no-repeat;
    height:492px;
}
body.testers div.sheds .image {
    background: url(/web/images/_new_images/sections/sheds/headings/tester.jpg) top center no-repeat;
    height:332px;
    padding-top: 160px;
}
body.sheds.garden .heading-wrapper,
body.sheds.decking .heading-wrapper,
body.sheds.buildings .heading-wrapper {
    background: url(/web/images/_new_images/sections/sheds/background.jpg) 34px 41px repeat-x;
}
body.sheds.fences .heading-wrapper {
    background: url(/web/images/_new_images/sections/sheds/background.jpg) 34px 40px repeat-x;
}

/**
 * End of headings
 */

body.sheds h1 {
    margin: 0;
    padding: 0;
}

body.sheds #products li.grid_3 {
    margin-bottom: 40px;
}
body.sheds .yellow-zig-top-bottom {
    margin-left: -28px;
    margin-right: -28px;
    min-height: 20px;
    background: url("/web/images/_new_images/zig-zag-yellow-bottom.png") repeat-x scroll left top transparent !important;
}
body.sheds .yellow-zig-top-bottom2 {
    margin-left: -28px;
    margin-right: -28px;
    min-height: 20px;
    background: url(/web/images/_new_images/zig-zag-yellow-top-bottom.png) repeat-x top left !important;
}

body.sheds .yellow-zig-top-bottom3 {
    margin-left: -28px;
    margin-right: -28px;
    min-height: 20px;
    background: #fffef2 url('/web/images/_new_images/zig-zag-yellow-bottom.png') repeat-x bottom left;
}

.product-listing li.expanded {
    clear: both;
    float: none;
    display: block;
    margin: 0px;
    position: relative;
    top: -20px;
    margin-bottom: 10px;
    margin-left: -30px;
    background: #fff;
    border-bottom: 2px solid #dedede;
    width: 960px;
    height: auto;
    min-height: 445px;
    overflow: auto;
    -webkit-box-shadow: inset 0px 8px 9px -10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 0px 8px 9px -10px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0px 8px 9px -10px rgba(0, 0, 0, 0.4);
}

body.sheds .tip, body#product .tip {
    position: absolute;
    background: url(/web/images/_new_images/sections/sheds/tip-new.png) 0 0 no-repeat;
    width: 71px;
    height: 31px;
    z-index: 200;
}
body.sheds .tip.tip-inv {
    background: url(/web/images/_new_images/sections/sheds/tip-inv.png) 0 0 no-repeat;
}
.product-listing li.grid_3 .product-details {
    display: none;
}
.expanded .left {
    width: 390px;
    padding-left: 42px;
    padding-top: 32px;
}
.expanded .right {
    width: 452px;
    padding-left: 38px;
    padding-top: 32px;
}
.expanded .right h3 {
    font-weight: bold;
    text-align: center;
    margin-right: 40px;
}
.expanded ul.prod-info-list {
    margin: 0;
    padding: 8px;
    /*background-color: #fdfce0;*/
    /*border: 1px solid #dedede;*/
    padding-bottom: 13px;
    width: 272px;
}

.expanded ul.prod-info-list li {
    background: url('/web/images/_new_images/sections/fenceshelpandadvice/tick-bullet.png') no-repeat 0 45%;
    padding: 0;
    margin: 0;
    list-style-type: none;
    padding-left: 28px;
/*    height: 20px;*/
    padding-top: 10px;
    font-weight: bold;
    font-size: 0.8em;
    margin-bottom: 10px;
}

.expanded .left, .expanded .right {
    margin-top: -10px;
}

.expanded .left h3 {
    font-weight: bold;
}

.expanded a.close {
    background: url(/web/images/_new_images/buttons/new-close.png) 0px 0px no-repeat;
    display: block;
    width: 17px;
    height: 17px;
    position: absolute;
    right: 42px;
    top: 28px;
    z-index: 1;
}

.expanded h4 {
}

.expanded .left > p {
    padding: 0px;
    margin: 0px;
    margin-bottom: 16px;
    margin-top: 16px;
}

.expanded .left .buttons {
    margin-top: 16px;
}

.expanded .left .buttons .button:first-child {
    margin-right: 14px;
}
.expanded .left .buttons .button:last-child {
}

.expanded .left .buttons .button {
    padding-left: 10px;
    display: inline;
    font-size: 0.85em;
    padding-top: 3px;
    padding-bottom: 3px;
}
.expanded .left .buttons .button span {
    /*float: right;*/
}


/**
 * Colour picker - expanded product details
 */


.tool-colour-mini {
    display: inline-block;
}
.tool-colour-mini ul.tabs {
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-position: inside;
    float: right;
    width: 239px;
    margin-right: -3px;
    height: 22px;
}
.tool-colour-mini ul.tabs li {

}
.tool-colour-mini .tabs a {
    display: block;
    float: left;
    color: #838383;
    border-bottom: 1px solid #EEE;
    border-left: 1px solid #EEE;
    background: url('/web/images/_new_images/sections/colourselector/tab-bg.png') 0 0 repeat-x;
    width: 100px;
    height: 20px;
    padding-top: 2px;
    padding-left: 4px;
    padding-right: 4px;
    text-align: center;
}
.tool-colour-mini .tabs .selected a {
    background: url('/web/images/_new_images/sections/colourselector/tab-bg-active.png') 0 0 repeat-x;
    color: #444;
}
.tool-colour-mini > div.tabs-wrapper {
    height: 22px;
}
.tool-colour-mini .colours {
    width: 412px;
    height: auto;
    background-color: #fff;
    overflow: auto;
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-position: inside;
}
.tool-colour-mini .colours li {
    float: left;
    padding: 0;
    margin: 0;
    padding-left: 2px;
    padding-top: 2px;
}
.tool-colour-mini a.button {
    display: inline-block;
    padding: 4px 14px 6px 14px;
    margin: 20px 0 0 125px;
}
.tool-colour-mini .colours img {
    width: 80px;
    height: 80px;
}
.tool-colour-mini .colour-selector-promo {
    /*margin-top: -72px;*/
    /*width: 248px;
    height: 54px;
    padding-left: 30px;
    padding-top: 16px;
    background-color: white;
    z-index: 9000;
    position: relative;
    right: -30px;*/
    height: 54px;
    right: 14px;
    padding-top: 16px;
    position: relative;
    width: 360px;
    z-index: 9000;
}
.tool-colour-mini > ul.colours > li > a {
    display: block;
}

#tool-colour-mini-tip {
    position: absolute;
    top: 90px;
    right: 45px;
    width: 190px;
    height: 105px;
    padding: 10px 10px 0 10px;
    box-shadow: 0 0 6px #999 inset;
    background: url('/web/images/_new_images/sections/colourselector/tip-bg.png') 0 0 repeat-x;
    display: none;
    z-index: 8600;
}

#tool-colour-mini-tip.wide {
    width: 255px;
}

#tool-colour-mini-tip.short {
    height: 35px !important;
    top: 438px !important;
}

#tool-colour-mini-tip h4, #tool-colour-mini-tip h5 {
    margin: 0;
    line-height: 1em;
    font-size: 1em;
}

#tool-colour-mini-tip h5 {
    margin-bottom: 4px;
}

#tool-colour-mini-tip h1 {
    padding: 0;
    margin: 0;
    padding-bottom: 4px;
    margin-top: -4px;
}

#tool-colour-mini-tip a.button {
    font-size: 0.75em;
    display: inline;
}

#tool-colour-mini-tip h1 span {
    font-size: 0.6em;
}

#tool-colour-mini-tip div.tip-tip {
    position: absolute;
    bottom: -10px;
    left: 70px;
    width: 20px;
    height: 13px;
    background: url('/web/images/_new_images/sections/colourselector/tip-tip.png') 0 0 no-repeat;
}

.tool-colour-mini-popup li {
    background-color: transparent;
}

body.sheds .tool-colour-mini ul.colours li:hover img {
    border:3px solid #fff;
    width: 34px;
    height: 28px;
}

body.sheds .tool-colour-mini ul.colour-softwoods li:hover img {
    border:5px solid #fff;
    width: 70px;
    height: 70px;
}
.expanded-carousel-container-wrapper,
.mini-carousel-container-wrapper {
    margin-left: 14px;
    width: 872px;
    height: 524px;
    border-radius: 8px;
    box-shadow:
        1px 1px 8px #ddd,
        -1px -1px 8px #ddd;
    border: 1px solid #ddd;
    overflow: hidden;
    position: relative;
}
.expanded-carousel-container-slide-wrapper,
.mini-carousel-container-slide-wrapper {
    margin-top: 12px;
    margin-left: 14px;
    width: 845px;
    height: 498px;
}
.mini-carousel-container-slide-wrapper {
    margin-left: 0px;
}
.expanded-carousel-container > div,
.mini-carousel-container > div {
    width: 845px;
    height: 498px;
    background-repeat: no-repeat;
    float: left;
}

body.sheds .left-control {
    left: -29px;
}
body.sheds .right-control {
    right: -39px;
}
body.sheds div.slide-info-wrap {
    background-image: url(/web/images/_new_images/sections/sheds/slide-info.png);
    margin-left: -420px;
    width: 360px;
}
body.sheds div.slide-info-wrap .colours {
}
body.sheds div.slide-info-wrap img {
    display: block;
    float: left;
    margin: 0 5px;
    /*margin-left: 10px;
    margin-right: 12px;*/
}
body.sheds div.slide-info-wrap .description {

}
body.sheds div.slide-info-wrap .description h3 {

}
body.sheds div.slide-info-wrap .description .button {
    font-size: 0.8em;
}
body.sheds .carousel-button-close {
    background: url(/web/images/_new_images/sections/sheds/carousel-close.png) 0 0 no-repeat;
    width: 33px;
    height: 34px;
    position: absolute;
    right: 9px;
    top: 14px;
    z-index: 9000;
}
body.sheds .expanded-controls {
    top: 300px;
}
body.sheds .mini-controls {
    top: 300px;
}
body.sheds .expanded-carousel {
    display: block;
    visibility: hidden; /* the carousel js needs to fetch some sizings */
}
body.sheds .mini-carousel .mini-carousel-container .item > a {
    width: 278px;
    height: 163px;
    display: block;
    float: left;
    background-size: cover;
    background-repeat: no-repeat;
}

body.sheds .mini-carousel .mini-carousel-container .item > a.big {
    width: 562px;
    height: 331px;
}

/* gutter */
body.sheds .mini-carousel .mini-carousel-container .item > a {
    margin-bottom: 5px;
    margin-right: 5px;

    -ms-behavior: url(/web/styles/_new_styling/backgroundsize.htc);
}
body.sheds .mini-carousel .mini-carousel-container .item > a span {
    background: url(/web/images/_new_images/sections/sheds/carousel-plus.png) 0 0 no-repeat;
    width: 33px;
    height: 34px;
    display: block;
    position: relative;
    top: 4px;
    left: 242px;
}
body.sheds .mini-carousel .mini-carousel-container .item > a.big span {
    left: 528px;
}

body.sheds .mini-carousel,
body.sheds .expanded-carousel {
    position: absolute;
}
body.sheds #product-carousel {
    height: 540px;
}


body.sheds .section-ideas {
    float: left;
    width: 420px;
}
body.sheds .section-ideas h2 {
    margin-top: -10px;
    margin-bottom: 10px;
}
body.sheds .section-ideas h4 {
    margin-top: 24px;
    margin-bottom: 20px;
}
body.sheds .section-ideas p {
}

body.sheds #products h2 {
    margin-top: -26px;
}


body.sheds #helpandadvice > .grid_6 {
    margin-top: -90px;
}

/**
 *  Mini colour panel
 */
body.sheds .sheds-colour-selector {
    width: 422px;
    height: 210px;
    float: right;
    padding-top: 4px;

}
body.sheds .sheds-colour-selector > div {
    margin-top: 20px;
    background: url(/web/images/_new_images/sections/sheds/bg-colour-panel.png) 0 0 no-repeat;
    width: 422px;
    height: 207px;
}

/* view all link */
body.sheds .sheds-colour-selector > a {
    font-size: 0.9em;
    color: #444;
    display: block;
    width: 80px;
    margin-left: -6px;
}

body.sheds .sheds-colour-selector > a > span {
    width: 9px;
    height: 12px;
    margin: 20px 16px 0 0;
    background: url('/web/images/_new_images/widget-arrow.png') 0 0 no-repeat;
    margin-top: 1px;
    margin-left: 0px;
    float: right;
}

/* end of view all link */

body.sheds .sheds-colour-selector .tool-colour-mini img {
    width: 40px;
    height: 34px;
}
body.sheds .sheds-colour-selector .tool-colour-mini .colours {
    background-color: transparent;
    width: 192px;
    height: 192px;
    border: 0 solid #dedede;
    overflow: hidden;
}

body.sheds .sheds-colour-selector  .tool-colour-mini ul.colours li.hover img {
    border:3px solid #fff;
    width: 34px;
    height: 28px;

}
body.sheds .sheds-colour-selector .tool-colour-mini .colours li {
    padding-left: 5px;
    padding-top: 5px;
}


body.sheds .sheds-colour-selector .tool-colour-mini {
    float: left;
    width: 196px;
    height: 208px;
}

body.sheds .sheds-colour-selector .colour-selector-promo {
    left: 148px;
    margin-top: 22px;
    right: auto;
    width: 300px;
}

body.sheds .sheds-colour-selector .colour-selector-copy {
    width: 220px;
    height: 208px;
    float: right;
    color: white;
}
body.sheds .sheds-colour-selector .colour-selector-copy > * {
    margin-left: 10px;
}
body.sheds .sheds-colour-selector .colour-selector-copy h4 {
    color: white;
    margin-top: 16px;
}
body.sheds .sheds-colour-selector .colour-selector-copy p {
    padding-right: 14px;
}
body.sheds .sheds-colour-selector .colour-selector-copy a {
    color: white;
}
body.sheds .sheds-colour-selector .colour-selector-copy a span {
    background: url(/web/images/_new_images/sections/sheds/arrow-down.png) 0 0 no-repeat;
    width: 14px;
    height: 11px;
    display: inline-block;
    position: relative;
    top: 2px;
    margin-left: 6px;
}

body.sheds div.slide-info h2 {
    width: auto;
}

body.sheds .colors .tool-colour-mini ul.colours {
    background-color: transparent !important;
    border: none;
    height: auto;
    list-style-position: none;
    list-style-type: none;
    margin: 0;
    overflow: auto;
    padding: 0;
    width: auto;
}

body.sheds .colors .tool-colour-mini ul.colours li {
    padding: 0;
    margin: 2px 3px 0 0;
    width: 24px;
    height: 24px;
    overflow: hidden;
}

body.sheds .colors .tool-colour-mini ul.colours li:nth-child(3){
    margin: 2px 0 0 0;
}

body.sheds .colors .tool-colour-mini ul.colours li img {
    margin: 0;
}

body.sheds .description .tool-colour-mini ul.colours li.hover img {
    border: none;
    height: 54px;
    width: 61px;
}

.basket-container {
    margin: 20px 0 30px 0;
}

.basket-container h4 {
    margin: 0;
}

.basketPanel {
    border: 2px solid #eee;
    border-radius: 2px;
    padding: 0 0 20px 0;
    margin-top: 10px;
}

.basketPanel form {
    background: #fff;
}

.basketPanel form label {
    width: 140px;
    display: inline-block;
    padding: 20px 0;
    float: none;
    font-size: 14px;
    font-weight: bold;
}

.basketPanel form span {
    font-size: 14px;
    font-weight: bold;
    text-align: right;
    display: inline-block;
    width: 205px;
}

.basketPanel form select {
    display: inline-block;
    float: right;
    margin-top: 20px;
}

.basketPanel form .basket-option {
    border-bottom: 2px solid #eee;
    padding: 0 20px;
}

.basketPanel form input {
    margin-left: 230px;
}

#product .basketPanel form input {
    margin-left: 235px;
}

.basketPanel form input[type="submit"] {
    background: url('/web/images/_new_images/bg-button.png') 0 0 repeat-x;
    border: 1px solid #2A7A28;
    box-shadow: -1px 0 3px #999;
    padding: 4px 14px 6px 14px;
    color: #FFF;
    font-size: 0.938em;
    font-weight: bold;
    line-height: 1em;
}

.basketPanel .basketTotal {
    padding: 20px;
}

.basketTotal span {
    float: right;
}

/*.product-colour {
    float: right;
    width: 452px;
    padding-left: 38px;
    padding-top: 32px;
    margin-top: -10px;
    min-height: 606px;
    position: relative;
}*/

.product-colour {
    float: right;
    width: 400px;
    margin: 25px 42px 25px 0;
    padding-left: 38px;
    padding-top: 32px;
    min-height: 606px;
    position: relative;
}

.product-colour h2 {
    color: #fff;
    text-shadow: 0px 1px 3px #000;
}

.product-colour h5 {
    color: #fff;
    font-size: 18px;
    margin-bottom: 20px;
}

.product-colour .colour-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    -khtml-opacity:.60;
    -moz-opacity:.60;
    -ms-filter:"alpha(opacity=60)";
    filter:alpha(opacity=60);
    opacity:.60;
}

.product-colour h2 {
    margin: 0 !important;
    padding-bottom: 20px
}

.product-colour a.button {
    display: inline-block;
    padding: 4px 14px 6px 30px;
    color: #454545;
}

.product-colour a.button span {
    background: url('/web/images/_new_images/widget-arrow-grey-back.png') 0 0 no-repeat;
    left: 10px;
}

.product-colour .available-products {
    position: absolute;
    bottom: 35px;
}

.product-colour .available-products a {
    display: inline-block !important;
}

.product-colour .available-products img {
    width: auto !important;
}
