body.ballpark {

	.leafs .top-left {
		display: none;
	}
	.squirrel_header {
		background: url("/web/images/ballpark/squirrel2.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
		   height: 177px;
		   left: -29px;
		   position: absolute;
		   top: -154px;
		   width: 194px;
		   z-index: 3000;
		
	}

	.heading-wrapper {

		margin-top: 58px;
		
		#modal_intro {			
			
			color: #fff;
			z-index: 100;
			height: 190px;
			width: 280px;
			position: absolute;
			top: 148px;
			left: 0;
			right: 0;
			margin: 0 auto;
			display: none;
			line-height: 1.3em;
			font-family: Arial, sans-serif;
			text-align: left;
			padding-right: 658px;
			pointer-events:none;

			.flag {
				
				display: none;				
			}

			#bt_close_intro {
				display: none;	
			}

			.inner {
				text-align: left;
				

				h1 {
					font-size: 1.5em;
					margin-bottom: 20px;
				}

				p {
					font-weight: bold;
				}

				
			}

			.bp_button {
				margin: 25px auto 0;
				text-align: left;
				display: none
			}


		}
	}
	.modal_cover {
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		position: absolute;
		z-index: 1;
		opacity: 0.7;
		background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
		display: none;
		
	}


	#map-canvas {
		height: 580px;
		background: #efefef;
	}

	div.content-wrapper {
		padding-top: 24px;
		margin-top: -49px;
	}
	

	div.massive-wrapper {
		position: relative;
		width: 100%;
		background: url("/web/images/_new_images/bg-fence.jpg") 0 167px repeat;
	}	


	a#pint {
		margin-bottom: -13px !important;
		display: inline-flex;
		
	} 
	
	#modal_window {		
		
		z-index: 7000;
		height: 388px;
		width: 718px;
		background: #fff;
		position: absolute;
		top: 168px;
		left: 0;
		right: 0;
		margin: 0 auto;
		display: none;
		line-height: 1.3em;			
		font-family: Arial, sans-serif;

		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		border-radius: 15px;

		-webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, .25);
		box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, .25);

		.inner {
			height: 100%;
		}

		#fbshare {
			margin-top: -2px;
			width: 62px;
			float: left;
		}

		#share {
			bottom: 31px;
		    height: 10px;
		    left: 157px;
		    padding: 8px;
		    position: absolute;
		    vertical-align: baseline;
		    width: 176px;
		}

		

		

		.img_woodman {
			background: url("/web/images/ballpark/woodman_sm.png") 0 0 no-repeat;
			position: absolute;
			width: 72px;
			height: 72px;
			top: 27px;
			left: 27px;

		}



		#modal_inner {
			height: 100%;
			-webkit-border-radius: 15px;
			-moz-border-radius: 15px;
			border-radius: 15px;

			background-repeat: no-repeat;
			background-size: 400px 388px;
			background-position: right;
		}

		#modal_left {
			
			width: 50%;
			float: left;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			padding: 25px;
			padding-left: 116px;

			h3{
				font-weight: bold;
				font-size: 1.2em;

			}
			p{
				font-size: 0.813em;
			}
		}

		#modal_image {
			height: 100%;
			width: 50%;
			-webkit-border-top-right-radius: 15px;
			-webkit-border-bottom-right-radius: 15px;
			-moz-border-radius-topright: 15px;
			-moz-border-radius-bottomright: 15px;
			border-top-right-radius: 15px;
			border-bottom-right-radius: 15px;
			float:right;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
		}

		#bt_close {
			background: url("/web/images/ballpark/bt_close.png") 0 0 no-repeat;
			position: absolute;
			width: 32px;
			height: 32px;
			top: 8px;
			right: 10px;
			cursor: pointer;
		}

		#gow_modal_info {
			position: relative;
			padding-left: 67px;
			margin-top: 40px;

			h3 {
				line-height: 1.3em;
				font-family: 'Effra W01 Regular', Arial, sans-serif;
				font-weight: bold;
				font-size: 1em;
			}

			.bp_button {
				background: url("/web/images/_new_images/bg-button-large.png") 0 0 repeat-x;
				border: 1px solid #2A7A28;
				box-shadow: -1px 0 3px #999;
				padding: 4px 14px 6px 14px;
				color: #FFF;
				font-size: 0.938em;
				font-weight: bold;
				line-height: 1em;
				margin-bottom: 10px;
				width: 116px;
				cursor: pointer;
				position: relative;

				div{
					background: url("/web/images/ballpark/bt_arrow_white.png") 0 0 no-repeat;
					height: 12px;
					width: 12px;
					position: absolute;	
					right: 12px;
					top: 6px;
				}
			}

		}
		
	}

	.colour_square {
		height: 53px;
		width: 53px;
		position: absolute;
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		border-radius: 8px;
		background-image: url("/web/images/_new_images/wood-background.png");
		background-size: cover;
		left: 0px;
		top: 0px;
		.square_inner {
			height: 100%;
			width: 100%;
			opacity: 0.6;
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
			-webkit-border-radius: 8px;
			-moz-border-radius: 8px;
			border-radius: 8px;
		}
	}

	#bp_carousel {

		min-height: 132px;

		.list_carousel {
			background-color: #fff;			
			margin-left: -3px;
		}
		.list_carousel ul {
			margin: 0;
			padding: 0;
			list-style: none;
			display: block;
			left:3px;
		}
		.list_carousel li {
			font-size: 40px;
			color: #999;
			text-align: center;
			background-color: #fff;			
			width: 174px;
			height: 120px;
			padding: 0;
			margin: 6px 3px;
			display: block;
			float: left;
			cursor: pointer;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			position: relative;
			img {
				width: auto;
				height: auto;
				
			}
			.innerfade {
				width: 100%;
				height: 100%;
				position: absolute;
				border: 6px #fff solid;
				opacity: 0;
				-moz-box-sizing: border-box;
				-webkit-box-sizing: border-box;
				box-sizing: border-box;
			}
			.innerfade:hover {				
				opacity: 0.5;
				border: 6px #fff solid;				
			}

		}

		.carousel_selected .innerfade{				
			opacity: 0.7!important;
			border: 6px #fff solid!important;				
		}
		
		.clearfix {
			float: none;
			clear: both;
		}
		.prev {
			float: left;
			margin-left: 10px;
		}
		.next {
			float: right;
			margin-right: 10px;
		}

		.prev {
			background: url("/web/images/ballpark/carousel_left.png") 0 0 no-repeat;
			position: absolute;
			width: 60px;
			height: 60px;
			top: 62px;
			left: 0px;
			cursor: pointer;
		}
		.prev:hover, .next:hover{
			background-position: left -60px;
			
		}
		.next {
			background: url("/web/images/ballpark/carousel_right.png") 0 0 no-repeat;
			position: absolute;
			width: 60px;
			height: 60px;
			top: 62px;
			right: 0px;
			cursor: pointer;
		}
	}

	.mobile_content {

		background: #fff;
		padding: 5px;
		position: relative;
		.bp_button {
			line-height: 14px;
			font-size: 14px;
		}
		.colour_square {
			left: 14px;
			top: 41px;
		}

		.mfbshare {
			margin-top: 0px;
			width: 67px;
			float: left;

			img {
				height:auto;
				width:auto;
			}
		}

	}


	.waypoint {
		 background: url("/web/images/_new_images/bg-fence.jpg") 0 215px repeat; 
	}

	#ballpark_featured {
		margin-top: 60px;
		margin-left: -30px;
		margin-right: -30px;		
		
		h2 {
			padding-left: 40px;
			font-size: 1.40em;
		}
		.inner {
			padding-left: 40px;
			background: #fdf9db;
			min-height: 467px;

			h2 {
				padding-left: 0px;
			}

			.squirrel {
				background: url("/web/images/ballpark/squirrel2.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
				    bottom: 22px;
				    height: 177px;
				    left: 26px;
				    position: absolute;
				    width: 194px;
				    z-index: 3000;
			}
		}
	}

	.bp_zigzag_top {
		width:100%;
		position: absolute;
		z-index: 100;
		background: url("/web/images/ballpark/bg_zigzag_top.png") 0 0 repeat-x;
		height: 15px;
	}
	.bp_zigzag_bottom {
		bottom: 0px;
		width: 100%;
		position: absolute;
		z-index: 100;
		background: url("/web/images/ballpark/bg_zigzag_bottom.png") 0 0 repeat-x;
		height: 15px;
		left: 0px;
	}


	// background tiling fix
	div.massive-wrapper {
		background: url("/web/images/_new_images/bg-fence.jpg") 0 491px repeat !important;
	}

	

	.yellowbg {
		
	}
	

	.nopad {
		padding: 0;
	}

	#gow {

		position: relative;
		min-height: 200px;

			.img_woodman {
				background: url("/web/images/ballpark/woodman.png") 0 0 no-repeat;
				position: absolute;
				width: 97px;
				height: 97px;
				top: 45px;
				left: 0px;

			}

			.content {
				padding: 46px 5px 14px 127px;
				width: 432px;
				-moz-box-sizing: border-box;
				-webkit-box-sizing: border-box;
				box-sizing: border-box;
				
				h2 {
					font-size: 1em;
				}			
			}	

			.gow_image {
				width: 470px;
				background: #efefef;
				height: 467px;
				float: right;				
				width: 50%;
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;
			}

			#gow_info {
				position: relative;
				padding-left: 89px;
				margin-top: 40px;

				h3 {
					line-height: 0.8em;
					font-family: 'Effra W01 Regular', Arial, sans-serif;
					font-weight: bold;
					font-size: 1em;
				}

				.bp_button {
					background: url("/web/images/_new_images/bg-button-large.png") 0 0 repeat-x;
					border: 1px solid #2A7A28;
					box-shadow: -1px 0 3px #999;
					padding: 4px 14px 6px 14px;
					color: #FFF;
					font-size: 0.938em;
					font-weight: bold;
					line-height: 1em;
					margin-bottom: 10px;
					width: 138px;
					cursor: pointer;
					position: relative;
					div{
						background: url("/web/images/ballpark/bt_arrow_white.png") 0 0 no-repeat;
						height: 12px;
						width: 12px;
						position: absolute;	
						right: 12px;
						top: 6px;
					}
				}

				.colour_square {
					height: 73px;
					width: 73px;
					position: absolute;
					-webkit-border-radius: 8px;
					-moz-border-radius: 8px;
					border-radius: 8px;
					background-image: url("/web/images/_new_images/wood-background.png");
					background-size: cover;
					left: 0px;
					top: 0px;
					.square_inner {
						height: 100%;
						width: 100%;
						opacity: 0.6;
						-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
						-webkit-border-radius: 8px;
						-moz-border-radius: 8px;
						border-radius: 8px;
						background: rgb(76, 180, 168);
					}
				}

			}

			

	} // gow

	#gow_share {
		bottom: -200px;
	    height: 10px;
	    left: 131px;
	    padding: 8px;
	    position: absolute;
	    vertical-align: baseline;
	    width: 176px;

	    #gow_fbshare {
	    	float:left;
	    	margin-right: 5px;
	    }

	}

	.massive-wrapper .content-wrapper {
		margin-top: 0px;
		padding-top: 0px;
		.zig-zag {
			display: none;
		}
	}

	.mobile_content {
		display: none;
		text-align: left;		
		color: #000;
		
		z-index: 10000;
		margin-top: 380px;
		padding: 15px;

		p {
			font-size: 12px !important;
			line-height: 16px !important;
		}

		.mname {
			padding-left: 63px;		
			font-weight: bold;
			line-height: 38px !important;
		}
	}

	.bp_button {
		background: url("/web/images/_new_images/bg-button-large.png") 0 0 repeat-x;
		border: 1px solid #2A7A28;
		box-shadow: -1px 0 3px #999;
		padding: 4px 14px 6px 14px;
		color: #FFF;
		font-size: 0.938em;
		font-weight: bold;
		line-height: 1em;
		margin-bottom: 10px;
		width: 138px;
		cursor: pointer;
		position: relative;
		div{
			background: url("/web/images/ballpark/bt_arrow_white.png") 0 0 no-repeat;
			height: 12px;
			width: 12px;
			position: absolute;	
			right: 12px;
			top: 6px;
		}
	}

	

	.carousel_share {
		display: none;
	}



	@media (max-width: 640px) {
		.heading-wrapper, #modal_window {
			display: none !important;
		}

		.carousel_share {
			display: block;
		}

		body {
			overflow-x: hidden;
		}

		.squirrel {
			display: none;
		}

		#bp_carousel {
			//display: none !important;
		}
		#bp_carousel_mobile {
			//display: block !important;			
		}

		.bp_zigzag_bottom {
			display: none;
		}	

		#gow_share {
			height: 10px;
		    left: 0;
		    padding: 0;
		    position: relative;
		    top: 14px;
		    vertical-align: baseline;
		    width: 176px;
		    #gow_fbshare {
		    	float:left;
		    	margin-right: 5px;

		    	img {
		    		margin-top: -3px;
		    	}
		    }

		}		

		#ballpark_featured {

			margin-top: 60px;
			margin-left: 0px!important; 
			margin-right: 0px!important;

			h2 {
				padding-left: 150px;
				font-size: 1.40em;
			}
		}
		.next {
			top: 160px !important;			
		}
		.prev {
			top: 160px !important;
		}
		.caroufredsel_wrapper {
			height: 630px !important;
			left: 0px!important;
			overflow: visible!important;
		}

		#bp_carousel .list_carousel li {
			height: 470px !important;

			.innerfade:hover {				
				opacity: 0;
				border: 6px #fff solid;				
			}
		}
		.mobile_content {
			display: block;			
		}

		.bp_button {
			background: url("/web/images/_new_images/bg-button-large.png") 0 0 repeat-x;
			border: 1px solid #2A7A28;
			box-shadow: -1px 0 3px #999;
			 padding: 4px 14px 6px 14px; 
			color: #FFF;
			font-size: 0.938em;
			font-weight: bold;
			line-height: 0px;
			margin-bottom: 10px;
			width: 138px;
			cursor: pointer;
			position: relative;
			div{
				background: url("/web/images/ballpark/bt_arrow_white.png") 0 0 no-repeat;
				height: 12px;
				width: 12px;
				position: absolute;	
				right: 12px;
				top: 6px;
			}
			a {
				font-size: 12px;
				line-height: 12px;
				color: #fff;
			}

		}

		#ballpark_featured {
			margin-top: 60px;
			margin-left: -30px;
			margin-right: -30px;		
			
			h2 {
				padding-left: 14px;
				font-size: 1.40em;
			}
			.inner {
				padding: 10px;
				background: #fdf9db;
				min-height: 467px;
				position: relative;
				h2 {
					padding-left: 0px;
				}
			}
		}

		#gow {

			position: relative;
			min-height: 200px;

				.img_woodman {
					background: url("/web/images/ballpark/woodman.png") 0 0 no-repeat;
					position: absolute;
					width: 97px;
					height: 97px;
					top: 19px;
					left: 10px;

				}

				.content {
					padding: 137px 5px 14px 10px;
					width: 90%;
					-moz-box-sizing: border-box;
					-webkit-box-sizing: border-box;
					box-sizing: border-box;
					
					h2 {
						font-size: 1em;
					}			
				}	

				.gow_image {
					margin-top: 60px;
					background: #efefef;
					height: 467px;
					float: left;
					background-image: url(/web/images/ballpark/c1a7aadd166243058aed7ea16ed45506.jpg);
					width: 100%;
					background-repeat: no-repeat;
					background-size: cover;
					background-position: center;
				}
				#gow_content {
					font-size: 12px !important;
				}
				#gow_info {
					position: relative;
					padding-left: 89px;
					margin-top: 40px;

					h3 {
						line-height: 0.8em;
						font-family: 'Effra W01 Regular', Arial, sans-serif;
						font-weight: bold;
						font-size: 1.3em;
					}

					
				}

		} // gow

	}

	@media (max-width: 768px) { 

			.squirrel_header {
				display: none;
			}

	}

}

