.btn {
	&-primary,
	&-buy {
		padding: 5px 14px;
		font-size: 0.8125rem;
		font-weight: bold;
		line-height: 1em;
		cursor: pointer;
		background-repeat: repeat-x;
		background-position: 0 0;
		border: 1px solid;
	}
	
	&-primary {
		color: #444;
		text-shadow: 0px 1px 0px rgba(#fff, .75);
		border-color: #c4c4c3;
		background-image: url("/web/images/_new_images/bg-button-grey.png");
	}

	&-buy {
		color: #FFF;
		border-color: #2A7A28;
		background-image: url("/web/images/_new_images/bg-button.png");
		box-shadow: -1px 0 3px #999;
	}
}