#body .content {
        float: none;
        margin: 200px auto 50px auto;
        width: 900px;
}

.missing {
        background-color: red !important;
        background-image: none !important;
}

.product-listing .grid_3 img {
        max-height: 181px;
        max-width: 190px;
}
.product-listing .grid_3 img.missing {
        height: 181px !important;
        width: 190px !important;
}

.heading-section { background-image: none !important; }

nav a.active {
        border-bottom: 3px solid #fcfcfc;
        height: 46px;
        color: #fcfcfc;
        text-shadow:none;
}

#prepare ul,
#revive ul {
        font-size: 13px;
}