nav{
	>span,
	>a{
		&:last-of-type{
			display: none; // Hide 'Colour picker' link and his separator
		}
	}
	.colourpicker-test &{
		>span,
		>a{
			display: block;
		}
		>span{
			margin: 0 7px;

			font-size: 0.838em;

			background-position: 0 42px;
			&.buildings-pre{
				margin-right: 12px;
			}
			&.buildings-pos{
				margin-left: 12px;
			}
		}
		>a{
			font-size: 0.838em;
		}
	}
}

@media (max-width: 640px) {
	.mobile__header__dropdown{
		ul{
			li{
				&:last-child{
					display: none; // Hide 'Colour picker' link on mobile
				}
				&:nth-last-of-type(2){
					>a{
						border-bottom-width: 0;
					}
				}
			}
		}
		.colourpicker-test &{
			ul{
				li{
					&:last-child{
						display: block; // Show 'Colour picker' link on mobile when test is active
					}
					&:nth-last-of-type(2){
						>a{
							border-bottom-width: 1px;
						}
					}
				}
			}
		}
	}
}