$color-font: #2f892c;

body.shedoftheyear {

  .yellow-section {
    width: 900px;
    padding: 50px 30px;
    margin-left: -30px;
    overflow: auto;
    background: #fffef2 url("/web/images/_new_images/zig-zag-yellow-top.png") repeat-x top left;
  }

  .wrapper {
    overflow: hidden;

    .container_12 {
      width: 930px;
      padding-bottom: 0;
      @media (min-width: $screen-mobile + 1px) {
        width: 100%;
        @include box-sizing(border-box);
      }
    }
  }

  .heading-wrapper {
    // this is not visible on mobiles
    .shedoftheyear {
      background: url("/web/images/_new_images/shedoftheyear/Cuprinol-Shortlist-2016.png") top center no-repeat;
      height: 520px;
      max-width: 1300px; // width of Cuprinol-Shortlist-2016.png image
      margin: 40px auto 0;
      position: relative;
      .soty-link{
        display: block;
        position: absolute;

        text-indent: -9999px;
        // we will use percentages and margin-left for
        // positioning links independently of parent's container width
        left: 50%;

        cursor: pointer;
        &--unexpected{
          top: 133px;
          height: 85px;
          width: 325px;
          margin-left: -264px;
        }
        &--cabin-summerhouse{
          top: 234px;
          height: 86px;
          width: 327px;
          margin-left: -287px;
        }
        &--budget{
          top: 329px;
          height: 94px;
          width: 364px;
          margin-left: -270px;
        }
        &--workshop-studio{
          top: 431px;
          height: 83px;
          width: 357px;
          margin-left: -291px;
        }
        &--eco{
          top: 92px;
          height: 89px;
          width: 311px;
          margin-left: 143px;
        }
        &--historic{
          top: 190px;
          height: 105px;
          width: 322px;
          margin-left: 108px;
        }
        &--pub-entertainment{
          top: 300px;
          height: 99px;
          width: 324px;
          margin-left: 117px;
        }
        &--unique{
          top: 407px;
          height: 108px;
          width: 333px;
          margin-left: 92px;
        }
      }
    }
  }

  .about-title {
    margin-top: 60px;
  }

  #about {
    .mobile-image {
      display: none;
    }
  }

  nav {
    padding-bottom: 30px;
    &.categories-nav{
      float: none;
    }
    .categories {
      list-style-type: none;
      width: 100%;
      text-align: center;
      display: block;
      margin: 0;
      padding: 0;
      font-size: 0;
      li {
        text-align: center;
        display: inline-block!important; // After clicking first item from list, the rest became hidden - this is workaround
        @media (min-width: $screen-mobile + 1px){
          border-right: 1px solid #2f892c;

          &:last-child {
            border-right-width: 0;
          }
        }

      }

      li span {
        text-align: center;
        font-size: 13px;
        font-weight: bold;
        cursor: pointer;
        display: inline-block;
        padding: 10px 15px;
        color: $color-font;
        -webkit-transition: all .3s linear;
        -moz-transition: all .3s linear;
        -ms-transition: all .3s linear;
        -o-transition: all .3s linear;
        transition: all .3s linear;
        vertical-align: middle;

        &:hover {
          @media (min-width: $screen-mobile + 1px) {
            background-color: $color-font;
            color: lighten($color-font, 60%);
          }
        }

      }
    }
  }

  .participants {

    >div{
      ul{
        li{
          display: inline-block!important; // After clicking first item from list, the rest became hidden - this is workaround
        }
      }
    }

    .slideshow {
      position: relative;
      width: 400px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
      margin-bottom: 10px;
    }

    .slideshow > div {
      // position: absolute;
      // top: 0;
      // left: 0;
      // right: 0;
      // bottom: 0;
    }

    .hide {
      display: none;
    }

    div.content {
      padding: 0 15px 10px;
      @media (min-width: $screen-mobile + 1px) {
        padding: 0 70px 30px 10px;
      }
    }

    h3 {
      text-align: center;
      margin: 15px 0;
    }

    ul {
      height: auto;
      width: 100%;
      list-style-type: none;
      display: block;

      li {
        width: 49%;
        color: #444444;
        @media (min-width: $screen-mobile + 1px) {
          display: inline-block;
          vertical-align: top;
        }
        .slideshow {
          .winner-mark {
            padding: 10px 15px;
            position: absolute;
            top: 20px;
            right: 10px;

            color: #fff;

            background-color: #4fa432;
          }
          img {
            @media (min-width: $screen-mobile + 1px) {
              width: 400px;
              height: 270px;
            }
          }
        }

        .content {
          width: 400px;
          text-align: center;

          h3 {
            font-size: 16px;
            margin-bottom: 0;

            &:first-child {
              margin-top: 50px;
            }
          }
        }
      }
    }
  }

  #behindthescenes {
    margin-left: 30px;
  }

  #previous {
    nav {
      width: 100%;
      display: block;
    }
  }

}