/* ==========================================================================
Sheds
========================================================================== */

body.sheds div.sheds {
    margin-top: 25px;
    margin-bottom: 15px;
    padding-top: 34px;
}

body.sheds .heading-wrapper {
    display: block;
    height: 492px;
    padding-bottom: 20px;
    background: url(/web/images/_new_images/sections/sheds/background.jpg) 34px 34px repeat-x;
}
/* -------------------------------------------------------------------------------------------------------------------
 * Headings
 */

body.sheds div.sheds .image {
    height:492px;
    background: url(/web/images/_new_images/sections/sheds/headings/sheds.jpg) top center no-repeat;
}

body.sheds.buildings div.sheds .image {
    height:492px;
    background: url(/web/images/_new_images/sections/sheds/headings/buildings.jpg) top center no-repeat;
}

body.sheds.decking div.sheds .image {
    height:492px;
    background: url(/web/images/_new_images/sections/sheds/headings/decking.jpg) top center no-repeat;
}

body.sheds.garden div.sheds .image {
    height:492px;
    background: url(/web/images/_new_images/sections/sheds/headings/garden.jpg) top center no-repeat;
}

body.sheds.spraynbrush div.sheds .image {
    height:492px;
    background: url(/web/images/_new_images/sections/sheds/headings/spraynbrush.jpg) top center no-repeat;
}

body.sheds.gardenshades div.sheds .image {
    height:492px;
    background: url(/web/images/_new_images/sections/sheds/headings/gardenshades.png) top center no-repeat;
}

body.sheds.fences div.sheds .image {
    height:492px;
    background: url(/web/images/_new_images/sections/sheds/headings/fences.jpg) top center no-repeat;
}

body.testers div.sheds .image {
    height:332px;
    padding-top: 160px;
    background: url(/web/images/_new_images/sections/sheds/headings/tester.jpg) top center no-repeat;
}

body.sheds.garden .heading-wrapper,
body.sheds.decking .heading-wrapper,
body.sheds.buildings .heading-wrapper {
    background: url(/web/images/_new_images/sections/sheds/background.jpg) 34px 41px repeat-x;
}

body.sheds.fences .heading-wrapper {
    background: url(/web/images/_new_images/sections/sheds/background.jpg) 34px 40px repeat-x;
}

/* ----------------------------------------------------------------------------------------------------------
 * End of headings
 */

body.sheds h1 {
    margin: 0;
    padding: 0;
}

body.sheds #products li.grid_3 {
    margin-bottom: 40px;
}

body.sheds .yellow-zig-top-bottom {
    margin-left: -28px;
    margin-right: -28px;
    min-height: 20px;
    background: url("/web/images/_new_images/zig-zag-yellow-bottom.png") repeat-x scroll left top transparent !important;
}

body.sheds .yellow-zig-top-bottom2 {
    margin-left: -28px;
    margin-right: -28px;
    min-height: 20px;
    background: url(/web/images/_new_images/zig-zag-yellow-top-bottom.png) repeat-x top left !important;
}

body.sheds .yellow-zig-top-bottom3 {
    margin-left: -28px;
    margin-right: -28px;
    min-height: 20px;
    background: #fffef2 url('/web/images/_new_images/zig-zag-yellow-bottom.png') repeat-x bottom left;
}

.product-listing li.expanded {
    clear: both;
    float: none;

    display: block;
    position: relative;
    overflow: hidden;

    width: 950px;
    height: auto;
    min-height: 380px;

    margin: 0px;
    margin-bottom: 10px;
    margin-left: -30px;

    top: -20px;

    background: #fff;
    border-bottom: 2px solid #dedede;

    -webkit-box-shadow: inset 0px 8px 9px -10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 0px 8px 9px -10px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0px 8px 9px -10px rgba(0, 0, 0, 0.4);
}

body.sheds .tip, body#product .tip {
    position: absolute;
    width: 71px;
    height: 31px;
    background: url(/web/images/_new_images/sections/sheds/tip-new.png) 0 0 no-repeat;
    z-index: 200;
}

body.sheds .tip.tip-inv {
    background: url(/web/images/_new_images/sections/sheds/tip-inv.png) 0 0 no-repeat;
}

.product-listing li.grid_3 .product-details {
    display: none;
}

.expanded .left {
    width: 390px;
    padding-top: 32px;
}

.expanded .right {
    width: 410px;
}

@media all and (max-width: 640px) {
  .expanded .right {
      margin-left: 25px;
  }
}

.expanded .right h3 {
    margin-right: 40px;
    font-weight: bold;
    text-align: center;
}

.expanded ul.prod-info-list {
    width: 272px;
    margin: 0;
    padding: 8px;
    padding-bottom: 13px;
}

.expanded ul.prod-info-list li {

    list-style-type: none;

    padding: 0;
    padding-left: 28px;
    padding-top: 10px;
    margin: 0;
    margin-bottom: 10px;

    background: url('/web/images/_new_images/sections/fenceshelpandadvice/tick-bullet.png') no-repeat 0 45%;

    font-weight: bold;
    font-size: 0.8em;

}

.expanded .left, .expanded .right {
    padding-left: 15px;
}

.expanded .left h3 {
    font-weight: bold;
}

.expanded a.close {

    display: block;
    position: absolute;

    width: 17px;
    height: 17px;
    right: 42px;
    top: 28px;

    background: url(/web/images/_new_images/buttons/new-close.png) 0px 0px no-repeat;
    z-index: 1;
}


.expanded .left > p {
    padding: 0px;
    margin: 0px;
    margin-bottom: 16px;
    margin-top: 16px;
}

.expanded .left .buttons {
    margin-top: 16px;
    position: relative;
    z-index: 1;
}

.expanded .left .buttons .button:first-child {
    margin-right: 14px;
}

.expanded .left .buttons .button {

    display: inline;

    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;

    font-size: 0.85em;

}



/* ---------------------------------------------------------------------------------------------------------------------------
 * Colour picker - expanded product details
 */


.tool-colour-mini {
    display: inline-block;
}

.tool-colour-mini ul.tabs {

    list-style-type: none;
    list-style-position: inside;
    float: right;

    width: 239px;
    height: 22px;

    margin: 0;
    padding: 0;
    margin-right: -3px;

}

.tool-colour-mini .tabs a {
    display: block;
    float: left;

    width: 100px;
    height: 20px;

    padding-top: 2px;
    padding-left: 4px;
    padding-right: 4px;

    color: #838383;
    text-align: center;

    border-bottom: 1px solid #EEE;
    border-left: 1px solid #EEE;
    background: url('/web/images/_new_images/sections/colourselector/tab-bg.png') 0 0 repeat-x;
}

.tool-colour-mini .tabs .selected a {
    background: url('/web/images/_new_images/sections/colourselector/tab-bg-active.png') 0 0 repeat-x;
    color: #444;
}

.tool-colour-mini > div.tabs-wrapper {
    height: 22px;
}

.tool-colour-mini .colours {

    list-style-type: none;
    list-style-position: inside;

    overflow: auto;

    width: 412px;
    height: auto;

    margin: 0;
    padding: 0;

    background-color: #fff;
}

.tool-colour-mini .colours li {
    float: left;
    padding: 0;
    margin: 0;
    padding-left: 2px;
    padding-top: 2px;
}

.tool-colour-mini a.button {
    display: inline-block;
    padding: 4px 14px 6px 14px;
    margin: 20px 0 0 125px;
}

.tool-colour-mini .colours img {
    width: 80px;
    height: 80px;
}

.tool-colour-mini .colour-selector-promo {

    position: relative;
    height: 54px;
    width: 360px;
    right: 14px;
    padding-top: 16px;

    z-index: 9000;
}

.tool-colour-mini > ul.colours > li > a {
    display: block;
}

#tool-colour-mini-tip {
    display: none;

    position: absolute;

    width: 190px;
    height: 105px;
    top: 90px;
    right: 45px;
    padding: 10px 10px 0 10px;

    box-shadow: 0 0 6px #999 inset;
    background: url('/web/images/_new_images/sections/colourselector/tip-bg.png') 0 0 repeat-x;

    z-index: 8600;
}

#tool-colour-mini-tip.wide {
    width: 255px;
}

#tool-colour-mini-tip.short {
    height: 35px !important;
    top: 438px !important;
}

#tool-colour-mini-tip h4, #tool-colour-mini-tip h5 {
    margin: 0;
    line-height: 1em;
    font-size: 1em;
}

#tool-colour-mini-tip h5 {
    margin-bottom: 4px;
}

#tool-colour-mini-tip h1 {
    padding: 0;
    margin: 0;
    padding-bottom: 4px;
    margin-top: -4px;
}

#tool-colour-mini-tip a.button {
    font-size: 0.75em;
    display: inline;
}

#tool-colour-mini-tip h1 span {
    font-size: 0.6em;
}

#tool-colour-mini-tip div.tip-tip {
    position: absolute;

    width: 20px;
    height: 13px;

    bottom: -10px;
    left: 70px;

    background: url('/web/images/_new_images/sections/colourselector/tip-tip.png') 0 0 no-repeat;
}

.tool-colour-mini-popup li {
    background-color: transparent;
}

body.sheds .tool-colour-mini ul.colours li:hover img {

    width: 34px;
    height: 28px;

    border:3px solid #fff;
}

body.sheds .tool-colour-mini ul.colour-softwoods li:hover img {

    width: 70px;
    height: 70px;

    border:5px solid #fff;
}

.expanded-carousel-container-wrapper,
.mini-carousel-container-wrapper {

    overflow: hidden;
    position: relative;

    width: 872px;
    height: 524px;

    margin-left: 14px;

    border-radius: 8px;
    box-shadow:
        1px 1px 8px #ddd,
        -1px -1px 8px #ddd;
    border: 1px solid #ddd;

}

.expanded-carousel-container-slide-wrapper,
.mini-carousel-container-slide-wrapper {

    width: 845px;
    height: 498px;

    margin-top: 12px;
    margin-left: 14px;

}

.mini-carousel-container-slide-wrapper {
    margin-left: 0px;
}

.expanded-carousel-container > div,
.mini-carousel-container > div {
    width: 845px;
    height: 498px;
    background-repeat: no-repeat;
    float: left;
}

body.sheds .left-control {
    left: -29px;
}

body.sheds .right-control {
    right: -39px;
}

body.sheds div.slide-info-wrap {
    width: 360px;
    margin-left: -420px;

    background-image: url(/web/images/_new_images/sections/sheds/slide-info.png);
}

body.sheds div.slide-info-wrap img {
    display: block;
    float: left;
    margin: 0 5px;
}

body.sheds div.slide-info-wrap .description .button {
    font-size: 0.8em;
}
body.sheds .carousel-button-close {

    position: absolute;

    width: 33px;
    height: 34px;

    right: 9px;
    top: 14px;

    background: url(/web/images/_new_images/sections/sheds/carousel-close.png) 0 0 no-repeat;
    z-index: 9000;
}
body.sheds .expanded-controls {
    top: 300px;
}
body.sheds .mini-controls {
    top: 300px;
}
body.sheds .expanded-carousel {
    display: block;
    visibility: hidden; /* the carousel js needs to fetch some sizings */
}
body.sheds .mini-carousel .mini-carousel-container .item > a {

    display: block;
    float: left;

    width: 278px;
    height: 163px;

    background-size: cover;
    background-repeat: no-repeat;
}

body.sheds .mini-carousel .mini-carousel-container .item > a.big {
    width: 562px;
    height: 331px;
}

/* gutter */
body.sheds .mini-carousel .mini-carousel-container .item > a {
    margin-bottom: 5px;
    margin-right: 5px;
    -ms-behavior: url(/web/styles/_new_styling/backgroundsize.htc);
}

body.sheds .mini-carousel .mini-carousel-container .item > a span {

    display: block;
    position: relative;

    width: 33px;
    height: 34px;
    top: 4px;
    left: 242px;

    background: url(/web/images/_new_images/sections/sheds/carousel-plus.png) 0 0 no-repeat;
}

body.sheds .mini-carousel .mini-carousel-container .item > a.big span {
    left: 528px;
}

body.sheds .mini-carousel,
body.sheds .expanded-carousel {
    position: absolute;
}
body.sheds #product-carousel {
    height: 540px;
}


body.sheds .section-ideas {
    float: left;
    width: 420px;

  @media (min-width: $screen-mobile) {
    padding-bottom: 130px;
  }
}

body.sheds .section-ideas h2 {
    margin-top: -10px;
    margin-bottom: 10px;
}

body.sheds .section-ideas h4 {
    margin-top: 24px;
    margin-bottom: 20px;
}

body.sheds #products h2 {
    margin-top: -26px;
}


body.sheds #helpandadvice > .grid_6 {
    margin-top: -90px;
}

/* -----------------------------------------------------------------------------------------------------------------------
 *  Mini colour panel
 */
body.sheds .sheds-colour-selector {

    float: right;

    width: 422px;
    height: 210px;

    padding-top: 4px;

}
body.sheds .sheds-colour-selector > div {

    width: 422px;
    height: 207px;
    margin-top: 20px;
    background: url(/web/images/_new_images/sections/sheds/bg-colour-panel.png) 0 0 no-repeat;
}

/* view all link ----------------------------------------------------------------------- */
body.sheds .sheds-colour-selector > a {
    display: block;
    width: 80px;
    margin-left: -6px;
    font-size: 0.9em;
    color: #444;
}

body.sheds .sheds-colour-selector > a > span {

    float: right;

    width: 9px;
    height: 12px;

    margin: 20px 16px 0 0;
    margin-top: 1px;
    margin-left: 0px;

    background: url('/web/images/_new_images/widget-arrow.png') 0 0 no-repeat;
}

/* end of view all link -------------------------------------------------------------------- */

body.sheds .sheds-colour-selector .tool-colour-mini img {
    width: 40px;
    height: 34px;
}
body.sheds .sheds-colour-selector .tool-colour-mini .tool-colour-mini-promo-img {
    margin-top: 1px;
    display: block;
}
body.sheds .sheds-colour-selector .tool-colour-mini .tool-colour-mini-promo-img img {
    width: auto;
    height: auto;
}
body.sheds .sheds-colour-selector .tool-colour-mini .colours {

    overflow: hidden;

    width: 192px;
    height: 192px;
    border: 0 solid #dedede;

    background-color: transparent;
}

body.sheds .sheds-colour-selector  .tool-colour-mini ul.colours li.hover img {

    width: 34px;
    height: 28px;
    border:3px solid #fff;

}

body.sheds .sheds-colour-selector .tool-colour-mini .colours li {
    padding-left: 5px;
    padding-top: 5px;
}


body.sheds .sheds-colour-selector .tool-colour-mini {
    float: left;
    width: 196px;
    height: 208px;
}

body.sheds .sheds-colour-selector .colour-selector-promo {
    width: 300px;

    // margin-top: 22px;
    left: 148px;
    right: auto;
}

body.sheds .sheds-colour-selector .colour-selector-copy {
    float: right;

    width: 220px;
    height: 208px;

    color: white;
}
body.sheds .sheds-colour-selector .colour-selector-copy > * {
    margin-left: 10px;
}
body.sheds .sheds-colour-selector .colour-selector-copy h4 {
    color: white;
    margin-top: 16px;
}
body.sheds .sheds-colour-selector .colour-selector-copy p {
    padding-right: 14px;
}
body.sheds .sheds-colour-selector .colour-selector-copy a {
    color: white;
}
body.sheds .sheds-colour-selector .colour-selector-copy a span {

    display: inline-block;
    position: relative;

    width: 14px;
    height: 11px;

    top: 2px;
    margin-left: 6px;

    background: url(/web/images/_new_images/sections/sheds/arrow-down.png) 0 0 no-repeat;
}

body.sheds div.slide-info h2 {
    width: auto;
}

body.sheds .colors .tool-colour-mini ul.colours {

    list-style-position: none;
    list-style-type: none;
    overflow: auto;

    width: auto;
    height: auto;

    margin: 0;
    padding: 0;

    border: none;
    background-color: transparent !important;
}

body.sheds .colors .tool-colour-mini ul.colours li {

    width: 24px;
    height: 24px;

    padding: 0;
    margin: 2px 3px 0 0;

    overflow: hidden;
}

body.sheds .colors .tool-colour-mini ul.colours li:nth-child(3){
    margin: 2px 0 0 0;
}

body.sheds .colors .tool-colour-mini ul.colours li img {
    margin: 0;
}

body.sheds .description .tool-colour-mini ul.colours li.hover img {
    border: none;
    height: 54px;
    width: 61px;
}

.basket-container {
    margin: 20px 0 15px 0;

    h4 {
        margin: 0;
    }
}


.basketPanel {

    padding: 0 0 20px 0;
    margin-top: 10px;

    border: 2px solid #eee;
    border-radius: 2px;

    .delivery-message {
        padding: 0 20px;

        p {
            margin: 0;
            padding: 10px 0;
        }
    }
}

.basketPanel form {
    background: #fff;
}

.basketPanel form label {

    display: inline-block;
    float: none;

    width: 140px;

    padding: 20px 0;

    font-size: 14px;
    font-weight: bold;
}

.basketPanel form span {

    display: inline-block;

    width: 205px;

    font-size: 14px;
    font-weight: bold;
    text-align: right;

}

.basketPanel form select, .basket-option span{
    display: inline-block;
    float: right;
    margin-top: 20px;
}

.basketPanel form .basket-option {
    padding: 0 20px;
    border-bottom: 2px solid #eee;
}

.basketPanel form input {
    margin-left: 230px;
}

#product .basketPanel form input {
    margin-left: 235px;
}

.basketPanel form input[type="submit"] {

    padding: 4px 14px 6px 14px;

    color: #FFF;
    font-size: 0.938em;
    font-weight: bold;
    line-height: 1em;

    border: 1px solid #2A7A28;
    box-shadow: -1px 0 3px #999;
    background: url('/web/images/_new_images/bg-button-large.png') 0 0 repeat-x;

    cursor: pointer;
}

.basketPanel .basketTotal {
    padding: 20px;
}

.basketTotal span {
    float: right;
}


.product-colour {

    position: relative;

    min-height: 275px;

    margin-top: 40px;
    margin-bottom: 17px;
    padding-top: 30px;
    padding-left: 20px;

}

.product-colour h2 {
    color: #fff;
    text-shadow: 0px 3px 3px #000;
}

.product-colour h5 {

    margin-bottom: 20px;

    font-size: 18px;

}

.product-colour .colour-overlay {

    position: absolute;

    width: 100%;
    height: 100%;

    right: 0;
    top: 0;
}

.product-colour h2 {
    margin: 0 !important;
    padding-bottom: 20px
}

.product-colour a.button {
    display: inline-block;
    padding: 4px 14px 6px 30px;
    color: #454545;
}

.product-colour a.button span {

    left: 10px;
    background: url('/web/images/_new_images/widget-arrow-grey-back.png') 0 0 no-repeat;

}

.product-colour .available-products {
    position: absolute;
    bottom: 0;
}

.product-colour .available-products a {
    display: inline-block !important;
    margin-bottom: 10px;
}

.product-colour .available-products a:first-child {
    margin-right: 10px;
}

.product-colour .available-products img.other-product-image {
    width: auto !important;
    max-height: 85px;
    margin-right: 10px;
}



.product-details-shed {
  margin-top: -10px;
}

.left-shed {
  width: 48% !important;
  margin: 0 20px 0px 0 !important;
  padding-left: 35px !important;
  padding-top: 40px !important;
}

.left-shed .basket-container {
    width: 92%;
    margin-top: 45px;
}

.right-shed {
  padding-top: 50px;
}

.left-shed-large {
  width: 100% !important;
  margin: 0 20px 35px 0 !important;
  padding-left: 35px !important;
  padding-top: 40px !important;
}

.expanded .right-shed h3 {
  text-align: left;
}

.right-shed .color-picker-swatches {

    overflow: auto;
    height: 250px;

}


/* ---------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------------------------------------- */
/* mobile version */

@media (max-width: $screen-mobile) {

  .product-summary{

    ul{
      padding-right: 0;
    }

  }
}



// Sorry not sorry if you read this!
// You'll remember this project maybe like me : the worst piece of engineering/project/code/design I ever saw.
// Good luck working on this project you'll need it. FRENCH-CHRIS
