/* ==========================================================================
Typography
========================================================================== */
body {
    font-family: Arial, sans-serif;
    font-size: 100%;
    color: #444;
    background:#fff;
}

a {    
    font-family: 'Effra W01 Medium', Arial, sans-serif;
    font-size:0.875em;
    color: #318D2E;
    line-height:1.1em;
}

a:hover {
    text-decoration: none;
    color:#59b956;
}

a.arrow-link {
    background: url('/web/images/_new_images/arrow-link.png') center right no-repeat;
    font-weight: normal;
    padding: 0 20px 0 0;
}

a.arrow-link:hover {
    text-decoration: none;
    color:#59b956;
}

a.button, 
input.button,
button.button,
input.submit-quantity,
input.basket-nav-checkout,
input.submit {
    position: relative;
    background: url('/web/images/_new_images/bg-button.png') 0 0 repeat-x;
    border: 1px solid #2A7A28;
    box-shadow: -1px 0 3px #999;
    padding: 4px 30px 6px 14px;
    color: #FFF;
    font-size:0.938em;
    font-weight: bold;
    line-height:1em;
    display:block;
}

a#white.button {
    background: url('/web/images/_new_images/buttons/bg-button-white.png') 0 0 repeat-x;
    border: 1px solid #B4B4B4;
}

input.submit-quantity {
    padding: 3px 14px 4px 14px;
    margin: 10px 0 0 0;
    cursor: pointer;
}
input.basket-nav-checkout,
input.voucher-code {
    padding: 2px 14px;
}
input.basket-nav-checkout {
    margin: 0 0 10px 0;
    cursor: pointer;
    line-height: 1.2em;
}
input.country-select {
    margin: 0 5px 5px 0;
}

a.button.grey, 
input.button.grey,
button.button.grey{
    background: url('/web/images/_new_images/bg-button-grey.png') 0 0 repeat-x;
    color:#444;
    border:1px solid #dcdcdc;
}

input.button,
button.button {
    padding: 3px 30px 4px 14px;
    line-height:1.2em;
}

a.button:hover, 
input.button:hover,
button.button:hover,
a.button.grey:hover,
input.button.grey:hover,
button.button.grey:hover
{    
    box-shadow:none;
}

a.button:active, 
input.button:active,
button.button:active {
    background: url('/web/images/_new_images/bg-button-active.png') 0 0 repeat-x;
    box-shadow:none;
}

a.button.grey:active, 
input.button.grey:active,
button.button.grey:active {
    background: url('/web/images/_new_images/bg-button-grey-active.png') 0 0 repeat-x;
    box-shadow:none;
}

a.button.disabled, 
input.button[disabled=disabled],
button.button[disabled=disabled]
{
    background:#318d2e;
    box-shadow:none;
    border:1px solid #318d2e;
    color:#85ca83;
}

a.button span,
input.button span,
button.button span {
    position: absolute;
    top: 6px;
    right: 10px;
    display: block;
    float: left;
    width: 9px;
    height: 12px;
    background: url('/web/images/_new_images/widget-arrow-active.png') 0 0 no-repeat;
}

a.button.grey span,
input.button.grey span,
button.button.grey span {
    background: url('/web/images/_new_images/widget-arrow-grey-active.png') 0 0 no-repeat;
}

a.button.disabled span,
input.button[disabled=disabled] span,
button.button[disabled=disabled] span {
    background: url('/web/images/_new_images/widget-arrow-disabled.png') 0 0 no-repeat;
}

.button.remove{
    padding-left:30px;
    /*padding-right:14px;*/
    float:right;
    display: block;
    cursor: pointer;
}

.button.remove span{
    background: url("/web/images/_new_images/widget-cross.png") no-repeat scroll 0 0 transparent;
    display: block;
    float: left;
    height: 12px;
    position: absolute;
    left: 6px;
    top: 6px;
    width: 10px;
}
.button.back{
    padding-left:30px;
    padding-right:14px;
}

.button.back span{
    background: url("/web/images/_new_images/widget-arrow-back.png") no-repeat scroll 0 0 transparent;
    display: block;
    float: left;
    height: 12px;
    position: absolute;
    left: 12px;
    top: 6px;
    width: 9px;
}
p a{
    font-size:1em;
    font-family: Arial, sans-serif;
}
p{
    line-height:1.3em;
    margin:0 0 14px 0;
    font-size:0.813em;
    font-family: Arial, sans-serif;
}
span{
    line-height:1em;
}
.imageHeading h2 {

}
h2 {
    font-size: 1.875em;
    line-height:1em;
    font-family: 'Effra W01 Regular', Arial, sans-serif;
    font-weight: bold;
    margin:0 0 14px 0;
}

h3 {
    font-size: 1.313em;
    line-height:1.1em;
    font-family: 'Effra W01 Medium', Arial, sans-serif;
    font-weight: normal;
    margin:0 0 14px 0;
}

h4 {
    font-size: 1em;
    line-height:1.2em;
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin:0 0 10px 0;
}

h5{
    font-size: 0.818em;
    line-height:1.2em;
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin:0 0 10px 0;    
}

h2.alt {
    font-size: 1.45em;
    line-height: 1em;
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin:0 0 14px 0;
}
h3.alt {
    font-size: 1em;
    line-height: 1.1em;
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin:0 0 14px 0;
}

h4.alt {
    color: #6c6c6c;
    font-size: 1em;
    line-height: 1.1em;
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin:0;
}