/*--------------------------------------------------

  FORM ENHANCER

--------------------------------------------------*/

dd div.form-skin {
	background: url(/web/images/canvas/form_skin_select.gif) no-repeat top right;
	cursor: pointer;
	float: left;
	height: 26px;
	position: relative;
	text-align: left;
	z-index: 100;
	padding: 0;
}
dd div.form-skin p {
	background: url(/web/images/canvas/form_skin_select.gif) no-repeat top left;
	height: 26px;
	line-height: 26px;
	padding: 0 0 0 6px;
	margin: 0 27px 0 0;
	float: left;
	width: 130px;
	color: #575757;
}
* html dd div.form-skin p {
	display: inline;
}
dd div.form-skin .options {
	background: url(/web/images/canvas/form_skin_select.gif) no-repeat bottom left;
	Xfloat: left;
	padding: 0 0 0 0;
	clear: left;
	position: absolute;
	top: -999em;
	left: -999em;
	z-index: 101;
}
dd div.form-skin ul {
	background: url(/web/images/canvas/form_skin_select.gif) no-repeat bottom right;
	margin: 0 0 0 1px;
	padding: 0 1px 0 0;
	font-size: .909em;
	display: block;
	float: left;
}
* html #page dd div.form-skin ul {
	display: inline;
	margin-right: 1px;
	width: auto;
}
dd div.active .options {
	left: 0;
	top: 100%;
}
dd div.form-skin li {
	margin: 0;
	width: 100%;
	display: block;	
	color: #575757;
	font-size: 1.1em;
}
* html #page #content dd div.form-skin li {
	width: auto;
	padding: 0 0 6px;
}
dd div.form-skin li.hover,
dd div.form-skin > ul li:hover {
	background: #979797;
}
dd div.form-skin li.hover a:link,
dd div.form-skin li.hover a:visited,
dd div.form-skin li.hover a:hover,
dd div.form-skin li.hover a:active {
	color: #FFF;
}
dd div.form-skin ul a {
	display: block;	
	padding: 3px 0 2px 5px;
	height: auto;
	float: auto;
	width: auto;
}
* html dd div.form-skin ul a {
	float: left;
}
dd div.form-skin ul a:link,
dd div.form-skin ul a:visited,
dd div.form-skin ul a:active {
	text-decoration: none;
	background: transparent;
	color: #575757;
}
dd div.form-skin ul a:hover {
	text-decoration: none;
}

p.form .form-skin,
.form dd li .form-skin {
	display: block;
	margin: 0 3px 0 0;
	width: 17px;
	height: 17px;
	background: url(/web/images/canvas/form_skin_checkbox.gif) no-repeat;
}
p.form .form-skin {
	float: left;
	position: relative;
}
p.form .form-skin-hover,
.form dd li .form-skin-hover {
	background-position: 0 -17px;
}
p.form .form-skin-active,
.form dd li .form-skin-active {
	background-position: 0 -34px;
}