/*--------------------------------------------------

MODAL - Control the default styles of the modals.

--------------------------------------------------*/

/* MODAL UKISA.widget.Modal
--------------------------------------------------*/
.yui-panel .bd {
	height: 400px;
	overflow: auto;
	width: 800px;
}
.yui-panel p.loading {
	text-align: center;
	background-position: bottom center;
	padding: 16px 12px 22px;
}

.yui-panel p.error {
	text-align: center;
	font-weight: bold;
	padding: 16px 12px;
}
#ukisa-flash-modal object {
	background: url(../images/global/loading.gif) no-repeat center center;
}

/* TERMS UKISA
--------------------------------------------------*/
#terms-modal {}


/* LIGHTBOX UKISA.widget.Lightbox
--------------------------------------------------*/
#modal-lightbox .bd {
	height: 100px;
	width: 200px;
}