/*--------------------------------------------------

  SITESTAT

--------------------------------------------------*/

.chart {
	width: 690px;
	height: 300px;
}
.chart p.loading {
	background: url(/web/images/global/loading.gif) no-repeat bottom center;
	margin: 100px 0 0;
	padding: 0 0 30px;
	text-align: center;
}