@charset "UTF-8";

/*--------------------------------------------------

BASE CSS

This contains globally used, default styling for 
the basic HTML components; this acts like a reset 
stylesheet. It also contains externally required 
CSS such as SIFR.

--------------------------------------------------*/

/* INCLUDES
--------------------------------------------------*/
@import url(reset.css);
@import url(layout.css);
@import url(content.css);
@import url(yui.css);
@import url(../../styles/ukisa/sitestat/base.css);
@import url(../../styles/ukisa/tabview/base.css);
/*@import url(../../styles/ukisa/form_validation/base.css);*/

/* ELEMENTS - now add styles to the reset
--------------------------------------------------*/
body {
	font-family: Arial, Helvetica, sans-serif;
	background: #FFF url(/web/admin/images/canvas/html.gif) repeat-x;
	font-size : 62.5%; 
	color: #575757;
	overflow: -moz-scrollbars-vertical; /* FF : Prevent page jumping between non/scrolling pages */
}
h1, h2, h3, h4, h5, h6 {	
	font-size: 1.1em;
	font-weight: bold;
	margin: 0 0 1em;
}
h1 {
	font-size: 3em;
	color: #6A89ED;
	margin: -8px 0  15px 0;
}
h2 {
	font-size: 1.4em;
	color: #9ec526;
}
h3 {
	font-size: 1.2em;
	color: #9ec526;
}
h4 {
	font-size: 1.2em;
}
input, select, textarea {
	color: #3F3E29;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.1em
}
input {
	vertical-align: bottom;
}
p input,
li input, li select, li textarea,
dd input, dd select, dd textarea {
	font-size: 1em;
}
object, embed {
	outline: none; /* Removes the white dotted border that sometimes appears around Flash elements. */
}
a:link {
	color: #575757;
	text-decoration: underline;
}
a:visited {
	color: #575757;
	text-decoration: underline;
}
a:hover {
	color: #575757;
	text-decoration: none;
}
a:active {
	color: #575757;
	text-decoration: underline;
}
ul, ol {				
	margin: 0 0 1.2727em 2.2727em;
}
ul {
	list-style-type: disc;
}
ol {
	list-style-type: decimal;
}
li {
	font-size: 1.1em;
}
p, dl {
	margin: 0 0 1.2727em; 
	font-size: 1.1em;
}	
table {
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 1.1em;
	width: 100%;
	margin: 0 0 1.2727em; 
}
td {
	padding: 6px 6px;
}
dd li p {
	font-size: .916em; /* 11px / 12px = 0.916emem */
}
table table,
table p,
dd p,
dd li,
li li,
li p {
	font-size: 1em; /* 11px / 11px = 1em */
}
strong {
	font-weight: bold;
}

hr {
	color: #DEDEDE;
	background-color: #DEDEDE;
	height: 1px;
	overflow: hidden;
	border: 0;
	clear: both;
	margin: 0 0 1.2727em;
}

em {
	font-style: italic;
}

/*--------------------------------------------------
  Accessibility
--------------------------------------------------*/
.longdesc,
.access,
caption,
legend { /* Place selectors here as required to hide something for accessibility reasons */
	position: absolute;
	left: -999em;
	/* These are for older browsers */
	height: 0;
	width: 0;
	margin: 0;
	padding: 0;
	font-size: 0;
	overflow: hidden;
}

ul#access-nav, 
ul#access-nav li {
	padding: 0; 
	margin:0; 
	list-style: none;
	display:inline;
}
#access-nav a:link, 
#access-nav a:visited {
	width: 0; 
	height: 0;
	float: left; 
	overflow: hidden; 
}
#access-nav a:active, 
#access-nav a:focus {
	width: auto; 
	height: auto;
	position:absolute; 
	left: 0;
	top: 0;
	z-index:10000; 
	overflow: visible; 
	background-color: #FFF;
	padding: 5px;
}

/*--------------------------------------------------
  Helper
--------------------------------------------------*/
ul.submit:after,
.clear:after { /* Do NOT use this class, add a selector here */
    content: "\0020"; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
	overflow: hidden;
	clear: both;
}
* html ul.submit,
* html .clear {
	height: 1%;
}
#printer {
	width: 1px;
	height: 1px;
	position: absolute;
	left: -999em;
}

/*--------------------------------------------------
  Common/global styles
--------------------------------------------------*/
.error {
	color: #F00;
}
.success {
	color: #0ECA29;
}
.loading {
	background: url(../images/global/loading.gif) no-repeat top center;
	padding: 16px 8px 0;
	text-align: center;
}
.disabled,
.blur { /* The site standard for faded elements. */
	opacity: .5;
	filter: alpha(opacity=50);
	cursor: default !important;
}
.disabled input {
	cursor: default !important;
}	


/*--------------------------------------------------

  MODAL - Control the default styles of the modals.

--------------------------------------------------*/

/*--------------------------------------------------
  MODAL
  UKISA.widget.Modal
--------------------------------------------------*/
.yui-panel .bd {
	height: 400px;
	overflow: auto;
	width: 800px;
}

.yui-panel p.loading {
	text-align: center;
	background-position: bottom center;
	padding: 16px 12px 22px;
}
/*
.yui-panel p.error {
	text-align: center;
	font-weight: bold;
	padding: 16px 12px;
}*/
#ukisa-flash-modal object {
	background: url(../images/global/loading.gif) no-repeat center center;
}

/*--------------------------------------------------
 TERMS
 UKISA
--------------------------------------------------*/
#terms-modal {}

/*--------------------------------------------------
  LIGHTBOX
   UKISA.widget.Lightbox
--------------------------------------------------*/
#modal-lightbox .bd {
	height: 100px;
	width: 200px;
}

/*--------------------------------------------------
 GRID - used for grid design debugging.
--------------------------------------------------*/
#grid {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent url(/web/images/global/grid.png) repeat-y 50% 0;
}

/*--------------------------------------------------
 MESSAGES
--------------------------------------------------*/
div.introduction {
	font-weight: bold;
}
ul.error,
p.error {
	border: solid 1px #db3d3d;
	padding: 10px 10px 10px 35px;
	color: #db3d3d;
	background: #f9ecec url(/web/admin/images/global/message_sprite.png) no-repeat 10px 10px;
}
div.warning,
p.warning {
	border: solid 1px #e7cf2f;
	padding: 10px 10px 10px 35px;
	color: #5D5313;
	background: #FFFEE9 url(/web/admin/images/global/message_sprite.png) no-repeat 10px -794px;
}
p.success {
	border: solid 1px #37b054;
	padding: 10px 10px 10px 35px;
	color: #38b054;
	background: #d5f2c9 url(/web/admin/images/global/message_sprite.png) no-repeat 10px -391px;
}

div.information,
p.information {
	border: solid 1px #33559f;
	padding: 10px 10px 10px 35px;
	color: #33559f;
	background: #f5faff url(/web/admin/images/global/message_sprite.png) no-repeat 10px -1192px;
}

div.error,
div.warning,
div.information {
	margin: 0 0 1.2727em;
}
ul.error {
	margin-left: 0;
	/*
	padding-left: 48px;
	*/
	list-style: none;
}

.order-status-picking {
	color: red;
	font-weight: bold;
}
.order-status-refunded {
	color: green;
	font-weight: bold;
}
.order-status-cancelled {
	color: green;
	font-weight: bold;
}
.order-status-new {
	color: green; 
	font-weight: bold;
}
p.status {
	text-align: center;
}

/*--------------------------------------------------
 ICONS
--------------------------------------------------*/
ul.submit {
	list-style: none;
	margin-left: 0;
	width: 100%;
}
ul.submit li {
	float: left;
	margin: 0 10px 10px 0;
}
ul.submit li.secondary {
	float: right;
	margin: 0 0 0 10px;
}
div.toolbar ul {
	float: none;
	width: auto;
	position: absolute;
	top: 0;
	right: 0;
}
div.toolbar li {
	margin: 0 0 0 10px;
}
div.toolbar li.secondary {
	float: left;
}
#content ul.submit .form .submit {
	margin: 0;
	clear: none;
}
body .yui-dialog span.submit,
#body span.submit {
	background: url(/web/admin/images/buttons/button.gif) no-repeat top left;
	height: 23px;
	display: inline-block;
	padding: 0 0 0 6px;
	cursor: pointer;
	vertical-align: bottom; /* Because input is this too or this becomes too high. */
}
body .yui-dialog span.submit input,
#body span.submit input,
#body span.submit a {
	background: transparent url(/web/admin/images/buttons/button.gif) no-repeat top right;
	height: 23px;
	display: inline-block;
	padding: 1px 5px 4px 0;
	border: 0;
	cursor: pointer;
	margin: 0;
	white-space: nowrap;
}
#body span.submit a {
	padding: 4px 6px 0 0;
}
span.submit a:link,
span.submit a:visited,
span.submit a:hover,
span.submit a:active {
	text-decoration: none;
}
body .yui-dialog span.submit span input {
	padding-left: 20px;
	background-color: transparent;
	background-repeat: no-repeat;
	border: 0;
	height: 23px;
	display: inline-block;
	margin: 0;
}
#body table span.submit input {
	font-size: 1em;
}
#body #content .scalar span.submit {
	clear: none;
	margin: 0 0 0 5px;
}
span.submit em {
	display: inline-block;
	overflow: hidden;
	padding: 23px 0 0;
	font-style: normal;
	height: 0;
}
span.submit span.icon {
	display: inline-block;
	height: 0;
	background-image: url(/web/admin/images/global/icons.png);
	background-repeat: no-repeat;
	padding: 16px 0 1px 3px;
	overflow: hidden;
	width: 16px;
	float: left;
	margin: 2px 0 0;
}
span.submit span.icon .loading {
	background-position: center center;
}
span.submit span.confirm input {
	background-image: url(/web/admin/images/global/message_sprite.png);
	background-position: 0 -96px;
}
span.submit span.cancel input {
	background-image: url(/web/admin/images/global/message_sprite.png);
	background-position: 0 4px;
}

/*
span.icon em {
	display: inline-block;
	overflow: hidden;
	padding: 23px 0 0;
	font-style: normal;
	height: 0;
	background-color: transparent;
	background-repeat: no-repeat;
	width: 18px;
}
span.icon em.success {
	background-image: url(/web/admin/images/global/message_sprite.png);
	background-position: 0 -96px;
}
span.icon em.error {
	background-image: url(/web/admin/images/global/message_sprite.png);
	background-position: 0 5px;
}
span.icon em.loading {
	background-image: url(/web/admin/images/global/loading.gif);
	background-position: center center;
}
*/
span.icon {
	display: inline-block;
	overflow: hidden;
	padding: 16px 0 0;
	font-style: normal;
	height: 0;
	background-color: transparent;
	background-repeat: no-repeat;
	width: 16px;
}


span.icon-loading {
	background: url(/web/admin/images/global/loading.gif) no-repeat !important;
	margin-left: 7px !important;
}

.icon {
	background-image: url(/web/admin/images/global/icons.png);
	background-position: -999em -999em;
}
span.icon-flag-success {
	background-position: -18px -18px;
}
span.icon-flag-warning {
	background-position: -68px -18px;
}
span.icon-flag-error {
	background-position: -118px -18px;
}
span.icon-print {
	background-position: -17px -67px;
}
span.icon-dispatch {
	background-position: -17px -116px;
}
span.icon-dispatch-plain {
	background-position: -167px -116px;
}
span.icon-dispatch-link {
	background-position: -117px -116px;
}
span.icon-dispatch-delete {
	background-position: -67px -116px;
}
span.icon-refresh {
	background-position: -17px -167px;
}
span.icon-tick {
	background-position: -17px -217px !important;
}
span.icon-cross {
	background-position: -68px -217px !important;
}
span.icon-user-go {
	background-position: -17px -266px !important;
}
span.icon-user-add {
	background-position: -68px -266px !important;
}
span.icon-user-edit {
	background-position: -117px -266px !important;
}
span.icon-zoom {
	background-position: -18px -317px;
}
span.icon-back {
	background-position: -19px -366px;
}
span.icon-penguin {
	background-position: -19px -517px;
}
span.icon-phone {
	background-position: -17px -467px;
}
span.icon-phone-secure {
	background-position: -67px -467px;
}




a.icon {
	padding: 0 0 0 25px;
	display: inline-block;
	background: url(/web/admin/images/canvas/nav_sprite.png) no-repeat;
}
a.icon-fulfilment {
	background-position: 0 -793px;
}
a.icon-service {
	background-position: 0 -1146px;
}
a.icon-search {
	background-position: 0 -293px;
}
a.icon-forum {
	background-position: 0 -745px;
}
a.icon-store {
	background-position: 0 -502px;
}
a.icon-social {
	background-position: 0 -393px;
}
a.icon-price-check {
	background-position: 0 -894px;
}
a.icon-new-user {
	background-position: 0 -1493px;
}
a.icon-user-admin {
	background-position: 0 -1296px;
}
a.icon-stats {
	background-position: 0 -243px;
}
a.icon-report {
	background-position: -1px -444px;
}
a.icon-configuration {
	background-position: 0 -943px;
}
a.icon-email {
	background-position: 0 -1042px;
}
a.icon-integrity {
	background-position: 0 -345px;
}
a.icon-health {
	background-position: 0 -594px;
}
a.icon-promotion {
	background-position: 0 -1452px;
}
a.icon-site {
	background-position: 0 -1594px;
}
a.icon-user-overview {
	background-position: 0 -1644px;
}



/*--------------------------------------------------
  TABLE STYLES
--------------------------------------------------*/
th {
	color: #575757;
	border-bottom: 1px solid #DEDEDE;
	font-weight: bold;
	padding: 6px;
	vertical-align: bottom;
}
tfoot {
	border-top: 1px solid #DEDEDE;
	border-bottom: 1px solid #DEDEDE;
}
tfoot td,
tfoot th {
	padding: 6px;
	border: 0;
	text-align: left;
}
table.admin-data tfoot th {
	text-align: right;
}
table.admin-data tfoot td {
	text-align: right;
}
table.admin-data-summary {
	margin-top: -1.2727em;
}
table.admin-data-summary tfoot th {
	width: 180px;
	text-align: left;
}
table.admin-data-summary tfoot td {
	text-align: left;
}
tr.order-item-type-discount th,
tr.order-item-type-discount td {
	color: #7E1536;
}

/*--------------------------------------------------
  TABLE DECORATION
--------------------------------------------------*/
#content table .t-scope-column {
	border-left: 1px solid #DEDEDE;
	text-align: center;
}
#content table thead .t-scope-column {
	border-top: 1px solid #DEDEDE;
}
#content table .t-scope-column-last-child {
	border-right: 1px solid #DEDEDE;
	border-left: 1px solid #DEDEDE;
	text-align: center;
}
#content table .t-scope-none {
	border-bottom: 0;
}
#content table tr.t-scope-none td {
	border-bottom: 0;
}
#content table thead .t-scope-none th {
	border-top: 0;
}

/*--------------------------------------------------
  TABLE SHADES
--------------------------------------------------*/
.t-shade-1 {
	background-color: #fff7fe !important; 
}
.t-shade-1 {
	background-color: #fff7fe !important; 
}
.nth-child-odd .t-shade-1 {
	background-color: #f4ecf3 !important; 
}

.t-shade-2 {
	background-color: #f7f7ff !important; 
}
.nth-child-odd .t-shade-2 {
	background-color: #ececf4 !important; 
}

.t-shade-3 {
	background-color: #f5fff5 !important; 
}
.nth-child-odd .t-shade-3 {
	background-color: #eaf4ea !important; 
}

.t-shade-4 {
	background-color: #fffef0 !important; 
}
.nth-child-odd .t-shade-4 {
	background-color: #f5f3e6 !important; 
}

.t-shade-5 {
	background-color: #fff2f2 !important; 
}
.nth-child-odd .t-shade-5 {
	background-color: #f5e8e8 !important; 
}

.t-shade-6 {
	background-color: #ffcccc !important; 
}
.nth-child-odd .t-shade-6 {
	background-color: #f6c3c3 !important; 
}

.t-shade-7 {
	background-color: #fcf8e5 !important; 
}
.nth-child-odd .t-shade-7 {
	background-color: #f2eedb !important; 
}

.t-shade-8 {
	background-color: #fdedfc !important; 
}
.nth-child-odd .t-shade-8 {
	background-color: #f3e3f1 !important; 
}

.t-shade-8 {
	background-color: #edfdfb !important; 
}
.nth-child-odd .t-shade-8 {
	background-color: #e3f3f0 !important; 
}


/*--------------------------------------------------
  TABLE MISC.
--------------------------------------------------*/
table#colour-palette td {
	padding: 0; /* Remove padding for Margerita Colour Palette */
}
table.admin-data tfoot td {
	font-weight: bold;
}
table tr.order-total-grand {
	font-size: 1.4em;
}
table tr.order-total-grand th,
table tr.order-total-grand td {
	border-top: solid 1px #DEDEDE;
}
table .nth-child-odd td {
	background-color: #f4f4f4;
}
.t-total {
	text-align: right;
}
table .t-action {
	text-align: right;
}
.t-details {
	font-weight: bold;
}
tr.discount th,
tr.discount td {
	color: #7E1536;
}

div.emphasis {
	border-top: solid 1px #DEDEDE;
	background: #F4F4F4;
	width: 100%;
	float: left;
	border-bottom: solid 1px #DEDEDE;
	padding: 1.2727em 0 0;
	margin: 0 0 1.2727em;
}
div.emphasis p {
	padding: 0 20px;
}	
p.emphasis em {
	font-style: normal;
	font-size: 1.6em;
}
p.emphasis strong {
	font-style: normal;
	color: #6A89ED;
}
span.order-foc {
	font-weight: bold;
}


/*--------------------------------------------------
  STATUS TEXT
--------------------------------------------------*/
.status-refund-failed,
.status-new {
	text-transform: uppercase;
	color: #539447;
	font-weight: bold;
}
.status-cancelled {
	text-transform: uppercase;
	color: #f52404;
	font-weight: bold;
}
.status-picking {
	text-transform: uppercase;
	color: #f58804;
	font-weight: bold;
}
.status-dispatched {
	text-transform: uppercase;
	color: #6A89ED;
	font-weight: bold;
}
.status-refunded,
.status-part-refunded {
	text-transform: uppercase;
	color: #ddac2e;
	font-weight: bold;
}
.status-delayed-capture,
.status-extracted {
	text-transform: uppercase;
	color: #596b80;
	font-weight: bold;
}

/*--------------------------------------------------
  PAYPAL STATUS
--------------------------------------------------*/
.paypal-status-voided {
	text-transform: uppercase;
	color: #f52404;
	font-weight: bold;
}
.paypal-status-declined,
.paypal-status-error {
	color: #f52404;
}
.paypal-status-approved {
	color: #539447;
}


/* FORM VALIDATION
--------------------------------------------------*/
.validation-error {
	color: #F00;
	font-weight: bold;
}
.validation-error .close {
	display: none;
}


/*--------------------------------------------------

  PAYPAL TRANSACTION TYPES

--------------------------------------------------*/
.transaction-type-c {
	color: #DDAC2E;
}
.transaction-type-a {
	color: #539447;
}
