/*--------------------------------------------------

CONTENT CSS

General content styles and styles that don't fit 
into the other main stylesheets.

--------------------------------------------------*/


/* LOGIN
--------------------------------------------------*/
#admin-login-page {
	background: #FFF;
}
#admin-login-page #content {
	width: 323px;
	height: 264px;
	background: url(/web/admin/images/canvas/login.png) no-repeat;
	margin: -160px 0 0 -161px;
	position: absolute;
	left: 50%;
	top: 50%;
}
#admin-login-page h1 {
	display: none;
}
#admin-login-page #page,
#admin-login-page #body {
	width: 100%;
	float: none;
}
#admin-login-page .form {
	padding: 110px 25px 0;	
	width: auto;
}
#admin-login-page dt {
	font-weight: bold;
	padding: 0 0 10px;
	width: 80px;
}
#admin-login-page label {
	display: block;
	padding: 3px 0 0;
}
#admin-login-page dd {
	padding: 0 0 10px;
}
#admin-login-page dd input {
	width: 180px;
}
#admin-login-page #content .submit {
	margin-left: 80px;
}


/* MODAL - PENDING ORDERS
--------------------------------------------------*/
#dispatch-courier-dialog .bd,
#pending-orders-dialog .bd {
	height: 300px;
	width: 500px;
}
.yui-dialog ul.submit {
	list-style: none;
	margin: 0;
}
.yui-dialog ul.submit li {
	float: left;
	margin: 0;
	padding: 0 20px 0 0;
}
#dispatch-courier-dialog .order-number,
#pending-orders-dialog .order-number {
	font-size: 1.4em;
	font-weight: bold;
}


/* STATS
--------------------------------------------------*/
.statistic-types ul {
	list-style: none;
	margin-left: 0;
}
.statistic-types li {
	clear: left;
	float: left;
	padding: 0 0 4px;
}


/* ORDER MANAGEMENT
--------------------------------------------------*/

/* SEARCH
--------------------------------------------------*/
#search-sitestat-list {
	border-top: 1px solid #DEDEDE;
}
#search-sitestat-list dt {
	border-top: 1px solid #DEDEDE;
	width: 100%;
}
#search-duplicate-tags {
	float: left;
	width: 100%;
	border-bottom: 1px solid #DEDEDE;
}

#search-duplicate-tags dt {
	float: left;
	clear: left;
	width: 200px;
}
#search-duplicate-tags dd {
	padding: 0 0 10px 200px;
	border-top: 1px solid #DEDEDE;
}


/*--------------------------------------------------

  STOCK MANAGEMENT

--------------------------------------------------*/
#content .stock-update {
	float: left;
}
#content .stock-update .scalar input.field {
	width: 60px;
}
#content .stock-update .scalar p {
	margin: 0 30px 0 0;
}
#content .stock-update dt {
	font-weight: normal;
}
#content .stock-update dd strong {
	font-size: 1.4em;
}


/*--------------------------------------------------

  ORDER DETAILS

--------------------------------------------------*/
.order-detail-header {
	float: left;
	width: 100%;
}
.order-detail-header h3 {
	float: left;
}
.order-detail-header .submit {
	float: right;
}


/*--------------------------------------------------

  SERVICE ORDER
--------------------------------------------------*/
#foc-reason.disabled {
	display: none;
}
#foc-option label {
	display: block;
	float: left;
	padding: 4px 0 0;
}
#foc-option #FOC {
	margin: 4px 5px 0 0;
	float: left;
}
#foc-option #customerref {
	border: 1px solid #C7C7C7;
	margin: 0 0 0 5px;
	padding: 3px 4px;
	width: 360px;
	float: left;
}
#foc-option {
	float: left;
	clear: both;
	width: 100%;
	height: 22px;
}
#service-order-basket-form .submit {
	clear: left;
}
#card-cvv {
	width: 30px;
}
dl.date {
	font-size: 1em;
	float: left;
	width: auto;
}
dl.date dt {
	position: absolute;
	left: -999em;
	clear: none;
}
dl.date dd {
	float: left;
	padding-left: 0;
	padding-right: 5px;
	clear: none;
}

/*--------------------------------------------------

  ORDER REFUND

--------------------------------------------------*/
#order-refund-value {
	text-align: right;
	padding: 0 90px 0 0;
}
#order-refund-value label {
	display: inline-block;
	padding: 4px 0 0;
	height: 18px;
}
#order-refund-value input {
	border: 1px solid #C7C7C7;
	padding: 3px 4px;
	text-align: right;
	width: 39px;
}


/*--------------------------------------------------

  TODAYS ORDER

--------------------------------------------------*/
.order-quantity,
.order-total {
	font-size: 1.8em;
	color: #37b054;
	font-weight: bold;
	float: left;
}
#todays-order-stats .order-text {
	float: left;
	padding: 7px 5px 0;
}

/*--------------------------------------------------

  PAYPAL AUDIT

--------------------------------------------------*/
#mini-todays-paypal-audit {
	position: relative;
}
#mini-todays-paypal-audit p.status {
	position: absolute;
	top: 10px;
	right: 10px;
}
#todays-paypal-stats .total,
#todays-paypal-stats .approved,
#todays-paypal-stats .errors,
#todays-paypal-stats .threshold {
	font-size: 1.8em;
	font-weight: bold;
	float: left;
}
#todays-paypal-stats .approved {
	color: #37b054;
}
#todays-paypal-stats .errors {
	color: #db3d3d;
}
#todays-paypal-stats .text {
	float: left;
	padding: 7px 5px 0;
}


/*--------------------------------------------------

  TODAYS ORDER STATS

--------------------------------------------------*/
#todays-order-stats {
	border: 1px solid #DEDEDE;
	padding: 10px;
	background: #FAFAFA;
}
#todays-order-stats th,
#todays-order-stats td {
	border: 0;
	text-align: center;
	font-weight: bold;
	padding: 0;
}
#todays-order-stats th {
	font-size: 1.8em;
	padding: 6px 3px 0;
}
#todays-order-stats td {
	font-size: 2.2em;
	color: #6a89ed;
	padding: 0 3px 6px;
}
#todays-order-stats th {
	text-align: left;
	padding: 0 0 0 43px;
}
#todays-order-stats td {
	text-align: left;
}
.status-arrow {
	height: 0;
	padding: 40px 0 0;
	width: 40px;
	overflow: hidden;
	display: block;
	background: url(/web/admin/images/global/dashboard_status.png) no-repeat;
	float: left;
	margin: 5px 0 0;
}
.stats {
	float: left;
}
.status-arrow-increase {
	background-position: 0 0;
}
.status-arrow-decrease {
	background-position: 0 -40px;
}
.status-arrow-static {
	background-position: 0 -81px;
}
.yesterdays-stat {
	font-size: .5em;
	color: #575757;
	font-weight: normal;
	display: block;
}
.yesterdays-stat em {
	font-style: normal;
}
.todays-stat {
	display: block;
}
.dispatch-stats {
	display: block;
	text-align: center;
	padding: 0 0 0 23px;
}

/*--------------------------------------------------

  SERVICE ORDER DETAILS

--------------------------------------------------*/
#order-header {
	float: left;
	width: 100%;
	position: relative;
}

#order-header p.zoom {
	position: absolute;
	top: 0;
	right: 0;
}


/*--------------------------------------------------

  SITE - FORUM

--------------------------------------------------*/
#forum-topics p {
	margin: 0;
}