/*--------------------------------------------------

BRANDS CSS

Change per brand use

--------------------------------------------------*/

/*--------------------------------------------------

DULUX

--------------------------------------------------*/

body {
	background-image: url(/web/admin/images/canvas/html_dulux.gif);
}

#logo {
	margin: 30px 0 0;
}