/*--------------------------------------------------

LAYOUT CSS

Styles for the main layout components, navigation
elements, and template related styles.

--------------------------------------------------*/

/*--------------------------------------------------

  PAGE - SITE CONTAINER

--------------------------------------------------*/

#page {
	width: 960px;
	margin: 0 auto;
	text-align: left;
}

/*--------------------------------------------------

  HEADER

--------------------------------------------------*/
#header {
	width: 960px;
	float: left;
	min-height: 111px;
	position: relative;
}
* html #header {
	height: 111px;
}

/* CONTAINERS - Header
--------------------------------------------------*/
#logo {
	float: left;	
	margin: 10px 0 0;
}
* html #logo {
	display: inline; /*@ WIE6 : DFM @*/
}

#uat-notice {
	position: absolute;
	top: 0;
	right: 0;
}


/*--------------------------------------------------

  BODY 

--------------------------------------------------*/
#body {
	width: 960px;
	float: left;
}


/*--------------------------------------------------

  CONTENT 

--------------------------------------------------*/
#content {
	width: 700px;
	float: right;
	position: relative;
	min-height: 200px;
}
* html #content {
	height: 200px;
}


/*--------------------------------------------------

  ASIDES 

--------------------------------------------------*/
#aside {
	float: left;
}

/*--------------------------------------------------

  FOOTER 

--------------------------------------------------*/
#footer {
	width: 960px;
	clear: both;
	float: left;
	height: 27px;
	margin: 20px 0 0;
	padding: 8px 0 0;
	background: url(/web/admin/images/canvas/footer.gif) repeat-x;
}


/* NAVIGATION - Utility
--------------------------------------------------*/
ul#utility-nav {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
ul#utility-nav li {
	margin: 0;
	padding: 0;
	float: left;
} 

/* NAVIGATION - Primary 
--------------------------------------------------*/
#nav {
	height: 35px;
	width: 960px;
	float: left;
	clear: left;
} 
#nav ul {
	margin: 0;
	padding: 0 0 0 5px;
	list-style-type: none;
	position: relative;
	z-index: 100;
}
#nav li {
	margin: 0;
	padding: 0 0 0 1px;
	float: left;
	position: relative;
	background: url(/web/admin/images/canvas/nav_stroke.gif) no-repeat 0 0;
}
#nav li.first-child {
	background: none;
}
#nav strong a {
	display: block;
	height: 35px;
	line-height: 32px;
	padding: 0 33px;
	font-size: 1.5em;
}
#nav li ul {
	display: none;
	position: absolute;
	width: 214px;
	padding: 0;
	background: #FFF;
	border-bottom: 0;
	z-index: 20;
	top: 35px;
	left: 0;
	-moz-box-shadow: 0px 2px 2px #aaa;
	-webkit-box-shadow: 0px 2px 2px #aaa
	box-shadow: 0px 2px 2px #aaa;
	border: solid 1px #e1e1e1;
	border-top: 0;
}
#nav li ul a {
	display: block;
}
#nav li ul li {
	clear: left;
	float: left;
	width: 194px;
	padding: 0 10px;
	height: 30px;
	line-height: 27px;
	background-image: none;
}

#nav ul li.sub {
	background-image: url(/web/admin/images/canvas/nav_sprite.png);
	background-position: 197px -1693px;
}
#nav li ul li ul {
	left: 160px;
	background: #f4f4f4;
	border: solid 1px #e5e5e5;
	z-index: 30;
	top: 5px;
}
#nav li.hover ul li ul li.hover,
#nav li:hover ul li ul li:hover {
	background: #e5e5e5;
}
#nav li.active,
#nav li.hover,

#nav li:hover {
	background-color: #FFF;
}
#nav li.hover ul {
	display: block;
}
#nav li.hover ul li ul {
	display: none;
}
#nav li.hover ul li.hover ul {
	display: block;
}
#nav li:hover > ul,
#nav li:hover > .content ul {
	display: block;
}
#nav li.active ul li.hover,
#nav li.hover ul li.hover,

#nav li.active ul li:hover,
#nav li:hover ul li:hover {
	background: #f4f4f4;
}
#nav a:link,
#nav a:visited,
#nav a:hover,
#nav a:active {
	text-decoration: none;
}

/* NAVIGATION - Footer
--------------------------------------------------*/
#footer ul {
	margin: 0;
	padding: 0 10px;
	list-style: none;
	float: left;
}
#footer li {
	margin: 0 20px 0 0;
	padding: 0;
	float: left;
}
#footer a:link,
#footer a:visited,
#footer a:hover,
#footer a:active {
	text-decoration: none;
}
#footer p {
	margin: 0 10px;
	float: right;
}

/*--------------------------------------------------

  NAVIGATION - BREADCRUMB 

--------------------------------------------------*/
#breadcrumb {
	float: left;
	width: 100%;
	clear: both;
	padding: 10px 0;
}
#breadcrumb p {
	position: absolute;
	left: -999em;
}
#breadcrumb ol {
	margin: 0;
	padding: 0;
	list-style: none;
}
#breadcrumb li {
	margin: 0 0 0 5px;
	padding: 0 0 0 10px;
	float: left;
	background: transparent url(/web/admin/images/canvas/breadcrumb_stroke.gif) no-repeat center left;
}
#breadcrumb li.first-child {
	margin: 0;
	padding: 0;
	background: none;
}
#breadcrumb strong {
	font-weight: normal;
}

#breadcrumb a:link,
#breadcrumb a:visited,
#breadcrumb a:hover,
#breadcrumb a:active {
	text-decoration: none;
}

/*--------------------------------------------------

LAYOUT CONFIGURATION

The layout templates available to the site.

--------------------------------------------------*/

/* PAGE SECTIONS - default style
--------------------------------------------------*/
.page-section-1,
.page-section-2,
.page-section-3,
.page-section-4 {
	float: left;
	min-height: 400px;
	margin: 0 6px;
	width: 308px;
	display: inline; /* WIE6 - DMF */
}

/* PAGE SECTIONS - debug
--------------------------------------------------*/
.debug .page-section-1 {
	background: red;
}
.debug .page-section-2 {
	background: green;
}
.debug .page-section-3 {
	background: blue;
}
.debug .page-section-4 {
	background: yellow;
}


/* LAYOUTS - 1 column
--------------------------------------------------*/

/* LAYOUT 1
   |****|
   Full width
-------------------------*/
.layout-1 .page-section-1,
.layout-1 #content {
	width: 960px;
	margin-left: 0;
	margin-right: 0;
}
.layout-1 #aside {
	display: none;
}

/* Layouts - 2 columns
--------------------------------------------------*/

/* LAYOUT 2 
   |**|-|**|
   One half | One half
-------------------------*/
.page-layout-2 .page-section-1, 
.page-layout-2 #content {
	width: 474px;
	margin-left: 0;
}
.page-layout-2 .page-section-2 {
	width: 474px;
	margin-right: 0;
}

/* LAYOUT 2 A
   |*|-|****|
   One quarter | Three quarters
-------------------------*/
.layout-2-a .page-section-1,
.layout-2-a #aside {
	width: 224px;
	margin-left: 0;
}
.layout-2-a .page-section-2,
.layout-2-a #content {
	width: 718px;
	margin-right: 0;
}


/*--------------------------------------------------

FORM LAYOUT

Standard form layout styles.

DO NOT CHANGE UNLESS YOU KNOW WHAT YOU ARE DOING!

--------------------------------------------------*/
.form {
	float: left;
	width: 100%;
}
.form fieldset {
	float: left;
	width: 100%;
}
* html .form fieldset {
	float: left;
	width: 100%;
	margin-right: -3px;
}
.form dl {
	float: left;
	margin: 0;
	width: 100%;
}
.form dt {
	clear: left;
	float: left;
	padding: 5px 0;
	min-height: 16px;
	width: 108px;	
}
* html .form dt {
	height: 21px;
}
.form dd input {
	border: 1px solid #CCC;
	padding: 2px 4px;
	width: 226px;
}
.content-half .form dd input {
	width: 200px;
}
.form dt em {
	position: absolute;
	left: -999em;
}
.form dd textarea {
	border: 1px solid #CCC;
	height: 100px;
	overflow: auto;
	width: 232px;
}
#feedback-form .form dd textarea {
	width: 532px;
	height: 160px;
	padding: 4px;
}
.form dd select {
	margin: 3px 0 0;
}
.form dd {
	min-height: 26px;
	padding: 0 0 5px 0;
}

.form dd:after,
.form dd:after {
    content: "\0020"; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
	overflow: hidden;
	clear: both;
}
* html .form dd,
* html .form dd {
	height: 1%;
}
.form dd select {
	float: left;
	margin: 0 5px 0 0;
}
* html .form dd {
	height: 26px;
}
.form dd p {
	padding: 5px 0 0;
	margin: 0;
}
.form label em {
	background: url(/web/admin/images/global/required.gif) no-repeat;
	height: 0;
	overflow: hidden;
	display: inline-block;
	padding: 1em 0 0;
	width: 8px;
	position: static;
	left: 0;
}

#content .form .submit {
	clear: both;
	margin: 0 0 0 108px;
}
#content .form .submit input {
	margin: 0;
}
* html #content .form .submit {
	margin-left: 111px;
}
.submit li form .form {
	width: auto;
}

#content .form dd input.submit {
	width: auto;
	margin: 0;
	height: auto;
	padding: 0;
}
div.submit-next {
	text-align: right;
}

.options:after { /* Do NOT use this class, add a selector here */
    content: "\0020"; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
	overflow: hidden;
	clear: both;
}
* .options .clear {
	height: 1%;
}
.options input {
	float: left;
	margin: 0 5px 0 0;
}
.options label {
	float: left;
}

.form dd textarea.form-error, 
.form dd input.form-error {
	border-color: #db3d3d;
}
.form dd select.form-error {
	background-color: #f9ecec;
}

/* Change the form style to fit into boxes
--------------------------------------------------*/
.section-half .form dd input {
	width: 215px;
}

/* Form option list
--------------------------------------------------*/
.form dd li .form-skin {
	background: none;
	padding: 0;
	float: left;
}
.form dd li input {
	background: none;
	width: auto;
	height: auto;
	padding: 0;
}
.form dd ul {
	list-style: none;
	margin: 0;
	padding: 5px 0 0;
}
.form dd li input {
	float: left;
	margin: 0 1em 0 0;
}
.form dd li label {
	color: #575757;
}
.form dd li p {
	color: #575757;
	padding: 0 0 0 5px;
	float: left;
	width: 350px; /* FF - neesd width or it drops down */
}
.form dd li p label {
	font-size: 1.1em;
}
.form dd ul {
	float: left;
}
.form dd li {
	clear: left;
	float: left;
	margin: 0 0 5px;
}
* html .form dd li {
	float: none;
}

/* Form elements skins 
--------------------------------------------------*/
.form-skin {
	background: url(../images/canvas/form_skin_sprite.gif) no-repeat;
	display: inline-block;
	padding: 0 0 0 6px;
}
.form-skin input {
	background: url(../images/canvas/form_skin_sprite.gif) no-repeat 100% -26px;
	border: 0;
	float: left; /* IE - this fixes the 1px drop down with the input */
	padding: 5px 6px 0 0;
}
.form .form-skin textarea {
	background: url(../images/canvas/form_skin_sprite.gif) no-repeat 0 -52px;
	border: 0;
	margin: 0 0 0 -6px;
	height: 138px;
	width: 342px;
	float: left;
	padding: 4px 6px;
}

/* Custom form elements
--------------------------------------------------*/
.form dd input.postcode {
	width: 148px;	
}



/*--------------------------------------------------

SECTION CONFIGURATION

The sections are the boxes of content used on the
site.

Extend the sections with classes to add the 
features you want.

--------------------------------------------------*/

/* SECTIONS - Wrapper for a section to prevent scrolling
--------------------------------------------------*/
.sections {
	overflow: hidden;
	width: 960px; /* 992 + 1 for odd widths for a section-third layout */
}
.layout-2-a #aside .sections {
	width: 214px;
}
.layout-2-a .sections {
	width: 716px;
}
.layout-2-a .sections-half {
	width: 352px;
	margin-right: 12px;
	float: left;
}
.sections-end {
	margin-right: 0 !important;
}
.layout-1 .sections-one-quarter {
	float: left;
	width: 237px;
	margin-right: 12px;
}
.layout-1 .sections-three-quarters {
	float: left;
	width: 711px;
	margin-right: 12px;
}

/* SECTIONS - Default style
--------------------------------------------------*/
.section {
	border: 1px solid #DEDEDE;
	background : #fff;
	float: left;
	margin: 0 12px 12px 0; 
	padding: 9px 12px 12px; 
}
* html .section {
	display: inline; /* IE6 - DFM */
	margin-right: -3px; /* IE6 - DTB */
}
.section h2,
.section h3 {
	color: #575757;
	font-size: 2.1em;
	margin: 0 0 17px;
}
.section h3 {
	font-size: 1.6em;
}
.section h3 a {
	color: #575757;
	text-decoration: none;
}
.section .detail {
	margin: 0;
}
.section .detail a:link,
.section .detail a:visited,
.section .detail a:active {
	color: #AEDD27;
}
.section .detail a:hover {
	color: #AEDD27;
}


/* SECTIONS - Dimensions
--------------------------------------------------*/
.layout-1 .section {
	width: 934px;
}
.layout-2-a .section {
	width: 690px;
}
.layout-2-a #aside .section {
	width: 188px;
}
.layout-2-a .section-half {
	width: 326px;
}
.layout-2-a .section-half .section {
	width: 332px;
}
.layout-2-a .section-third {
	width: 200px;
}
.layout-2-a .section-quarter {
	width: 141px;
}
.layout-1 .sections-one-quarter .section {
	width: 211px;
}
.layout-1 .sections-three-quarters .section {
	width: 685px;
}

/*--------------------------------------------------

ASIDE NAV

Product accordian and navigation.

--------------------------------------------------*/

/* Generic style
--------------------------------------------------*/
.aside-nav,
.accordian-nav {
	float: left;
	margin: 0 0 15px;
	width: 214px;
}
.accordian-content {
	float: left;
	margin: 0 0 15px;
	width: 100%;
}
.aside-nav ul,
.accordian-nav ul,
.accordian-content ul{
	list-style: none;
	margin: 0;
}
.aside-nav li,
.accordian-nav li {
	clear: left;
	float: left;
	width: 214px;
	min-height: 30px;
	background: #F4F4F4 url(/web/admin/images/canvas/nav_sprite.png) no-repeat  190px 4px;
}
/*
*html .aside-nav li,
*html .accordian-nav li {
	clear: left;
	float: left;
	width: 224px;
	background: #F4F4F4 url(/web/admin/images/canvas/nav_sprite.png) no-repeat  197px 0;
	min-height: 30px;
}
*/
.accordian-content li {
	clear: left;
	float: left;
	width: 100%;
	background: #F4F4F4;
	min-height: 30px;
}
* html .aside-nav li,
* html .accordian-nav li,
* html .accordian-content li{
	height: 30px;
}
.accordian-nav .content li,
.accordian-content .content li{
	background: none;
	height: auto;
	padding: 0;
	width: auto;
}
.accordian-content .content {
	padding: 0 6px;
}
.aside-nav li li,
.accordian-nav li li {
	float: none;
}
/*
.accordian-content li.active .header {
	background-position: 100% -44px;
}
.aside-nav li.active .header,
.accordian-nav li.active .header {
	background-position: 197px -30px;
}
*/
.accordian-content li.active, 
.accordian-nav li.active {
	background-position: 190px -49px;
}
.aside-nav a:link,
.aside-nav a:visited,
.aside-nav a:active,
.aside-nav a:hover,
.accordian-nav a:link,
.accordian-nav a:visited,
.accordian-nav a:active,
.accordian-nav a:hover {
	color: #575757;
	text-decoration: none;
}

.aside-nav li li a:link,
.aside-nav li li a:visited,
.aside-nav li li a:active,
.accordian-nav li li a:link,
.accordian-nav li li a:visited,
.accordian-nav li li a:active {
	color: #919191;
	text-decoration: none;
}
.aside-nav li li a:hover,
.accordian-nav li li a:hover {
	color: #919191;
	text-decoration: underline;
}
.aside-nav h3,
.accordian-nav h3 {
	font-size: 2em;
}

.accordian-content .header {
	cursor: pointer;
	background: #F4F4F4 url(/web/admin/images/canvas/nav_sprite.png) no-repeat  100% 0;
}
* html .accordian-content .header {
	cursor: pointer;
	background: #F4F4F4 url(/web/admin/images/canvas/nav_sprite.png) no-repeat  100% 0;
}
.accordian-nav .header {
	background: transparent url(/web/admin/images/canvas/nav_sprite.png) no-repeat  187px 30px;
	height: 30px;
	padding: 0 0 0 12px;
}
/*
* html .accordian-nav .header {
	background-image: url(../images/canvas/aside_icons_sprite.gif);
}
*/
.accordian-nav .nth-child-odd,
.aside-nav .nth-child-odd, 
.accordian-nav .nth-child-odd,
.accordian-content .nth-child-odd,
.accordian-content .nth-child-odd  {
	background-color: #E5E5E5;
}

.accordian-content h4 {
	color: #575757;
	height: 30px;
	font-size: 1em;
	font-weight: bold;
	line-height: 27px;
	margin: 0;
	padding: 0 0 0 6px;
}
.accordian-nav h4 {
	/*background: url(/web/admin/images/canvas/nav_sprite.png) no-repeat 0 60px;*/
	color: #575757;
	height: 30px;
	font-size: 1em;
	font-weight: normal;
	line-height: 27px;
	margin: 0;
	padding: 0 0 0 28px;
}
/*
* html .accordian-nav h4,
* html #select-nav a {
	background-image: url(/web/images/canvas/aside_icons_sprite.gif);
}

* html #aside #education-nav h4,
* html #aside #education-nav h4 a {
	padding: 0;
}
*/
.accordian-nav h4 a {
	background: none;
	margin: 0 0 0 -25px;
	padding: 0;
}

#body .accordian-nav li ul {
	margin: 0 0 0 40px;
	padding: 6px 0;
	float: left;
	width: 184px;
}
#body .accordian-nav .content li {
	padding-bottom: 4px;
	min-height: 0;
}
* html .accordian-nav .content li {
	height: auto;
}
.accordian-nav .content {
	float: left;
	background: #FFF;
}
.accordian-nav ul li li.active a {
	font-weight: bold;
}


/* NORMAL LINKS
--------------------------------------------------*/
.accordian-nav a,
.aside-nav a {
	background: url(/web/admin/images/canvas/nav_sprite.png) no-repeat 0 60px;
	color: #575757;
	display: block;
	height: 30px;
	font-size: 1em;
	font-weight: normal;
	line-height: 27px;
	padding: 0 0 0 28px;
	margin: 0 0 0 12px;
}
/*
* html .accordian-nav a,
* html .aside-nav a {
	background: url(../images/canvas/aside_icons_sprite.gif) no-repeat 0 60px;
	color: #575757;
	display: block;
	height: 30px;
	font-size: 1em;
	font-weight: normal;
	line-height: 27px;
	padding: 0 0 0 10px;
	margin: 0 0 0 12px;
}
*/

.aside-nav a {
	background: none;
	padding-left: 0;
}
.accordian-nav .content a {
	background: none;
	display: inline;
	height: auto;
	line-height: 1em;
	padding: 0;
	margin: 0;
}


/* Icon Placement
--------------------------------------------------*/
.accordian-nav .nav-home a {
	background-position: 0 -92px;
}
.accordian-nav .nav-user .header {
	background-position: 10px -142px;
}
.accordian-nav .nav-order .header {
	background-position: 10px -192px;
}
.accordian-nav .nav-search .header {
	background-position: 10px -292px;
}
.accordian-nav .nav-stats .header {
	background-position: 10px -242px;
}
.accordian-nav .nav-integrity .header {
	background-position: 10px -345px;
}
.accordian-nav .nav-social .header {
	background-position: 10px -395px;
}
.accordian-nav .nav-health a {
	background-position: -1px -593px;
}
.accordian-nav .nav-forum .header {
	background-position: 9px -745px;
}
.accordian-nav .nav-store .header {
	background-position: 9px -501px;
}
.accordian-nav .nav-reports .header {
	background-position: 9px -445px;
}
.accordian-nav .nav-order-fulfilment .header {
	background-position: 9px -791px;
}
.accordian-nav .nav-order-service .header {
	background-position: 9px -844px;
}

/* SCALAR FORM

   A form with one field only
--------------------------------------------------*/
p.scalar,
form.scalar p {
	float: left;
}
p.scalar {
	clear: both;
	width: 100%;
}
p.scalar input.option {
	float: left;
	margin: 4px 5px 0 0;
	display: block;
}
p.scalar label, 
form.scalar label {
	float: left;
	padding: 4px 5px 0 0;
	display: block;
}
form.scalar .submit {
	float: left;
	margin: 0 5px 0 0;
	display: block;
}
#content form.scalar select,
p.scalar select {
	float: left;
	margin: 2px 0 0;
}
#content form.scalar input.field,
p.scalar input.field  {
	float: left;
	width: 113px;
	margin: 0;
	border: solid 1px #C7C7C7;
	padding: 3px 4px;
}
form.scalar input.submit {
	float: left;
	clear: none;
	margin: 0;
	background: #DEDEDE;
}


/* DATA LISTS
--------------------------------------------------*/
dl.data {
	clear: both;
	width: 100%;
}
dl.data:after,
dl.data:after { /* Do NOT use this class, add a selector here */
    content: "\0020"; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
	overflow: hidden;
	clear: both;
}
* html dl.data,
* html dl.data {
	height: 1%;
}
dl.data dt {
	font-weight: bold;
	float: left;
	clear: left;
	padding: 0 3px 0 0;
	width: 10%;
}
dl.data-quarter dt {
	width: 25%;
}
dl.data-quarter dd {
	padding-left: 25%;
	padding-bottom: 3px;
}

dl.data-third dt {
	width: 33%;
}
dl.data-third dd {
	padding-left: 33%;
	padding-bottom: 3px;
}

dl.data-half dt {
	width: 50%;
}
dl.data-half dd {
	padding-left: 50%;
	padding-bottom: 3px;
}

dl.data-full dt {
	float: none;
	width: 100%;
}
dl.data-full dd {
	margin: 0 0 1.2727em; 
}
dl.data dd {
	word-wrap: break-word;
}


/* CONTENT SECTIONS
--------------------------------------------------*/
.content-half {
	float: left;
	width: 50%;
}
.content-third .content,
.content-half .content {
	padding: 0 20px 20px 0;
}
.content-one-quarter,
.content-quarter {
	float: left;
	width: 25%;
}
.content-one-quarter .content,
.content-quarter .content {
	padding: 0 20px 20px 0;
}
.content-three-quarters {
	float: left;
	width: 75%;
}
.content-three-quarters .content {
	padding: 0 20px 20px 0;
}
.content-third {
	float: left;
	width: 33%;
}
.content-2-5 {
	width: 40%;
	float: left;
}
.content-3-5 {
	width: 59.99%;
	float: left;
}
.content-2-5 .content,
.content-3-5 .content {
	padding: 0 20px 20px 0;
}
.content-last-child .content {
	padding-right: 0;
}

/* RESIZE
--------------------------------------------------*/

#resize {
	background: url(/web/admin/images/global/resize.gif) repeat-y;
	position: absolute;
	top: 180px;
	left: 50%;
	margin: 0 0 0 -258px;
	min-height: 200px;
	width: 11px;
	cursor: w-resize;
}
#resize-toggle {
	background: url(/web/admin/images/global/resize_toggle.gif) no-repeat;
	width: 11px;
	position: absolute;
	top: 50%;
	margin: -11px 0 0;
	left: 0;
	height: 22px;
}
.resize-closed #resize-toggle {
	background-position: -11px 0;
}
.layout-1 #resize {
	margin-left: -500px;
}

/* RESIZE
--------------------------------------------------*/
#service-order-basket .admin-data {
	border-bottom: 1px solid #DEDEDE;
}
#service-order-basket .admin-data-summary {
	width: auto;
	float: right;
}
#service-order-basket .admin-data-summary th {
	text-align: right;
	border-bottom: 1px solid #DEDEDE;
}
#service-order-basket .admin-data-summary td {
	text-align: right;
	border-bottom: 1px solid #DEDEDE;
	font-weight: bold;
	padding-right: 35px;
}
.service-order-window {
	border: 1px solid #DEDEDE;
	height: 250px;
	overflow: scroll;
	padding: 5px;
}

* html #service-order-basket-form .content-half {
	margin-right: -3px; /* IE6 DTB */
}

.service-order-search-results {
	list-style: none;
	float: left;
	width: 100%;
	margin: 0;
}
* html .service-order-window-content {
	width: 300px;
}

.service-order-search-results li {
	float: left;
	clear: left;
	border-bottom: 1px solid #DEDEDE;
	padding: 3px;
	width: 99%;
}
.service-order-search-results form {
	float: left;
	margin: 0 5px 0 0;
}
.service-order-search-results p {
	margin: 0;
}

/* REFUND ORDER
--------------------------------------------------*/
#order-user-information #order-detail-delivery, {
	float: left;
	width: 50%;
}

/*
#order-user-information #order-detail-extra-info 
*/


/* CHARTS
--------------------------------------------------*/
.layout-1 .sections-three-quarters .chart {
	width: 685px;
}


/* SERVICE USER NAV
--------------------------------------------------*/
#service-user {
	border: 1px solid #DEDEDE;
	width: 192px;
	padding: 7px 10px;
	float: left;
	clear: left;
	margin: 0 0 20px;
}
#service-user h2 {
	color: #575757;
}
#service-user p {
	word-wrap: break-word;
}
#service-user ul.submit {
	margin: 0;
}
#service-user li.secondary {
	clear: left;
	margin: 10px 0 0;
	float: left;
}


/*--------------------------------------------------

  KEY

--------------------------------------------------*/

dl.key dt {
	width: 30px;
	float: left;
	clear: left;
	height: 19px;
	padding: 0 0 2px;
}
dl.key dd {
	height: 19px;
	padding: 0 0 2px;
}

/*--------------------------------------------------

  PAYPAL

--------------------------------------------------*/
#paypal-amount-summary {
	clear: both;
	float: left;
	width: 100%;
}
#paypal-transactions {
	border-top: solid 1px #DEDEDE;
	clear: both;
	float: left;
	width: 100%;
}
#paypal-transactions .nth-child-odd {
	background: #f4f4f4;
}
#paypal-transactions .nth-child-odd {
	background: #f4f4f4;
}
#paypal-transactions .paypal-transaction {
	border-bottom: solid 1px #DEDEDE;
	padding: 7px 10px 0;
}
#paypal-transactions .paypal-amount {
	font-size: 1.2em;
	padding: 0 0 1.2727em;
	font-weight: bold;
}


/*--------------------------------------------------
  REPORTS TABLE
--------------------------------------------------*/

.admin-data td {
	width: 110px;
}
