$screen-mobile: 640px;
$green-primary: #20681d;

$offColouredBackground: #fffbdd;
$colourImageBorders: #acacac;
$colourHeaders: #318d2e;
$colourFormFieldError: #eb212e;
$colourTabsBackground: #f1f1f1;
$colourTabsSelected: #a0a0a0;

//Serve Retina images based on pixel density
//Example - @include hr-image("logo.png", "logo@2x.png");
@mixin hr-image($lr-image, $hr-image) {
  background-image: url($lr-image);
  @media print, (-webkit-min-device-pixel-ratio: 1.25), (-o-min-device-pixel-ratio: 5 / 4), (min-resolution: 120dpi) {
    background-image: url($hr-image);
    background-size: image-width($lr-image) image-height($lr-image);
  }
}

%clearfix{
    content: ".";
    visibility: hidden;
    clear: both;
}



//Mobile Styles
@media (max-width: $screen-mobile) {
  body, html {
    -webkit-font-smoothing: antialiased !important;
  }
  body {
    padding-top: 48px;
  }
  h1, h2 , h3, h4, h5{
    font-family: 'Effra W01 Bold', Arial, sans-serif;
    font-weight: bold;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 18px;
    line-height: 20px;
    color: #333;
    font-weight: bold;
  }
  p {
    font-size: 16px !important;
    line-height: 21px !important;
    color: #31313;
  }
}

