.isHidden{
	display: none;
}

.isTransparent{
	@include opacity(0);
}

.isInvisible{
	visibility: hidden;
}

body.active{
	overflow: hidden;
	position: fixed;
	z-index: -1;
}
.pull-left{
	float: left;
}
.pull-right{
	float: right;
}

.inline-block{
	display: inline-block;
}


.text--strong {
	font-weight: bold;
}
.text--uppercase{
	text-transform: uppercase;
}
.text--green{
	color: #318d2e;
}