/*--------------------------------------------------

COLOUR PALETTE STYLES

Styles for the colour palette search.

--------------------------------------------------*/

/*--------------------------------------------------

  COLOUR REFINEMENT

--------------------------------------------------*/
#cpr-colour-wheel {
	float: left;
}
#cpr-colour-filter {
	float: left;
}
#cpr-colour-filter ul {
	list-style: none;
	border-top: 1px solid #CCC;
}

/* COLOUR LOADER
--------------------------------------------------*/
#colour-palette-loader {
	background: url(/web/images/colour/palette/canvas/loader.gif) no-repeat center center;
	height: 40px;
	text-align: center;
	padding: 100px 0 0;
}
#colour-palette-modal .bd {
	height: 180px;
	width: 240px;	
}

/* COLOUR SLIDER
--------------------------------------------------*/
#colour-palette-slider {
	clear: both;
}
#palette-slider-pane {
	cursor: pointer;
	/*margin: -2px 0 0 -6px;*/
}
#cps-canvas {
	background: url(/web/images/colour/palette/canvas/slider_palette.gif) no-repeat;
	float: left;
	height: 50px;
	width: 431px;
}
#cps-nav-prev,
#cps-nav-next {
	background: url(/web/images/colour/palette/canvas/slider_nav.gif) no-repeat;
	padding: 50px 0 0;
	margin-right: 10px;
	width: 6px;
	overflow: hidden;
	height: 0;
	display: block;
	float: left;
}
#cps-nav-next {
	background-position: -6px 0;
	margin-left: 10px;
	margin-right: 0;
}
#colour-palette-slider .yui-h-slider {
	height: 57px;
}

/* COLOUR WHEEL
--------------------------------------------------*/
#cpr-colour-wheel img {
	width: 220px;
	height: 220px;
	background: url(/web/images/colour/palette/canvas/wheel.png);
	margin: 0;
	padding: 0;
	position: relative;
}
#cpr-colour-wheel img.yy {
	background-position: -220px 0;
}
#cpr-colour-wheel img.yr {
	background-position: -440px 0;
}
#cpr-colour-wheel img.rr {
	background-position: -660px 0;
}
#cpr-colour-wheel img.rb {
	background-position: -880px 0;
}
#cpr-colour-wheel img.bb {
	background-position: -1100px 0;
}
#cpr-colour-wheel img.bg {
	background-position: -1320px 0;
}
#cpr-colour-wheel img.gg {
	background-position: -1540px 0;
}
#cpr-colour-wheel img.gy {
	background-position: -1760px 0;
}


/*--------------------------------------------------

  COLOUR WHEEL

--------------------------------------------------*/
#colour-toolbox {
	background: #FFF;
	border: 1px solid #E0E0E0;
	/*clear: both;*/
	float: left;
	margin: 40px 0 0;
	padding: 12px;
	width: 210px;
}
#colour-toolbox h2 {
	background: url(/web/images/colour/palette/headings/toolbox.gif) no-repeat;
	height: 0;
	overflow: hidden;
	padding: 21px 0 0;
	margin: 0 0 8px;
}


/* THE GRID
--------------------------------------------------*/
#ct-palette {
	padding: 0;
	float: left;	
}
#ct-palette-grid {
	background: url(/web/images/colour/palette/canvas/matrix.gif);
	float: left;
	list-style: none;
	margin: 0 0 8px;
	padding: 1px 0 0 1px;
	width: 210px;
}

#ct-palette-grid li {
	float: left;
	margin: 0;
	height: 30px;
	width: 30px;
}
#ct-palette-grid .hover {
	background-color: #E0E0E0;
}
#ct-palette-grid .hover .swatch {

}
#ct-palette-grid .selected {
	background: url(/web/images/colour/palette/canvas/matrix_selected.gif) no-repeat;
}
#ct-palette-grid .swatch {
	display: block;
	overflow: hidden;
	height: 29px;
	width: 29px;
}
#ct-palette-grid .selected .swatch {
	height: 25px;
	width: 25px;
	margin: 2px;
	cursor: pointer;
}
#ct-palette-delete {
	background: url(/web/images/colour/palette/buttons/delete.gif) no-repeat center right;
	clear: both;
	height: 16px;
	padding: 0 23px 0 0;
	text-align: right;
	border: 1px solid #FFF;
}
#ct-palette-delete.hover {
	border: 1px solid #F00;
}
#ct-palette-control {
	list-style: none;
	float: left;
	margin: 0;
	padding: 0;
}
#ct-palette-control li {
	margin: 0 7px 0 0;
	float: left;
}
#ct-palette-help {
	background: url(/web/images/colour/palette/buttons/help.gif) no-repeat;
	float: right;
	padding: 14px 0 0;
	height: 0;
	margin: 12px 0 0;
	width: 14px;
	overflow: hidden;
	display: block;
}


.scc-stripe-card {	
	background: url(/web/images/colour/palette/canvas/stripe_card.gif) no-repeat;
	float: left;
	width: 121px;
	height: 389px;
	margin: 0 3px;
	padding: 12px 1px 0;
}
.scc-stripe-card ul {
	list-style: none;
	margin: 0;
}	
.scc-stripe-card li {
	height: 46px;
	float: left;
	clear: left;
	/*
	position: relative;
	*/
	margin: 0 0 4px;
}
.scc-stripe-card .swatch {
	display: block;
	height: 46px;
	width: 119px;
	/*
	position: absolute;
	top: 0;
	left: 0;
	*/
}
.scc-stripe-card li div {
	background: #000;
	opacity: .5;
	filter: alpha(opacity=50);
	margin: 0;
	padding: 0;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	display: none;
}
.scc-stripe-card li p {
	color: #FFF;
	opacity: 1;
}
.scc-stripe-card p {
	margin: 0;
	padding: 4px 0 0;
	color: #575757;
}
.scc-item-selected .scc-stripe-card {	
	background: goldenrod;
}

#scc-viewer {
	width: 424px;
}

#swatch-proxy {
	width: 29px;
	display: block;
	height: 29px;
	background: #000;
	border: 1px solid #FFF;
}

#ct-swatch-placeholder {
	list-style: none;
	position: absolute;
	top: -99999em;
	left: -999em;
	margin: 0;
	padding: 0;
}
#ct-swatch-placeholder li {
	float: left;
	clear: left;
	width: 200px;
	height: 60px;
}

/* COLOUR INFORMATION
--------------------------------------------------*/
#ct-colour-information {
	border-top: 1px solid #dedede;
	clear: both;
	float: left;
	margin: 12px 0 0;
	padding: 0;
	width: 210px;
}
#ct-colour-information .content {
	
}
#ct-colour-information p.details {
	text-align: center;
	padding: 17px 0 0;
}
#ct-colour-information #ct-colour p.details {
	text-align: left;
	padding: 0;
}

/* SELECTED COLOUR
--------------------------------------------------*/
#ct-scheming {
	border-top: 1px solid #dedede;
	clear: both;
	float: left;
	margin: 12px 0 0;
	padding: 9px 0 0;
	width: 210px;
}
#ct-scheming h4 {
	color: #575757;
	font-size: 1.1em;
}
#ct-scheming ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#ct-scheming li.scheme {
	clear: left;
	float: left;
	margin: 0 0 8px;
}
#ct-scheming li.scheme p {
	margin: 0;
}
#ct-colour {
	clear: both;
	float: left;
	width: 210px;
}
#ct-colour .body {
	background: #FFF;
	float: left;
}
#ct-colour .open-swatch {
	margin: 12px 0 0;
}
#ct-colour.loading {
	background-position: center center;
	padding: 0;
}
#ct-colour .content {
	float: right;
	padding: 19px 0 0;
	width: 138px;
}
#ct-colour a:link,
#ct-colour a:visited,
#ct-colour a:hover,
#ct-colour a:active {
	color: #62a5d1;
}
#ct-colour h5 {
	margin: 0;
}
#ct-colour p {
	margin: 0 0 2px;
}
#ct-colour p.error {
	text-align: center;
	padding: 7px 0 0;
}
.open-swatch {
	background: url(/web/images/colour/palette/canvas/open_swatch.gif) no-repeat;
	display: block;
	height: 62px;
	width: 45px;
	float: left;
}
.open-swatch a,
.open-swatch em {
	display: block;
	height: 0;
	overflow: hidden;
	padding: 31px 0 0;
	margin: 14px 0 0 1px;
	width: 42px;
}
.colour-scheming-strip-card {
	list-style: none;
	clear: both;
	background: url(/web/images/colour/palette/canvas/matrix_stripe_card.gif) no-repeat;
	padding: 1px 0 0 1px;
	margin: 0;
	float: left;
	width: 210px;
}
.colour-scheming-strip-card li {
	float: left;
	width: 30px;
}
#scheming-details {
	clear: both;
	padding: 7px 0 0;
}

/* CONTROL PANEL MODALS
--------------------------------------------------*/
#cp-save-modal .bd {
	height: 200px;
	width: 300px;
}
#cp-export-modal .bd {
	height: 200px;
	width: 300px;
}


/* CAROUSEL
--------------------------------------------------*/
#ssc-carousel {
	clear: left;
	float: left;
	position: relative;
	height: 420px;
	margin: 20px 0;
	width: 483px;
}
#ssc-carousel ul {
	list-style: none;
	margin: 0;
	float: left;
}
#ssc-carousel li {
	clear: left;
	float: left;
	margin: 0 0 4px;
}
#ssc-carousel li div {
	display: none;
}
.ssc-carousel-stripe-card {
	float: left;
	background: url(/web/images/colour/palette/canvas/primary_card.png) no-repeat;
	position: absolute;
}
.ssc-carousel-stripe-card .name {
	color: #575757;
	padding: 4px 0 0;
	clear: both;
	margin: 0;
	float: left;
	width: 100%;
}
.ssc-carousel-secondary .name {
	font-size: 1.1em;
}
.ssc-carousel-ternary .name {
	font-size: 1em;
}
.ssc-carousel-stripe-card .rich {
	background: url(/web/images/colour/palette/canvas/tones.gif) no-repeat;
	background-position: 97px 7px;
}
.ssc-carousel-stripe-card .warm {
	background: url(/web/images/colour/palette/canvas/tones.gif) no-repeat;
	background-position: 97px -43px;
}
.ssc-carousel-stripe-card .calm {
	background: url(/web/images/colour/palette/canvas/tones.gif) no-repeat;
	background-position: 97px -93px;
}
.ssc-carousel-stripe-card .fresh {
	background: url(/web/images/colour/palette/canvas/tones.gif) no-repeat;
	background-position: 97px -143px;
}
.ssc-carousel-stripe-card p {
	text-align: center;
}
#ssc-carousel-ternary-1 {
	left: 40px;
	top: 75px;
	z-index: 10;
}
#ssc-carousel-ternary-2 {
	left: 386px;
	top: 75px;
	z-index: 10;
}
#ssc-carousel-secondary-1 {
	left: 103px;
	top: 41px;
	z-index: 20;
}
#ssc-carousel-secondary-2 {
	left: 302px;
	top: 41px;
	z-index: 20;
}
#ssc-carousel-primary {
	height: 376px;
	padding: 12px 3px 1px;
	left: 183px;
	top: 0;
	z-index: 30;
	width: 119px;
}
#ssc-carousel-primary .swatch {
	height: 46px;
	width: 119px;
}
.ssc-carousel-secondary {
	background-image: url(/web/images/colour/palette/canvas/secondary_card.png);
	width: 82px;
	height: 313px;
	padding: 10px 3px 0;
}
#ssc-carousel .ssc-carousel-secondary li {
	margin: 0 0 3px;	
}
.ssc-carousel-secondary .swatch {
	height: 36px;
	width: 82px;
}
.ssc-carousel-ternary {
	background-image: url(/web/images/colour/palette/canvas/ternary_card.png);
	padding: 8px 1px 0;
	height: 251px;
	width: 64px;
}
#ssc-carousel .ssc-carousel-ternary li {
	margin: 0 0 2px;	
}
.ssc-carousel-ternary .swatch {
	height: 28px;
	width: 64px;
}
#ssc-carousel-proxy {
	position: absolute;
	left: -999em;
}

/* CAROUSEL - LOADER
--------------------------------------------------*/
#ssc-carousel-loader {
	position: absolute;
}
#ssc-carousel-loader-blanket {
	background: #FFF;
	opacity: .5;
	filter: alpha(opacity=50);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 50;
}
#ssc-carousel-loader-message {
	background: #FFF url(/web/images/global/loading.gif) no-repeat 50% 10px;
	text-align: center;
	margin: -40px 0 0 -56px;
	padding: 30px 0 10px;
	width: 100%;
	z-index: 100;
	left: 0;
	position: absolute;
	top: 50%;
	width: 120px;
	left: 50%;
}



/* CAROUSEL - NAV
--------------------------------------------------*/
.ssc-carousel-nav {
	position: absolute;
	display: block;
	width: 27px;
	height: 0;
	padding: 54px 0 0;
	background: url(/web/images/colour/palette/canvas/carousel_nav.gif) no-repeat;
	overflow: hidden;
	top: 161px;
	cursor: pointer;
	z-index: 50;
}
#ssc-carousel-next {
	left: 0;
}
#ssc-carousel-prev {
	right: 0;
	background-position: 0 -54px;
}