/*
 * jQuery FlexSlider v1.8
 * http://flex.madebymufffin.com
 *
 * Copyright 2011, Tyler Smith
 * Free to use under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
 
/* Browser Resets */
.flex-container a:active,
.flexslider a:active {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 

.flexslider {
	width: 492px; 
	margin: 0; 
	padding: 0;
}

.flexslider .slides > li {display: none;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {max-width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/*  FlexSlider Default Theme 
--------------------------------------- */

.flexslider { position: relative; }
.flexslider .slides {zoom: 1;}
.flexslider .slides > li {position: relative;}

.flexslider .slides  li.video em {
	position: absolute;
	top: 150px;
	left: 210px;
	width: 72px;
	height: 50px;
	background: cyan;
}

/* Suggested container for "Slide" animation setups. Can replace this with your own, if you wish */
.flex-container {zoom: 1; position: relative;}

/* Caption style */
/* IE rgba() hack */
.flex-caption {
	width: 543px; 
	height: auto;
	position: absolute; 
	left: 0; 
	bottom: 0; 
	color: #656668; 
	font-size: 1em; 
	line-height: 18px;
	padding: 10px 20px;
	text-align: right
}
.flex-caption p{
	margin: 0;
}
.flex-caption p.dark{
	text-shadow: 1px 1px 1px #fff;
}
.flex-caption p.light{
	text-shadow: 1px 1px 1px #272727;
}
/* Direction Nav */
.flex-direction-nav li a {
	-webkit-box-shadow: 0 0 4px #b0c1cf;
	-moz-box-shadow: 0 0 4px #b0c1cf;
	box-shadow: 0 0 4px #b0c1cf;
	width: 29px; 
	height: 30px; 
	margin: -13px 0 0; 
	display: block; 
	background: url(/web/images/global/slider_arrows.gif) no-repeat 0 0; 
	position: absolute; 
	top: 170px; 
	cursor: pointer; 
	text-indent: -9999px;
}
.flex-direction-nav li a:hover{background-position: 0 -30px}
.flex-direction-nav li .next {background-position: -29px 0; right: 5px;}
.flex-direction-nav li a.next:hover{background-position: -29px -30px}
.flex-direction-nav li .prev {left: 5px;}
.flex-direction-nav li .disabled {opacity: .3; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.flex-controls {
	position: absolute;
	left: 0;
	bottom: 7px;
	z-index: 2;
	margin-bottom: 0;
}

.flex-controls li {
	margin: 0 0 0 5px;
	display: inline-block;
	zoom: 1; 
	*display: inline;
}

.flex-controls li:first-child {
	margin: 0;
}

/*
.flex-controls li a {
	outline: none;
    display: block;
    height: 0;
    overflow: hidden;
    padding: 11px 0 0;
    width: 11px;
	cursor: pointer;
}

.flex-controls li a:hover {
	background-position: 0 -22px;
}

.flex-controls li a.active {
	background-position: 0 -11px;
	cursor: default;
}


.flex-controls li a {
  float:left;
  display:block;
  width:11px;
  height:11px;
  text-indent: -9999px;
  outline: none;
}

.flex-controls li a:hover {
  background-position: 0 -22px ;
}

.flex-controls li a.active {
  background-position: 0 -11px ;
}

*/
/*  Styles for slider 
--------------------------------------- */
#container {
	width: 728px; 
	max-width: 728px; 
	margin: 0 auto;
	background: #f3f3f3;
	position: relative;
}

.flexslider .caption {
	/* display: none; */
}

#flexslider-caption {
	background: none repeat scroll 0 0 #f2f2f2;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 236px;
    z-index: 1;
}

ul.tones {
	position: absolute;
	left: 364px;
    top: 0;
	width: 128px;
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.tones li.primary {
	height: 250px;
}

ul.tones li.secondary,
ul.tones li.tertiary {
	height: 50px;
}

ul.tones li {
	position: relative;
}

ul.tones li p {
	margin-bottom: 0;
	position: absolute;
	bottom: 10px;
	left: 12px;
	font-weight: bold;
	color: #fff;
}

ul.tones li.light p,
ul.tones li.light em {
	color: #635f51;
}

ul.tones li p em {
	font-weight: normal;
}

/* LIVING ROOM COLOURS */
.living-rooms ul.tones li.primary {
	background: #d66868;
}

.living-rooms ul.tones li.secondary {
	background: #fefbe9;
}

.living-rooms ul.tones li.tertiary {
	background: #c6beb7;
}

/* KITCHEN COLOURS */
.kitchens ul.tones li.primary {
	background: #959479;
}

.kitchens ul.tones li.secondary {
	background: #d3cbb9;
}

.kitchens ul.tones li.tertiary {
	background: #fffde9;
}

/* BATROOM COLOURS */
.bathrooms ul.tones li.primary {
	background: #4da3a9;
}

.bathrooms ul.tones li.secondary {
	background: #493963;
}

.bathrooms ul.tones li.tertiary {
	background: #d1c4b9;
}

/* LIVING ROOM 2 COLOURS */
.living-rooms-2 ul.tones li.primary {
	background: #fffde9;
}

.living-rooms-2 ul.tones li.secondary {
	background: #faf5db;
}

.living-rooms-2 ul.tones li.tertiary {
	background: #fffde9;
}

/* CAPTIONS */
#captions h2 {
	font-size: 2.6em;
	margin-bottom: 0.2em;
}

#captions h3 {
	font-size: 1.6em;
}

#caption1 h2 { color: #d66868; }
#caption2 h2 { color: #959479; }
#caption3 h2 { color: #4da3a9; }
#caption4 h2 { color: #666; }
#caption5 h2 { color: #002068; }

.caption {
	display: none;
	position: absolute;
	right: 0;
	top: 0;
	width: 186px;
	padding: 50px 25px 0;
}