.jcarousel-container {
	width: 337px;
	margin-bottom: 20px;
}

.jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-container-horizontal {
    width: 303px;
	padding: 0 17px;
    height: 170px;
}


.jcarousel-clip {
    overflow: hidden;
}

.jcarousel-clip-horizontal {
    width:  303px;
    height: 200px;
}
.jcarousel-item {
    width: 100px;
    height: 200px;
	
}

.jcarousel-item-horizontal {
	margin-left: 0;
    margin-right: 10px;
}

.jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
    margin-right: 0;
}

.jcarousel-item-vertical {
    margin-bottom: 10px;
}

.jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-next-horizontal,
.jcarousel-prev-horizontal{
	-webkit-box-shadow: 0 0 4px #b0c1cf;
	-moz-box-shadow: 0 0 4px #b0c1cf;
	box-shadow: 0 0 4px #b0c1cf;
	width: 29px; 
	height: 30px; 
	margin: -13px 0 0; 
	display: block; 
	right: 5px;
	background: url(/web/images/global/slider_arrows.gif) no-repeat 0 0; 
	position: absolute; 
	top: 72px; 
	cursor: pointer; 
	text-indent: -9999px;
}

.jcarousel-next-horizontal{background-position: -29px 0;}
.jcarousel-next-horizontal a:hover{background-position: -29px -30px}
.jcarousel-prev-horizontal{left: -5px;}
.jcarousel-prev-horizontal a:hover{background-position: -30px -5px} 

.jcarousel-direction-rtl .jcarousel-next-horizontal {
    right: 5px;
    right: auto;
}

.jcarousel-next-horizontal:hover,
.jcarousel-next-horizontal:focus {
    background-position: -29px -30px;
}

.jcarousel-next-horizontal:active {
    background-position: -29px -30px;
}

.jcarousel-next-disabled-horizontal,
.jcarousel-next-disabled-horizontal:hover,
.jcarousel-next-disabled-horizontal:focus,
.jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: -29px 0;
}

.jcarousel-prev-horizontal {
    position: absolute;
    top: 72px;
    left: 5px;
    width: 29px;
    height: 30px;
    cursor: pointer;
}

.jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px;
}

.jcarousel-prev-horizontal:hover, 
.jcarousel-prev-horizontal:focus {
    background-position: 0 -30px;
}

.jcarousel-prev-horizontal:active {
    background-position: -64px 0;
}

.jcarousel-prev-disabled-horizontal,
.jcarousel-next-disabled-horizontal{
	visibility:hidden;
}
.jcarousel-prev-disabled-horizontal:hover,
.jcarousel-prev-disabled-horizontal:focus,
.jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -29px 0;
}
