#accordion { width: 100%; }
#accordion .ui-accordion-header { cursor: pointer; position: relative; margin-top: 1px; zoom: 1; margin-bottom: 0; font: 1em Verdana, Helvetica, sans-serif;	 }
#accordion .ui-accordion-li-fix { display: inline; }
#accordion .ui-accordion-header-active { border-bottom: 0 !important; }
#accordion .ui-accordion-header a { display: block; font-size: 1em; padding: 1em .5em 1em .7em; }
.ui-accordion-icons .ui-accordion-header a { padding-left: 1em; }
#accordion .ui-accordion-header .ui-icon { position: absolute; right: 1em; top: 50%; margin-top: -8px; }
#accordion .ui-accordion-content { padding: 1em 1em; border-top: 0; margin-top: -2px; position: relative; top: 1px; margin-bottom: 2px; overflow: auto; display: none; zoom: 1; }
#accordion .ui-accordion-content-active { display: block; }
#aside .ui-accordion-content li{
	padding: 5px 0;
	font-size: 1em;
}

/* Component containers
----------------------------------*/
#accordion { font-family: Verdana,Arial,sans-serif; font-size: 1.1em; }
#accordion #accordion { font-size: 1em; }
#accordion input, #accordion select, #accordion textarea, #accordion button { font-family: Verdana,Arial,sans-serif; font-size: 1em; }
.ui-widget-content { border: 1px solid #f6fafc; background: #f6fafc; color: #8d8e8e; }
.ui-widget-content a { color: #8d8e8e; }
.ui-widget-header { border: 1px solid #aaaaaa; background: #cccccc; color: #222222; font-weight: bold; }
.ui-widget-header a { color: #222222; }

/* Interaction states
----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { border: 1px solid #d5e8c6; background: #d5e8c6; font-weight: normal; color: #007836; }
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #007836; text-decoration: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { border: 1px solid #b7d97e; background: #b7d97e; font-weight: normal; color: #212121; }
.ui-state-hover a, .ui-state-hover a:hover { color: #212121; text-decoration: none; }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { border: 1px solid #b7d97e; background: #b7d97e; font-weight: normal; color: #212121; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #212121; text-decoration: none; }
#accordion :active { outline: none; }

/* Interaction Cues
----------------------------------*/
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight  {border: 1px solid #fcefa1; background: #fbf9ee; color: #363636; }
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a { color: #363636; }
.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {border: 1px solid #cd0a0a; background: #fef1ec; color: #cd0a0a; }
.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a { color: #cd0a0a; }
.ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text { color: #cd0a0a; }
.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary { font-weight: bold; }
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary,  .ui-widget-header .ui-priority-secondary { opacity: .7; filter:Alpha(Opacity=70); font-weight: normal; }
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled { opacity: .35; filter:Alpha(Opacity=35); background-image: none; }

.ui-icon { width: 16px; height: 16px; background-image: url(/web/images/jquery/ui-icons_222222_256x240.png); }
.ui-widget-content .ui-icon {background-image: url(/web/images/jquery/ui-icons_222222_256x240.png); }
.ui-widget-header .ui-icon {background-image: url(/web/images/jquery/ui-icons_222222_256x240.png); }
.ui-state-default .ui-icon { background-image: url(/web/images/jquery/ui-icons_acd2aa_256x240.png); }
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {background-image: url(/web/images/jquery/ui-icons_454545_256x240.png); }
.ui-state-active .ui-icon {background-image: url(/web/images/jquery/ui-icons_454545_256x240.png); }
.ui-state-highlight .ui-icon {background-image: url(/web/images/jquery/ui-icons_2e83ff_256x240.png); }
.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {background-image: url(/web/images/jquery/ui-icons_cd0a0a_256x240.png); }

.ui-icon-plus { background-position: -16px -128px; }
.ui-icon-minus { background-position: -48px -128px; }

.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
	font-weight: normal;
	margin: -1px;
}

/* Corner radius */
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl { -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; -khtml-border-top-left-radius: 5px; border-top-left-radius: 5px; }
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr { -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; -khtml-border-top-right-radius: 5px; border-top-right-radius: 5px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl { -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; -khtml-border-bottom-left-radius: 5px; border-bottom-left-radius: 5px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br { -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; -khtml-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px; }
