/* IPHONE STYLESHEET FOR SHOPPING CART V1.1
@ 01.09.10 - Author: Andrew Dover
@ 17.12.13 - Updated: Chris Shortall, Tessella
--------------------------------------------------------------
*/
*{
	margin: 0;
	padding: 0;
}

body{

	-webkit-text-size-adjust: none;
	font-family: Helvetica, Arial, Verdana, sans-serif;
	color: #383838;
	width: 100%;
}
div{
	clear: both;
	display: block;
	width: 100%;
	float: none;
	margin: 0;
	padding: 0;
}

table{
	background: none transparent;
	width: 100%;
	}

h1{
	font-size: 32px;
	margin: 12px 0 16px 10px;
}

h2{
	font-size: 28px;
}

h3{
	font-size: 24px;
}

h1, h2, h3{
	color:#385487;
}

a:link{
	color:#333;
	text-decoration: underline;
}
a:visited{
	color:#333;
	text-decoration: underline;
}
a:hover{
	color:#333;
	text-decoration: underline;
}
a:active{
	color:#333;
	text-decoration: underline;
}
p{
	font-size: 18px;
	line-height: 1em;
}

.hr{
	border-bottom: 2px solid #6b6867;
	margin: 3px 0;
}

.hr hr{
	display: none;
}

#checkout-buttons{
	background: url(/web/images/iphone/sc_bottom_background_step1.gif) repeat-x top #8e9091;
	width: 90%;
	padding: 5%;
	margin-top: 20px;
	text-align: center;
}

.tester-image{
	border: 2px solid #6a6767;
	margin: 6px 6px 6px 0;
}

.product-rows{
	border-bottom: 1px solid #6b6867;
}

.product-description-cell{
	padding-top: 6px;
}

.description-text{
	font-size: 12px;
}

.price{
	font-size: 14px;
}

.total-price-table{
	border-top: 1px dotted #6b6867;
	padding-top: 10px;
	margin-top: 10px;
}

.grand-total{
	font-size: 20px;
	margin-top: 6px;
}

dt em, .required-p em{
	color: #f00;
	font-style: normal;
}
.long-form{
	background-color: #F5F5F5;
	padding: 10px 0;
	margin: 20px auto;
	width: 520px;
}
.long-form-2{
	background:url(/web/images/iphone/sc_bottom_background_step2.gif) repeat-x top #8e9091;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	float: left;
	width: 400px;
}
#3dsec{
	background: #fff;
}
.long-form-int{
	width: 500px;
	padding: 0 10px;
}
.long-form-2 .long-form-int{
	width: 380px;
	padding: 0 10px;
}


.long-form p, .long-form h2, .long-form-2 p, .long-form-2 h2{
	color: #333;
}

.long-form .hr{
	border-bottom: 1px solid #a19e9e;
	margin: 6px 0;
	float: left;
}
form dt{
	float: left;
	width: 40%;
}

form dd{
	margin-bottom: 6px;
	padding-bottom: 6px;
}

form dd em{
	color: #666;
}

form dt, form dd{
	font-size: 18px;
	color: #333;
}

.required-p{
	margin-bottom: 6px;
	}

form .radio-input{
	margin-right: 6px;
}

#card-companies{
	list-style: none;
	margin-left: 53px;
}
#card-companies li{
	float: left;
	display: block;
	width: 30%;
	height: 44px;
	margin: 10px 10px 0 0;
	border: 2px solid #333;
	background: #fff;
	padding: 10px;
}

p.warning{
	padding-left: 53px;
	background: url(/web/images/iphone/warning_icon.png) no-repeat left top;
}
p.complete-order-text{
	padding-left: 53px;
	float: left;
	margin-top: 10px;
}
p.javascript-failed{
	color: #fff;
}
.3d-submit{
	margin-left: 53px;
}

/* Login */
#account-register-section{
	padding: 10px;
	width: 500px;
}
#account-register-section p{
	margin-top: 10px;
}
fieldset{
	padding: 10px;
}
fieldset input[type="text"],
fieldset input[type="password"]{
	height: 20px;
	width: 250px;
}
#forgotten-password{
	margin-bottom: 20px;
}
#registration{
	padding:10px 20px;
}

/* Register */
#page{
	background-color: #F5F5F5;
	margin:10px auto;
	padding:10px;
	width: 600px;
}
form#register-form h3{
	margin: 20px 0 10px;
}
div.complete-registration p{
	margin-bottom: 10px;
}
p.error{
	color:red;
	font-style: italic;
	margin: 10px
}

/* Confirm details */
#security-card-info{
	display:inline-block;
	padding-left: 40%;
}