/*--------------------------------------------------

BASE CSS
@version 1.0.14

--------------------------------------------------*/

/*
  COLOURS

  Brand dark green = #007836
  Brand light green = #77b800
  h3 = ?
  h4 = ?
*/





/* INCLUDES
--------------------------------------------------*/
@import url(reset.css);
@import url(layout.css);
@import url(widgets.css);
@import url(content.css);
@import url(transitional.css);
@import url(catalogue.css);
@import url(order.css);
@import url(favourites.css);

/* ELEMENTS - now add styles to the reset
--------------------------------------------------*/
html {
	background: #E0EDF5 url(../images/canvas/html.jpg) repeat-x;
	height: 100%;
	min-height: 100%; /* Safari - Header + Body + Footer */
}
body {
	font-family: Verdana, Helvetica, sans-serif;
	font-size : 62.5%; 
	color: #656668;
	background: url(../images/canvas/body.jpg) repeat-x 50% 100%;
	overflow: -moz-scrollbars-vertical; /* FF : Prevent page jumping between non/scrolling pages */
	text-align: center;
	/* This is to make the page 100% in non-IE browsers */
	height: 100%;
	min-height: 100%;
	width: 100%;
	display: table;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 1.1em;
	font-weight: bold;
	margin: 0 0 1em;
	letter-spacing: -0.07em;
}
h1 {
	font-size: 2.4em;
	color: #2a722c;
	margin: 0 0 15px;
}
h2 {
	font-size: 2em;
	margin: 0 0 1.2727em;
}
h2 em{
	font-weight: bold;
	color: #2A722C;
}
h3 {
	font-size: 1.8em;
	margin: 0 0 .65em;
}
/* Puts a separator above the text */
h2.separator-above,
h3.separator-above{
	background: url(/web/images/global/separator.gif) repeat-x center top;
	padding: 22px 0 0 0;
	clear: both;
}
h4 {
	font-size: 1.2em;
}
p{
	line-height: 1.8em;
}
input, select, textarea {
	color: #3F3E29;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.1em
}
input {
	vertical-align: bottom;
}
p input,
li input, li select, li textarea,
dd input, dd select, dd textarea {
	font-size: 1em;
}
object, embed {
	outline: none; /* Removes the white dotted border that sometimes appears around Flash elements. */
	vertical-align: bottom; /* Aligns the Flash to the bottom of the container element. */
}

a:link {
	color: #656668;
	text-decoration: underline;
}
a:visited {
	color: #656668;
	text-decoration: underline;
}
a:hover {
	color: #656668;
	text-decoration: none;
}
a:active {
	color: #656668;
	text-decoration: underline;
}
ul, ol {				
	margin: 0 0 1.2727em 0;
	padding-left: 2.8em;
}
ul {
	list-style-type: disc;
}
ol {
	list-style-type: decimal;
}
li {
	font-size: 1.1em;
}
p, dl {
	margin: 0 0 1.2727em; 
	font-size: 1.1em;
}	
table {
	border-collapse: collapse;
	border-spacing: 0;
	margin: 0 0 1.2727em; 
	font-size: 1.1em;
	width: 100%;
}
th, td {
	text-align: left;
}
th {
	color: #575757;
	border-bottom: 1px solid #DEDEDE;
	font-weight: bold;
	padding: 0 6px 6px;
}
td {
	padding: 6px 6px;
}
table .nth-child-odd td {
	background-color: #dbe8f0;
}
table.product-listing td {
	background-color: #fff;
	padding-left: 15px;
}
table.product-listing td.nth-child-odd {
	background-color: #dbe8f0;
}
table.product-listing a:link,
table.product-listing a:active,
table.product-listing a:visited {
	color: #007735;
	font-weight: bold;
	text-decoration: none;
}
table.product-listing a:hover {
	text-decoration: underline;
}
table form {
	font-size: .9em;
}
dd li p {
	font-size: 1em; /* 11px / 12px = 0.916emem */
}
table p,
dd p,
dd li,
li li,
li p {
	font-size: 1em; /* 11px / 11px = 1em */
}
strong {
	font-weight: bold;
}
blockquote {
	font-size: 1.1em;
	margin: 0 0 1.1em;
}


/* Accessibility
--------------------------------------------------*/
.longdesc,
.access,
caption,
legend { /* Place selectors here as required to hide something for accessibility reasons */
	position: absolute;
	left: -999em;
	/* These are for older browsers */
	height: 0;
	width: 0;
	margin: 0;
	padding: 0;
	font-size: 0;
	overflow: hidden;
}

ul#access-nav, 
ul#access-nav li {
	padding: 0; 
	margin:0; 
	list-style: none;
	display:inline;
}
#access-nav a:link, 
#access-nav a:visited {
	width: 0; 
	height: 0;
	float: left; 
	overflow: hidden; 
}
#access-nav a:active, 
#access-nav a:focus {
	width: auto; 
	height: auto;
	position:absolute; 
	left: 0;
	top: 0;
	z-index: 10000; 
	overflow: visible; 
	background-color: #FFF;
	padding: 5px;
}


/* Helper
--------------------------------------------------*/
.clear:after { /* Do NOT use this class, add a selector here */
    content: "\0020"; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
	overflow: hidden;
	clear: both;
}
* html .clear {
	height: 1%;
}

/* Common/global styles
--------------------------------------------------*/

/* MESSAGES
--------------------------------------------------*/
p.error {
	overflow: hidden;
	border: solid 1px #db3d3d;
	padding: 10px 10px 10px 30px;
	color: #db3d3d;
	background: #f9ecec url(/web/images/global/message_sprite.png) no-repeat 10px 10px;
}
p.warning {
	border: solid 1px #e7cf2f;
	padding: 10px 10px 10px 30px;
	color: #b29d12;
	background: #f5f0a3 url(/web/images/global/message_sprite.png) no-repeat 10px -390px;
}
p.success {
	border: solid 1px #37b054;
	padding: 10px 10px 10px 30px;
	color: #38b054;
	background: #d5f2c9 url(/web/images/global/message_sprite.png) no-repeat 10px -189px;
}
* html p.error {
	background-image: url(/web/images/global/message_sprite.gif);
}
* html p.warning {
	background-image: url(/web/images/global/message_sprite.gif);
}
* html p.success {
	background-image: url(/web/images/global/message_sprite.gif);
}
.loading {
	background: url(../images/global/loading.gif) no-repeat top center;
	padding: 16px 8px 0;
}
p.loading {
	text-align: center;
}
.blur { /* The site standard for faded elements. */
	opacity: .5;
	filter: alpha(opacity=50);
}
p a.details:link,
p a.details:visited,
p a.details:hover,
p a.details:active,

p.details a:link,
p.details a:visited,
p.details a:hover,
p.details a:active {
	color: #529A2C;
}
.offer-promotion {
	color: #7E1536;
}
ul.error {
	border: solid 1px #db3d3d;
	padding: 10px 10px 10px 30px;
	color: #db3d3d;
	background: #f9ecec url(/web/images/global/message_sprite.png) no-repeat 10px 10px;
	list-style: none;
}
* html ul.error {
	background-image: url(/web/images/global/message_sprite.gif);
}

/*--------------------------------------------------

  MODAL - Control the default styles of the modals.

--------------------------------------------------*/

/* MODAL
 * UKISA.widget.Modal
--------------------------------------------------*/
.yui-panel .bd {
	height: 400px;
	overflow: auto;
	width: 800px;
}
.yui-panel p.loading {
	text-align: center;
	background-position: bottom center;
	padding: 16px 12px 22px;
}

.yui-panel p.error {
	text-align: center;
	font-weight: bold;
	padding: 16px 12px;
}
#ukisa-flash-modal object {
	background: url(../images/global/loading.gif) no-repeat center center;
}

/* TERMS
 * UKISA
--------------------------------------------------*/
#terms-modal {}
body #modal .bd {
	overflow: auto;
}

/* LIGHTBOX
 * UKISA.widget.Lightbox
--------------------------------------------------*/
#modal-lightbox .bd {
	height: 100px;
	width: 200px;
}

/* GRID - used for grid design debugging.
--------------------------------------------------*/
#grid {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent url(/web/images/global/grid.png) repeat-y 50% 0;
}