/*--------------------------------------------------

CONTENT CSS

General content styles and styles that don't fit 
into the other main stylesheets.

--------------------------------------------------*/

/*--------------------------------------------------

HOME PAGE

--------------------------------------------------*/
#home-page #masthead {
	width: 960px;
	height: 320px;
}
/*-------------------------------------------------- */

#content .article-introduction {
	float: left;
	margin: 15px 0;
	width: 717px;
}

#content .article-introduction img {
	float: left;
	margin: 0 20px 0 0;
}

#content .article-introduction img.get-the-look {
	position: absolute;
	right: 0;
	top: 150px;
}

#content .article-introduction p {
	width: 400px;
	float: left;
}

#grand-designs #content .article-introduction p {
	width: 310px;
	float: left;
}

a.slogan {
	position: absolute;
	right: 0;
	top: 35px;
}

#ideas-page p.intro {
	width: 412px;
}

/*--------------------------------------------------

PRODUCT SWATCH NAMES

--------------------------------------------------*/

ul.palette li em {
	bottom: 5px;
	color: #FFF;
	font-size: 0.8em;
	left: 5px;
	line-height: 1.1em;
	position :absolute;
	width: 62px;
}

ul.palette li em.new-swatch {
    background: url('/web/images/global/new_swatch.gif') 0 0 no-repeat transparent;
    height: 13px;
    left: auto;
    right: 3px;
    top: 3px;
    width: 30px;
}
ul.palette li .light em{
	color: #272727;
}
ul.palette li.pale-jasmine em,
ul.palette li.country-farm em,
ul.palette li.natural-stone em,
ul.palette li.light em,
ul.palette li.white em,
ul.palette li.clear em,
ul.palette li.natural-clear em,
ul.palette li.country-cream em,
ul.palette li.sweet-pea em,
ul.palette li.coastal-mist em,
ul.palette li.muted-clay em,
ul.palette li.sandstone em,
ul.palette li.white-daisy em {
	color: #554f4c;
}

/*-------------------------------------------------

TERMS FOR UPLOAD PAGE

-------------------------------------------------*/

#terms-page ol li {
	margin-bottom: 10px;
}

#terms-page ol.alpha {
	margin-top: 10px;
	list-style: lower-alpha;
}


#stockist-enquiries,
#write-us {
	min-height: 104px;
}

*html #stockist-enquiries,
*html #write-us {
	height: 104px;
}

#write-us ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

/*-------------------------------------------------

TESTERS PAGE

-------------------------------------------------*/

.testers-intro {
	float: left;
	margin: 0 10px 0 0;
}
/*.gs-logo {
	width: 190px;
	float: left;
}*/

.layout-2-b #content .delivery-information {
	width: 695px;
	margin: 10px 0 10px 0;
	float: left;
}
.layout-2-b #content .delivery-information .content {
	width: 350px;
}
.layout-2-b #content .testers {
	background: url(/web/images/content/testers/delivery_pack.gif) no-repeat 360px 0;
}
.variant-image{
	position: relative;
	width: 70px;
	height: 45px;
	overflow: hidden;
	display: block;
	margin: 0 auto 10px;
}
em.new-tester{
	position: absolute;
	right: -500px;
	top: 0;
	width: 57px;
	height: 57px;
	background: url(/web/images/canvas/new_tag.gif) no-repeat
}
/*--------------------------------------------------

HINTS PLAYLISTS

--------------------------------------------------*/

.layout-2-b #content ul#playlists {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.layout-2-b #content ul#playlists li {
	width: 350px;
	float: left;
	list-style-type: none;
	margin: 0 0 20px 0;
	padding: 0;
}
.layout-2-b #content ul#playlists li.playlist-1,
.layout-2-b #content ul#playlists li.playlist-3 {
	margin: 0 15px 20px 0;
}
.layout-2-b #content ul#playlists table {
	font-size: 1em;
}

/*-------------------------------------------------

MISC STYLES

-------------------------------------------------*/

.layout-2-b #content ol.article-how-to-list {
	float: left;
}
.layout-2-b #content ol.article-how-to-list li {
	margin-bottom: 4px;
}

.wps-logo {
	position: absolute;
	right: 20px;
	top: 10px;
}
.gs-logo {
	position: absolute;
	right: 30px;
	top: 5px;
}
.gdl-logo {
	position:absolute;
	right:15px;
	top:93px;
}


ul.product-category {
	list-style :none outside none;
	margin: 0 0 15px;
	padding: 0;
}
ul.product-category li {
	border: 1px solid #e5e5e5;
	float: left;
	margin: 0 10px 10px 0;
	padding: 0;
	width: 346px;
	min-height: 88px;
}
* html ul.product-category li  {
	height: 88px;
}

ul.product-category a {
	display: block;
	background: url(/web/images/products/category_nav.jpg) no-repeat;
	width: 349px;
	height: 0;
	padding: 88px 0 0;
	overflow: hidden;
}
ul.product-category li.category-fences a {
	background-position: 0 -88px;
}
ul.product-category li.category-decking a {
	background-position: 0 -176px;
}
ul.product-category li.category-furniture a {
	background-position: 0 -264px;
}
ul.product-category li.category-buildings a {
	background-position: 0 -352px;
}
ul.product-category li.category-treatments a {
	background-position: 0 -440px;
}

ul.other-treatments {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
ul.other-treatments li{
	list-style-type: none;
	margin: 0;
	padding: 0;
	height: 18px;
}
ul.other-treatments li p {
	margin: 0;
}

.layout-2-b #content ul#more-idea-articles p {
	font-size: 1.1em;
	font-weight: bold;
}
.layout-2-b #content ul#more-idea-articles a:link,
.layout-2-b #content ul#more-idea-articles a:visited,
.layout-2-b #content ul#more-idea-articles a:active {
	text-decoration: none;
}
.layout-2-b #content ul#more-idea-articles a:hover {
	text-decoration: underline;
}

.tester-page ul.matrix {
	margin: 0;
}


/*-------------------------------------------------

 SEARCH PAGES

-------------------------------------------------*/
#search-results-page .category {
	margin-bottom: 20px;
	padding: 0;
}

/*-------------------------------------------------

  PARTY PACK PROMOTION

-------------------------------------------------*/
#promotion-party-pack-sign-up-page #register-form {
	float: left;
	clear: both;
	padding: 0 0 50px;
}

ul.details {
	list-style: none;
}

ul.details li a:active,
ul.details li a:link, 
ul.details li a:visited {
	color: #007836;
}

/*-------------------------------------------------

  SHED OF THE YEAR 2010

-------------------------------------------------*/

#shed-of-the-year .category img {
	float: left;
	margin: 0 12px 0 0;
	width: 200px;
}
#shed-of-the-year ul.category li {
	width: 668px;
}
#shed-of-the-year #content .section .content ul.category .content {
	width: 450px;
}
#shed-of-the-year .article-introduction {
	position: relative;
}
#shed-of-the-year .article-introduction p {
	float: left;
	width: 715px;
}
#shed-of-the-year .article-introduction img {
	float: right;
	margin: 0 0 0 20px;
	position: absolute;
	right: 0;
	top: 45px;
}

/* Garden Painter styles 

--------------------------------------------------- */

#genList{
	margin-top: 20px;
}
#genList li .content img{
	border:1px solid #E5E5E5;
	height:46px;
	width:71px;
}
#genList .content span{
	position: relative;
	display: block;
	float: left;
	margin-bottom: 10px;
}
#genList .content em{
	color:#FFFFFF;
	font-size:1em;
	line-height:1.1em;
	width:62px;
	position: absolute;
	bottom: 5px;
	left: 5px;
}
#genList .content p{
	clear: both;
	margin-top: 10px;
	}

/* Gnome Promotion
---------------------------------------------------- */

#gnomeo-juliet #body #content .article-introduction{
	width: 300px;
	min-height: 400px;
	float: left;
}

* html #gnomeo-juliet #body #content .article-introduction{
	height: 400px;
}

#gnomeo-juliet #body #content .article-image{
	width: 409px;
	margin: -40px -33px 0 0;
	position: relative;
	float: right;
}

#gnomeo-juliet #content .layout-section-1{
	margin: 0 0 0 3px;
	width: 760px;
}

#gnomeo-juliet #body #content .article-introduction p{
	width: 300px;
}

#gnomeo-juliet .form dd input{
	width: 210px;
}
.image-film{
	position: absolute;
	top: -6px;
	right: 30px;
}

/* POWERPAD */

a.lozenge{
	width: 211px;
	height: 117px;
	float: left;
	margin-left: -100px;
	margin-top: 14px;
	display: block;
}
a.lozenge img{
	width: 211px;
	height: 117px;
}
a.pp-product-lozenge {
	width: 211px;
	height: 117px;
	float: left;
	margin-left: 231px;
	margin-top: -55px;
	display: block;
}
a.pp-product-lozenge img{
	width: 211px;
	height: 117px;
}

/*------------------------------------ 

	FSC PAGE

--------------------------------------*/

#fsc-page .category li, .articles li {
	border: none;
}

#fsc-page #content .section .content .category .content, #content .section .content .articles .content {
	width: 570px;
}

/*------------------------------------ 

	JUBILEE TESTERS PROMO

--------------------------------------*/

#jubilee-testers #union-jack {
	float: left;
}
#jubilee-testers .panel {
	float: left;
	height: 240px;
    padding: 20px;
    width: 277px;
	background-color: #515151;
}
#jubilee-testers .amount {
	float: left;
	height: 20px;
    padding: 5px 20px;
    width: 275px;
	background-color: #FFF;
	border: 1px solid #515151;
}
#jubilee-testers .amount p {
	color: #515151;
}
#jubilee-testers h1{
	text-transform: uppercase;
}
#jubilee-testers h1 .red.medium{
	font-size: 24px;
	color: #e48484;
	line-height: 20px;
}
#jubilee-testers h1 .white.large{
	font-size: 83px;
	color: #fff;
	line-height: 60px;
	display: block;
	margin-top: 0;
	margin-left: -2px;
}
#jubilee-testers h1 .blue.small {
	font-size: 20px;
	color: #89a4e1;
	line-height: 16px;
	margin-top: -36px;
	display: block;
}
#jubilee-testers .panel .footnote {
	font-size: 1em;
}
#jubilee-testers .panel a {
	color: #FFF;
}
#jubilee-testers .panel a#order-button {
	width: 277px;
	padding-top: 32px;
	height: 0;
	overflow: hidden;
	display: block;
	background: url(/web/images/content/jubilee/order_all_3_testers_now.png) no-repeat 0 0;
	margin-top: 52px;
}
#jubilee-testers .panel a#order-button:hover {
	background-position: 0 -32px;
}