/*--------------------------------------------------

DEVELOPMENT CSS

REMOVE THIS FROM THE REAL SITE - THIS IS USED FOR
DEVELOPMENT OF THE SERVER CODE ONLY.

To provide basic styling before a design is applied.

--------------------------------------------------*/

/* Global
--------------------------------------------------*/
input.submit {
	background: #555;
	color: #FFF;
	padding: 3px 5px;
}
#logo {
	background: #FFF url(../images/dev/logo.gif) no-repeat center center;
	border: solid 1px #CACACA;
	margin: 10px;
	padding: 10px;
	height: 19px;
	width: 133px;
	float: left;
	display: block;
}
#logo img {
	display: none;
}
#strapline {
	display: none;
}

/* Containers
--------------------------------------------------*/
#page {
	background: #FFF url(../images/dev/page.gif) no-repeat top right;
	padding: 27px 0 10px;
	width: 960px;
	border-top: solid 1px #CACACA;
}

#header {
	border: solid 1px #CACACA;
	background: #FAFAFA url(../images/dev/header.gif) no-repeat top right;
	width: 958px;
	float: left;
	margin: 0 0 10px;
	display: inline;
}

#nav {
	border: solid 1px #CACACA;
	background: #FAFAFA url(../images/dev/nav.gif) no-repeat top right;
	float: left;
	width: 958px;
	margin: 0 0 10px;
	clear: left;
}

#body {
	background: #FFF url(../images/dev/body.gif) no-repeat top right;
	float: left;
	margin: 0 0 10px;
	padding: 27px 0 0 10px;
	border: solid 1px #CACACA;
	width: 948px;
}
* html #body {
	padding-bottom: 10px;
}
#content {
	border: solid 1px #CACACA;
	background: #FAFAFA url(../images/dev/content.gif) no-repeat top right;
	float: left;
	width: 728px;
	margin: 0 5px 10px;
	min-height: 400px;
	padding: 10px;
}
* html #content {
	height: 400px;
}
.forum-page #content,
#account-login-page #content {
	width: 916px;
	margin-left: 0;
}

#aside {
	border: solid 1px #CACACA;
	background: #FAFAFA url(../images/dev/aside.gif) no-repeat top right;
	float: left;
	width: 188px;
	margin: 0 5px 10px;
}

#footer {
	border: solid 1px #CACACA;
	background: #FAFAFA url(../images/dev/footer.gif) no-repeat top right;
	float: left;
	width: 958px;
	margin: 0 0 10px;
}

/* Navigation - Primary 
--------------------------------------------------*/
#nav li {
	padding: 7px 10px;
}

/* Navigation - Sub
--------------------------------------------------*/
#category-nav {
	padding: 10px;
}
#category-nav .ukisa-widget-accordion {
	list-style: none;
	margin: 0;
}
#category-nav .ukisa-widget-accordion h5 {
	margin: 0 0 10px;
}
#category-nav .ukisa-widget-accordion .content {
	float: left;
	clear: left;
}
#category-nav .ukisa-widget-accordion ul {
	list-style: none;
	margin: 0;
	float: left;
	clear: left;
}
#category-nav .ukisa-widget-accordion li {
	clear: left;
	float: left;
	margin: 0;
	padding: 0 0 2px;
}
#category-nav .ukisa-widget-accordion .category {
	background: #FFF;
	border: 1px solid #CACACA;
	padding: 5px;
	width: 168px;
	margin: 0 0 10px;
}

/* Navigation - Footer
--------------------------------------------------*/
#footer ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#footer li {
	margin: 0;
	padding: 7px 10px;
	float: left;
}
#colophon {
	float: left;
	padding: 7px 10px;
}


/* Mini Search
--------------------------------------------------*/
fieldset#mini-search {
	border: solid 1px #CACACA;
	background: #EEE url(../images/dev/search.gif) no-repeat top right;
	float: right;
	margin: 10px;
}

/* Search
--------------------------------------------------*/
#search {
	border: solid 1px #CACACA;
	background: #FFF url(../images/dev/search.gif) no-repeat top right;
	float: left;
	padding: 10px;
}
#search p,
#search input,
#search label {
	float: left;
	clear: none;
	margin: 0;
}

/* Navigation - Breadcrumb
--------------------------------------------------*/
#breadcrumb {
	border: solid 1px #CACACA;
	background: #FAFAFA url(../images/dev/breadcrumb.gif) no-repeat top right;
	float: left;
	width: 916px;
	padding: 7px 10px;
	margin: 0 0 10px;
	clear: left;
}
#breadcrumb p {
	margin: 0 10px 0 0;
	float: left;
}
#breadcrumb ol {
	margin: 0;
	padding: 0;
	list-style-type: none;
	float: left;
}
#breadcrumb li {
	margin: 0 0 0 10px;
	padding: 0 0 0 11px;
	float: left;
	background: url(../images/canvas/breadcrumb_stroke.gif) no-repeat 0 5px;
}
#breadcrumb li.first-child {
	background: none;
	margin-left: 0;
	padding-left: 0;
}

ul#categories {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
ul#categories li {
	border: solid 1px #CACACA;
	background: #EEE;
	float: left;
	margin: 0 20px 20px 0;
	width: 220px;
}

/* Navigation - Utility
--------------------------------------------------*/
ul#utility-nav {
	border: solid 1px #CACACA;
	background: #FFF;
	float: left;
	margin: 27px 10px 10px 0;
	padding: 7px 10px 7px 0;
	float: right;
	display: inline;
}
ul#utility-nav li {
	float: left;
	margin: 0 0 0 10px;
}


/* MINI SEARCH
--------------------------------------------------*/
#mini-search {
	float: left;
	border: solid 1px #CACACA;
	background: #FFF;
	padding: 10px;
	margin: 10px 10px 10px 0;
}
#mini-search p {
	margin: 0;
}
#mini-search label {
	position: absolute;
	left: -999em;
}

#mini-search .field {
	border: solid 1px #555;
	padding: 2px 4px;
	float: left;
}
#mini-search .submit {
	float: left;
}

/*--------------------------------------------------
   ORDER
--------------------------------------------------*/

/* LAYOUT
--------------------------------------------------*/
body.order-page #content {
	margin: 0 0 10px;
	width: 916px;
}

/* BASKET
--------------------------------------------------*/
#basket {
	width: 100%;
	background: #FFF url(../images/dev/payment-method-form.gif) no-repeat top right;
	border: solid 1px #CACACA;
	margin: 0 0 10px;
}
#basket thead th {
	padding: 10px 5px 0;
}
#basket tbody th,
#basket tbody td {
	padding: 5px;
}
#basket tbody td.animate {
	padding: 0;
}
#basket .quantity {
	width: 40px;
}
#basket-checkout {
	background: #FFF url(../images/dev/payment-method-form.gif) no-repeat top right;
	border: solid 1px #CACACA;
	padding: 10px;
	float: right;
	clear: both;
}
#basket-checkout td {
	padding: 5px;
}
.t-product-image {
	width: 90px;
	backgroundp: red;
}
.t-product-name {
	width: 355px;
	backgroundp: blue;
}
.t-quantity {
	width: 140px;
	backgroundp: green;
}
.t-price {
	width: 90px;
	backgroundp: #def;
}
.t-remove {
	width: 40px;
	backgroundp: #abc;
}
.t-remove input {
	width: 30px;
	overflow: hidden;
}
.t-line-total {
	width: 140px;
	backgroundp: #333;
}
td.animate table {
	font-size: 1em;
	width: 100%;
}
#empty-basket {
	text-align: center;
	margin: 0;
	padding: 10px 0;
}

/* PAYMENT
--------------------------------------------------*/
#payment-method-form {
	background: #FFF url(../images/dev/payment-method-form.gif) no-repeat top right;
	border: solid 1px #CACACA;
	margin: 0 10px 0 0;
	padding: 10px;
	width: 431px;
}
* html #payment-method-form {
	display: inline; /* IE6 - DFM */
}
#payment-address-form {
	background: #FFF url(../images/dev/payment-address-form.gif) no-repeat top right;
	border: solid 1px #CACACA;
	padding: 10px;
	width: 431px;
	height: 260px;
}

#confirm-order {
	background: #FFF url(../images/dev/confirm-order.gif) no-repeat top right;
	border: solid 1px #CACACA;
	clear: both;
	padding: 10px;
	float: right;
	width: 250px;
}

#order-summary {
	background: #FFF url(../images/dev/order-summary.gif) no-repeat top right;
	border: solid 1px #CACACA;
	clear: both;
	margin: 10px 0;
	padding: 10px;
	float: left;
	width: 894px
}
#delivery-address-summary {
	background: #FAFAFA url(../images/dev/order-summary.gif) no-repeat top right;
	border: solid 1px #CACACA;
	padding: 10px;
	float: left;
}
#delivery-address-summary dt {
	font-weight: bold;
}
#delivery-address-summary dd {
	padding: 0 0 10px;
}
#order-basket-summary {
	background: #FAFAFA url(../images/dev/order-summary.gif) no-repeat top right;
	border: solid 1px #CACACA;	
	padding: 10px;
	float: right;
}
#order-basket-summary table {
	width: 600px;
}
#order-basket-summary th {
	font-weight: bold;
	text-align: right;
	padding: 5px;
	word-wrap: nowrap;
}
#order-basket-summary td {
	text-align: right;
	padding: 5px;
}
#order-basket-summary table .t-quantity,
#order-basket-summary table .t-item {
	text-align: left;
	font-weight: normal;
	word-wrap: nowrap;
}
#order-basket-summary .t-item {
	width: 70%;
}
#order-basket-summary .t-total-sub th,
#order-basket-summary .t-total-sub td {
	border-top: solid 1px #CACACA;	 
}
#order-basket-summary tfoot {
	font-size: 1.1em;
}

/* ACCOUNT
--------------------------------------------------*/
#account-register,
#account-login {
	float: left;
	width: 458px;
}	



/* FORUM
--------------------------------------------------*/

/* FORUM MESSAGES
-------------------------*/
#forum-messages {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#forum-messages li {
	background: #FFF;
	border: solid 1px #CACACA;	 
	clear: left;
	float: left;
	margin: 0 0 10px;
	padding: 10px;
	width: 718px;
	position: relative;
}
#forum-messages .message-detail {
	position: absolute;
	top: 0;
	right: 0;
	background: #CACACA;
	padding: 7px 10px;
	width: 180px;
	color: #FFF;
}
#forum-messages .content {
	min-height: 39px;
	width: 550px;
}
* html #forum-messages .content {
	height: 39px;
}

#forum-message {
	background: #FFF;
	border: solid 1px #CACACA;	
	float: left;
	padding: 10px;
	width: 718px;
	clear: both;
}


/* FORUM TOPICS
-------------------------*/
#forum-topics {
	border: solid 1px #CACACA;
	border-bottom: 0;
	border-right: 0;
	width: 916px;
	margin: 0 0 20px;
}
#forum-topics thead th {
	background: #CACACA;
	padding: 3px 5px;
	font-weight: bold;
	color: #FFF;
	border-right: solid 1px #FFF;
}
#forum-topics #t-moderated {
	border-right-color: #CACACA;
}
#forum-topics td,
#forum-topics tbody th {
	background: #FFF;
	padding: 3px 5px;
	border-right: solid 1px #CACACA;
	border-bottom: solid 1px #CACACA;
}
#forum-topics h3 {
	font-size: 1em;
	margin: 0;
}
.t-thread-count {
	text-align: center;
}
.t-moderated {
	text-align: right;
}

/* FORUM THREADS
-------------------------*/
#forum-threads {
	border: solid 1px #CACACA;
	border-bottom: 0;
	border-right: 0;
	width: 916px;
	margin: 0 0 20px;
}
#forum-threads thead th {
	background: #CACACA;
	padding: 3px 5px;
	font-weight: bold;
	color: #FFF;
	border-right: solid 1px #FFF;
}
#forum-threads #t-delete,
#forum-threads #t-date-created {
	border-right-color: #CACACA;
}
#forum-threads td,
#forum-threads tbody th {
	background: #FFF;
	padding: 3px 5px;
	border-right: solid 1px #CACACA;
	border-bottom: solid 1px #CACACA;
	font-weight: normal;
}
#forum-threads h3 {
	font-size: 1em;
	margin: 0;
}
.t-thread-life,
.t-last-message,
.t-replies-count {
	text-align: center;
}
.t-delete,
.t-date-created {
	text-align: right;
}

/* FORUM MESSAGES
-------------------------*/
table#forum-messages {
	border: solid 1px #CACACA;
	border-bottom: 0;
	border-right: 0;
	width: 916px;
	margin: 0 0 20px;
}
#forum-messages thead th {
	background: #CACACA;
	padding: 3px 5px;
	font-weight: bold;
	color: #FFF;
	border-right: solid 1px #FFF;
}
#forum-messages #t-delete,
#forum-messages #t-date-created {
	border-right-color: #CACACA;
}
#forum-messages td,
#forum-messages tbody th {
	background: #FFF;
	padding: 3px 5px;
	border-right: solid 1px #CACACA;
	border-bottom: solid 1px #CACACA;
	font-weight: normal;
}
#forum-messages h3 {
	font-size: 1em;
	margin: 0;
}
.t-thread-life,
.t-last-message,
.t-replies-count {
	text-align: center;
}
.t-delete,
.t-date-created {
	text-align: right;
}

/* ADMIN
--------------------------------------------------*/
.admin-account {
	background: #FFF;
	border: solid 1px #CACACA;
	padding: 10px;
	float: left;
	width: 696px;
	clear: both;
	margin: 10px 0;
}
.admin-account .nav {
	background: #FCFCFC;
	float: left;
	border: solid 1px #CACACA;
	padding: 10px;
	margin: 0 10px 10px;
}


/* ACCOUNT-ORDERS
--------------------------------------------------*/
#account-orders {
	border: solid 1px #CACACA;
	border-bottom: 0;
	border-right: 0;
	width: 718px;
	margin: 0 0 20px;
}
#account-orders th {
	background: #CACACA;
	padding: 3px 5px;
	font-weight: bold;
	color: #FFF;
	border-right: solid 1px #FFF;
}
#account-orders td,
#account-orders tbody th {
	background: #FFF;
	padding: 3px 5px;
	border-right: solid 1px #CACACA;
	border-bottom: solid 1px #CACACA;
	font-weight: normal;
}

/* ACCOUNT-ORDER-ITEMS
--------------------------------------------------*/
#account-order-items {
	border: solid 1px #CACACA;
	border-bottom: 0;
	border-right: 0;
	/*width: 718px;*/
	margin: 0 0 20px;
}
#account-order-items th {
	background: #CACACA;
	padding: 3px 5px;
	font-weight: bold;
	color: #FFF;
	border-right: solid 1px #FFF;
}
#account-order-items td,
#account-order-items tbody th {
	background: #FFF;
	padding: 3px 5px;
	border-right: solid 1px #CACACA;
	border-bottom: solid 1px #CACACA;
	font-weight: normal;
}


/* ADMIN-TABLE
--------------------------------------------------*/
table.admin-data {
	border: solid 1px #CACACA;
	border-bottom: 0;
	border-right: 0;
	width: 718px;
	margin: 0 0 20px;
}
table.admin-data th {
	background: #CACACA;
	padding: 3px 5px;
	font-weight: bold;
	color: #FFF;
	border-right: solid 1px #FFF;
}
table.admin-data td,
table.admin-data tbody th {
	background: #FFF;
	padding: 3px 5px;
	border-right: solid 1px #CACACA;
	border-bottom: solid 1px #CACACA;
	font-weight: normal;
}

/* MULTI MAP
--------------------------------------------------*/
#stockist-map {
	border: 1px solid #CACACA;
	float: left;
	height: 348px;
	margin: 0 15px 0 0;
	position: relative;
	width: 348px;
}

/* ADMIN ORDER-SEARCH
--------------------------------------------------*/
#order-search {
	background: #FFF;
	border: 1px solid #CACACA;
	padding: 10px;
	float: left;
	margin: 0 0 10px;
	width: 696px;
}
#order-search label,
#order-search .field,
#order-search .submit {
	float: left;
	margin: 0 5px;
	clear: none;
}
#order-search-results-canvas {
	clear: both;
}
#order-search-results {
	clear: both;	
	background: #FFF;
	border: 1px solid #CACACA;
	padding: 10px;
	float: left;
}

#order-detail-extra-info dt {
	font-weight: bold;
	float: left;
	clear: left;
	padding: 0 10px 10px 0;
	width: 60px;
}
#order-detail-extra-info dd {
	padding: 0 0 10px 0;
}

#order-header {
	float: left
}
#fullfillment-status {
	float: right;
}
#fullfillment-status th {
	padding: 0 5px 10px;
}
#fullfillment-status td {
	padding: 0 5px;
}
#order-user-information {
	clear: left;
	float: left;
	width: 696px;
	padding: 10px 0;
}
#order-detail-delivery {
	float: left;
}
.order-detail-items {
	clear: both;
	float: left;
	padding: 10px 0;
}
.order-detail-items  table {
	width: 696px;
}
#order-detail-extra-info {
	float: right;
}
#order-detail-totals {
	float: right;
	clear: both;
}


/* STOCKISTS
--------------------------------------------------*/
.stockists-page #content {
	margin: 0 0 10px;
	width: 916px;
}
#stockist-aside {
	float: left;
	width: 531px;
}
#stockist-content {
	float: right;
	width: 365px;
}
#stockist-results ul {
	clear: left;
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#stockist-results ul li {
	background: #FFF;	
	border: 1px solid #CACACA;
	cursor: pointer;
	margin: 0 0 10px;
	padding: 10px;
	width: 500px;
}

/* PRODUCT DETAILS PAGE
--------------------------------------------------*/
#product-page h1 {
	font-size: 2em;
}
#product-visual {
	background: #FFF;	
	border: 1px solid #CACACA;
	display: inline;
	float: left;
	margin: 0 10px 0 0;
	padding: 10px;
	width: 228px;
}
#product-hero-image {
	background: #EEE;
	display: block;
	height: 228px;
	width: 228px;
}
#product-information {
	background: #FFF;	
	border: 1px solid #CACACA;
	display: inline;
	float: right;
	padding: 10px;
	width: 422px;
}
#product-description {
	position: relative;
}
#product-description p.price {
	position: absolute;
	top: 0;
	right: 0;
}	
#product-family {
	clear: both;
	background: #FFF;	
	border: 1px solid #CACACA;
	padding: 10px;
	float: left;
	margin: 10px 0;
}
#product-family ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#product-family li {
	clear: left;
	float: left;
	width: 660px;
	background: #EEE;	
	margin: 5px 0;
	padding: 10px;
	border: 1px solid #CACACA;
}
.variant-description {
	float: left;
}
.variant-config {
	float: right;
}
#product-documentation {
	float: left;
	clear: left;
}
#recommended-products {
	float: left;
	clear: left;
}
#product-config label {
	float: left;
	display: block;
	padding: 2px 0 0;
}
#product-config .quantity {
	border: solid 1px #555;
	padding: 2px 4px;
	float: left;
	text-align: center;
	width: 30px;
}
#product-config .submit {
	float: left;
}
#add-to-basket {
	float: left;
}
#add-to-favourites {
	float: right;
}

/* PRODUCT LIST
--------------------------------------------------*/
#product-related {
	clear: both;	
	clear: left;
	float: left;
	width: 682px;
	border: 1px solid #CACACA;
	margin: 10px 0;
	padding: 10px;
	background: #FFF;
}
#product-related ul {
	list-style: none;
	margin: 0;
}
#product-related li {
	clear: left;
	float: left;
	background: #FAFAFA;
	border: 1px solid #CACACA;
	width: 660px;
	padding: 10px;
	margin: 0 0 10px;
}
#product-related .product-view {
	background: #FFF;
	border: 1px solid #CACACA;
	float: left;
	margin: 0 10px 0 0;
	padding: 10px;
	width: 519px;
}
#product-related div {
	background: #FFF;
}

/* PRODUCT FAMILY
--------------------------------------------------*/
#product-family .variant-config {
	background: #FFF;
}
#product-family .variant-config label {
	display: block;
	float: left;
	padding: 2px 0 0;
}
#product-family .variant-config .quantity {
	float: left;
	border: solid 1px #555;
	padding: 2px 4px;
	text-align: center;
	width: 23px;
}
#product-family .variant-config .submit {
	float: left;
	clear: left;
	margin: 5px 0 0;
}


/* PRODUCT FAMILY MATRIX
--------------------------------------------------*/
#product-family.matrix {
	width: 682px;
}
#product-matrix {
	background: #FAFAFA;
	border: 1px solid #CACACA;
	padding: 10px;
}
#product-matrix table {
	background: #FFF;
	border-left: 1px solid #CACACA;
	border-top: 1px solid #CACACA;
}
#product-matrix th,
#product-matrix td {
	border-right: 1px solid #CACACA;
	border-bottom: 1px solid #CACACA;
	padding: 2px 5px;
}
#product-matrix th {
	font-weight: bold;
}
#product-matrix td input {
	margin: 0 5px 0 0;
	float: left;
}
#product-matrix td label {
	float: left;
}
#product-matrix-view {
	margin: 10px 0 0;
	background: #FAFAFA;
	border: 1px solid #CACACA;
	padding: 10px;
	float: left;
	width: 660px;
}
.product-matrix-visual {
	float: left;
}
.product-matrix-information {
	float: left;
}
.product-matrix-information label {
	display: block;
	float: left;
	padding: 2px 0 0;
}
.product-matrix-information .quantity {
	float: left;
	border: solid 1px #555;
	padding: 2px 4px;
	text-align: center;
	width: 23px;
}
.product-matrix-information .submit {
	float: left;
	clear: left;
	margin: 5px 0 0;
}

/* PRODUCT LIST
--------------------------------------------------*/
.products {
	list-style: none;
	margin: 0;
}
.products li {
	clear: left;
	float: left;
	width: 682px;
	border: 1px solid #CACACA;
	margin: 0 0 10px;
	padding: 10px;
	background: #FFF;
}
.variant-config {
	background: #FAFAFA;
	border: 1px solid #CACACA;
	padding: 10px;
	width: 100px;
}
.variant-image {
	background: #FAFAFA;
	border: 1px solid #CACACA;
	float: left;
	padding: 10px;
	margin: 0 10px 10px 0;
}
.variant-image img {
	display: block;
	width: 80px;
	height: 80px;
}
.variant-description {
	background: #FAFAFA;
	border: 1px solid #CACACA;
	float: left;
	padding: 10px;
	width: 416px;
	margin: 0 10px 10px 0;
}
.variant-config .quantity {
	width: 30px;
}

/* CATEGORY LIST
--------------------------------------------------*/
.category-group {
	background: #FFF;
	width: 682px;
	border: 1px solid #CACACA;
	padding: 10px;
	float: left;
	clear: left;
	margin: 0 0 10px;
}
.categories {
	list-style: none;
	margin: 0;
}
.categories li {
	clear: left;
	float: left;
	width: 660px;
	border: 1px solid #CACACA;
	margin: 0 0 10px;
	padding: 10px;
	background: #FAFAFA;
}
#products-landing-page .categories li {
	background: #FFF;
}
.variant-config {
	background: #FAFAFA;
	border: 1px solid #CACACA;
	padding: 10px;
	width: 100px;
}
.variant-image {
	background: #FAFAFA;
	border: 1px solid #CACACA;
	float: left;
	padding: 10px;
	margin: 0 10px 10px 0;
}
.variant-image img {
	display: block;
	width: 80px;
	height: 80px;
}
.variant-description {
	background: #FAFAFA;
	border: 1px solid #CACACA;
	float: left;
	padding: 10px;
	width: 394px;
	margin: 0 10px 10px 0;
}
.variant-config .quantity {
	width: 30px;
}
.variant-config label {
	float: left;
	display: block;
	padding: 2px 0 0;
}
.variant-config .quantity {
	border: solid 1px #555;
	padding: 2px 4px;
	float: left;
	text-align: center;
	width: 30px;
}
.variant-config .submit {
	margin: 5px 0 0;
	float: left;
}