/*--------------------------------------------------

ORDER CSS

Styles for discrete components of the checkout
process e.g.

--------------------------------------------------*/

/*--------------------------------------------------

ADD TO FAVOURITES MODAL

--------------------------------------------------*/
#add-to-favourites-modal .bd {
	height: 140px;
	width: 500px;
}
#add-to-favourites-content img {
	float: left;
}
#add-to-favourites-content p {
	height: 101px;
	margin: 0;
}
#add-to-favourites-content .content {
	float: left;
	padding: 0 0 0 20px;
	width: 390px;
}
#add-to-favourites-content p strong {
	font-size: 1.909em;
	margin: 0 0 12px;
	display: block;
}
#add-to-favourites-content p.action {
	height: auto;
}
#add-to-favourites-content p.action a {
	float: left;
	margin: 0 8px 0 0;
	display: inline;
}	
#add-to-favourites-content p.action input {
	float: left;
}
#add-to-favourites-content {
	float: left;
}