/*--------------------------------------------------

HEADINGS USING IMAGE REPLACEMENT CSS

--------------------------------------------------*/
.ir {
	background-repeat: no-repeat;
	height: 0;
	margin: 0;
	overflow: hidden;
	padding: 119px 0 0;
	width: 220px;
}

/* SPECIFIC BACKGROUNDS
--------------------------------------------------*/
.ir {
	background-image: url(../images/headings/home.gif);
}