/*--------------------------------------------------

LAYOUT CSS

Styles for the main layout components, navigation
elements, and template related styles.

--------------------------------------------------*/

/*--------------------------------------------------

  PAGE - SITE CONTAINER

--------------------------------------------------*/

#page {
	width: 968px;
	height: 100%;
	margin: 0 auto;
	/*min-height: 100%;  Safari - Header + Body + Footer */	
	text-align: left;
}

/*--------------------------------------------------

  HEADER

--------------------------------------------------*/
#header {
	background: url(/web/images/canvas/layout_sprite.png) no-repeat;
	width: 960px;
	float: left;
	min-height: 133px;
	padding: 0 4px 4px;
	position: relative;
}
* html #header { 
	background-image: url(/web/images/canvas/layout_sprite_ie6.png);
	background-position: 4px 0;
	height: 129px;
	margin-bottom: 4px;
}
#header #social-links {
	width: 193px;
	height: 34px;
	position: absolute;
	bottom: 8px;
	right: 270px;
}
#header #social-links p {
	margin: 0;
	float: left;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 1.6em;
}
#social-links p a:link,
#social-links p a:visited,
#social-links p a:hover,
#social-links p a:active{
	color: #FFFFFF;
}
#header #social-links img {
	margin: 0;
	float: right;
}

/* CONTAINERS - Header
--------------------------------------------------*/
#logo {
	float: left;
	margin: 22px 0 0 35px;
}
* html #logo {
	display: inline; /*@ WIE6 : DFM @*/
}


/*--------------------------------------------------

  BODY 

--------------------------------------------------*/
#body {
	width: 960px;
	padding: 20px 4px 20px;
	float: left;
}
.layout-2-a #body{
	width: 968px;
	margin-left: -4px;
}
.layout-2-b #body{
	width: 968px;
}
/*--------------------------------------------------

  CONTENT 

--------------------------------------------------*/
#content {
	width: 700px;
	float: right;
}

/*--------------------------------------------------

  ASIDES 

--------------------------------------------------*/
#aside {
	width: 260px;
	float: left;
}
#aside ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#aside li {
	margin: 0;
	padding: 0;
}

/*--------------------------------------------------

  FOOTER CONTENT - IDEAS PAGES

--------------------------------------------------*/

#footer-content {
	clear: both;
	float: left;
	margin-top: 20px;
}


/*--------------------------------------------------

  FOOTER 

--------------------------------------------------*/
#footer {
	clear: both;
	float: left;
	min-height: 107px;
	width: 968px;
	padding: 0 0 156px;
	position: relative;
}
* html #footer {
	padding-bottom: 100px;
}


/* NAVIGATION - Utility generic
--------------------------------------------------*/
.utility-nav {
	margin: 0;
	padding: 0;
	list-style: none;
}
.utility-nav li {
	margin: 0;
	padding: 0;
	float: left;
}
.utility-nav a:link, 
.utility-nav a:visited, 
.utility-nav a:hover, 
.utility-nav a:active {
	color: #FFF;
	text-decoration: none;
}
.utility-nav a:hover {
	text-decoration: underline;
}

/* NAVIGATION - Utility
--------------------------------------------------*/
ul#utility-nav {
	position: absolute;
	top: 28px;
	right: 39px;
}
ul#utility-nav li {
	background: url(/web/images/canvas/utility_nav_stroke.gif) no-repeat 100% 3px;
	margin: 0 10px 0 0;
	padding: 0 11px 0 0;
}
ul#utility-nav #mini-basket {
	background: 0;
	margin: 0;
	padding: 0;
}

/* NAVIGATION - Primary 
--------------------------------------------------*/
#nav {
	background: url(/web/images/canvas/layout_sprite.png) no-repeat 0 -137px;
	clear: both;
	min-height: 56px;
	padding: 0 4px;
	width: 960px;
}
* html #nav {
	background-image: url(/web/images/canvas/layout_sprite_ie6.gif);
	background-position: 4px -137px;
	height: 48px;
	margin-bottom: 4px;
}
#nav ul {
	float: left;	
	height: 48px;
	margin: 0;
	list-style: none;
	padding: 0 0 0 9px;
	width: 942px;
}
#nav li {
	margin: 0;
	padding: 0;
	float: left
}
#nav a {
	background: url(/web/images/canvas/layout_sprite.png) no-repeat -24px -193px;
	display: block;
	float: left;
	height: 0;
	overflow: hidden;
	padding: 56px 0 0;
}
* html #nav a {
	background-image: url(/web/images/canvas/layout_sprite_ie6.gif);
	padding: 56px 0 0;
}
#nav-colour a {
	background-position: -15px -193px;
	width: 112px;
}
#nav-colour.active a,
#nav-colour a:hover {
	background-position: -15px -249px;
}

#nav-sheds a {
	background-position: -127px -193px;
	width: 111px;
}
#nav-sheds.active a,
#nav-sheds a:hover {
	background-position: -127px -249px;
}

#nav-fences a {
	background-position: -237px -193px;
	width: 114px;
}
#nav-fences.active a,
#nav-fences a:hover {
	background-position: -237px -249px;
}

#nav-decking a {
	background-position: -351px -193px;
	width: 121px;
}
#nav-decking.active a,
#nav-decking a:hover {
	background-position: -351px -249px;
}

#nav-furniture a {
	background-position: -471px -193px;
	width: 129px;
}
#nav-furniture.active a,
#nav-furniture a:hover {
	background-position: -471px -249px;
}
#nav-features a {
	background-position: -603px -193px;
	width: 143px;
}
#nav-features.active a,
#nav-features a:hover {
	background-position: -603px -249px;
}
#nav-treatments a {
	background-position: -750px -193px;  
	width: 150px;
}
#nav-treatments.active a,
#nav-treatments a:hover {
	background-position: -750px -249px;
}
#nav-faq a {
	background-position: -897px -193px;  
	width: 57px;
}
#nav-faq.active a,
#nav-faq a:hover {
	background-position: -897px -249px;
}


/* NAVIGATION - Footer Primary 
--------------------------------------------------*/
#footer-nav {
	background: url(/web/images/canvas/layout_sprite.png) no-repeat 0 -306px;
	list-style: none;
	margin: 0;
	padding: 0 0 0 34px;
	float: left;
	height: 74px;
	width: 934px;
}
* html #footer-nav {
	background: url(/web/images/canvas/layout_sprite_ie6.png) no-repeat 4px -310px;
	height: 66px;
	margin: 4px 0;
}
* html #footer-nav {
	display: inline;
}
#footer-nav li {
	float: left;
	margin: 0;
	padding: 16px 20px 0 0;
}
* html #footer-nav li {
	padding-top: 12px;
}
#footer-nav a {
	/*
	display: block;
	float: left;
	height: 0;
	padding: 25px 0 0;
	overflow: hidden;
	*/
}
#footer-nav-advice p,
#footer-nav-explore p,
#footer-nav-spares p {
	margin: 4px 0;
}

#footer-nav-faq p a:link,
#footer-nav-faq p a:active,
#footer-nav-faq p a:visited,
#footer-nav-advice p a:link,
#footer-nav-advice p a:active,
#footer-nav-advice p a:visited,
#footer-nav-explore p a:link,
#footer-nav-explore p a:active,
#footer-nav-explore p a:visited,
#footer-nav-guides p a:link,
#footer-nav-guides p a:active,
#footer-nav-guides p a:visited,
#footer-nav-advert p a:link,
#footer-nav-advert p a:active,
#footer-nav-advert p a:visited,
#footer-nav-spares p a:link,
#footer-nav-spares p a:active,
#footer-nav-spares p a:visited {
	color: #77b800;
	text-decoration: none;
}

#footer-nav-faq p a:hover,
#footer-nav-advice p a:hover,
#footer-nav-explore p a:hover,
#footer-nav-guides p a:hover,
#footer-nav-advert p a:hover,
#footer-nav-spares p a:hover  {
	color: #fff;
}


/* NAVIGATION - Footer Utility
--------------------------------------------------*/
#footer ul {
	float: left;
}
#footer div.utility-nav {
	background: url(/web/images/canvas/layout_sprite.png) no-repeat 0 -382px;
	clear: both;
	height: 45px;
	width: 968px;
}
* html #footer div.utility-nav {
	background: url(/web/images/canvas/layout_sprite_ie6.gif) no-repeat 4px -382px;
}
#footer ul.utility-nav {
	padding-left: 155px;
}
#footer .utility-nav li {
	margin: 0;
	padding: 15px 25px 0 0;
	float: left;
}
#colophon {
	color: #B3B3B3;
	float: left;
	padding: 11px 0 0;
	margin: 0;
}
#footer a:link,
#footer a:visited,
#footer a:hover,
#footer a:active {
	color: #B3B3B3;
}

/* NAVIGATION - Assets
--------------------------------------------------*/
.footer-asset {
	position: absolute;
	display: block;
	background-repeat: no-repeat;
}
* html .footer-asset {
	display: none;
}
#footer-asset-wps {
	background-image: url(/web/images/global/wps_footer_asset.png);
	width: 192px;
	height: 175px;
	left: -13px;
	top: 62px;
}
#footer-asset-products {
	background-image: url(/web/images/global/products_footer_asset.png);
	width: 269px;
	height: 230px;
	right: -140px;
	top: 20px;
}


/*--------------------------------------------------

  NAVIGATION - BREADCRUMB 

--------------------------------------------------*/
#breadcrumb,
#product-selector-breadcrumb {
	float: left;
	width: 100%;
	background: #77b800;
	height: 22px;
	padding: 8px 0 0;
	margin: 0 0 20px 0;
}
#product-selector-breadcrumb{
	background: none;
	list-style: none;
}
#breadcrumb p {
	left: -999em;
	position: absolute;
}
#breadcrumb ol{
	margin: 0 20px;
	padding: 0;
	list-style: none;
}
#breadcrumb li,
#product-selector-breadcrumb li {
	margin: 0 0 0 5px;
	padding: 0 0 0 8px;
	float: left;
	color: #FFF;
	background: transparent url(/web/images/canvas/breadcrumb_stroke.gif) no-repeat center left;
}
#product-selector-breadcrumb li{
	background: transparent url(/web/images/canvas/breadcrumb_stroke_dark.gif) no-repeat center left;
}
#breadcrumb li.first-child,
#product-selector-breadcrumb li.first-child {
	margin: 0;
	padding: 0;
	background: none;
}
#breadcrumb strong {
	font-weight: normal;
}
#breadcrumb a:link,
#breadcrumb a:visited,
#breadcrumb a:hover,
#breadcrumb a:active {
	color: #FFF;
	text-decoration: none;
}
#breadcrumb a:hover {
	text-decoration: underline;
}

/* BREADCRUMB LAYOUTS
--------------------------------------------------*/
.layout-2-a #breadcrumb,
.layout-2-b #breadcrumb {
	left: -20px;
	position: relative;
	top: -8px;
	width: 757px;
}
.layout-1 .section #breadcrumb {
	left: -20px;
	position: relative;
	top: -8px;
	width: 960px;
}

/*--------------------------------------------------

CANVAS (FLASH VIDEO CONTAINER)

--------------------------------------------------*/
.content #canvas {
	margin-bottom:10px;
}

/*--------------------------------------------------

LAYOUT CONFIGURATION

The layout templates available to the site.

--------------------------------------------------*/

/* PAGE SECTIONS - default style
--------------------------------------------------*/
.page-section-1,
.page-section-2,
.page-section-3,
.page-section-4 {
	float: left;
	min-height: 400px;
	margin: 0 6px;
	width: 308px;
	display: inline; /* WIE6 - DMF */
}

/* PAGE SECTIONS - debug
--------------------------------------------------*/
.debug .layout-section-1 {
	background-color: red !important;
}
.debug .layout-section-2 {
	background-color: green !important;
}
.debug .layout-section-3 {
	background-color: blue !important;
}
.debug .layout-section-4 {
	background-color: yellow !important;
}


/* LAYOUTS - 1 column
--------------------------------------------------*/

/* LAYOUT 1
   |****|
   Full width
-------------------------*/
.layout-1 .page-section-1,
.layout-1 #content {
	width: 968px;
	margin-left: 0;
	margin-right: -4px;
}

.layout-1 .section .body {
	background-image: url(/web/images/canvas/s_l_1_1.png);
}
.half-section .section .body {
	background-image: none;
}
.layout-1 #content .section .body {
	padding: 8px 24px;
	position: relative;
}
.layout-1 .section .content {
	width: 920px;
}
.layout-1 .section-visual .content {
	width: 960px;
}
.layout-1 .layout-4-a .section-visual .content {
	width: auto;
}
.layout-1 .section .header,
.layout-1 .section .footer {
	background-image: url(/web/images/canvas/s_l_1_1.png);
}



/* LAYOUT 1 A
   |**|--|
   One half
-------------------------*/
.page-layout-1-a .page-section-1 {
	width: 474px;
	margin-left: 0;
}

/* LAYOUT 1 B
   |***|-|
   Three quarters
-------------------------*/
.page-layout-1-b .page-section-1 {
	width: 717px;
	margin-left: 0;
}
/* LAYOUT 1 C
   |*|--|
   One third
-------------------------*/
.page-layout-1-c .page-section-1 {
	width: 312px;
	margin-left: 0;
}
/* LAYOUT 1 D
   |**|-|
   Two thirds
-------------------------*/
.page-layout-1-d .page-section-1 {
	width: 353px;
	margin-left: 0;
}

/* Layouts - 2 columns
--------------------------------------------------*/

/* LAYOUT 2 
   |**|-|**|
   One half | One half
-------------------------*/
.page-layout-2 .page-section-1, 
.page-layout-2 #content {
	width: 474px;
	margin-left: 0;
}
.page-layout-2 .page-section-2 {
	width: 474px;
	margin-right: 0;
}

/* LAYOUT 2 A
   |*|-|****|
   One quarter | Three quarters
-------------------------*/
.layout-2-a .page-section-1,
.layout-2-a #content {
	width: 765px;
	float: right;
}
.layout-2-a .page-section-2,
.layout-2-a #aside {
	width: 203px;
	float: left;
}


.layout-2-a #content .section .body {
	background-image: url(/web/images/canvas/s_l_2_a_1.png);
}
.layout-2-a #content .section .body {
	padding: 8px 24px;
}
.layout-2-a #content .section .content {
	width: 717px;
}
.layout-2-a #content .section-visual .body {
	padding:0 4px;
	width: 757px;
}
.layout-2-a #content .section .header,
.layout-2-a #content .section .footer {
	background-image: url(/web/images/canvas/s_l_2_a_1.png);
}

.layout-2-a #aside .section .body {
	background-image: url(/web/images/canvas/s_l_2_a_2.png);
}
.layout-2-a #aside .section .content {
	width: 155px;
}
.layout-2-a #aside .section-visual .content {
	width: 195px;
}
.layout-2-a #aside .section .header,
.layout-2-a #aside .section .footer {
	background-image: url(/web/images/canvas/s_l_2_a_2.png);
}

/* LAYOUT 2 B
   |****|-|*|
   Three quarters | One quarter
-------------------------*/
.layout-2-b .page-section-1,
.layout-2-b #content {
	width: 765px;
	float: left;
}
.layout-2-b .page-section-2,
.layout-2-b #aside {
	float: right;
	margin-left: -2px;
   	width: 205px;
}

.layout-2-b #content .layout-2-b {
	float: left;
	width: 100%;
}
.layout-2-b #content .section .body {
	background-image: url(/web/images/canvas/s_l_2_b_1.png);
}
.layout-2-b #content .section .body {
	padding: 8px 24px;
	position: relative;
}
.layout-2-b #content .section .content {
	width: 717px;
}
.layout-2-b #content .section-visual .body {
	padding:0 4px;
	/*width: 757px;*/
}
.layout-2-b #content .section .header,
.layout-2-b #content .section .footer {
	background-image: url(/web/images/canvas/s_l_2_b_1.png);
}

.layout-2-b #aside .section .body {
	background-image: url(/web/images/canvas/s_l_2_b_2.png);
}
.layout-2-b #aside .section .content {
	width: 175px;
}
.layout-2-b #aside .section-visual .content {
	width: 195px;
}
.layout-2-b #aside .section .header,
.layout-2-b #aside .section .footer {
	background-image: url(/web/images/canvas/s_l_2_b_2.png);
}

/* Layout 2 GR A - Golden ratio - 1third 2third 
-------------------------------------------------- */

body.layout-2-gr-a #aside{
	width: 357px;
	float: left;
	margin-right: 20px;
}
body.layout-2-gr-a #content{
	width: 583px;
	float: left;
}

/* Layout 2 Golden ratio with narrow aside 
--------------------------------------------------- */
.layout-2-gr-narrow #aside{
	width: 207px;
	padding: 10px;
	background: url(/web/images/canvas/product_aside_bg.png);
	margin-bottom: 20px;
}
.layout-2-gr-narrow #content{
	width: 713px;
	padding: 10px;
	background: url(/web/images/canvas/product_content_bg.png);
	margin-bottom: 20px;
}

/* LAYOUT 2-B - 2-B
-------------------------*/
body.layout-2-b .layout-2-b .layout-section-1 {
	width: 522px;
	float: left;
}
body.layout-2-b .layout-2-b .layout-section-2 {
	width: 243px;
	float: right;
}

body.layout-2-b #content .layout-2-b .layout-section-1 .body {
	background-image: url(/web/images/canvas/s_l_2_b_2_b_1.png);
}

body.layout-2-b #content .layout-2-b .layout-section-1 .content {
	width: 474px;
}
body.layout-2-b #content .layout-2-b .layout-section-2 .content {
	width: 195px;
}
body.layout-2-b #content .layout-2-b .layout-section-1 .section-visual .content,
body.layout-2-b #content .layout-2-b .layout-section-2 .section-visual .content {
	width: auto;
}

body.layout-2-b #content  .layout-2-b .layout-section-1 .header,
body.layout-2-b #content  .layout-2-b .layout-section-1 .footer {
	background-image: url(/web/images/canvas/s_l_2_b_2_b_1.png);
}

body.layout-2-b #content .layout-2-b .layout-section-2 .body {
	background-image: url(/web/images/canvas/s_l_2_b_2_b_2.png);
}
body.layout-2-b #content  .layout-2-b .layout-section-2 .header,
body.layout-2-b #content  .layout-2-b .layout-section-2 .footer {
	background-image: url(/web/images/canvas/s_l_2_b_2_b_2.png);
}

/* LAYOUT 2 D
   |*|-|**|
   One quarter | One quarter | one half
-------------------------*/
body .layout-2-d {
	float: left;
	width: 50%;
}

body .layout-2-d .layout-section-1{
	width: 203px;
	float: left;
}
body .layout-2-d .layout-section-1 .section .body{
	background-image: url(/web/images/canvas/s_l_4_a_1_4.png);
}
body .layout-2-d .layout-section-1 .section .header,
body .layout-2-d .layout-section-1 .section .footer{
	background-image: url(/web/images/canvas/s_l_4_a_1_4.png);
}
body .layout-2-d .layout-section-2
{
	width: 281px;
	float: left;
}
body .layout-2-d .layout-section-2 .section .body{
	background-image: url(/web/images/canvas/s_l_4_a_2_3.png);
}
body .layout-2-d .layout-section-2 .section .header,
body .layout-2-d .layout-section-2 .section .footer {
	background-image: url(/web/images/canvas/s_l_4_a_2_3.png);
}

.half-section{
	float: right;
	width: 480px;
	margin-right: 4px;
}


/* Layouts - 3 columns
--------------------------------------------------*/

/* LAYOUT 3 
   |*|-|*|-|*|
   One third | One third | One third 
-------------------------*/
.page-layout-3 .page-section-1 {
	width: 312px;
	margin-left: 0;
}
.page-layout-3 .page-section-2,
.page-layout-3 #content  {
	width: 312px;
}
.page-layout-3 .page-section-3 {
	width: 312px;
	margin-right: 0;
}

/* LAYOUT 3 A
   |**|-|****|-|*|
   ? | ? | ? 
-------------------------*/
.page-layout-3-a .page-section-1 {
	width: 231px;
	margin-left: 0;
}
.page-layout-3-a .page-section-2,
.page-layout-3-a #content {
	width: 535px;
}
.page-layout-3-a .page-section-3 {
	width: 170px;
	margin-right: 0;
}

/* Layouts - 4 columns
--------------------------------------------------*/
.layout-4-a .layout-section-1,
.layout-4-a .layout-section-2,
.layout-4-a .layout-section-3,
.layout-4-a .layout-section-4 {
	float: left;
}

/* LAYOUT 4
   |*|-|*|-|*|-|*|
   One quarter | One quarter | One quarter | One quarter 
-------------------------*/
.page-layout-4 .page-section-1 {
	width: 231px;
	margin-left: 0;
}
.page-layout-4 .page-section-2,
.page-layout-4 #content  {
	width: 231px;
}
.page-layout-4 .page-section-3 {
	width: 231px;
}
.page-layout-4 .page-section-4 {
	width: 231px;
	margin-right: 0;
}


/* LAYOUT 4 A
   |*|-|**|-|**|-|*|
   One quarter | One quarter+ | One quarter+ | One quarter 
-------------------------*/
body .layout-4-a {
	float: left;
	width: 100%;
}

body .layout-4-a .layout-section-1,
body .layout-4-a .layout-section-4 {
	width: 203px
}
body .layout-4-a .layout-section-1 .section .body,
body .layout-4-a .layout-section-4 .section .body {
	background-image: url(/web/images/canvas/s_l_4_a_1_4.png);
}
body .layout-4-a .layout-section-1 .section .header,
body .layout-4-a .layout-section-4 .section .header,
body .layout-4-a .layout-section-1 .section .footer,
body .layout-4-a .layout-section-4 .section .footer {
	background-image: url(/web/images/canvas/s_l_4_a_1_4.png);
}
body .layout-4-a .layout-section-2,
body .layout-4-a .layout-section-3 {
	width: 281px
}
body .layout-4-a .layout-section-2 .section .body,
body .layout-4-a .layout-section-3 .section .body {
	background-image: url(/web/images/canvas/s_l_4_a_2_3.png);
}
body .layout-4-a .layout-section-2 .section .header,
body .layout-4-a .layout-section-3 .section .header,
body .layout-4-a .layout-section-2 .section .footer,
body .layout-4-a .layout-section-3 .section .footer {
	background-image: url(/web/images/canvas/s_l_4_a_2_3.png);
}


/*--------------------------------------------------

SECTIONS LAYOUT

DO NOT CHANGE UNLESS YOU KNOW WHAT YOU ARE DOING!

--------------------------------------------------*/
.sections {
	float: left;
	width: 100%;
	/*overflow: hidden;*/
}
.section {
	float: left;
	width: 100%;
	position: relative;
}
.layout-2-b .section{
	margin-left: -3px;
}
.section .header {
	height: 4px;
	overflow: hidden;
	width: 100%;
	float: left;
	background-repeat: no-repeat;
}
.section .footer {
	height: 4px;
	overflow: hidden;
	width: 100%;
	background-repeat: no-repeat;
	background-position: 0 -6px;
	float: left;
}
.section .body {
	background-repeat: repeat-y;
	background-position: 100% 0;
	float: left;
	padding: 8px 24px;
	position: relative;
}
.section .content {
	float: left;
}
.section-internal-gr-wide{
	width: 423px;
	padding: 10px;
}
.section-internal-gr-narrow{
	width: 260px;
	padding: 10px 0 10px 10px;
}
#content .section-internal-gr-narrow{
	padding: 0 0 10px 10px;
}
.section-golden-wide{
	width: 352px;
}
.layout-1 .section-golden-wide .content{
	width: 352px;
}
.layout-1 .section-golden-wide.first-child .content{
	width: 213px;
}
.section-golden-narrow{
	width: 196px;
	padding: 10px;
}
.layout-1 .section-golden-narrow .content{
	width: 216px;
}

/* SECTION HALVES

---------------------------------------------------*/

.layout-2-b .section .section-half {
	border: 1px solid #E5E5E5;
	float: left;
	margin: 10px 10px 10px 0;
	padding: 10px;
	width: 330px;
}

.layout-2-b .section .clear {
	margin-right: 0;
}

/* SECTION VISUAL
   
   Remove padding to allow image or background to 
   fill the entire section.
--------------------------------------------------*/
#body .sections .section-visual .body {
	padding: 0 4px;
}

/*--------------------------------------------------

FORM LAYOUT

Standard form layout styles.

DO NOT CHANGE UNLESS YOU KNOW WHAT YOU ARE DOING!

--------------------------------------------------*/
.form {
	float: left;
	width: 100%;
}
.form fieldset {
	float: left;
	width: 100%;
}
.form dl {
	float: left;
	margin: 0 0 10px;
	width: 100%;
}
.form dl dl {
	margin: 0;
}
.form dt {
	clear: left;
	float: left;
	padding: 5px 0;
	min-height: 16px;
	width: 126px;	
}
.form dt.full-description {
	width: auto;
}
.form dd.full-description {
	clear: left;
	padding-left: 0;
}
.form dt.description {
	padding-left: 108px;
	width: auto;
}
.form dd.description {
	clear: left;
}
.form dd span.text-nudge{
	padding-top: 5px;
	float: left;
}
* html .form dt {
	height: 21px;
}
.form dd input {
	padding: 3px 4px 0;
	width: 226px;
}
.form dd input.radio{
	width: 13px;
}	
.form dt em {
	position: absolute;
	left: -999em;
}
.form dd textarea {
	border: 1px solid #CCC;
	height: 100px;
	overflow: auto;
	width: 232px;
}
.form dd select {
	margin: 3px 0 0;
}
.form dd {
	min-height: 26px;
	padding: 0 0 5px 126px;
/*	line-height: 26px; removed by tom as it made the opt in text line height bad - discuss with Tom */
}
#home-page .form dt{
	width: 180px;
}
#home-page .form dd{
	padding: 0 0 5px 178px
}
#product-selector-form.form dt,
#home-page form.product-selector-canvas dt{
	width: 0;
}
#product-selector-form.form dd,
#home-page form.product-selector-canvas dd{
	padding: 0 0 5px 0;
}

.form dd p {
	padding: 5px 0 0;
	margin: 0;
}
.form label em {
	background: url(/web/images/global/required.gif) no-repeat;
	height: 0;
	overflow: hidden;
	display: inline-block;
	padding: 1em 0 0;
	width: 7px;
	position: static;
	left: 0;
	margin: 0 0 0 3px;
}

#content .form .submit {
	clear: both;
	margin: 0 0 0 116px;
}


#content .form dd input.submit {
	width: auto;
	margin: 0;
	height: auto;
	padding: 0;
}

.form #forgotten-password {
	clear: both;
	margin: 10px 0 10px 116px;
}

/* Change the form style to fit into boxes
--------------------------------------------------*/
.section-half .form dd input {
	width: 215px;
}

/* Form option list
--------------------------------------------------*/
.form dd li .form-skin {
	background: none;
	padding: 0;
	float: left;
}
.form dd li input {
	background: none;
	width: auto;
	height: auto;
	padding: 0;
}
.form dd ul {
	list-style: none;
	margin: 0;
	padding: 5px 0 0;
}
.form dd li input {
	float: left;
	margin: 0 1em 0 0;
}
.form dd li label {
	color: #575757;
}
.form dd li p {
	color: #575757;
	padding: 0 0 0 5px;
	float: left;
	width: 300px; /* FF - neesd width or it drops down */
}
.form dd ul {
	float: left;
	width: 100%;
}
.form dd li {
	clear: left;
	float: left;
	margin: 0 0 5px;
	width: 100%;
}
* html .form dd li {
	float: none;
}

.form dd p.note {
	display: block;
	float: left;
}

#confirm-order .form dt  {
	width: 0;
}
#confirm-order .form dd  {
	padding: 0;
}
#delivery-address-summary dd {
	margin: 0 0 10px;
}

/* Form elements skins 
--------------------------------------------------*/
.form-skin {
	background: url(/web/images/canvas/form_skin_sprite.gif) no-repeat;
	display: inline-block;
	padding: 0 0 0 6px;
	/*position: relative;*/
	float: left; /* Validation message fix for FF */
	margin-right: 6px;
}
.form-skin input {
	background: url(/web/images/canvas/form_skin_sprite.gif) no-repeat 100% -26px;
	border: 0;
	float: left; /* IE - this fixes the 1px drop down with the input */
	height: 23px;
	padding: 5px 6px 0 0;
}
.form .form-skin textarea {
	background: url(/web/images/canvas/form_skin_sprite.gif) no-repeat 0 -52px;
	border: 0;
	margin: 0 0 0 -6px;
	height: 138px;
	width: 334px;
	float: left;
	padding: 4px 10px;
}


/* Forms with one field and a button
--------------------------------------------------*/
.scalar-form label {
	position: absolute;
	left: -999em;
}
.scalar-form p .field {
	border: 1px solid #CCC;
	height: 17px;
	padding: 3px 4px 0;
	width: 226px;
	margin: 0 10px 0 0;
	float: left;
}
.scalar-form .submit {
	float: left;
}


/*  Form date
--------------------------------------------------*/
dl.date {
	font-size: 1em;
}
dl.date dt {
	position: absolute;
	left: -999em;
	float: left;
	width: auto;
}
dl.date dd {
	float: left;
	padding: 0 0 5px 0;
}

/* Custom form elements
--------------------------------------------------*/
.form dd input.postcode {
	width: 148px;	
}
#card-cvv {
	width: 60px;
}

/*--------------------------------------------------

ARTICLES LAYOUT

Listing for news and general content.

--------------------------------------------------*/
.category,
.articles {
	list-style: none;
	float: left;
	margin: 0;
	width: 100%;
	padding: 0;
}
.category li,
.articles li {
	border-top: solid 1px #e5e5e5;
	clear: none;
	float: left;
	margin: 0;
	padding: 12px 0;
	width: 528px;
}
.category li{
	width: 100%;
}
.category img,
.articles img {
	float: left;
	margin: 0 12px 0 0;
	width: 100px;
	border: 1px solid #E5E5E5;
}
#guide-page .category img{
	width: 200px;
}
.category h3,
.articles h3 {
	font-size: 1.6em;
	color: #2A722C;
}
#content .section .content .category .content,
#content .section .content .articles .content {
	float: left;
	width: 410px;
}
.vertical-articles li{
	width: 348px;
	margin-right: 20px;
}
.vertical-articles li.last-child,
#content .section .content .vertical-articles ul.before-after li.last-child{
	margin-right: 0;
}
#content .section .content .vertical-articles li .content{
	width: 348px;
	padding-top: 20px;
}
#content .section .content .vertical-articles li img{
	width: auto;
	height: auto;
}
#content .section .content .vertical-articles ul.before-after{
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	border: none;
}
#content .section .content .vertical-articles ul li{
	border: none;
}
#content .section .content .vertical-articles ul.before-after li{
	margin: 0 20px 0 0;
	padding: 0;
	float: left;
	border: none;
	width: 164px;
}
/*--------------------------------------------------

MATRIX LAYOUT

Listing for news and general content.

--------------------------------------------------*/

.matrix {
	list-style: none;
	float: left;
	margin: 0;
	padding: 0;
	width: 100%;
}
.matrix li {
	clear: none;
	float: left;
	margin: 0 6px 8px 0;
	padding: 12px 6px;
	width: 100px;
	min-height: 160px;
	background: #fff;
}
* html .matrix li {
	height: 160px;
}
.matrix li img {
	float: left;
	margin: 0 0 5px 0;
	width: 100px;
	border: 1px solid #E5E5E5;
}
#content .section .content .matrix .content {
	width: 100px;
}
.matrix h5{
	font-size: 0.9em;
	text-align: center;
}
.matrix p{
	text-align: center;
}
.matrix .submit{
    display: block;
    margin: 0 auto;
    width: 88px;	
}

/*--------------------------------------------------

PRODUCT MATRIX LAYOUT

Listing for product page

--------------------------------------------------*/

.product-matrix {
	list-style: none;
	float: left;
	margin: 0;
	width: 100%;
}
.product-matrix li {
	background-color:#FFFFFF;
	border:1px solid #E5E5E5;
	clear:none;
	float:left;
	margin:0 10px 10px 0;
	min-height:142px;
	padding:10px;
	width:80px;
}
* html .product-matrix li {
	height: 142px;
}
.product-matrix li img {
	float: left;
	margin: 0 0 5px 0;
	width: 80px;
}
#content .section .content .product-matrix .content {
	width: 80px;
}

.product-matrix .content a:link,
.product-matrix .content a:active,
.product-matrix .content a:visited {
	color: #529A2C;
	text-decoration: underline;
}
.product-matrix .content a:hover {
	color: #529A2C;
	text-decoration:none;
}


/*--------------------------------------------------

SEARCH 

--------------------------------------------------*/
#search-results h3 a:link,
#search-results h3 a:visited,
#search-results h3 a:hover,
#search-results h3 a:active {
	text-decoration: none;
}
#search {
	clear: both;
}
#search h2 {
	margin: 0 0 10px;
}

/* PRODUCT LAYOUT - SECTION STYLES
--------------------------------------------------*/

#product-information {
	float: left;
	margin: 0 20px 0 0;
	width: 430px;
}

.introduction p {
	font-weight: bold;
}

ul.palette {
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

ul.palette li {
	float: left;
	margin: 0 6px 6px 0;
	position: relative;
}

ul.palette li img {
	border: 1px solid #e5e5e5;
	height: 46px;
	width: 71px;
}

#product-visual {
	float: left;
	margin: 6px 0 0;
	width: 266px;
}

#product-visual .product-image {
	background: #FFF;
	border: 1px solid #E5E5E5;
	padding: 10px;
	text-align: center;
	width: 244px;
	margin: 0 0 10px;
}


/* ARTICLE INTRODUCTION LIST
--------------------------------------------------*/

ul.detail {
	float:left;
	list-style-type:disc;
	margin:0 0 0 1.3em;
	padding:0;
}
ul.detail li {
	font-size:1.1em;
	margin:0 0 0.2em;
}
ul.detail li a:link {
	color: #656668;
	text-decoration: underline;
}
ul.detail li a:visited,
ul.detail li a:active {
	color: #656668;
	text-decoration: underline;
}
ul.detail li a:hover {
	color: #656668;
	text-decoration: none;
}

/*--------------------------------------------------

  3D SECURE PAGES
--------------------------------------------------*/
body.payment-3d-page #page {
	background: none;
	margin: 0;
	padding: 0;
	width: 100%;
	border: 0;
	float: none;
	min-height: 0;
}
body.payment-3d-page #body {
	background: none;
	margin: 0;
	padding: 0;
	border: 0;
	float: none;
	min-height: 0;
	padding: 20px 0;
}
body.payment-3d-page #content {
	background: none;
	margin: 0;
	width: 100%;
	border: 0;
	float: none;
	min-height: 0;
	text-align: center;
}
/* Grand Designs Gallery
--------------------------------------------------------*/

#grand-designs h3{
clear:left;
}
.gallery{
border-top:1px solid #E5E5E5;
list-style:none;
float:left;
}
.gallery li{
float:left;
width:100px;
height:100px;
margin:10px 10px 0 0;
}

.gallery li img{
border:1px solid #E5E5E5;

}

#tea-party #product-information{
margin: 0 300px 10px 0;
}
/* Shed Love
-------------------------------------------------------------*/
#twenty-uses{
margin-left:10px;
}

.shed-love-polaroid{
float:right;
width:223px;
height:382px;
}

/* Homepage
-------------------------------------------------------------*/

#home-page #we-love-sheds .content {
	background: url(/web/images/content/home/we_love_sheds_lrg.jpg) no-repeat;
	width: 195px;
	height: 277px;
}
#home-page #we-love-sheds .body {
	background: none;
}
#home-page #we-love-sheds p#shed-week {
	position: relative;
	width: 100px;
	height: 50px;
	top: 178px;
	left: 12px;
	margin: 0;
	padding: 0;
}
#home-page #we-love-sheds p#shed-week a,
#home-page #we-love-sheds p#shed-of-the-year a {
	color: #FFFFFF;
	text-decoration: none;
}
#home-page #we-love-sheds p#shed-week a:hover,
#home-page #we-love-sheds p#shed-of-the-year a:hover {
	text-decoration: underline;
}
#home-page #we-love-sheds p#shed-of-the-year {
	position: relative;
	width: 120px;
	height: 30px;
	top: 122px;
	left: 12px;
	margin: 0;
	padding: 0;
}
#product-information ul#product-colour li.advisory{
	margin: 18px 6px 6px 0;
	}
form dd input.radio-button{
	width: 20px;
	}

/* Website survey page
-------------------------------------------------------------*/

#website-survey .form dd li p {
	width: 600px; /* FF - neesd width or it drops down */
}

#website-survey #content .form .submit {
    margin: 0 0 0 48px;
	float: left;
	clear: left;
}

#website-survey .yui-panel .bd {
	height: 540px;
	overflow: auto;
	width: 800px;
}

#terms-page li.alpha {
	list-style-type: lower-alpha;
    padding-top: 10px;
}

/* Survey promo added to global aside
-------------------------------------------------------------*/

#survey-aside .section .body {
  background-repeat: repeat-y;
  background-position: 100% 0pt;
  float: left;
  padding: 0px 4px;
  position: relative;
}

/*--------------------------------------------------
  REPORTS TABLE
--------------------------------------------------*/

.admin-data td {
	width: 110px;
}