/*--------------------------------------------------

ORDER CSS

Styles for discrete components of the checkout
process e.g.

--------------------------------------------------*/
.basket {
	margin: 0;
	width: 717px;
}
.basket th {
	border-bottom: 1px solid #DEDEDE;
	padding: 0 12px 6px;
	font-weight: bold;
}
.basket td {
	border-bottom: 1px solid #DEDEDE;
	padding: 6px 12px;
}
.basket td.animate {
	padding: 0;
}
.basket td.animate table {
	font-size: 1em;
	margin: 0;
}
.empty-basket {
	font-size: 1em;
	font-weight: bold;
	text-align: center;
}

/* BASKET CHECKOUT
--------------------------------------------------*/
#basket-checkout {
	clear: both;
}
#basket-nav-checkout {
	width: 122px;
	padding: 22px 0 0;
	margin: 0 0 0 10px;
	height: 0;
	border: 0;
	overflow: hidden;
	background: url(/web/images/buttons/order/basket_checkout.gif) no-repeat;
	display: block;
	float: right;
}
#basket-nav {
	clear: both;
	float: left;
	width: 100%;
}
#basket-nav a {
	float: right;
}

/* BASKET TOTALS
--------------------------------------------------*/
#basket-totals {
	clear: both;
	float: left;
	width: 100%;
	margin-bottom: 30px;
}
#basket-totals table {
	float: right;
}	
.minimum-order #basket-nav-continue {
	display: none;
}
#basket-nav #minimum-order-warning {
	display: none;
}
#basket-nav.minimum-order #minimum-order-warning {
	display: block;
}
#basket-totals table {
	width: auto;
}
#basket-totals th {
	font-weight: bold;
	padding: 6px 12px;
	text-align: right;
}
#basket-totals td {
	padding: 6px 12px;
	text-align: right;
	border-bottom: 1px solid #DEDEDE;
}


/* ORDER REVIEW
--------------------------------------------------*/
#confirm-order p.form {
	margin: 6px 0 0;
	width: auto;	
}
#confirm-order input.submit {
	float: right;
}
#secure-process {
	clear: both;
	float: left;
	margin: 20px 0 0;
}


/* MINI BASKET
--------------------------------------------------*/
#mini-basket table {
	margin: 0 0 6px;
	width: 150px;
}
#mini-basket th,
#mini-basket td {
	padding: 3px 0;
}
#mini-basket .t-quantity {
	text-align: right;
}
#mini-basket td.t-quantity {
	vertical-align: top;
}
.t-quantity label {
	position: absolute;
	left: -999em;
}
.t-product-image img {
	border: 1px solid #E5E5E5;
}
.t-quantity .field {
	width: 30px;
	text-align: center;
	float: left;
}
.t-quantity .form-skin {
	float: left;
}
#content .t-quantity .form-skin input {
	height: 21px;
}
#content .t-quantity .submit {
	width: 57px;
	padding: 22px 0 0;
	height: 0;
	border: 0;
	overflow: hidden;
	background: url(/web/images/buttons/order/basket_update.gif) no-repeat;
	display: block;
	margin: 1px 0 0 5px;
	float: left;
	clear: none;
}
.t-quantity .submit-loading {
	width: 57px;
	padding: 22px 0 0;
	height: 0;
	border: 0;
	overflow: hidden;
	background: url(/web/images/buttons/loader.gif) no-repeat center center;
	display: block;
	float: left;
}

.t-remove input {
	width: 75px;
	padding: 22px 0 0;
	height: 0;
	border: 0;
	overflow: hidden;
	background: url(/web/images/buttons/order/basket_remove.gif) no-repeat;
	display: block;
}
.t-product-image {
	width: 60px;
}
.t-product-name {
	width: 305px;
}
.t-quantity {
	text-align: center;
	width: 132px;
}
.t-price {
	width: 60px
}
.t-remove {
	width: 76px
}
.t-line-total {
	text-align: right;
	width: 61px;
}
tr.t-grand-total {
	font-size: 1.4em;
	font-weight: bold;
}

/* BREADCRUMBS
--------------------------------------------------*/
#checkout-progress {
	list-style: none;
	margin: 0;
}
#checkout-progress {
	float: left;
	width: 960px;
	height: 22px;
	padding: 8px 0 0;
	position: relative;
	left: -20px;
	top: -8px;
	background: #77B800;
	color: #fff;
}
#checkout-progress p {
	float: left;
	padding: 0 5px 0 22px;
	margin: -3px 0 0 0;
}
#checkout-progress ol {
	margin: 0;
	padding: 0;
	list-style: none;
}
#checkout-progress li {
	margin: 0 0 0 5px;
	padding: 0 0 0 8px;
	float: left;
	background: transparent url(../images/canvas/checkout_stroke.gif) no-repeat center left;
}
#checkout-progress li.first-child {
	margin: 0;
	padding: 0;
	background: none;
}
#checkout-progress strong {
	font-weight: normal;
}
#checkout-progress em {
	font-weight: bold;
}

/* PAYMENT
--------------------------------------------------*/
#payment-method-form,
#payment-address-form {
	float: left;
	width: 50%;
}
#payment-method-form fieldset, 
#payment-address-form fieldset {
	padding: 0 40px 0 0;
}
#order-summary {
	clear: both;
}


/*--------------------------------------------------

ACCOUNT CSS

Styles for account section

--------------------------------------------------*/
#account-login dd input {
	width: 214px;
}
#account-login .strong {
	clear: both;
	padding: 12px 0 0;
	margin: 0;
}

/*--------------------------------------------------

ADD TO BASKET MODAL

--------------------------------------------------*/
#add-to-basket-modal .bd {
	height: 140px;
	width: 500px;
}
#add-to-basket-content img {
	float: left;
}
#add-to-basket-content p {
	height: 101px;
	margin: 0;
}
#add-to-basket-content .content {
	float: left;
	padding: 0 0 0 20px;
	width: 348px;
}
#add-to-basket-content p strong {
	font-size: 1.909em;
	margin: 0 0 12px;
	display: block;
	color: #2A722C;
}
#add-to-basket-content p.action {
	height: auto;
}
#add-to-basket-content p.action a {
	float: left;
	margin: 0 8px 0 0;
	display: inline;
}	
#add-to-basket-content p.action input {
	float: left;
}
#add-to-basket-content {
	float: left;
}


/*--------------------------------------------------

GROUP ADD TO BASKET ASIDE

--------------------------------------------------*/
#group-add-to-basket .content {
	background: #fffdd7 url(/web/images/content/promotions/garden_shades_testers.gif) no-repeat;
}
#group-add-to-basket h3 {
	position: absolute;
	left: -999em;
}
#group-add-to-basket p.introduction {
	font-weight: bold;
	padding: 103px 10px 7px;
	margin: 0;
}
#group-add-to-basket p.detail {
	font-weight: bold;
	margin: 0;
	padding: 0 10px;
	float: left;
}
#body #group-add-to-basket ul .content {
	background: none;
	float: left;
	width: 112px;
	padding: 0 0 0 10px;
}
#group-add-to-basket ul {
	width: 100%;
	float: left;
}
#group-add-to-basket li {
	border-top: solid 1px #DDD;
	padding: 10px 0;
	margin: 0 10px;
	clear: left;
	float: left;
	width: 175px;
	display: inline;
}
#group-add-to-basket li img {
	border: solid 1px #DDD;
	float: left;
	width: 50px;
	height: 50px;
}
#group-add-to-basket h6 {
	margin: -3px 0 0;
	font-size: 1em;
}
#group-add-to-basket li p {
	margin: 0 0 5px;
}

#body #group-add-to-basket p.detail {
	padding: 0 0 12px 10px;
}

/*--------------------------------------------------

ACCOUNT LOGIN

--------------------------------------------------*/
#account-login {
	float: left;
	width: 50%;
}
#account-register {
	float: left;
	width: 50%;
}
#account-login .content, 
#account-register .content {
	width: auto;
	padding: 0 50px 0 0;
}
#login-form p.detail {
	clear: both;
	padding: 20px 0 0 108px;
	margin: 0;
}

#party-pack-page #account-login {
	border-right: 1px solid #E5E5E5;
	float: left;
	margin: 0 10px 10px 0;
	padding-right: 15px;
	width: 345px;
}

#party-pack-page #account-register {
	float: left;
	margin-left: 10px;
	width: 335px;
}

#account-nav li {
	padding: 0 0 7px;
}
#account-orders .t-line-total {
	width: auto;
}


#payment-detail #payment-method-summary {
	float: left;
	width: 50%;
}
#payment-detail #order-summary {
	float: left;
	width: 50%;
	clear: none;
}
#order-basket-summary {
	clear: both;
	float: left;
	width: 100%;
}
#order-basket-summary .basket {
	width: 100%;
}
#security-notice {
	float: left;
}
#confirm-order {
	float: left;
	clear: both;
	width: 100%;
}
#confirm-order dl {
	width: auto;
}
#confirm-order .form .submit {
	clear: none;
	margin: 0;
}
#confirm-order label[for=terms] {
	width: 280px;
}
#confirm-order label[for=terms] span {
	width: 244px;
	padding-right: 10px;
}
#confirm-order label[for=terms] input {
	margin-top: 14px;
	float: left;
}
#3ds-info {
	margin-bottom: 15px;
}
#security-notice {
	width: 400px;
	float: left;
	clear: left;
}
#security-notice ul {
	list-style: none;
	margin-left: 0;
}
#security-notice li {
	float: left;
	padding: 0 30px 20px 0;
	text-align: center;
}
#security-notice li img {
	display: block;
}
#security-notice p {
	clear: both;
}

#checkout-security {
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

#checkout-security li {
	float: left;
	margin-right: 6px;
}

#checkout-security li img {
	background: #fff;
	padding: 8px;
	border: 1px solid #e5e5e5;
}
#checkout-security li p {
	margin-top: 4px;
}

#payment-address-form {
	position: relative; /* Nasty fix for form validation position */
}

/* order validation fix */
#confirm-order {
	position: relative;
}
/* order validation fix - for IE6 - ARG! */
* html #content #confirm-order .validation-error{
	position: relative;
	margin-top: -60px;
}

#order-payment-page #confirm-order .validation-error {
	margin-left: 10px;
}

/* RUSHED FIXES
--------------------------------------------------*/

#payment-3d {
	background: transparent;
}
#payment-3d body {
	background: transparent;
}
#payment-3d body #body {
	background: transparent;
	width: 100%;
}

#order-confirmation dt {
	clear: left;
	float: left;
	font-weight: bold;
	padding: 0 10px 7px 0;
}
#order-confirmation dd {
	padding: 0 0 7px 0;
}

* html #basket-page #content .form {
	float: none; /* Prevents duplicate text bug */
}


/*--------------------------------------------------

DELIVERY OPTIONS

--------------------------------------------------*/
#basket-delivery-options {
	position: relative;
	float: left;
	width: 100%;
	clear: both;
}
#basket-delivery-options fieldset {
	float: right;
}
#delivery-option-information {
	position: absolute;
	top: 0;
	left: 0;
	width: 400px;
}
#delivery-options {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 220px
}	
#delivery-options li {
	float: left;
	clear: left;
	border-bottom: 1px solid #DEDEDE;
	padding: 6px 12px;
	width: 196px;
}
#delivery-options li input {
	display: block;
	float: left;
}
#delivery-options li labal {
	display: block;
	float: left;
}
#delivery-options .name em {
	position: absolute;
	left: -999em;
}
#delivery-options .selected {
	font-weight: bold;
}

/*--------------------------------------------------

VOUCHER CODE

--------------------------------------------------*/
#basket-page #content .body .content {
	position: relative;
}
#vouchers {
	clear: both;
	float: right;
	border: solid 1px #DEDEDE;
	background: #FFF;
	position: absolute;
	bottom: 6px;
	left: 0;
	padding: 10px;
}
#vouchers p {
	float: left;
	margin: 0;
}
#vouchers label {
	display: block;
	float: left;
	padding: 5px 5px 0 0;
}
#vouchers .form-skin {
	float: left;
}
#voucher-code{
	width: 80px;
}
#vouchers .form-skin input {
	padding-top: 0;
	height: 26px;
	line-height: 26px;
}
#vouchers .submit {
	float: left;
	margin: 2px 0 0;
}