/* iFrame platform stylesheet */

.platform{
	background: none;
	overflow: auto;
	height: auto;
	min-height: inherit;
}
.platform body{
	background: none;
	overflow: auto;
	height: auto;
}
.platform #header,
.platform #footer,
.platform #aside,
.platform #nav,
.platform #breadcrumb{
	display: none;
}
.platform #page{
	width: 100%;
	margin: 0;
	height: auto;
	padding: 10px 0 0 0;
	overflow: hidden;
}
.platform #body{
	width: 96%;
	margin: 0;
	padding: 2%;
	background: #e5e5e5;
	position: relative;
}
.platform #body #content,
.platform .content,
.platform .section .content,
.platform .layout-1 .section .content{
	width: 100%;
}
.platform .body,
.platform #content .section .body{
	padding: 8px 2.4793368%
	width: 95%;
}
.platform #checkout-progress{
	width: 100%;
}
.platform #masthead{
	width: 100%;
	position: relative;
}
.platform.jubilee #masthead{
	background: url(/web/images/platform/union_jack.jpg) no-repeat right top;
	height: 312px;
}
.platform #masthead .content{
	width: 30.123434%;
	padding: 20px 2.469134%;
	font-size: 12px;
	line-height: 18px;
	color: #008632;
	background: #c9e399;
}
.platform.jubilee #masthead .content{
	color: #fff;
}	
.platform.jubilee #masthead .content{
	background: #515151;
	height: 272px;
}
.platform.jubilee #masthead .content p{
	font-size: 10px;
}
.platform #logo{
	width: 270px;
	height: 0;
	padding-top: 98px;
	position: absolute;
	right: 0;
	overflow: hidden;
	top: 0;
	z-index: 9999;
	margin: 0;
	background: url(/web/images/platform/logo.png) no-repeat 0 0;
}
.platform.jubilee h1{
	text-transform: uppercase;
}
.platform.jubilee h1 .red.medium{
	font-size: 22px;
	color: #e48484;
	line-height: 20px;
}
.platform.jubilee h1 .white.large{
	font-size: 76px;
	color: #fff;
	line-height: 60px;
	display: block;
	margin-top: -3px;
	margin-left: -2px;
}
.platform.jubilee h1 .blue.small{
	font-size: 19px;
	color: #89a4e1;
	line-height: 16px;
	margin-top: -27px;
	display: block;
}
.platform #small-basket{
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background: #b8da78 url(/web/images/platform/basket.png) no-repeat 10px center;
	padding: 10px 10px 10px 35px;
	margin: 0;
}
.platform.jubilee #small-basket{
	background: #353535 url(/web/images/platform/basket.png) no-repeat 10px center;
}
.platform #small-basket em{
	color: #008632;
}
.platform.jubilee #small-basket em{
	color: red;
}

/* Jubilee colour pennants */
#colour-pennants{
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	width: 540px;
	margin-top: -27px;
	margin-left: -6px;
}
#colour-pennants li{
	padding: 58px 22px 0 25px;
	width: 123px;
	height: 197px;
	float: left;
	margin: 0 5px 0 0;
	background: url(/web/images/platform/pennant.png) no-repeat 0 0;
}
#colour-pennants li h5{
	margin-bottom: 2px;
}
#colour-pennants li p.price{
	margin-bottom: 3px;
}
#colour-pennants li .variant-image{
	width: 120px;
	height: 62px;
	border: 1px solid #bababa;
}
#colour-pennants li .variant-image img{
	width: 100%;
}
/* Normal Colour Chips */
.platform .fb-tester-section{
	float: left;
	width: 777px;
}
.platform .matrix li{
	width: 83px;
	border: 1px solid #c9e399;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin: 0 16px 16px 0;
	min-height: 154px;
	position: relative;
}
.platform .matrix li:nth-child(7n){
	margin: 0 0 16px 0;
}
.platform .matrix .variant-image{
	width: 74px;
	height: 50px;
}
.platform .matrix .variant-image img{
	border: none;
}
.platform .matrix .submit{
	width: 81px;
	height: 0;
	padding-top: 28px;
	overflow: hidden;
	background: url(/web/images/platform/add.png) no-repeat 0 0;
	position: absolute;
	left: 8px;
	bottom: 8px;
}
.platform .matrix .submit:hover{
	background-position: 0 -28px;
}

/* Colour switcher links */
#colour-links{
	width: 776px;
	height: 10px;
	background: #fff;
	margin: 40px 0 ;
	list-style: none;
	padding: 0;
}
#colour-links li{
	width: 194px;
	float: left;
	margin-top: -30px;
	height: 50px;
}
#colour-links li a{
	display: block;
	padding: 0 0 47px 0;
	text-decoration: none;
	background: url(/web/images/platform/white_dot_sprite.png) no-repeat 0 19px;
}
#colour-links li#colour-mixing.middle a{
	background-position: 33% 19px;
	padding-left: 12px;
}
#colour-links li#decking.middle a{
	background-position: 66% 19px;
	padding-left: 12px;
}
#colour-links li.last a{
	background-position: 100% 19px;
	text-align: right;
}
#colour-links li.inactive a{
	background-position-y: -249px!important;
}
#colour-links li a:hover{
	background-position-y: -115px!important;
}
#colour-chip-container{
	width: 777px;
	position: relative;
	overflow: hidden;
}
/* Jubilee aside */
#jubilee-aside{
	width: 199px;
	margin-right: -16px;
	margin-top: -30px;
	margin-left: -10px;
	padding: 20px 30px;
	float: left;
	color: #000;
	height: 217px;
	background: url(/web/images/platform/panel.png) no-repeat 0 0;
}
#jubilee-aside h2{
	color: #a13131;
	font-size: 32px;
	margin-bottom: 10px;
	margin-left: -8px;
}
#jubilee-aside a{
	width: 197px;
	padding-top: 32px;
	height: 0;
	overflow: hidden;
	display: block;
	background: url(/web/images/platform/order_all_3_testers_now.png) no-repeat 0 0;
}
#jubilee-aside a:hover{
	background-position: 0 -32px;
}
/* Comments section */
.platform #comments-section{
	float: left;
	width: 100%;
	border-top: 1px solid #d8d8d8;
	margin-top: 20px;
	padding-top: 20px;
}
.platform #comments-section h2{
	color: #444;
}
.platform #comments-section p{
	color: #444;
}

/* basket reset styling */
.platform #content .section{
	margin: 0;
	padding: 0;
}
.platform #content .section .header,
.platform #content .section .footer{
	display: none;
}
.platform .order-page .basket{
	width: 760px;
	background: #ededed;
}
.platform .order-page .basket th{
	padding: 6px 12px;
}
.platform .order-page #content .section .body{
	background: none;
	padding: 0 10px;
	width: 760px;
}
.platform .order-page #content .section .body .content{
	width: 100%;
}
.platform #order-summary{
	background: #ededed;
	padding: 10px;
	margin: 10px 0;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	float: left;
	width: 740px;
}
.platform .form dd input{
	width: 206px;
}
.platform .form dd input#confirm-sale,
.platform #checkbox{
	width: 13px;
}
.platform #payment-method-form, .platform #payment-address-form{
	width: 369px;
}
.platform .form #payment-method-form{
	margin-right: 10px;
	padding-right: 10px; 
	border-right: 1px solid #cecece;
}
.platform #security-notice-3d-secure{
	float: left;
	width: 300px;
}