/*--------------------------------------------------

RESET CSS

Obviously, resets CSS.

--------------------------------------------------*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, 
form, fieldset, input, p, blockquote, table, th, td, embed, object {
	padding: 0;
	margin: 0; 
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
fieldset, img, abbr {
	border: 0;
}
address, caption, cite, code, dfn, em, 
h1, h2, h3, h4, h5, h6, strong, th, var {
	font-weight: normal;
	font-style: normal;
}
ul, ol {
	list-style: none;
}
caption, th {
	text-align: left;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
}
q:before, q:after {
	content: '';
}
a, ins {
	text-decoration: none;
}
img {
	vertical-align: bottom; /* WIE : stops images aligning to baseline, so they line with bottom of parent element */
	margin: 0; /* WIE : image margin reset bug */
}