/* Transitional Styles for Cuprinol, once finished these need to be transferred across to the newer pages 
*
*
*
*/

/* Swatches as BG images */
.berry-kiss{background: url(/web/images/swatches/wood/berry_kiss.jpg) no-repeat 0 0;}
.buttercup-blast{background: url(/web/images/swatches/wood/buttercup_blast.jpg) no-repeat 0 0;}
.coral-splash{background: url(/web/images/swatches/wood/coral_splash.jpg) no-repeat 0 0;}
.crushed-chilli{background: url(/web/images/swatches/wood/crushed_chilli.jpg) no-repeat 0 0;}
.dusky-gem{background: url(/web/images/swatches/wood/dusky_gem.jpg) no-repeat 0 0;}
.emerald-slate{background: url(/web/images/swatches/wood/emerald_slate.jpg) no-repeat 0 0;}
.forest-mushroom{background: url(/web/images/swatches/wood/forest_mushroom.jpg) no-repeat 0 0;}
.fresh-rosemary{background: url(/web/images/swatches/wood/fresh_rosemary.jpg) no-repeat 0 0;}
.green-orchid{background: url(/web/images/swatches/wood/green_orchid.jpg) no-repeat 0 0;}
.ground-nutmeg{background: url(/web/images/swatches/wood/ground_nutmeg.jpg) no-repeat 0 0;}
.highland-marsh{background: url(/web/images/swatches/wood/highland_marsh.jpg) no-repeat 0 0;}
.juicy-grape{background: url(/web/images/swatches/wood/juicy_grape.jpg) no-repeat 0 0;}
.jungle-lagoon{background: url(/web/images/swatches/wood/jungle_lagoon.jpg) no-repeat 0 0;}
.lemon-slice{background: url(/web/images/swatches/wood/lemon_slice.jpg) no-repeat 0 0;}
.mellow-moss{background: url(/web/images/swatches/wood/mellow_moss.jpg) no-repeat 0 0;}
.misty-lawn{background: url(/web/images/swatches/wood/misty_lawn.jpg) no-repeat 0 0;}
.pale-thistle{background: url(/web/images/swatches/wood/pale_thistle.jpg) no-repeat 0 0;}
.pink-honeysuckle{background: url(/web/images/swatches/wood/pink_honeysuckle.jpg) no-repeat 0 0;}
.purple-pansy{background: url(/web/images/swatches/wood/purple_pansy.jpg) no-repeat 0 0;}
.sandy-shell{background: url(/web/images/swatches/wood/sandy_shell.jpg) no-repeat 0 0;}
.summer-breeze{background: url(/web/images/swatches/wood/summer_breeze.jpg) no-repeat 0 0;}
.sweet-blueberry{background: url(/web/images/swatches/wood/sweet_blueberry.jpg) no-repeat 0 0;}
.warm-flax{background: url(/web/images/swatches/wood/warm_flax.jpg) no-repeat 0 0;}
.wild-eucalyptus{background: url(/web/images/swatches/wood/wild_eucalyptus.jpg) no-repeat 0 0;}
.winters-night{background: url(/web/images/swatches/wood/winters_night.jpg) no-repeat 0 0;}
.winter-well{background: url(/web/images/swatches/wood/winter_well.jpg) no-repeat 0 0;}
.barleywood{background: url(/web/images/swatches/wood/barleywood.jpg) no-repeat 0 0;}
.beach-blue{background: url(/web/images/swatches/wood/beach_blue.jpg) no-repeat 0 0;}
.beaumont-blue{background: url(/web/images/swatches/wood/beaumont_blue.jpg) no-repeat 0 0;}
.black-ash{background: url(/web/images/swatches/wood/black_ash.jpg) no-repeat 0 0;}
.coastal-mist{background: url(/web/images/swatches/wood/coastal_mist.jpg) no-repeat 0 0;}
.deep-russet{background: url(/web/images/swatches/wood/deep_russet.jpg) no-repeat 0 0;}
.forget-me-not{background: url(/web/images/swatches/wood/forget_me_not.jpg) no-repeat 0 0;}
.holly{background: url(/web/images/swatches/wood/holly.jpg) no-repeat 0 0;}
.iris{background: url(/web/images/swatches/wood/iris.jpg) no-repeat 0 0;}
.lavender{background: url(/web/images/swatches/wood/lavender.jpg) no-repeat 0 0;}
.maple-leaf{background: url(/web/images/swatches/wood/maple_leaf.jpg) no-repeat 0 0;}
.muted-clay{background: url(/web/images/swatches/wood/muted_clay.jpg) no-repeat 0 0;}
.natural-stone{background: url(/web/images/swatches/wood/natural_stone.jpg) no-repeat 0 0;}
.old-english-green{background: url(/web/images/swatches/wood/old_english_green.jpg) no-repeat 0 0;}
.pale-jasmine{background: url(/web/images/swatches/wood/pale_jasmine.jpg) no-repeat 0 0;}
.rich-berry{background: url(/web/images/swatches/wood/rich_berry.jpg) no-repeat 0 0;}
.sage{background: url(/web/images/swatches/wood/sage.jpg) no-repeat 0 0;}
.seagrass{background: url(/web/images/swatches/wood/seagrass.jpg) no-repeat 0 0;}
.seasoned-oak{background: url(/web/images/swatches/wood/seasoned_oak.jpg) no-repeat 0 0;}
.silver-birch{background: url(/web/images/swatches/wood/silver_birch.jpg) no-repeat 0 0;}
.somerset-green{background: url(/web/images/swatches/wood/somerset_green.jpg) no-repeat 0 0;}
.summer-damson{background: url(/web/images/swatches/wood/summer_damson.jpg) no-repeat 0 0;}
.sunny-lime{background: url(/web/images/swatches/wood/sunny_lime.jpg) no-repeat 0 0;}
.sweet-pea{background: url(/web/images/swatches/wood/sweet_pea.jpg) no-repeat 0 0;}
.terracotta{background: url(/web/images/swatches/wood/terracotta.jpg) no-repeat 0 0;}
.wild-thyme{background: url(/web/images/swatches/wood/wild_thyme.jpg) no-repeat 0 0;}
.willow{background: url(/web/images/swatches/wood/willow.jpg) no-repeat 0 0;}
.country-cream{background: url(/web/images/swatches/wood/country_cream.jpg) no-repeat 0 0;}
.natural-pine{background: url(/web/images/swatches/wood/natural.jpg) no-repeat 0 0;}

/* New button */
.button:link{
	text-decoration: none;
}
.button {
    background: url("/web/images/buttons/button.png") no-repeat scroll left top;
    cursor: pointer;
    display: inline-block;
    padding-left: 10px;
    text-decoration: none;
	font-family: 'Dax-Regular', Verdana, sans-serif;	
	font-size: 1.6em;
	color: #fff;
	text-shadow: 1px 1px 0px #000000;
	filter: dropshadow(color=##000000, offx=1, offy=1);
	height: 40px;
	overflow: hidden;

}
.button em {
    background: url("/web/images/buttons/button.png") no-repeat scroll right -40px;
    color: #fff;
    display: block;
    font-weight: bold;
    padding: 9px 40px 11px 0;
}

a.button:hover { background-position: left -80px; }
a.button:hover em { background-position: right -120px;
padding: 9px 40px 10px 0 }

.shadowbox-content{
	padding: 10px;
	background: #fff;
	float: left;
	-webkit-box-shadow: 0 0 10px #b7c1c8;
	-moz-box-shadow: 0 0 10px #b7c1c8;
	box-shadow: 0 0 10px #b7c1c8;
}
#aside .shadowbox-content{
	width: 337px;
}
#content .shadowbox-content{
	width: 563px;
}
#content .section-internal-gr-wide .shadowbox-content{
	width: 403px;
}
.lower-shadow{
	padding-bottom: 16px;
	float: left;
	width: 100%;
}
#content .lower-shadow{
	background: url(/web/images/global/content_shadow.png) no-repeat center bottom;
}
#content ul.articles li .lower-shadow{
	background: url(/web/images/global/article_shadow.png) no-repeat center bottom;
}
#aside .lower-shadow{
	background: url(/web/images/global/aside_shadow.png) no-repeat center bottom;
}
#footer-content{
	width: 100%;
}
#footer-content #gc-inspiration-section .lower-shadow,
#content #gc-inspiration-section .lower-shadow{
	background: url(/web/images/global/gc_shadow.png) no-repeat center bottom;
}

.shadowbox-content ul{
	float: left;
}

/* Javascript styles */
.shades-colour-link{
	position: relative;
}
.shades-tooltip{
	border: 1px solid #cccccc;
	position: absolute;
	width: 180px;
	height: 30px;
	padding: 5px;
	background: #fff;
	display: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.shades-tooltip .pointy-tip{
	border: 6px solid transparent;
	border-top-color: #ccc;
    bottom: -12px;
	height: 0;
    left: 6px;
    margin-left: -6px;
    position: absolute;
    width: 0;
}
.category .shades-tooltip img{
	float: left;
	width: 30px;
	height: 30px;
	margin-right: 0;
}
.shades-tooltip h5{
	margin-top: -4px;
}
.shades-tooltip p{
	margin-top: -2px;
	width: 100px;
}
.shades-tooltip img{
	margin: 0;
	float: left;
}
#content .shades-tooltip a{
	width: auto;
	height: auto;
	padding: 0;
}
.shades-tooltip h5,
.shades-tooltip p{
	float: left;
	margin-left: 5px;
	margin-bottom: 0;
	width: 140px;
	clear: right;
}
.oldie .shades-tooltip p{
	float: none;
	padding-left: 5px;
}
/* Slide */
#content #slider.shadowbox-content{
	width: 583px;
	padding: 10px 0;

}
.landing-page #content #slider.shadowbox-content{
	height: 307px;
}
#inspiration-page #content #slider.shadowbox-content{
	height: 440px;
	}
#slide-container{
	position: relative;
}
.slides li{
	position: relative;
	padding: 0;
	background: #fff;
}
.no-js .slides li{
	position: absolute;
	left: 10px;
	top: 10px;
}
.slides li.current-slide{
	z-index: 1;
}
.slides li img{
	margin: 0 auto;
	display: block;
}
/* Home page */
#make-your-garden-great{
	background: url(/web/images/canvas/make_your_garden_great.png) no-repeat 0 0;
	width:319px;
	height: 60px;
	text-indent: -9999em;
	margin-top: -8px;
}
#garden-shades-packshot{
	float: right;
}
#home-page #masthead{
	border-bottom: 5px solid #007836;
	margin-bottom: 30px;
	-webkit-box-shadow: 0px 5px 10px 0px #b7c1c8;
	-moz-box-shadow: 0px 5px 10px 0px #b7c1c8;
	box-shadow: 0px 5px 10px 0px #b7c1c8;
    	position:relative; 
	overflow:hidden; 
	height:320px;
	width: 580px;
	margin-right: 20px;
	float: left;
	margin-top: 10px;
}
#masthead #inspiration{
	width: 100%;
	list-style:none;
	float: left;
	margin: 0;
	padding: 0;
}
#masthead #inspiration li{
	width: 50%;
	float: left;
	margin: 0 2px 2px 0;
	padding: 0;
	display: block;
	overflow: hidden;
	height: 160px;
	background: url(/web/images/home/masthead.jpg) no-repeat 0 0;
	position: relative;
	cursor: pointer;
}
#masthead #inspiration li a{
	display: block;
	width: 100%;
	height: 100%;
}
#masthead #inspiration li.narrow{
	width: 221px;
}
#masthead #inspiration li.wide{
	width: 357px;
}
#masthead #inspiration li.last-child{
	margin: 0 0 2px 0;
}
#masthead #inspiration li a:link,
#masthead #inspiration li a:visited,
#masthead #inspiration li a:hover,
#masthead #inspiration li a:active{
	text-decoration: none;
}
#masthead #inspiration li .content{
	background: #92c800;
	position: absolute;
	right: -120px;
	top: 0;
	padding: 20px;
	width: 80px;
	height: 120px;
}
#masthead #inspiration li .content h3,
#masthead #inspiration li .content p{
	color: #fff;
	text-decoration: none;
	font-size: 1.4em;
}
#masthead #inspiration li .content p{
	font-size: 1.1em;
}
#masthead #inspiration li .content .pointer{
	width: 20px;
	height: 38px;
	position: absolute;
	left: -16px;
	top: 60px;
	background: url(/web/images/home/masthead_pointer.png) no-repeat left top;
}
#masthead #inspiration li#gardens-to-relax{
	background-position: -357px -160px
}
#masthead #inspiration li#gardens-to-share{
	background-position: 0 0;
}
#masthead #inspiration li#gardens-to-cultivate{
	background-position: -221px 0
}
#masthead #inspiration li#gardens-to-enjoy{
	background-position: 0 -160px
}
#masthead-aside{
	width: 360px;
	float: left;
	padding: 0;
	margin: 0;
	min-height: 334px;
	background: url(/web/images/global/separator.gif) repeat-x center bottom;
}
#level-one-sections{
	margin: 10px 0 40px 0;
}
#level-one-sections .section{
	min-height: 202px;
	-webkit-box-shadow: 0 0 10px #b7c1c8;
	-moz-box-shadow: 0 0 10px #b7c1c8;
	box-shadow: 0 0 10px #b7c1c8;
	padding: 10px;
	position: relative;
}
#level-one-sections #tester-sample-section{
	background: #f7f5e3;
	position: relative;
}
#level-one-sections #tester-sample-section img{
	position: absolute;
	top: -10px;
	z-index: 9999;
	left: -10px;
}
#level-one-sections #tester-sample-section h2{
	background: url(/web/images/home/paint_strip.gif) no-repeat 0 0;
	color: #fff;
	margin-top: -10px;
	margin-right: -10px;
	padding: 2px 10px 0 0;
	width: 214px;
	height: 78px;
	text-align: right;
	float: right;
}
#level-one-sections #tester-sample-section p#mtm-text{
	float: right;
	width: 187px;
	padding-top: 74px;
	height: 0;
	overflow: hidden;
	background: url(/web/images/home/make_the_most_of_your_garden.gif) no-repeat 0 0;
}
#level-one-sections #tester-sample-section p.description{
	float: right;
	clear: right;
	width: 187px;
	margin-top: 14px;
}
#level-one-sections #tester-sample-section p.last-element{
	padding-left: 178px;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-right: 10px;
	bottom: 0;
	right: 0;
	background: #007836;
}
#level-one-sections #shed-section{
	background: #fff;
}
#level-one-sections #shed-section img{
	margin: -21px 0 12px -6px;
}
#shed-section p.title{
	margin-bottom: 5px;
}
#level-one-sections #shed-section h2{
	background: url(/web/images/home/we_love_sheds.gif) no-repeat 0 0;
	width: 188px;
	height: 0;
	display: block;
	overflow: hidden;
	margin-bottom: 4px;
	padding-top: 23px;
}
#level-one-sections .last-child{
	background: url(/web/images/home/ducksback_bg.jpg) no-repeat 0 0;
}
#level-one-sections .section.section-golden-wide{
	width: 332px;
}
#level-one-sections .section .last-element{
	position: absolute;
	bottom: 10px;
	right: 10px;
}
#home-page #level-one-sections .last-child h2{
	font-size: 30px;
	color: #fff;
	text-transform: uppercase;
	margin-top: 35px;
	margin-bottom: 30px;
}
#level-one-sections .last-child p.description{
	color: #fff;
	display: block;
	width: 210px;
}
#home-page #content .sections{
	margin-left: 4px;
}
#home-page .p-tip{
	-webkit-box-shadow: 1px 1px 0px 1px #272727;
	-moz-box-shadow: 1px 1px 0px 1px #272727;
	box-shadow: 1px 1px 1px 0px #272727;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #007836;
	color: #fff;
	padding: 10px;
	float: left;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;
}
#home-page #p-tip-enjoy{
	left: 792px;
	top: 220px;
}
#home-page #p-tip-relax{
	left: 230px;
	top: 120px;
}
#home-page #p-tip-share{
	left: 980px;
	top: 110px;
}
#home-page #p-tip-cultivate{
	left: 530px;
	top: 180px;
}
.p-tip .point{
	border: 6px solid transparent;
	border-top-color: #007836;
	bottom: -12px;
	height: 0;
	left: 47%;
	margin-left: -6px;
	position: absolute;
	width: 0;
}
#home-page .p-tip h3{
	margin: 0;
}
#home-page .p-tip h3 a:link,
#home-page .p-tip h3 a:visited,
#home-page .p-tip h3 a:hover,
#home-page .p-tip h3 a:active{
	color: #fff;
}
.parallax-viewport {
    overflow: hidden;
    position: relative;
}
.parallax-layer {
    position: absolute;
}
.no-js #p-layer-2,
.oldie #p-layer-2{
	top: 0;
	left: -60px;
}
.no-js #p-layer-3,
.oldie #p-layer-3{
	top: 0;
	left: -50px;
}
.no-js #p-layer-4,
.oldie #p-layer-4{
	top: 0;
	left: -190px;
}
.no-js #p-layer-5,
.oldie #p-layer-5{
	top: 0;
	left: -200px;
}
.no-js #p-layer-6,
.oldie #p-layer-6{
	top: 0;
	left: -200px;
}
#home-page .selected a{
	font-weight: bold;
}
p.entry-para{
	padding: 0;
	clear: both;
	margin-bottom: 20px;
	font-size: 1.4em;
	color: #4d738e;
}
#home-page .lower-shadow img{
	padding: 10px;
	background: #fff;
	width: auto;
	float: left;
	-webkit-box-shadow: 0 0 10px #b7c1c8;
	-moz-box-shadow: 0 0 10px #b7c1c8;
	box-shadow: 0 0 10px #b7c1c8;
}
#home-page .section{
	margin-right: 20px;
}
#home-page .section-golden-wide h2{
	margin-bottom: 15px;
}
#home-page .section.last-child{
	margin-right: 0;
}
#cuprinol-products-overlay{
	width: 341px;
	height: 210px;
	position: absolute;
	left: 5px;
	top: 0;
	margin-top: -10px;
}	
#product-select{
	position: relative;
	width: 156px;
	height: 30px;
	padding: 0 10px;
	color: #7d7d7d;
	background: url(/web/images/buttons/button.png) no-repeat -271px -160px;
}
#product-select p{
	cursor: pointer;
}
#product-select ul{
	position: absolute;
	top: 29px;
	left: 0;
	padding: 10px;
	width: 122px;
	background: #f1f1f1;
	display: none;
	border: 1px solid #689c00;
	border-top: none;
	z-index: 9999;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
#product-select ul li a{
	width: 100%;
	display: block;
	padding: 3px 0;
}
#find-products p.last-element{
	float: right;
	margin: 0 5px 0 0;
}
#find-products a.button em{
	padding: 9px 92px 10px 0;
}
#fsc-promo{
	background: url(/web/images/home/fsc_bg.jpg) no-repeat top center #007836;
	min-height: 400px;
	color: #fff;
}
#fsc-promo p#fsc-text{
	font-size: 1.2em;
}
#fsc-promo h2{
	color: #fff;
	margin-top: 200px;
}
#fsc-promo h2 em{
	color: #8fc600;
}
#fsc-promo a.button em{
	padding: 9px 72px 11px 0;
}
/* Landing page */
#carousel li.jcarousel-item{
	height: auto;
}
#carousel li a{
	line-height: 147px;
}
#carousel li img{
	vertical-align: middle;
}
.product-short-information{
	width: 337px;
	float: left;
	margin-top: 20px;
	padding-top: 20px;
	background: url(/web/images/canvas/double_border.gif) repeat-x center top;
}
.product-short-information img{
	float: left;
}
.product-short-information .content{
	float: left;
	margin-left: 10px;
	width: 200px;
	padding-top: 20px;
}
#aside .shadowbox-content a.button{
	float: right;
	margin-right: 5px;
}
.product-short-information ul#benefits{
	margin-bottom: 20px;
}
.product-short-information li{
	width: 190px;
}
.product-name{
	padding: 10px;
	width: 317px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #e9e9e9;
	font-size: 1.1em;
	text-align: center;
	margin-bottom: 20px;
	color: #272727;
	position: relative;
	z-index: 999;
}
.product-name strong{
	font-weight: bold;
}
.landing-page ul.articles{
	float: left;
	margin: 0;
	padding: 0;
}
.landing-page #content ul.articles{
	margin-top: 14px
}
.landing-page ul.articles li{
	margin: 0 0 20px 0;
	padding: 0 0 4px 0;
	float: left;
	width: 100%;
	/* background: url(/web/images/global/separator.gif) repeat-x center bottom; */
}
#gc-inspiration-section{
	list-style: none;
	float: left;
	margin: 0;
	padding: 0;
	width: 100%;
}
#gc-inspiration-section .lower-shadow{
	background: none;
}
#gc-inspiration-section li{
	width: 284px;
	float: left;
	margin-right: 54px;
}
#gc-inspiration-section li.nth-child{
	margin-right: 0;
}

#gc-inspiration-section.gc-inspiration-matrix li {
	margin-right: 7px;
}

/*#treatment-page.landing-page ul.articles li{
	width: 281px;
	margin: 0 20px 20px 0;
}
#treatment-page.landing-page ul.articles li.nth-child{
	margin: 0 0 20px 0;
}
#treatment-page.landing-page ul.articles li .lower-shadow{
	width: 281px;
} */
.landing-page ul.articles li.last-child{
	padding: 0;
	background: none;
}
.landing-page ul.articles li .lower-shadow{
	width: 236px;
}
.landing-page ul.articles li #gc-inspiration-section .lower-shadow{
	width: 284px;
}
.landing-page ul.articles li img{
	padding: 10px;
	background: #fff;
	width: auto;
	float: left;
}
.landing-page ul.articles li .content{
	float: left;
	margin-left: 10px;
	width: 264px;
}

#treatment-page.landing-page ul.articles li .content{
	margin-left: 0;
	width: 583px;
}
.landing-page #aside .shadowbox-content .articles{
	margin-bottom: 20px;
}
.landing-page #aside .shadowbox-content .articles > li{
	background: none;
}
.landing-page #aside .shadowbox-content .articles li img{
	border: none;
}
.landing-page #aside .shadowbox-content .articles li .content{
	width: 195px;
}
.landing-page #aside .shadowbox-content .articles li .content li{
	width: 162px;
}

/* Tester page */
#gs-promotion-section{
	width: 100%;
	background: #fffde5;
	float: left;
	margin-bottom: 20px;
	position: relative;
}
#gs-promotion-section h2{
	float: right;
	width: 370px;
	height: 0;
	padding-top: 109px;
	clear: left;
	overflow: hidden;
	background: url(/web/images/content/testers/make_the_most.gif) no-repeat 0 0;
}
#gs-promotion-section > p{
	float: right;
	clear: both;
	width: 320px;
	margin-right: 10px;
}
#gs-promotion-section > h3{
	float: right;
	width: 320px;
	float: right;
	clear: both;
	margin-right: 10px;
}
#gs-promotion-section #collage{
	position: absolute;
	left: 0;
	top: 0;
}
#gs-promotion-section ul{
	width: 100%; 
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
}
#gs-promotion-section ul li{
	padding: 10px;
	height: 90px;
	float: left;
	position: relative;
}
#gs-promotion-section li#colour-selector{
	width: 406px;
	color: #fff;
	background: #007736;
}	
#gs-promotion-section li#colour-selector img{
	position: absolute;
	left: -20px;
	top: -10px;
}
#gs-promotion-section li#colour-selector h3,
#gs-promotion-section li#colour-selector p{
	margin-left: 120px;
}
#gs-promotion-section li#inspiration{
	width: 267px;
	color: #fff;
	background: #77b800;
}	
#gs-promotion-section ul li h3{
	margin-bottom: 0;
}
#gs-promotion-section ul li p.last-element{
	position: absolute;
	bottom: 10px;
	right: 10px;
}
#tester-order .content{
	float: left;
	width: 177px;
	margin-left: 20px;
}
#aside #tester-order.shadowbox-content a.button{
	float: left;
	width: 168px;
}
#tester-order img{
	float: left;
}
.tester-section, .tester-area{
	float: left;
}
.tester-area{
	position: relative;
}
.tester-prev, .tester-next{
	position: absolute;
	top: 33px;
	width: 29px;
	height: 30px;
	}
.tester-prev a, .tester-next a{
    background: url("/web/images/global/slider_arrows.gif") no-repeat scroll 0 0 transparent;
    box-shadow: 0 0 4px #B0C1CF;
    cursor: pointer;
    display: block;
    height: 30px;
    margin: 0;
    position: absolute;
    text-indent: -9999px;
    top: 0;
    width: 29px;
}
.tester-next a{
    background-position: -29px 0;
}
.tester-prev{
	left: 0;
}
.tester-next{
	right: 0;
}
#tester-types{
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
	width: 100%;
}
#tester-types li{
	float: left;
	display: inline;
	padding: 10px 1.402524%;
	margin: 0;
	background: #007736;
	width: 22.194952%;
	height: 55px;
}
#tester-types li a:link,
#tester-types li a:visited,
#tester-types li a:hover,
#tester-types li a:active{
	display: block;
	width: 100%;
	height: 100%;
	color: #fff;
	text-decoration: none;
	margin: 0;
	padding: 0;
}
#tester-types li a em{
	font-size: 0.8em;
	color: #77B800;
}	
#tester-types li:hover{
	background: #77B800;
}
#tester-types li:hover em{
	color: #007736;
}

#tester-area-container{
	margin: 20px 0;
}
#tester-types li a{
	padding: 5px 10px 5px 20px;
	display: block;
}
/* New product page */
table#colour-options-matrix p{
	margin: 0 0 5px 0;
}
#colour-options-matrix td{
	padding: 10px 6px;
	background: url("/web/images/global/separator.gif") repeat-x center bottom;
}
#colour-options-matrix tr.last-row td{
	padding: 10px 6px;
	background: none;
	}
.product-image{
	width: 240px;
	background: #fff;
	padding: 20px 10px;
	float: left;
	margin: 0 0 10px 0;
}
.product-image img{
	margin: 0 auto;
	display: block;
}

table#application-matrix {
	margin-top: 15px;
	float: left;
}

table#application-matrix td {
	padding-bottom: 8px;
	background: url("/web/images/global/separator.gif") repeat-x center bottom;
}
ul#app-type,
ul#overall-protection,
ul#easy-app{
	float: left;
	list-style: none;
	margin: -22px 0 20px 10px;
	padding: 0;
}
ul#easy-app{
	
}
#app-type li,
#overall-protection li,
ul#easy-app li{
	width: 44px;
	height: 0;
	padding-top: 44px;
	overflow: hidden;
	background: url(/web/images/canvas/application_icons.png) no-repeat 0 0;
	margin: 0 5px 0 0;
	float: left;
}
#overall-protection li{
	background: url(/web/images/canvas/protection_logoptic.png) no-repeat 0 0;
}
#overall-protection li#good{
	background-position: 0 0;
}
#overall-protection li#high{
	background-position: 0 -44px;
}
#overall-protection li#very_high{
	background-position: 0 -88px;
}
#app-type li#spray{
	background-position: 0 0;
}
#app-type li#brush{
	background-position: 0 -55px;
}
#app-type li#pad{
	background-position: 0 -110px;
}
#app-type li#aerosol{
	background-position: 0 -166px;
}
#app-type li#cloth{
	background-position: 0 -221px;
}
#easy-app #standard{
	display: none;
}
#amount-list, #benefits{
	list-style: none;
	float: left;
	margin: 0;
	padding: 0;
	width: 100%;
}
#benefits{
	margin-bottom: 20px;
}
#amount-list li, #benefits li{
	float: left;
	margin: 0 0 10px 0;
	padding: 0 0 0 30px;
	clear: both;
}
#amount-list li{
	background: url(/web/images/canvas/bullet_circle.png) no-repeat left center;
}

#benefits li{
	background: url(/web/images/canvas/tick.png) no-repeat left center;
}
#testers-available{
	float: left;
	padding: 0;
	margin: 0;
	width: 260px;
}
#testers-available a:link,
#testers-available a:visited,
#testers-available a:hover,
#testers-available a:active{
	display: block;
	width: 240px;
	padding: 10px;
	color: #fff;
	background: #007736;
	text-decoration: none;
	margin: 10px 0 0 0;
}
#testers-available a:hover{
	background: #77B800;
}
#testers-available a em{
	font-size: 0.8em;
	color: #77B800;
}	
#testers-available a:hover em{
	color: #007736;
}
/* Colour selector */
#aside #substrates{
	margin: 0;
	padding: 10px;
	width: 337px;
	background: #fff;
	float: left;
}
#substrates li{
	width: 105px;
	height: 105px;
	float: left;
	margin: 0 10px 10px 0;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	overflow: hidden;
}
#substrates li.nth-child{
	margin-right: 0;
}
#substrates li a{
	width: 105px;
	display: block;
	height: 0;
	padding-top: 105px;
	overflow: hidden;
	background: url(/web/images/colour_selector/sprite.jpg) no-repeat 0 0;
}
#substrates li#shed{

}
#substrates li#arbour a{
	background-position: -105px 0;
}
#substrates li#fence a{
	background-position: -210px 0;
}
#substrates li#furniture{
	margin-left: 55px;
	margin-bottom: 0;
}
#substrates li#planter{
	margin-bottom: 0;
}
#substrates li#furniture a{
	background-position: -315px 0;
}
#substrates li#planter a{
	background-position: -420px 0;
}
#aside #cs-colours{
	position: relative;
	width: 357px;
	overflow: hidden;
	height: 227px;
}
#aside #cs-colours #tabs{
	background: none repeat scroll 0 0 #FFFFFF;
    	float: left;
    	padding: 10px;
}
.cs-section{
	float: left;
	width: 337px;
	margin-right: 10px;
}
.cs-section ul{
	float: left;
	margin: 0;
	padding: 0;
}
#aside .cs-section li{
	width: 46px;
	overflow: hidden;
	height: 46px;
	margin-right: 2px;
	margin-bottom: 2px;
	float: left;
	cursor: pointer;
}
#colour-types{
	list-style: none;
	float: left;
	padding: 0;
	margin: 0;
}	
#colour-types li{
	float: left;
	margin: 0;
}
#colour-types li a{
	display: block;
	padding: 10px 5px;
	background: #ecf4f9;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
#colour-types li a.chosen-range{
	background: #fff;
}
#content #colour-selector-canvas{
	width: 563px;
	padding: 10px;
	background: #fff;
	position: relative;
}
#content #colour-selector-canvas .description{
	padding: 20px;
	position: absolute;
	top: 20px;
	right: 20px;
	-webkit-box-shadow: 0 0 5px #b7c1c8;
	-moz-box-shadow: 0 0 5px #b7c1c8;
	box-shadow: 0 0 5px #b7c1c8;
	background: #fff;
	text-transform: capitalize;
}
#content #colour-selector-canvas .description h3{
	margin: 0 0 10px 0;
}
#content #colour-selector-canvas .description p{
	text-align: right;
	margin: 0;
}
.canvas-loading{
	background: url(/web/images/global/ajax-loader.gif) no-repeat center center;
	min-height: 300px;
}
/* Testers Page */
.tester-page #aside{
	padding-top: 20px;
}
.tester-page #aside h3{
	background: url(/web/images/canvas/layout_sprite.png) no-repeat 0 0;
}
.tester-page #aside h3#postage{
	background-position: 0 -431px;
}
.tester-page #aside h3#once-arrived{
	background-position: 0 -455px;
}
.tester-page #aside h3,
.tester-page #aside p{
	padding-left: 30px;
	color: #457da4;
}
.tester-page #aside p{
	color: #8eb0c8;
}
#tester-tabs h3{
	margin: 0;
}
.tester-page #aside #colour-selector-link{
	background: #007736 url(/web/images/canvas/layout_sprite.png) no-repeat 127% 111%;
	margin-left: -10px;
	margin-bottom: -10px;
	padding-left: 40px;
	padding-right: 10px;
	padding-bottom: 10px;
	width: 178px;
	color: #fff;
}
.tester-page #aside #colour-selector-link a:link,
.tester-page #aside #colour-selector-link a:visited,
.tester-page #aside #colour-selector-link a:active{
	color: #fff;
	text-decoration: underline;
}
.tester-page #aside #colour-selector-link a:hover{
	text-decoration: none;
}
	
/* Inspiration page */

ul#garden-styles {
    float: left;
    list-style: none;
    margin: 0 0 10px;
    padding: 0;
    width: 100%;
}

ul#garden-styles li {
    float: left;
    margin-right: 7px;
    height: 132px;
}

ul#garden-styles a {
    background: url("/web/images/content/inspiration/type_sprite.jpg") no-repeat scroll 0 0 transparent;
    display: block;
    height: 0;
    /* overflow: hidden; */
    padding: 105px 0 0;
    width: 105px;
}

ul#garden-styles li#enjoy a{
	background-position: 0 -315px
}
ul#garden-styles li#share a{
	background-position: 0 0
}
ul#garden-styles li#relax a{
	background-position: 0 -210px
}
ul#garden-styles li#cultivate a{
	background-position: 0 -105px
}

/*
#garden-styles{
	list-style: none;
	float: left;
	margin: 0;
	padding: 0;
}
#garden-styles li{
	width: 100%;
	float: left;
	height: 105px;
	margin-bottom: 10px;
}
#garden-styles li a{
	padding: 45px 10px 47px 115px;
	display: block;
}
#garden-styles li#enjoy a{
	background: url(/web/images/content/inspiration/type_sprite.jpg) no-repeat 0 -315px
}
#garden-styles li#share a{
	background: url(/web/images/content/inspiration/type_sprite.jpg) no-repeat 0 0
}
#garden-styles li#relax a{
	background: url(/web/images/content/inspiration/type_sprite.jpg) no-repeat 0 -210px
}
#garden-styles li#cultivate a{
	background: url(/web/images/content/inspiration/type_sprite.jpg) no-repeat 0 -105px
}
*/
.colour-block{
	position: absolute;
	top: 0;
	left: 0;
}
.colour-block a:link,
.colour-block a:visited,
.colour-block a:hover,
.colour-block a:active{
	text-decoration: none;
}
.product-block{
	position: absolute;
	left: 0;
	top: 0;
	padding: 5px;
	border: 1px solid #dedede;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #fff;
}
.product-block.hidden-corner{
	left: 450px;
    top: 290px;
}
.product-block.natural-elegance{
	top: 300px;
	left: 400px;
}
#decking-protector.product-block.morning-coffee{
    left: 460px;
    top: 300px;
}
#teak-oil.product-block.morning-coffee{
    left: 300px;
    top: 200px;
}
.feature-swatch{
	width: 30px;
	height: 30px;
	display: block;
	border: 1px solid #fff;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.feature-swatch a{
	width: 30px;
	padding-top: 30px;
	height: 0;
	display: block;
}
.feature-swatch a em{
	position: absolute;
	left: -99999em
}
.slides li img.colour-tag{
	width: 30px;
	margin-top: -16px;
	margin-left: 16px;
	height: 30px;
}
ul.slides .description{
	position: absolute;
	right: 10px;
	top: 10px;
	padding: 10px;
	background: #fff;
}
ul.slides .description h2{
	margin-bottom: 0;
}
.flex-controls{
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
}
.flex-controls li{
	width: 50px;
	height: 50px;
	float: left;
	margin-right: 4px;
	border: 1px solid #fff;
}
.flex-controls li a{
	width: 50px;
	height: 50px;
	text-indent: -9999px;
	display: block;
	background: url(/web/images/content/inspiration/sprite.jpg) no-repeat 0 0;
}
.flex-controls li a.afternoon-tea {background-position: -350px -150px }
.flex-controls li a.in-time-for-dinner {background-position: -200px -150px}
.flex-controls li a.colourful-lunches {background-position: -300px -150px }
.flex-controls li a.picnic-bench {background-position: 0 -150px }
.flex-controls li a.moroccan-magic {background-position: -100px -150px }
.flex-controls li a.urban-chic {background-position: 0 -50px}
.flex-controls li a.natural-elegance {background-position: -50px -150px }
.flex-controls li a.welcoming-courtyard {background-position: -50px -50px}
/**/
.flex-controls li a.summer-celebration {background-position: -100px 0}
.flex-controls li a.work-from-home-in-style {background-position: -100px -50px}
.flex-controls li a.seaside-shades {background-position: 0 0}
.flex-controls li a.love-pets {background-position: -200px 0 }
.flex-controls li a.pretty-pastels {background-position: -100px -100px }
.flex-controls li a.urban-roof-tops {background-position: }
.flex-controls li a.breakfast-time {background-position: -350px -50px}
/**/
.flex-controls li a.quiet-arbour {background-position: -50px -100px }
.flex-controls li a.room-with-a-view {background-position: 0 -100px }
.flex-controls li a.hidden-corner {background-position: -250px 0 }
.flex-controls li a.total-relaxation {background-position: -150px 0 }
.flex-controls li a.morning-coffee {background-position: -150px -150px }
.flex-controls li a.lazy-days {background-position: -200px -100px}
.flex-controls li a.quiet-corner {background-position: -150px -50px }
.flex-controls li a.lounging {background-position: -200px -50px }
/**/
.flex-controls li a.cultivate {background-position: -300px -50px }
.flex-controls li a.stylish-garden-wood-store {background-position: -50px 0 }
.flex-controls li a.beautiful-trugs {background-position: -350px -100px }
.flex-controls li a.greenhouse-revival {background-position: -250px -100px }
.flex-controls li a.flower-magic {background-position: -300px 0 }
.flex-controls li a.potting {background-position: -150px -100px }
.flex-controls li a.creative-composting {background-position: -300px -100px }
.flex-controls li a.grow-your-own {background-position: -250px -50px }
.flex-controls li a.general-garden-storage {background-position: -250px -150px }
.flex-controls li a.cold-frame-protection {background-position: -350px 0 }

/* Set the colours - this is a long list */
#afternoon-tea-colour-1{
	top: 280px;
	left: 152px;
}
#in-time-for-dinner-colour-1{
	top: 220px;
	left: 220px;
}
#colourful-lunches-colour-1{
	top: 190px;
	left: 460px;
}
#colourful-lunches-colour-2{
	top: 250px;
	left: 310px;
}
#colourful-lunches-colour-3{
	top: 170px;
	left: 100px;
}
#picnic-bench-colour-1{
	top: 200px;
	left: 120px;
}
#picnic-bench-colour-2{
	top: 230px;
	left: 240px;
}
#picnic-bench-colour-3{
	top: 100px;
	left: 240px;
}
#moroccan-magic-colour-1{
	top: 130px;
	left: 280px;
}
#moroccan-magic-colour-2{
	top: 250px;
	left: 120px;
}
#moroccan-magic-colour-3{
	top: 340px;
	left: 200px;
}
#urban-chic-colour-1{
	top: 307px;
	left: 270px;
}
#urban-chic-colour-2{
	top: 243px;
	left: 270px;
}
#urban-chic-colour-3{
	top: 170px;
	left: 270px;
}
#welcoming-courtyard-colour-1{
	top: 70px;
	left: 180px;
}
#welcoming-courtyard-colour-2{
	top: 160px;
	left: 120px;
}
#cultivate-colour-1{
	left: 60px;
    top: 230px;
}
#cultivate-colour-2{
    left: 290px;
    top: 230px;
}
#stylish-gws-colour-1{
	left: 140px;
	top: 170px;
}
#stylish-gws-colour-2{
    left: 440px;
    top: 180px;
}
#beautiful-trugs-colour-1{
	left: 200px;
	top: 100px;
}
#beautiful-trugs-colour-2{
	left: 60px;
    top: 250px;
}
#flower-magic-colour-1{
	left: 265px;
    top: 100px;
}	
#greenhouse-revival-colour-1{
    left: 230px;
    top: 210px;
}
#greenhouse-revival-colour-2{
	left: 200px;
    top: 300px;
}	
#potting-colour-1{
	left: 380px;
    top: 310px;
}
#potting-colour-2{
    left: 350px;
    top: 150px;
}
#creative-composting-colour-1{
	left: 330px;
	top: 200px;
}
#grow-your-own-colour-1{
    left: 210px;
    top: 190px;
}
#grow-your-own-colour-2{
    left: 100px;
    top: 320px;
}
#grow-your-own-colour-3{
    left: 20px;
    top: 60px;
}
#grow-your-own-colour-4{
    left: 210px;
    top: 50px;
}
#general-garden-store-colour-1{
	left: 260px;
    top: 110px;
}
#cold-frame-colour-1{
left: 100px;
top: 210px;
}
#quiet-arbour-colour-1{
	left: 190px;
	top: 280px;
}
#quiet-arbour-colour-2{
    left: 240px;
    top: 150px;
}
#room-with-a-view-colour-1{
	left: 140px;
	top: 100px;
}
#room-with-a-view-colour-2{
    left: 100px;
    top: 310px;
}
#room-with-a-view-colour-3{
    left: 270px;
    top: 360px;
}
#total-relaxation-colour-1{
	left: 200px;
    top: 90px;
}
#total-relaxation-colour-2{
	left: 80px;
    top: 50px;
}
#lazy-days-colour-1{
	top: 50px;
	left: 130px;
}
#quiet-spot-colour-1{
    left: 100px;
    top: 190px;
}
#lounging-colour-1{
    left: 150px;
    top: 140px;
}
#summer-celebration-colour-1{
	left: 300px;
    top: 210px;
}
#summer-celebration-colour-2{
    left: 120px;
    top: 150px;
}
#summer-celebration-colour-3{
    left: 60px;
    top: 160px;
}
#wfh-in-style-colour-1{
    left: 70px;
    top: 140px;
}
#wfh-in-style-colour-3{
    left: 300px;
    top: 120px;
}
#wfh-in-style-colour-2{
    left: 200px;
    top: 150px;
}
#seaside-shades-colour-1{
    left: 230px;
    top: 130px;
}
#seaside-shades-colour-2{
    left: 100px;
    top: 260px;
}
#seaside-shades-colour-3{
    left: 240px;
    top: 260px;
}
#love-pets-colour-1{
    left: 100px;
    top: 200px;
}
#love-pets-colour-2{
    left: 150px;
    top: 100px;
}
#pretty-pastels-colour-1{
	left: 290px;
	top: 330px;
}
#pretty-pastels-colour-2{
    left: 200px;
    top: 100px;
}
#breakfast-time-colour-1{
	left: 100px;
    top: 350px;
}
#breakfast-time-colour-2{
    left: 200px;
    top: 140px;
}
/* level of protection table */
#l-o-p-page th{
	padding: 0 5px 10px;
	border: none;
}
#l-o-p-page th span{
	padding: 10px;
	display: block;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
}
#l-o-p-page th#durability-header span{
	background: #8c5507;
}
#l-o-p-page th#weatherproof-rating span{
	background: #aa6540;
}
#l-o-p-page th#rot-decay-prevention span{
	background: #ad7631;
}
#l-o-p-page th#overall-protection span{
	background: #00792c;
}
#l-o-p-page th.table-prod-name{
 	padding: 10px;
}
#l-o-p-page td, #l-o-p-page th.table-prod-name{
	background: #fff;
}
#l-o-p-page td em{
	background: url(/web/images/canvas/table_ticks.gif) no-repeat 0 0;
	display: block;
	height: 0;
	padding-top: 42px;
	margin-top: 6px;
	margin-left: 5px;
	overflow: hidden;
}
#l-o-p-page tr{
	border-bottom: 1px solid #fafafa;
}
#l-o-p-page tr.last-child,
#l-o-p-page tr.first-child{
	border-bottom: none;
}
#l-o-p-page td em.three-cd{
	width: 98px;
}
#l-o-p-page td em.three-wp{
	width: 98px;
	background-position: 0px -54px;
}
#l-o-p-page td em.three-rdp{
	width: 98px;
	background-position: 0px -101px;
}
#l-o-p-page td em.overall{
	width: 43px;
	margin: 0 auto;
}
#l-o-p-page td em.overall-very-high{
	background-position: -102px 0;
}
#l-o-p-page td em.overall-high{
	background-position: -102px -61px;
}
#l-o-p-page td em.overall-good{
	background-position: -102px -118px;
}
#l-o-p-page td em.two-ticks{
	width: 60px;
}
#l-o-p-page td em.one-tick{
	width: 30px;
}

/* Product selector */
.product-selector-canvas{
	position: relative;
}
#start-over-button{
	float: right;
	margin-top: -22px;
}
.form-button{
	width: 126px;
	height: 40px;
	text-indent: -9999em;
	border: none;
	cursor: pointer;
	float: right;
	background: url(/web/images/buttons/continue.gif) no-repeat 0 0;
}
div.buttons{
	float: left;
	position: relative;
	width: 100%;
	height: 40px;
}
.form-button.button-ajax{
	position: absolute;
	bottom: 0px;
	right: 0;
}
p.ps-back{
	position: absolute;
	bottom: 0;
	width: 102px;
	left: 0;
	margin: 0;
}
.ie7 .form-button{
	padding-top: 40px;
}
.category li #benefits{
	border: none;
}
.category li #benefits li{
	border: none;
}
/* jQuery UI Tabs */
.ui-widget { font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif; font-size: 1.1em; }
.ui-widget .ui-widget { font-size: 1em; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif; font-size: 1em; }
.ui-widget-content { color: #4d738e; }
.ui-widget-content a { color: #4d738e; }
.ui-widget-header { color: #4d738e; font-weight: bold; }
.ui-widget-header a { color: #4d738e; }
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { background: #ecf4f8; font-weight: bold; color: #272727; }
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #272727; text-decoration: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { background: #e0edf5 ; font-weight: bold; color: #272727; }
.ui-state-hover a, .ui-state-hover a:hover { color: #272727; text-decoration: none; }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { border: 1px solid #ffffff; background: #ffffff; font-weight: bold; color: #272727; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #272727; text-decoration: none; }
.ui-widget :active { outline: none; }
.ui-tabs { position: relative; padding: .2em; zoom: 1; } /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
.ui-tabs .ui-tabs-nav { margin: 0; padding: .2em .2em 0; }
.ui-tabs .ui-tabs-nav li { list-style: none; float: left; position: relative; top: 1px; margin: 0 .2em 1px 0; border-bottom: 0 !important; padding: 0; white-space: nowrap; }
.ui-tabs .ui-tabs-nav li a { float: left; padding: .5em 1em; text-decoration: none; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected { margin-bottom: 0; padding-bottom: 1px; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; }
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel { display: block; border-width: 0; padding: 1em 1.4em; background: #fff; float: left; }
.ui-tabs .ui-tabs-hide { display: none !important; }
.ui-tabs { position: relative; padding:0; zoom: 1; } /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
.ui-tabs .ui-tabs-nav { margin: 0; padding: 0; }
.ui-tabs .ui-tabs-nav li { list-style: none; float: left; position: relative; top: 1px; margin: 0 .2em 1px 0; border-bottom: 0 !important; padding: 0; white-space: nowrap; }
.ui-tabs .ui-tabs-nav li a { float: left; padding: .5em 1em; text-decoration: none; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected { margin-bottom: 0; padding-bottom: 1px; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; }
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel { display: block; border-width: 0; width: 337px; padding: 10px; background: #ffffff; }
#tester-tabs.ui-tabs .ui-tabs-panel{width:693px;}
.ui-tabs .ui-tabs-hide { display: none !important; }
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl { -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; -khtml-border-top-left-radius: 5px; border-top-left-radius: 5px; }
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr { -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; -khtml-border-top-right-radius: 5px; border-top-right-radius: 5px; }

.last-element{
	margin-bottom: 0;
}
p.dark{
	color: #272727;
}
p.light{
	color: #fff;
}
.country-select{
	margin-right: 4px;
}
#basket-totals td p{
	margin: 0;
}
.pdf{
	padding-left: 42px;
	background: url(/web/images/canvas/doc.png) no-repeat left center;
}