/*--------------------------------------------------

COMPONENT CSS

Styles for discrete components of XHTML e.g.

--------------------------------------------------*/

/* MINI SEACH
--------------------------------------------------*/
#mini-search {
	bottom: 13px;
	position: absolute;
	right: 34px;
}
#mini-search fieldset {
	float: left;
}
#mini-search p {
	background: url(../images/canvas/mini_search.gif) no-repeat;
	float: left;
	margin: 0;
}
#mini-search label {
	float: left;
	left: -999em;
	position: absolute;
}
#mini-search input.field {
	background: transparent;
	border: 0;
	color: #51715E;
	float: left;
	height: 20px;
	margin: 0 5px 0 0;
	padding: 4px 6px 0;
	width: 168px;
}
#mini-search input.submit {
	float: left;
}

/* WPS NEWSLETTER
--------------------------------------------------*/
#wps-newsletter {
	position: relative;
}
#wps-newsletter .content {
	background: #77b800 url(../images/canvas/wps_newsletter.gif) no-repeat;
	min-height: 110px;
}	
* html #wps-newsletter .content {
	height: 110px;
}	
#wps-newsletter h4 {
	position: absolute;
	left: -999em;
}
/*
#wps-newsletter label {
	position: absolute;
	left: -999em;
}
#wps-newsletter .content p {
	float: left;
	padding: 141px 0 0 13px;
	margin: 0;
}
#wps-newsletter .field {
	width: 159px;
	padding: 4px 4px 5px;
	border: 0;
	margin: 0 0 12px;
	background: transparent;
}
*/
#wps-newsletter .content p {
	float: left;
	padding: 70px 0 0 13px;
	margin: 0;
}
#wps-newsletter .wps-logo {
	position: absolute;
	bottom: -10px;
	right: 5px;
}
* html #wps-newsletter .wps-logo {
	display: none;
}

/* GET INVOLVED
--------------------------------------------------*/
#get-involved {
	float: left;
	width: 508px;
	margin-left:0px;
	padding: 10px;
	border-top: 1px solid #e5e5e5;
}
#get-involved img {
	border: 0;
	vertical-align: bottom;
}
#get-involved p.involved-logo {
	bottom: 70px;
	position: absolute;
	right: 30px;
	display: none;
}
#get-involved p {
	font-size: 1.1em;
	padding: 0;
}
#get-involved p.involved-introduction {
	width:370px;
}
#get-involved p.get-involved-find-link {
	padding-top: 0;
	clear: both;
	margin-bottom: 0;
}

#get-involved p.get-involved-find-link a {
	color: #007735;
	text-decoration: none;
}

#get-involved p.get-involved-find-link a:hover {
	text-decoration: underline;
}

#get-involved ul#share-this {
	float: left;
	margin: 0 0 10px;;
	padding: 0;
	list-style: none;
	width: 100%;
}
#get-involved ul#share-this li {
	float: left;
	margin-right:4px;
}
#get-involved ul#share-this a {
	display: block;
	background: url(/web/images/global/social_icon_sprite.png) no-repeat;
	width: 30px;
	height: 0;
	padding: 30px 0 0;
	overflow: hidden;
}
* html #get-involved ul#share-this a {
	background: url(/web/images/global/social_icon_sprite.gif) no-repeat;
}
#get-involved ul#share-this li.facebook a {
	background-position: 0 0;
}
#get-involved ul#share-this li.delicious a {
	background-position: -29px 0;
}
#get-involved ul#share-this li.digg a {
	background-position: -58px 0;
}
#get-involved ul#share-this li.reddit a {
	background-position: -87px 0;
}
#get-involved ul#share-this li.stumbleupon a {
	background-position: -116px 0;
}

#get-involved ul#upload-send {
	float: left;
	margin: 0 0 10px;;
	padding: 0;
	list-style: none;
	width: 100%;
	border-top: 1px solid #e5e5e5;
	padding-top: 12px;
}
#get-involved ul#upload-send li {
	float: left;
	margin-right:4px;
}
	
/* BOOKMARKER
--------------------------------------------------*/
#bookmarker {
	width: 178px;
	position: relative;
	min-height: 29px;
	float: left;
	margin: 0 8px 0 0;
	text-align: left;
}
* html #bookmarker {
	height: 29px;
}
.above #bookmarker {
	margin: 0 0 2px;
}
.below #bookmarker {
	margin: 2px 0 0;
}
#bookmarker p {
	width: 178px; /*@ DW */
	color: #A8A8A8;
	text-decoration: none;
	font-size: 12px;
}
#bookmarker ul {
	margin: 0;
	width: 152px;
	padding: 2px 13px;
	list-style-type: none;
}
#bookmarker li {
	margin: 0;
	padding: 0;
	font-size: 11px;
	width: 152px; /*@ DW */
}
.bookmarker-view {
	display: block;
	float: left;
	margin: 0 8px 0 0;
}
#bookmarker-canvas {
	float: left;
	padding: 2px 0;
	display: none;
}
#content #bookmarker-canvas .header {
	height: 6px;
	background: url(/web/images/canvas/bookmarker/bookmark-nav-hd.png) no-repeat;
	float: left;
	width: 178px;
	overflow: hidden;
}
* html #content #bookmarker-canvas .header {
	background-image: url(/web/images/canvas/bookmarker/bookmark-nav-hd.gif);
}
#content #bookmarker-canvas .content {
	width: 178px;
	background: url(/web/images/canvas/bookmarker/bookmark-nav-bd.png);
	float: left;
	clear: left;
}
* html #content #bookmarker-canvas .content {
	background: url(/web/images/canvas/bookmarker/bookmark-nav-bd.gif);
}
#content #bookmarker-canvas .footer {
	height: 6px;
	background: url(/web/images/canvas/bookmarker/bookmark-nav-ft.png) no-repeat;
	float: left;
	clear: left;
	width: 178px;
	overflow: hidden;
	padding: 0;
}
* html #content #bookmarker-canvas .footer {
	background-image: url(/web/images/canvas/bookmarker/bookmark-nav-ft.gif);
}
#bookmarker-canvas p {
	display: none;
}	
#bookmarker ul {
	width: 152px;
}
#bookmarker a:link,
#bookmarker a:visited,
#bookmarker a:hover {
	color: #77654b;
	text-decoration: none;
}
#bookmarker a:hover {
	color: #77654b;
	text-decoration: underline;
}
#bookmarker li {
	padding: 0 0 5px;
}
* html #bookmarker li {
	float: left; 
	clear: left;
}
#bookmarker a {
	padding: 1px 0 1px 26px;
	display: block;
	background: url(/web/images/canvas/bookmarker/bookmarks.gif) no-repeat;
}
#bookmarker .facebook a {
	background-position: 0 0;
}
#bookmarker .delicious a {
	background-position: 0 -16px;
}
#bookmarker .digg a {
	background-position: 0 -32px;
}
#bookmarker .reddit a {
	background-position: 0 -48px;
}
#bookmarker .stumbleupon a {
	background-position: 0 -64px;
}
a#emailer-button,
a#bookmarker-button {
	display: inline-block;
}

/* EMAILER
--------------------------------------------------*/
#email-friend {
	float: left;
	margin: 0 8px 0 0;
	padding: 20px 0 0;
	min-height: 29px;
	position: relative;
	text-align: left;
}
#email-friend p.success {
	padding: 0 20px;
}
#email-friend-canvas {
	float: left;
	padding: 2px 0;
	display: none;
}
#content #email-friend-canvas .header {
	height: 6px;
	background: url(/web/images/canvas/bookmarker/email-nav-hd.png) no-repeat;
	float: left;
	width: 380px;
	overflow: hidden;
}
* html #content #email-friend-canvas .header {
	background-image: url(/web/images/canvas/bookmarker/email-nav-hd.gif);
}
#content #email-friend-canvas .content {
	width: 380px;
	background: url(/web/images/canvas/bookmarker/email-nav-bd.png);
	float: left;
	clear: left;
}
* html #content #email-friend-canvas .content {
	background-image: url(/web/images/canvas/bookmarker/email-nav-bd.gif);
}
#content #email-friend-canvas .footer {
	height: 6px;
	background: url(/web/images/canvas/bookmarker/email-nav-ft.png) no-repeat;
	float: left;
	clear: left;
	width: 380px;
	overflow: hidden;
	padding: 0;
}
* html #content #email-friend-canvas .footer {
	background-image: url(/web/images/canvas/bookmarker/email-nav-ft.gif);
}
#email-friend dl {
	float: left;
	padding: 0 20px;
	width: 320px;
}
#email-friend dt {
	float: left;
	clear: left;
	width: 130px;
	padding: 0 0 5px;
}
#email-friend dt label {
	color: #77654B;
}
#email-friend dd {
	padding: 0 0 5px;
}
#email-friend dd input {
	border: 1px solid #B1956D;
	width: 180px;
	padding: 3px 4px 2px;
}
#email-friend p.error {
	padding: 0 20px;
	color: #F00;
	width: 320px;
}
#email-friend input.submit {
	clear: both;
	margin: 0 0 10px 150px;
}
* html #email-friend input.submit {
	margin-left: 153px; /* IE6 - 3PP */
}
#social-content {
	clear: both;
	display: inline;
	float: left;
}

/* UPLOADER
--------------------------------------------------*/
#uploader-ui {
	width: 99px;
	height: 22px;
}