/*--------------------------------------------------

COLOUR CLICK STYLES

Styles for the colour click.

--------------------------------------------------*/


/* UPLOADER
--------------------------------------------------*/
.upload-button,
.clear-button {
	float: left;
}
.upload-button a, .clear-button a { 
	display:block; 
	width:100px; 
	height:40px; 
	text-decoration: none; 
	margin-left:5px; 
} 
.upload-button a { 
	background: url("/web/yui/build/uploader/assets/uploadFileButton.png") 0 0 no-repeat; 
} 
.clear-button a { 
	background: url("/web/yui/build/uploader/assets/clearListButton.png") 0 0 no-repeat; 
} 
.upload-button a:visited, .clear-button a:visited { 
	background-position: 0 0; 
} 
.upload-button a:hover, .clear-button a:hover {    
	background-position: 0 -40px; 
} 
.upload-button a:active, .clear-button a:active { 
	background-position: 0 -80px; 
} 

#file-progress {
	border: black 1px solid; 
	width:300px; 
	height:40px;
	float:left;
}

#file-name {
	text-align:center; 
	margin:5px; 
	font-size:15px; 
	width:290px; 
	height:25px; 
	overflow:hidden;
}

#progress-bar {
	width:300px;
	height:5px;
	background-color:#CCC;
}

#uploader-ui {
	width:100px;
	height:40px;
	margin-left:5px;
	float:left;
}

/* PICKER
--------------------------------------------------*/
#colour-picked {
	width: 100px;
	height: 100px;
}