/*--------------------------------------------------

CAROUSEL

--------------------------------------------------*/

/*
  Copyright (c) 2009, Yahoo! Inc. All rights reserved.
  Code licensed under the BSD License:
  http://developer.yahoo.net/yui/license.txt
  version: 2.7.0

  YUI CORE
--------------------------------------------------*/
*/
.yui-carousel {
    visibility: hidden;
    overflow: hidden;
    position: relative;
    text-align: left;
    zoom: 1;
}

.yui-carousel.yui-carousel-visible {
    visibility: visible;
}

.yui-carousel-content {
    overflow: hidden;
    position: relative;
}

.yui-carousel-element {
    margin: 5px 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 32000px;
    z-index: 1;
}

.yui-carousel-vertical .yui-carousel-element {
    margin: 0 5px;
}

.yui-carousel-element li {
    border: 1px solid #ccc;
    float: left;
    list-style: none;
    margin: 1px;
    overflow: hidden;
    padding: 0;
    text-align: center;
    /* IE 6 & 7 fix - prevent DOM scroll for focussed elements. */
   *float: none;
   *display: inline-block;
   *zoom: 1;
   *display: inline;
}

.yui-carousel .yui-carousel-item-selected {
    border: 1px dashed #000;
    margin: 1px;
}

.yui-carousel-vertical {
    height: 32000px;
    margin: 0 5px;
    width: auto;
}

.yui-carousel-vertical .yui-carousel-element li {
    display: block;
    float: none;
}

.yui-log .carousel {
    background: #f2e886;
}

.yui-carousel-nav {
    zoom: 1;
}

.yui-carousel-nav:after {
    clear: both;
    content: "";
    display: block;
}

.yui-carousel-button-focus {
    outline: 1px dotted #000;
}

.yui-carousel-min-width .yui-carousel-content {
    margin: 0 auto;
}


/* CUSTOM
--------------------------------------------------*/
.ukisa-widget-carousel {
	width: 100%;
}
.ukisa-widget-carousel li {
    display: inline;
    float: left;
    margin: 0 10px;
    overflow: hidden;
    width: 100px;
	height: 100px;
}
.ukisa-widget-carousel ul {
	width: 32000px;
}
.ukisa-widget-carousel .yui-carousel-nav ul {
	display: none;
}

.ukisa-widget-carousel-nav {
	display: block;
	background: url(/web/images/buttons/ukisa/carousel_nav.gif) no-repeat 0 0;
	position: absolute;
	top: 50px;
	z-index: 10;
	padding: 29px 0 0;
	width: 29px;
	height: 0;
	overflow: hidden;
}
.ukisa-widget-carousel-prev {
	left: 0;
}
.ukisa-widget-carousel-next {
	right: 0;
	background-position: -29px 0;
}
.ukisa-widget-carousel .yui-carousel-first-button-disabled,
.ukisa-widget-carousel .yui-carousel-button-disabled {
	opacity: .5;
	filter: alpha(opacity=50);
	cursor: default;
}


/*
.ukisa-widget-carousel .yui-carousel-button,
.ukisa-widget-carousel .yui-carousel-button {
	display: block;	
	height: 29px;
	width: 29px;
	outline: none;	
	top: 50%;
	left: 0;
	background: url(/web/images/buttons/ukisa/carousel_nav.gif) no-repeat 0 0;
}

.ukisa-widget-carousel .yui-carousel-first-button button {
	padding: 29px 0 0;
	width: 29px;
	display: block;
	height: 0;
	border: 0;
	cursor: pointer;
	outline: none;
}
.ukisa-widget-carousel .yui-carousel-next-button button {
	padding: 29px 0 0;
	background: url(/web/images/buttons/ukisa/carousel_nav.gif) no-repeat -29px 0;
	width: 29px;
	display: block;
	height: 0;
	border: 0;
	cursor: pointer;
	outline: none;
}
*/