/*--------------------------------------------------

DREAMWEAVER CSS

This contains CSS to improve the proprietary 
rendering of Dreamweaver.
--------------------------------------------------*/

/* BASE
--------------------------------------------------*/
body #header,
body #footer,
body #content,
body #body {
	display: block;
	float: none;
}
body #content {
	clear: both;
	float: none;
	position: static;
}