/* Base
--------------------------------------------------*/
body {
	text-align: center;
}
* html caption { /* Captions cause problems - can't fully hide them in WIE5-5.5 */
	display: none;	
}

/* Layout 
--------------------------------------------------*/
* html #page {	
	text-align: left;
}
* html .form dd {
	padding-left: 0;
}
* html #content .form .submit {
	margin-left: 111px;
}

/* SECTIONS 
--------------------------------------------------*/
* html .section {
}
* html .section .header,
* html .section .footer {
	display: none;
}


* html .section .body {
	background: #FFF !important;
	margin: 0 4px 8px;	
	display: inline;
	padding: 7px 6px;
	border: solid 1px #c4c4c0;
}

* html .layout-1 #content .section .body {
	padding: 8px 19px; /* Minus border and margin */
}

* html .section-visual .body {
	padding: 0 !important;
}
* html #content .section .content {
	overflow: hidden;
}

/*
* html #body .section .content {
	background: #FFF;
	width: auto !important;
}
* html .section .body {
	background: #FFF !important;
	border: solid 1px #c4c4c0;
	width: auto;
	padding: 7px 10px;
	margin: 0 4px 8px !important;
	display: inline;
}
* html .section .content {
	background: #FFF;
}
* html .section-visual .body {
	padding: 0 !important;
}
/*
* html .section .header,
* html .section .footer {
	display: none;
}
* html .section .body {
	background: none !important;
	width: auto;
	display: inline;
	margin: 0 3px;
	border: solid 1px #c4c4c0;
}
*/


/* LAYOUT AMENDMENTS 
--------------------------------------------------*/
* html .layout-2-b #content .section .body {
	padding: 8px 20px; /* Minus the 4px margin */
}

/* COMPONENTS 
--------------------------------------------------*/
* html span.required {
	width: 7px;
	display: inline-block;
	padding: 1em 0 0 0;
	overflow: hidden;
	background: #fff url(../assets/images/icons/required.gif) no-repeat top left;
	height: 0px !important;
	height /**/: 1em;
}


/* ORDER 
--------------------------------------------------*/
* html #basket .t-remove input,
* html #basket .t-quantity .submit {
	height: 22px;
	margin: 1px 0 0 5px;
}
#basket-nav-checkout {
	height: 22px;
}