/* BASE 
--------------------------------------------------*/
span.required {
	padding: 0;
	text-indent: -999em;
}
caption {
	display: none;
}

/* LAYOUT 
--------------------------------------------------*/
body {
	height: auto; /* Brings the skirting to the bottom of the page */
}
.form dd {
	padding-left: 0;
}

/* ORDER 
--------------------------------------------------*/
#basket-nav-checkout,
#basket-form .t-quantity input.submit,
.t-remove input {
	height: 22px;
}

#website-survey dl.personal-details dt {
	width: 60px;
}

#website-survey dl.personal-details dd {
	padding-left: 10px;
}