/*--------------------------------------------------

    CUPRINOL SKIN

--------------------------------------------------*/
body {
	/* background: url(/web/admin/images/global/output_cuprinol.png) no-repeat top left; */
	color: #555;
}

#page {
	padding: 185px 0 0 40px;
}


/* Customer copy
--------------------------------------------------*/
#customer-copy {
	height: 516px;
	float: left;
	position: relative;
}
#delivery-note {
	position: absolute;
	top: 0;
	left: 0;
	margin-bottom:12px;
	font-weight: bold;
}
#order-items {
	clear: both;
	margin-top:50px;
}
.t-box,
.t-item {
	width: 30px;
}
.t-code {
	width: 100px;
}
.t-quantity {
	width: 30px;
}
.t-description {
	width: 452px;
}
#delivery-address {
	float: left;
}
#order-reference {
	float: right;
	margin: 30px 0 0;
	width: 245px;
}
#order-reference dt {
	float: left;
	clear: left;
	width: 95px;
}
#order-reference dd {
	font-weight: bold;
	width: 150px;
}
#delivery-address {
	float: left;
	padding: 30px 0 0;
}


/* Tear-off sheet
--------------------------------------------------*/
#packing-list {
	clear: both;
	height: 280px;
}
#packing-list h2 {
	float: left;
	font-weight: bold;
	width: 300px;
}
#packing-list-order-reference {
	float: right;
}
#packing-list-order-reference strong {
	font-weight: bold;
}
#customer-notice {
	border: solid 1px #b0b0b0;
	padding: 7px 10px;
	width: 390px;
	margin-top: 50px;
}

table#pick-list {
	margin-top: 10px;
	clear: both;
}
#address-label {
	float: left;
	width: 280px;
}
#address-label p.address {
	font-size: 1.4em;
	font-weight: bold;
	margin: 0 0 10px;
	width: 290px;
}
#address-label p.order-reference {
	font-size: 0.8em;
}
#picking-address {
	float: right;
	width: 220px;
}
#picking-address p.address {
	margin: 0 0 10px;
}
#picking-address p.address {
	margin-bottom: 10px;
}
#picking-address #picking-reference dt {
	float: left;
	clear: left;
	width: 65px;
}
#picking-address #picking-reference dd {
	font-weight: bold;
}
#packing-items {
	float: left;
	width: 600px;
	height: 130px;
}
#packing-address {
	float: left;
	width: 600px;
	clear: both;
}