/*--------------------------------------------------

  OUTPUT 

  PAPER COPY STYLES

--------------------------------------------------*/

/* Reset
--------------------------------------------------*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, 
form, fieldset, input, p, blockquote, table, th, td, embed, object {
	padding: 0;
	margin: 0; 
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
fieldset, img, abbr {
	border: 0;
}
address, caption, cite, code, dfn, em, 
h1, h2, h3, h4, h5, h6, strong, th, var {
	font-weight: normal;
	font-style: normal;
}
ul, ol {
	list-style: none;
}
caption, th {
	text-align: left;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 11px;
}
q:before, q:after {
	content: '';
}
a, ins {
	text-decoration: none;
}
img {
	vertical-align: bottom; /* WIE : stops images aligning to baseline, so they line with bottom of parent element */
	margin: 0; /* WIE : image margin reset bug */
}

/* Reset
--------------------------------------------------*/
#page {
	clear: both;
}
html {
	width: 640px;
}
body {
	font-family: Arial;
	font-size: 11px;
	width: 640px;
	zoom: 100%; 
/*
	padding-left: 85px;  Left Gutter? 
	padding-top: 85px; /* Top Gutter? 
*/
}
#page,
#body,
#content {
	width: 612px;
}
table {
	border-top: solid 1px #b0b0b0;
	border-left: solid 1px #b0b0b0;
}
th {
	font-weight: bold;
	border-bottom: solid 1px #b0b0b0;
	border-right: solid 1px #b0b0b0;
	padding: 3px 5px;
}
td {
	border-bottom: solid 1px #b0b0b0;
	border-right: solid 1px #b0b0b0;
	padding: 3px 5px;
}

.page-break { 
	display: block; 
	page-break-before: always; 
}
strong {
	font-weight: bold;
}