/*--------------------------------------------------

COLOUR SUGGEST STYLES

--------------------------------------------------*/

/* Custom styles to colour suggest
--------------------------------------------------*/
.yui-ac-cs {
	width: 200px;
	min-height: 2em;
}
.yui-ac-cs-swatch {
	border: solid 1px #000;
	width: 31px;
	height: 13px;
	display: block;
}

/* YUI default styles for auto complete
--------------------------------------------------*/
/* styles for entire widget */
 .yui-ac {
    position: relative;
	font-family: arial;
	font-size: 100%;
}

/* styles for input field */
 .yui-ac-input {
    position: absolute;
	width: 100%;
}

/* styles for results container */
 .yui-ac-container {
    position: absolute;
	top: 1.6em;
	width: 100%;
}

/* styles for header/body/footer wrapper within container */
 .yui-ac-content {
    position: absolute;
	width: 100%;
	border: 1px solid #808080;
	background: #fff;
	overflow: hidden;
	z-index: 9050;
}

/* styles for container shadow */
 .yui-ac-shadow {
    position: absolute;
	margin: .3em;
	width: 100%;
	background: #000;
	-moz-opacity: 0.10;
	opacity: .10;
	filter: alpha(opacity=10);
	z-index: 9049;
}

/* styles for results list */
 .yui-ac-content ul{
    margin: 0;
	padding: 0;
	width: 100%;
}

/* styles for result item */
.yui-ac-content li {
    margin: 0;
	padding: 2px 5px;
	cursor:default;
	white-space:nowrap;
}

/* styles for prehighlighted result item */
 .yui-ac-content li.yui-ac-prehighlight {
    background: #B3D4FF;
}

/* styles for highlighted result item */
 .yui-ac-content li.yui-ac-highlight {
    background: #426FD9;
	color: #FFF;
}