// button style for basket page
//#order input[type="submit"] {
	//padding: 4px 14px 6px 14px;
	//color: #FFF;
	//font-size: 0.938em;
	//font-weight: bold;
	//line-height: 1em;
	//border: 1px solid #2A7A28;
	//box-shadow: -1px 0 3px #999;
	//background: url("/web/images/_new_images/bg-button-large.png") 0 0 repeat-x;
	//cursor: pointer;
//}
#order{

	.basketPanel {
		padding: 0;
		border: 0;
		margin: 0;

		form input {
			margin-left: 0;
		}
	}
	.right-col_recommended {
		ul {
			li{
				border: 1px solid green;
			}
		}
	}

}

.basket-items-full {
	.basket-quantity,
	.submit-quantity {
		margin: 0;
	}
}

.basket-summary-full {
	li {
		display: block;
		padding-bottom: 0;
		float: none;
		clear: both;

		&:first-child {
			div {
				display: block;
				width: auto !important;
				float: none;
				clear: none;
				text-align: left;
				color: black;

				&:first-child {
					font-size: 1.1rem;
					margin-bottom: 15px;
				}
			}
		}

		&.basket-summary-postage {
			padding: 15px 0;
			border-bottom: 1px solid black;
		}

		&.basket-summary-postage,
		&.basket-summary-total {
			position: relative;
			@include display-flex(flex);

			div {
				display: block;
				width: auto !important;
				float: none;
				clear: none;
				color: black;

				&:first-child {
				}

				&:nth-child(2) {
					margin-left: auto;
				}
			}
		}

		&.basket-summary-postage {
			div {
				font-weight: bold;
				font-size: 1rem;
			}
		}

		&.basket-summary-total {
			div {
				font-weight: bold;
				font-size: 1.2rem;
			}
		}
	}	
}

.basket-summary-vouchers {
	clear: both;
	padding: 0 20px;

	.vouchers {

		form {
			text-align: left!important;
		}
		.voucher-message {
			font-size: 1rem;
			color: #000;
			font-weight: 700;
		}
		.voucher-heading {
			color: #000;
			display: block;
			font-weight: bold;
			font-size: 1rem;
			margin-bottom: 0.5em;
		}
		.voucher-code {
			float: left;
			width: 147px;
			margin-right: 10px;
			height: 12px;
			border: 1px solid black;
		}
		@media (min-width: 420px) {
			form {
				@include display-flex(flex);
				@include align-items(center);
				@include justify-content(flex-end);
			}
			.voucher-heading {
				@include flex(1 0 auto);
				text-align: left;
				margin-bottom: 0;
			}
		}
	}
}

// new recommended product column style
.right-col_recommended {

	position: relative;
	top: 40px;

	ul {
		padding: 0;
		margin: 0 0 0 5px;
	}
	.rec-product {
		list-style: none;
		margin: 10px 0;
		padding: 20px 5px;
	}
    .rec-product-image {
    	display: block;
    }
	.rec-product-name {
		font-weight: bold;
	}
	.btn-buy {
		font-size: 0.838em;
	}
}

@media (min-width: $screen-mobile) {

	.right-col_recommended {

		position: relative;
		top: 0;
	}

	div.basket {
		width: 80%;
		float: left;
		background: #fff;
		padding: 20px;
	}

	.basket-headers {
		> * {
			&:first-child {
				width: 185px;
			}
			&:nth-child(2) {
				width: 55px;
			}
			&:nth-child(3) {
				width: 187px;
			}
			&:nth-child(5) {
				// width: 20px;
			}
		}
	}

	.grid_12.sep {
		width: 650px;
	}

	.basket-items-full {

		.product_name {
			width: 135px;

			font-size: 14px;
			font-weight: bold;

			p {
				font-weight: normal;
			}
		}
		.thumbnail {
			width: 30px;
		}
		.item_price {
			width: 55px;
		}
		.product_price {
			width: 55px;
		}
		.product_delete {
			width: 70px;
		}
		.quantity {
			width: 187px;

			.basket-quantity {
				display: inline-block;
				vertical-align: top;
			}
			.submit-quantity {
				display: inline-block;
			}
		}

		.button.remove {
			padding: 5px 12px;
		}
	}

	.basket-summary-full {
		width: 650px;
		padding-left: 10px;
		padding-right: 10px;
		li {
			&.basket-summary-postage,
			&.basket-summary-total {
				div {
					&:first-child {
						@include flex(1 1 100%);
						text-align: right;
						padding-right: 20px;
					}

					&:nth-child(2) {
						@include flex(1 0 163px);
						width: auto!important;
					}
				}
			}
		}
	}

	.basket-checkout {
		width: 650px;
		padding-right: 10px;
		padding-left: 10px;
		input {
			margin-left: 487px;
		}
	}

	.right-col_recommended {
		float: left;
		display: block;
		width: 15%;
		margin-left: 5%;
		background: #fff;
		z-index:8000;
		.rec-product {
			text-align: center;
		}
		.rec-product-image {
			display: inline-block;
			margin-bottom: 10px;
			height: 65px;
			>img {
				height: 100%;
				width: auto;
			}
		}
		.rec-product-name {
			display: block;
			margin-bottom: 3px;
			width: 100%;
			font-size: 12px;
		}
	}

	.table-wrapper {
		width: 100%;
		display: block;
		height: 100%;
		position: relative;
	}

	.basket-summary-vouchers {
		padding: 0 40px 0 10px;

		.vouchers {

			.voucher-heading {
				padding-right: 20px;
				margin-right: 0;
				text-align: right;
			}
			.voucher-code {
				width: 63px;
			}
			.voucher-message {
				margin: 0;
				padding-right: 20px;
				@include flex(0 0 auto);
			}
			.voucher-heading {
				// @include flex(1 0 auto);
			}
			.voucher-code {
				@include flex(0 0 auto);
				float: none;
			}
			.voucher-submit {
				width: 70px;
				@include flex(0 0 auto);
			}
		}
	}

}


.basket{

	.basket-summary-total {
		position: relative;
		top: 130px;

		@media (min-width: 420px) {
			top: 75px;
		}
	}

	.basket-checkout {
		position: relative;
		top: 110px;

		@media (min-width: 420px) {
			top: 70px;
		}
	}

	.vouchers {
		position: relative;
		bottom: 50px;

		@media (min-width: 420px) {
			bottom: 70px;
		}

	}

}
