.colour-of-the-year.sheds.gardenshades {
	h2 {
	    color: #91b830;
	    font-size: 28px;
	    text-transform: uppercase;
	}

	img {
		width: 100%;
	}

	.heading-wrapper {
		.hero {
			padding-top: 55px;
			.image {
				    height: 492px;
    				background: url(/web/images/_new_images/sections/sheds/headings/colour-of-the-year-hero.png) top center no-repeat;
    				background-size: auto 90%;
			}
		}
	}

	.content-wrapper {
		.center-text-block {
			text-align: center;
			@media (max-width: $screen-mobile) {
				padding: 0 10px 50px;
			}
			h2 {

			}

			p {
				padding: 0 10%;

				@media (max-width: $screen-mobile) {
					padding: 0;
				}
			}
		}

		.backdropes {
			text-align: center;

			@media (max-width: $screen-mobile) {
				padding: 0 10px 50px;
			}
			h2 {
				br {
					@media (max-width: $screen-mobile) {
						display: none;
					}
				}
			}

			p {
				margin: 0 0 60px;
				color: #969696;
				padding: 0 10%;

				@media (max-width: $screen-mobile) {
					padding: 0;
				}
			}
		}

		.testers-colours {
			text-align: center;

			@media (max-width: $screen-mobile) {
				padding: 0 10px 40px;
			}
			.tester-colour {
				a {
					color: #969696;
					img {
						
					}

					p {
						margin: 15px 0 0;
						text-align: left;
						color: #969696;
						font-size: 1.1em;
						.green {
							color: #418742;
						}

						@media (max-width: $screen-mobile) {
							margin: 15px 0;
						}
					}
				}
			}

		}

		.themes-links-wrapper {
			text-align: center;

			@media (max-width: $screen-mobile) {
				padding: 0 10px;
			}

			h2 {
				br {
					@media (max-width: $screen-mobile) {
						display: none;
					}
				}
			}
			.theme-item {
				img {
					margin: 0 0 8px;
				}
				a {
					color: #969696;
					h5 {
						text-align: left;
						color: #969696;
						font-size: 1.1em;
						margin: 20px 0;
						.green {
							color: #418742;
						}
					}
				}

				p {
					color: #969696;
					font-size: 0.875em;
					text-align: left;
				}
			}

		}

		.tool-colour-full {
			@media (max-width: $screen-mobile) {
				padding: 0 10px;
				margin: 0;
			}
		}

		.tool-colour-full-container {
			img.garden-shades-logo {
				width: auto;
			}
		}
	}
}