/*********************

Authors:
    Jay Tang

Stylesheet:
    FAQ Page stylesheet

*********************/

.content-faq {

    .category-title {
        margin-top: 20px 10px;
        display: inline-block;
        position: relative;

        h2 {
            display: block;

            &:first-letter {
                text-transform: uppercase;
            }
        }
    }

    .filter-wrapper {
        display: inline-block;
        position: absolute;
        width: 160px;
        right: 10px;
        top: 0;
        background-color: #fff;
        border: 1px solid #ddd;
        z-index: 5;
    }

    .filter-select {
        position: relative;
        padding: 0 40px 0 10px;
        display: block;
        line-height: 30px;
        @include background-image(linear-gradient(#fff, #efefef));

        &.active {
            border-bottom: 1px solid #ddd;
        }

        &:first-letter {
            text-transform: uppercase;
        }

        &:after {
            content: "";
            display: inline-block;
            height: 30px;
            width: 30px;
            position: absolute;
            right: 0;
            top: 0;
            background: #2a8027 url('/web/images/_new_images/widget-arrow-active.png') no-repeat center;
            @include rotate(90deg);
        }
    }

    .filter-topics {

        ul {
            list-style: none;
            margin: 0;
        }

        a {
            display: block;
            padding: 10px;

            &:hover {
                background-color: #efefef;
            }
        }
    }

    .section-entries {

        ul {
            list-style: none;
            margin: 0;
        }

        li {
            border-bottom: 1px solid #ddd;

            &.hide {
                display: none;
            }
        }
    }

    .question {
        position: relative;
        padding: 50px 30px 20px 20px;
        cursor: pointer;

        h3 {
            font-size: 16px;
            font-family: arial;
            font-weight: 600;
            color: #318D2E;
            margin: 0;
        }

        &:after {
            content: "";
            display: inline-block;
            position: absolute;
            background: url('/web/images/_new_images/arrow-link.png') no-repeat;
            width: 9px;
            height: 12px;
            right: 5px;
            bottom: 20px;
            @include rotate(90deg);
        }

        &:hover {

            h3 {
                color: #59b956;
            }
        }
    }

    .answer {
        padding: 20px 30px 20px 20px;

        ul {
            list-style-type: disc;
            margin-bottom: 10px;
        }

        li {
            border: none;
            font-size: 0.813em;
            margin-bottom: 5px;
            margin-left: 20px;
        }
    }
}

.accordion-trigger {

    &.active {

        &:after {
            @include rotate(-90deg);
        }
    }

}

.accordion-item {
    display: none;

    &.show {
        display: block;
    }
}

.faq-experts {
    width: 400px;
    height: 133px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #ddd;

    .featured-img {
        float: left;
        display: inline-block;
        background: url('/web/images/_new_images/sections/faq/faq-paint.jpg') no-repeat;
        height: 133px;
        width: 138px;
    }

    .faq-experts-content {
        float: left;
        width: 250px;
        display: inline-block;
        padding: 10px;
        @include box-sizing(border-box);

        p {
            //having to override another important from elsewhere. Sorry.
            font-size: 12px !important;
        }
    }
}

@media (max-width: $screen-mobile) {
    
    .page-faq .imageHeading {
        display: none;
    }

    .content-faq {

        .question {

            h3 {
                font-size: 18px;
            }
        }

        .category-title {
            padding: 20px;
            @include box-sizing(border-box);
        }

        .filter-wrapper {
            display: block;
            position: relative;
            width: auto;
            right: initial;
        }
    }

    .faq-experts {

        .faq-experts-content {

            p {
                //having to override another important from elsewhere. Sorry.
                padding: 0;
                margin:0 0 10px 0;
                line-height: 14px !important;
            }
        }
    }
}