body.sheds.gardenshades {

    .heading-wrapper {
        position: relative;

        .button {
            position: absolute;
            right: 0;
            left: 0;
            margin: 0 auto;
            bottom: 35px;
            width: 255px;
            height: 22px;
            background: url(/web/images/_new_images/bg-button-large.png) 0 0 repeat-x;
            font-size: 22px;
            span {
                top: 9px;
            }
        }
    }

    .center-text-block {
        padding: 0 60px;
        text-align: center;

        h2 {
            color: #91b830;
            font-size: 32px;
            text-transform: uppercase;
        }

        p {
            color: #969696;
        }

        .button {
            display: inline-block;
            margin-top: 30px;

            &.mobile {
                display: none;
            }
        }
    }

    .get-inspired-mobile {
        display: none;
    }

    .combination-result-grid {
        text-align: center;
        margin-top: 55px;

        .gril-col {
            display: inline-block;
            max-width: 231px;
            min-height: 230px;
            vertical-align: top;

            img {
                display: block;
                max-width: 231px;
                height: auto;
            }

            &.plus-sign,
            &.equals-sign {
                position: relative;
                width: 25px;
                margin: 0 10px;

                &:after {
                    content: "";
                    position: absolute;
                    top: 90px;
                    left: 0px;
                    width: 100%;
                    text-align: center;
                    font-size: 44px;
                    color: #91b830;
                }
            }

            &.plus-sign {

                &:after {
                    content: "+";
                }
            }

            &.equals-sign {
                margin: 0 0 0 10px;

                &:after {
                    content: "=";
                }
            }

            &.range {
                padding-top: 30px;
            }
        }

        p {
            margin-top: 35px;
            color: #969696;
        }
    }

    .video-title {
        margin-top: 20px;
        text-align: center;
        font-family: 'Effra W01 Regular', Arial, sans-serif;
        font-weight: bold;
        font-size: 20px;
        line-height: 1;
        text-transform: uppercase;
    }

    hr {
        position: relative;
        display: block;
        width: auto;
        max-width: 960px;
        height: 120px;
        margin: 0 auto;
        border: 0;
        outline: 0;
        background-color: transparent;
        background-image: url("/web/images/_new_images/sections/spraynbrush/hr.png");
        background-repeat: no-repeat;
        background-position: center;
        z-index: 1;
    }

    .combination-result-grid + hr {
        margin-top: -10px;
    }

    .three-col + hr {
        margin-top: 0px;
    }

    .three-col.videos {
        padding-bottom: 0;

        .grid_3 {
            text-align: center;

            img {
                display: block;
                max-width: 100%;
                height: auto;
            }

            p {
                margin-bottom: 0;
            }

            .video-title {
                color: #82919d;
            }
        }

        .grid_3:nth-child(2) {
            .video-title {
                color: #a53520;
            }
        }

        .grid_3:nth-child(3) {
            .video-title {
                color: #cf5e38;
            }
        }

        .grid_3:nth-child(4) {
            .video-title {
                color: #746576;
            }
        }
    }

    .pickupyours-figure {
        display: block;
        max-width: 100%;
        margin: 0 auto;
    }

    div.title {
        border: 0;
        margin-bottom: 0;
        margin-top: 34px;
    }

    .tool-colour-full-container .garden-shades-logo {
        display: block;
        margin: 0 auto;
    }

    .colours-teaser {
        padding: 20px 0;
        text-align: center;
        border-width: 2px 0;
        border-style: solid;
        border-color: #b3b3b3;

        h2 {
            text-align: left;
        }

        .colours {
            margin: 25px 0;
            list-style: none;
            text-align: left;

            li {
                display: inline-block;
            }

            img {
                width: 65px;
                height: 65px;
            }
        }

        p {
            text-align: center;
            color: #2A7A28;
        }

        .button {
            display: inline-block;
        }
    }

    .split-view {
        box-sizing: border-box;

        *, *:before, *:after {
            box-sizing: inherit;
        }
        
        background: #fff;
        border-bottom: 1px solid #b3b3b3;

        .colour-selector-left {
            border-right: 1px solid #b3b3b3;
        }

        .colour-selector-left, .spray-brush-right {
            width: 50%;
            min-height: 280px;
            float: left;
            text-align: center;
            padding-bottom: 30px;

            img {
                margin-bottom: 20px;
            }

            h3 {
                color: #91b830;
                font-weight: bold;
            }

            p {
                margin-bottom: 0;
            }

            a:last-child {
                display: inline-block;
                margin-top: 20px;
            }
        }
    }
}

@media (max-width: $screen-mobile) {
    body.sheds.gardenshades {

        .center-text-block {
            padding-bottom: 60px;
            padding-left: 45px;
            padding-right: 45px;

            .button {
                &.mobile {
                    display: inline-block;
                }
            }
        }

        .get-inspired-mobile {
            display: block;
            height: 251px;
            margin-bottom: 30px;
            background-image: url(/web/images/_new_images/sections/sheds/get-inspired.jpg);
            .slide-info-wrap {
                margin: 0 auto;
                left: 0;
                top: 55px;
                box-sizing: border-box;
                width: 291px;
                height: 170px;
                background-image: none;
                border-width: 2px;
                border-color: rgb(222, 222, 222);
                border-style: solid;
                border-radius: 8px;
                background-color: rgba(255, 255, 255, 0.902);

                .button {
                    width: 105px !important;
                    margin-top: 5px;
                }
            }
        }

        .colorpicker-image-mobile {
            height: 178px !important;
            background-image: url(/web/images/_new_images/sections/gardenshades/colour-selector-mobile.jpg) !important;

            .button {
                margin-top: 110px !important;
            }
        }

        .split-view {
            display: none;
        }

        .combination-result-grid {
            padding-bottom: 50px;

            .gril-col {
                display: block;
                max-width: none;
                min-height: 0px;

                img {
                    display: block;
                    margin: 0 auto;
                    max-width: 100%;
                }

                &.plus-sign,
                &.equals-sign {
                    width: auto;
                    height: 60px;
                    margin: 0 auto;

                    &:after {
                        top: 0px;
                    }
                }

                &.equals-sign {
                    margin: 0;
                }

                &.range {
                    padding-top: 0px;
                }
            }

            p {
                padding: 0 20px;
                margin-top: 30px;
                font-size: 12px;
            }
        }

        hr {
            height: 60px;
            background-position: center top;
        }

        .three-col.videos {
            padding-top: 0;
            padding-bottom: 20px;

            .grid_4 {
                margin-bottom: 20px;
            }

            .grid_3 {
                .video-title {
                    margin-bottom: 20px;
                }
            }
        }

        .tool-colour-full-container .garden-shades-logo {
            display: block;
            margin: 0 auto 25px auto;
        }

        .colours-teaser {
            margin-left: 20px;
            margin-right: 20px;

            .colours {
                margin: 25px 0;
                list-style: none;
                text-align: left;

                li {
                    margin: 4px 0;
                }
            }
        }

        iframe {
            /*height: 1px;*/
        }
    }
}