/* Changes for header menu navigation / Ideas Page Added - feature/EUKCUP-1272 */
.desktop__header {
	nav {
		&.navigation {
			a {
				&#products-nav-link {
					i {
						border: solid white;
					  	border-width: 0 3px 3px 0;
					  	display: inline-block;
					  	padding: 3px;
					  	transform: rotate(45deg);
    					-webkit-transform: rotate(45deg);
    					margin: 2px 0 0 10px;
    					vertical-align: top;
					}
				} 
			}

			.navigation-submenu {
				clear: both;
				background: #297326;
				position: absolute;
				width: 150px;
				top: 97px;
				a {
					width: 100%;
				    float: none;
				    display: block;
				    height: auto;
				    padding: 10px 0;
				    margin: 0 !important;

				    &:hover {
				    	height: auto;
				    }
				}
			}
		}
	}

	ul {
		&.top-right-menu {
			float: right;
		}
	}
}

/* Templates styling */
/* T1 Styling */
#ideas {
	.ideas-banner {
		padding-top: 55px;
		@media (max-width: $screen-mobile) {
			padding-top: 0;
		}
		img {
			width: 100%;
		}
	}

	#ideas-welcome-module {
		@media (max-width: $screen-mobile) {
			padding: 20px 10px;
		}
		h2 {
			text-align: center;
			@media (max-width: $screen-mobile) {
				font-size: 20px;
			}

			br {
				@media (max-width: $screen-mobile) {
					display: none;
				}
			}
		}
	}

	#ideas-themes-intro-module {
		@media (max-width: $screen-mobile) {
			padding: 20px 10px;
		}

		h2 {
			@media (max-width: $screen-mobile) {
				margin: 20px 0;
				text-align: center;
				font-size: 20px;
			}
		}

		p {
			display: block;
    		width: 70%;
    		@media (max-width: $screen-mobile) {
				width: 100%;
			}
		}
	}

	.large-promo-theme-module {
		.content-wrapper {
			.theme-banner {
				a {

				}

				img {
					width: 100%;
				}
			}

			.theme-content {
				padding: 30px 0 0;
				@media (max-width: $screen-mobile) {
					padding: 30px 10px 0;
				}
				.theme-info {
					width: calc(66% - 20px);
		    		margin: 0;
		    		padding: 0 10px;
		    		@media (max-width: $screen-mobile) {
						width: 100%;
						padding: 0;
					}
					h5 {
						a {
							color: #444;
							font-size: 20px;
						}
					}
				}

				.paint-colours-used-wrapper {
					width: calc(34% - 20px);
				    margin: 0;
				    padding: 0 10px;
				    @media (max-width: $screen-mobile) {
						width: 100%;
						padding: 0;
					}

				    h5 {
				    	margin: 0 0 15px;
				    	font-size: 1em;

				    }

					.colours-used-list {
						width: calc(50% - 22px);
					    margin: 0;
					    padding: 0 10px;
					    text-align: center;
					    border-right: 2px solid #444;

					    @media (max-width: $screen-mobile) {
							width: 100%;
							padding: 0 0 25px;
							border: none;
						}

					    h5 {

					    }

						.colours-list {
							margin: 0;
						    list-style: none;
							.colour-item {
								margin: 0 0 10px;
								a {
									span {
										display: block;
										&.colour-sample {
											width: 30px;
										    height: 30px;
										    border-radius: 8px;
										    margin: 0 auto 5px;
										}
									}
								}
							}
						}
					}

					.products-used {
						width: calc(50% - 20px);
					    margin: 0;
					    padding: 0 10px;
					    text-align: center;
					    @media (max-width: $screen-mobile) {
							width: 100%;
							padding: 0 0 25px;
						}
						h5 {

						}

						img {
							width: 100%;
		    				max-width: 80%;
		    				margin: 0 0 10px;
		    				@media (max-width: $screen-mobile) {
								max-width: 40%;
							}
						}

						a {
							@media (max-width: $screen-mobile) {
								display: block;
								width: 100%;
								text-align: center;
							}
						}
					}
				}
			}
		}
	}

	.small-promo-themes-wrapper {
		.content-wrapper {
			.small-promo-theme-module {
				width: calc(50% - 40px);
				margin: 0;
				padding: 0 20px 50px;
				@media (max-width: $screen-mobile) {
					padding: 0 0 30px;
				}
				.theme-banner {
					a {
						img {
							width: 100%;
							min-height: 275px;
						}
					}
				}

				.theme-content {
					padding: 10px 0 0;
					@media (max-width: $screen-mobile) {
						padding: 10px 10px 0;
					}
					h5 {
						a {
							color: #444;
							font-size: 18px;
						}
					}

					p {
						
					}
				}
			}
		}
	}
}

/* T2 Styling */
.ideas-theme {
	.theme-page-intro-module {
	    margin: 70px 0 0;

	    @media (max-width: $screen-mobile) {
			margin: 0;
			text-align: center;
		}

	    .intro-video-wrapper {
	    	iframe {

	    	}
	    }

	    .intro-title-wrapper {
	    	padding: 20px 0 0;
	    	@media (max-width: $screen-mobile) {
				padding: 20px 10px 0;
				h1 {
					font-size: 1.5em;
				}
			}
	    }

	    .intro-copy {
	    	padding: 10px 0 0;
	    	@media (max-width: $screen-mobile) {
				padding: 10px 10px 0;
			}
	    }

	    .intro-image-wrapper {
	    	img {
	    		width: 100%;
	    	}
	    }

	    .intro-content-wrapper {
	    	padding: 20px 0 0;
	    	.intro-title-copy-wrapper {
	    		width: calc(66% - 20px);
	    		margin: 0;
	    		padding: 0 10px;
	    	}

	    	.intro-materials-used-wrapper {
	    		width: calc(34% - 20px);
	    		margin: 0;
	    		padding: 0 10px;

	    		h5 {
			    	margin: 0 0 15px;
			    	font-size: 1em;

			    }

				.colours-used-list {
					width: calc(50% - 22px);
				    margin: 0;
				    padding: 0 10px;
				    text-align: center;
				    border-right: 2px solid #444;

				    @media (max-width: $screen-mobile) {
						width: 100%;
						padding: 0 0 25px;
						border: none;
					}

				    h5 {

				    }

					.colours-list {
						margin: 0;
					    list-style: none;
						.colour-item {
							margin: 0 0 10px;
							a {
								span {
									display: block;
									&.colour-sample {
										width: 30px;
									    height: 30px;
									    border-radius: 8px;
									    margin: 0 auto 5px;
									}
								}
							}
						}
					}
				}

				.products-used {
					width: calc(50% - 20px);
				    margin: 0;
				    padding: 0 10px;
				    text-align: center;

				    @media (max-width: $screen-mobile) {
						width: 100%;
						padding: 0 0 25px;
					}
					h5 {

					}

					img {
						width: 100%;
	    				max-width: 80%;
	    				margin: 0 0 10px;

	    				@media (max-width: $screen-mobile) {
							max-width: 40%;
						}
					}

					a {
						@media (max-width: $screen-mobile) {
							display: block;
							width: 100%;
							text-align: center;
						}
					}
				}
	    	}
	    }
	}

	.colour-palette-intro-module {
		.content-wrapper {
			border-top: 2px solid #444;
		}

		.video-wrapper {
			width: calc(66% - 20px);
		    margin: 0;
		    padding: 0 10px;

		    @media (max-width: $screen-mobile) {
				width: 100%;
				padding: 0;
			}

			iframe {
				width: 100% !important;
    			height: 300px;
			}
		}

		.paint-colours-used-wrapper {
			width: calc(34% - 20px);
		    margin: 0;
		    padding: 0 10px;

		    @media (max-width: $screen-mobile) {
				width: 100%;
				padding: 0;
			}

		    h5 {
		    	margin: 0 0 15px;
		    	font-size: 1em;

		    }

			.colours-used-list {
				width: calc(50% - 22px);
			    margin: 0;
			    padding: 0 10px;
			    text-align: center;
			    border-right: 2px solid #444;

			    @media (max-width: $screen-mobile) {
					width: 100%;
					padding: 0 0 25px;
					border: none;
				}

			    h5 {

			    }

				.colours-list {
					margin: 0;
				    list-style: none;
					.colour-item {
						margin: 0 0 10px;
						a {
							span {
								display: block;
								&.colour-sample {
									width: 30px;
								    height: 30px;
								    border-radius: 8px;
								    margin: 0 auto 5px;
								}
							}
						}
					}
				}
			}

			.products-used {
				width: calc(50% - 20px);
			    margin: 0;
			    padding: 0 10px;
			    text-align: center;

			    @media (max-width: $screen-mobile) {
					width: 100%;
					padding: 0 0 25px;
				}
				h5 {

				}

				img {
					width: 100%;
    				max-width: 80%;
    				margin: 0 0 10px;

    				@media (max-width: $screen-mobile) {
						max-width: 40%;
					}
				}

				a {
					@media (max-width: $screen-mobile) {
						display: block;
						width: 100%;
						text-align: center;
					}
				}
			}
		}

		.colour-palette-copy {
			width: 66%;
			@media (max-width: $screen-mobile) {
				width: 100%;
				padding: 0;
				text-align: center;
			}
			.intro-title-wrapper {

			}

			p {
				padding: 10px;
			}
		}
	}

	.how-to-module {
	    background: #d5d5d5;
	    .content-wrapper {
	    	background: inherit;

	    	.how-to-intro {
	    		padding: 0 0 50px;
	    		@media (max-width: $screen-mobile) {
					padding: 20px 10px;
				}
	    		p {
	    			font-size: 22px;
	    			line-height: 1.3;
	    		}
	    	}

	    	.how-to-module-item {
	    		margin: 0 0 50px;
	    		.title-desc-wrapper {
	    			border-bottom: 2px solid #444;
	    			width: calc(100% - 20px);
	    			margin: 0;
	    			padding: 0 10px;
	    			h4 {

	    			}

	    			p {

	    			}
	    		}

	    		.img-wrapper {
	    			width: calc(66% - 20px);
				    margin: 0;
				    padding: 20px 10px 0;
				    @media (max-width: $screen-mobile) {
						padding: 0;
						width: 100% !important;
					}
	    			img {
	    				width: 100%;
	    			}
	    		}

	    		.how-to-info-wrapper {
	    			width: calc(34% - 20px);
				    margin: 0;
				    padding: 20px 10px 0;
	    			h5 {
	    				margin: 20px 0;
	    				a {
	    					color: #000;
	    					font-size: 18px;
	    					&:hover {
	    						color: #000;
	    					}
	    				}
	    			}

	    			.time-difficulty {
	    				span {
	    					display: inline-block;
	    					&.calendar-icon {
	    						width: 110px;
	    						height: 120px;
	    						background: url(/web/images/_new_images/ideas/calendar.png) top center no-repeat;
	    						background-size: contain;
	    						.copy {
	    							text-align: center;
	    							display: block;
	    							margin: 65px 0 0;
	    						}
	    					}

	    					&.difficulty-level-label {
	    						display: inline-block;
	    						vertical-align: top;
    						    margin: 35px 0 0 10px;
    						    color: #a8a8a8;
	    						.difficulty-icons {
	    							display: block;
	    							margin: 10px 0 0;
	    							.icon {
	    								width: 26px;
			    						height: 55px;
			    						background: url(/web/images/_new_images/ideas/light_brush.png) top center no-repeat;
			    						background-size: contain;
	    								&.dark {
	    									background: url(/web/images/_new_images/ideas/dark_brush.png) top center no-repeat;
			    							background-size: contain;
	    								}
	    							}
	    						}
	    					}
	    				}
	    			}

	    			.copy-and-video-link {
	    				padding: 20px 0 0;
	    				p {
	    					margin: 0 0 30px;
	    				}

	    				a {
	    					display: inline-block;
	    					width: auto;
	    					padding: 5px 15px;
	    					border: 1px solid green;
	    					border-radius: 5px;
	    					color: green;
	    					font-size: 16px;
	    					&:hover {
	    						color: #444;
	    					} 
	    				}
	    			}
	    		}
	    	}
	    }
	}

	/* T05 Styling */
	.how-to-intro-module {
		.content-wrapper {
			.video-wrapper {
				iframe {
					width: 100%;
				}
			}

			.intro-content-wrapper {
				padding: 20px 0 0;
				.theme-label {
					font-weight: bold;
					padding: 0 10px 25px;
				}

				.intro-title-copy-wrapper {
					width: calc(66% - 20px);
		    		margin: 0;
		    		padding: 0 10px;
					.intro-title-wrapper {
						h1 {

						}
					}

					.time-difficulty {
					    padding: 10px 0 0;
						span {
	    					display: inline-block;
	    					&.calendar-icon {
	    						width: 100px;
	    						height: 110px;
	    						background: url(/web/images/_new_images/ideas/calendar.png) top center no-repeat;
	    						background-size: contain;
	    						.copy {
	    							text-align: center;
	    							display: block;
	    							margin: 55px 0 0;
	    						}
	    					}

	    					&.difficulty-level-label {
	    						display: inline-block;
	    						vertical-align: top;
    						    margin: 22px 0 0 10px;
    						    color: #a8a8a8;
	    						.difficulty-icons {
	    							display: block;
	    							margin: 10px 0 0;
	    							.icon {
	    								width: 26px;
			    						height: 55px;
			    						background: url(/web/images/_new_images/ideas/light_brush.png) top center no-repeat;
			    						background-size: contain;
	    								&.dark {
	    									background: url(/web/images/_new_images/ideas/dark_brush.png) top center no-repeat;
			    							background-size: contain;
	    								}
	    							}
	    						}
	    					}
	    				}
					}

					.intro-copy {
						
					}
				}

				.intro-materials-used-wrapper {
					width: calc(34% - 20px);
		    		margin: 0;
		    		padding: 0 10px;

		    		@media (max-width: $screen-mobile) {
		    			width: 100% !important;
		    			padding: 50px 0 30px;
		    		}

		    		h5 {
				    	margin: 0 0 15px;
				    	font-size: 1em;

				    }

					.colours-used-list {
						width: calc(50% - 22px);
					    margin: 0;
					    padding: 0 10px;
					    text-align: center;
					    border-right: 2px solid #444;

					    @media (max-width: $screen-mobile) {
							width: 100% !important;
							padding: 0 0 25px;
							border: none;
						}

					    h5 {

					    }

						.colours-list {
							margin: 0;
						    list-style: none;
							.colour-item {
								margin: 0 0 10px;
								a {
									span {
										display: block;
										&.colour-sample {
											width: 30px;
										    height: 30px;
										    border-radius: 8px;
										    margin: 0 auto 5px;
										}
									}
								}
							}
						}
					}

					.products-used {
						width: calc(50% - 20px);
					    margin: 0;
					    padding: 0 10px;
					    text-align: center;

					    @media (max-width: $screen-mobile) {
							width: 100%;
							padding: 0 0 25px;
						}
						h5 {

						}

						img {
							width: 100%;
		    				max-width: 80%;
		    				margin: 0 0 10px;

		    				@media (max-width: $screen-mobile) {
								max-width: 40%;
							}
						}

						a {
							@media (max-width: $screen-mobile) {
								display: block;
								width: 100%;
								text-align: center;
							}
						}
					}
				}
			}
		}
	}

	.ingredients-module {
		.ingredients-content-wrapper {
			@media (max-width: $screen-mobile) {
				padding: 0 10px;
			}
			h4 {
				@media (max-width: $screen-mobile) {
					text-align: center;
				}
			}

			ul {
				li {

				}
			}
		}
	}

	.theme-step-module {
		@media (max-width: $screen-mobile) {
			padding: 50px 0 0;
		}
		.step-wrapper {
			.step-wrapper-item {
			    margin: 0 0 20px;

				& > div {
				    width: calc(50% - 20px);
				    margin: 0;
				    padding: 0 10px;
				}
				.step-img {
					@media (max-width: $screen-mobile) {
						padding: 0;
					}

					img {
						width: 100%;
					}
				}

				.step-info {
					min-height: 300px;

					@media (max-width: $screen-mobile) {
						min-height: 1px;
					}
					p {
						position: absolute;
					    top: 50%;
					    transform: translate(0, -50%);

					    @media (max-width: $screen-mobile) {
							position: relative;
							top: initial;
							transform: translate(0, 0);
							padding: 10px;
						}
					}
				}
			}
		}
	}
}




/* Related Content Module */
.related-content-module {
	.content-wrapper {
		.carousel-title {
			padding: 0 10px 20px;

			@media (max-width: $screen-mobile) {
				padding: 30px 10px 20px;
			}
		}
		.controls {
			top: 36%;
			.control {
				&.left-control {
					left: 10px;
				}

				&.right-control {
					right: 10px;
				}
			}
		}

		.themes-carousel {
			.slide {
				padding: 0 10px;
				.intro-image-wrapper {
					height: 300px;
					width: 100%;
					background-size: cover !important;
				}

				.intro-title-copy-wrapper {
					padding: 10px 0 0;
					.intro-title-wrapper {
						h1 {
							a {

							}
						}
					}

					.intro-copy {
						padding: 10px 0 0;
						p {

						}
					}
				}
			}
		}
	}
}

/* Common Styles for Ideas Pages */
.border-top-dark-gray-thin {
	border-top: 1px solid #333;
} 