@media (max-width: $screen-mobile) {

	.order-progress {
		display: none;
	}

	.order-progress+.container_12.content-wrapper.account-container {
		margin-top: 0;
		padding: 0 !important;
	}

	#account-login,
	#account-register {

		h2 {
			padding: 20px;
			background-color: $colourHeaders;
			color: white;
		}

		> p {
			padding: 0 20px;
		}

		form {
			padding: 0 20px;
		}
	}

	#account-login {

		.form-row.no-label {
			padding: 8px 0 0 0;

			button {
				display: inline-block;
				margin-right: 10px;
			}

			p {
				display: inline-block;
				font-weight: bold;
				font-size: 0.8rem !important;
			}
		}
	}
}