@media (max-width: $screen-mobile) {
	body.sheds.decking {
		.video-plate-image-mobile {
			background: url(/web/images/_new_images/sections/home/B_Browse_Inspiration_430x305.jpg) no-repeat top left;
			@include background-size(100% auto);
			
		}
		.helpandadvice-image-mobile {
			background: url(/web/images/_new_images/sections/helpadvice/decking/A_Decking_434x241.jpg) no-repeat top left;
			@include background-size(100% auto);
		}
        //Images for Inspiration Carousel
        .swiper-slide {
            //Decks
            &.one {
            	background: url(/web/images/_new_images/sections/decking/A_Deck_845x500.jpg) no-repeat top left;
            	@include background-size(auto 100%);
            }
            &.two {
            	background: url(/web/images/_new_images/sections/decking/B_Deck_845x500.jpg) no-repeat top left;
            	@include background-size(auto 100%);
            }
            &.three {
            	background: url(/web/images/_new_images/sections/decking/C_Deck_845x500.jpg) no-repeat top left;
            	@include background-size(auto 100%);
            }
            &.four {
            	background: url(/web/images/_new_images/sections/decking/D_Deck_845x500.jpg) no-repeat top left;
            	@include background-size(auto 100%);
            }
            &.five {
            	background: url(/web/images/_new_images/sections/decking/E_Deck_845x500.jpg) no-repeat top left;
            	@include background-size(auto 100%);
            }
            &.six {
            	background: url(/web/images/_new_images/sections/decking/F_Deck_845x500.jpg) no-repeat top left;
            	@include background-size(auto 100%);
            }
        }
    }
}

