.colorpicker-title-mobile, .colorpicker-image-mobile {
    display: none;
}

@media (max-width: $screen-mobile) {

    .prepainted_sheds {
        .product-shot {
            padding: 0px !important;
        }

        .open-overlay {
            display: none;
        }
    }

    body#product {
        overflow: auto;

        .basketPanel form span {
            width: auto !important;
            max-width: 140px;
        }

        .imageHeading, ul.product-listing li:first-of-type, .colour-selector-promo, .toggle-hide-show, .fence-wrapper, .related-products, .product-spare-parts-fence {
            display: none !important;
            background: none !important;
        }

        .product-spare-parts-decking {
            .content {
                width: 100%;
                margin-top: 30px;
                h2 {
                    margin-left: 10px;
                }
                p img {
                    width: 100%;
                    @include box-sizing(border-box);
                }
                table td {
                    font-size: 12px;
                    a.button {
                        font-size: 10px;
                        padding: 2px 30px 2px 14px;
                    }
                }
            }
        }

        .title.grid_12{
            display: block;
        }

        //Main Product Title
        .title {
            @include box-sizing(border-box);
            margin: 0;
            padding: 0 20px;
            border: none;

            h2 {
                margin: 15px 0 -15px 0;
                font-size: 24px;
                line-height: 31px;
            }
            h3 {
                display: none;
            }
            &#usage-guide{
                padding: 0;
            }

            &:after {
                content: ".";
                visibility: hidden;
                clear: both;
            }
        }

        .title.grid_12 {
            float: none;
            clear: both;
        }

        .grid_3.pt10{
            width: 25% !important;
            margin-left: 5% !important;
            float: left;
            margin-bottom: 25px !important;
        }

        .grid_3.pt10 ~ .grid_3.pt10{
            width: 100% !important;
            margin: 0 !important;
        }

        .grid_6.pt10 {
            display: block;
            width: auto !important;
            margin-left: 0% !important;
            float: none;
            clear: right;
        }

        //Floated Left image
        .product-shot {
            @include box-sizing(border-box);
            padding: 20px;
            margin: 0;
            border: 2px solid #d3d3d3;
            border-top: 1px solid #acacac;
            border-bottom: 1px solid #acacac;
            width:100%;

            img {
                display: block;
                max-width: 100%;
                border: none;
                margin-left: auto;
                margin-right: auto;
            }
        }
        .grid_3.pt10.product-image-cont {
            width: 90% !important;

            .product-shot {
                border: none;
            }
        }
        .product-summary {
            padding: 0;
            margin: 0;
            padding-top: 10px;
            float: none;
            clear: right;
            width: auto;

            ul{
                width: 60%;
                margin-top: 0;
                margin-bottom: 10px;
                margin-left: 35%;
                clear: right;
                float: none;

                li{
                    width: auto;
                    float: none;
                    display: block;
                    font-size: 14px;
                    line-height: 18px;
                    padding-bottom: 20px;
                }

            }
            p {
                display: none;
            }
        }

        #shoppingBasket, .how-much {
            display: block;
            clear: both;
            float: none;
            margin: 0 20px;
        }
        .product-summary h4{
            display: block;
            clear: both;
            float: none;
            margin-right: 20px;
            margin-left: 20px;
        }
        p.mobile__product__description{
            clear: both;
            display: block;
            padding: 0 5%;
            width: auto;

        }
        //Green divider and content
        .product-side-panel {
            margin-bottom: 40px;
            h5 {
                @include box-sizing(border-box);
                display: block;
                margin: 0;
                margin: 10px 0 15px 10px !important;
                padding: 0 20px;
                width: 100%;
                height: 31px;
                border: 1px solid #9fca9d;
                border-width: 1px 0 1px 0;
                font-size: 14px;
                line-height: 31px;
            }
            p {
                padding-right: 21px;
                padding-left: 21px;
            }
            p.footnote {
                margin-top: 15px;
                margin-bottom: -5px;
                font-size: 14px !important;
                line-height: 20px !important;
            }
        }
        #usage-guide {
            margin-bottom: 0px;
        }
        //End of Tool color
        .zigzag {
            margin: 20px 0 15px 0;
        }
        //List of Colors
        .tool-colour-full {
            margin: 0;
            margin-top: -40px;
            padding: 0;
            text-align: center;
            h2 {
                text-align: left;
                font-size: 18px;
                margin: -15px 0 15px 0;
                padding: 0 20px;
            }
            ul.colours {
                position: relative;
                display: block;
                margin: 0 20px !important;
                padding: 0;
                width: auto !important;
                border: none;
                background: none;
                text-align: left;

                li {
                    position: relative;
                    display: inline-block;
                    padding: 0;
                    margin: 4px 2px;
                    margin-bottom: 0;
                    width: 85px;
                    height: 85px;
                    float: left;

                    a, img {
                        display: block;
                        width: 85px !important;
                        height: 85px !important;
                    }

                    &.expanded {
                        width: 100%;
                        height: auto !important;

                        .left,
                        .right {
                            position: relative;
                            top: 0px;
                            left: 0px;
                            display: block;
                            width: 100%;
                            height: auto;
                            padding: 0 !important;
                            float: none;
                            clear: both;

                            > div {
                                margin: 0 !important;
                            }
                        }

                        .other-product-link {
                            width: auto !important;
                            height: 85px !important;
                            background-color: white;
                        }

                        .other-product-image {
                            display: block;
                            width: auto !important;
                            max-width: 65px !important;
                            height: auto !important;
                            max-height: 75px !important;
                            padding: 5px 10px;
                        }

                        .left {
                            padding: 272px 10px 10px 10px !important;

                            .basket-option:first-child {
                                span {
                                    float: right;
                                }
                            }
                        }

                        .right {
                            position: absolute;
                            top: 12px;

                            > div {
                                margin: 0 10px !important;
                            }
                        }

                        .product-colour {
                            display: block;
                            width: auto !important;
                            min-height: 240px;
                            float: none;
                            clear: both;

                            h2 {
                                padding: 0;
                            }
                        }
                    }
                }
            }
            a.button {
                margin-top: 20px;
                margin-left: auto;
                margin-right: auto;
                clear: both;
            }
        }
        //Colorpicker image
        .colorpicker-title-mobile {
            font-size: 18px;
            font-weight: normal;
            display: block;
            margin: 0 0 15px 20px;
            float: none;
            display: none;
        }
        .colorpicker-image-mobile {
            display: block;
            overflow: hidden;
            width: 100%;
            height: 177px;
            background: url(/web/images/_new_images/sections/helpadvice/fenceImg.jpg) no-repeat top left;
            @include background-size(100% auto);
            margin-bottom: -30px;
            .button {
                @extend %button;
                @include box-shadow(none);
                margin: 65px 0 0 20px;
            }
        }
        //Usage Guides
        .product-usage-guide {
            padding: 0 20px;
            h2 {
                font-size: 18px;
                font-weight: normal;
            }
            h3 {
                font-size: 16px;
                line-height: 24px;
                margin-top: 20px !important;
                margin-bottom: 5px !important;
            }
            .content > .clearfix:nth-of-type(2) .grid_12 {
                margin-top: -6px;
            }
        }
        div.footer-icons {
            margin-top: -15px;
            .zig-zag {
                @extend %sep-line;
            }
        }

        .tool-colour-full-container {
            position: relative;
            background-color: $offColouredBackground;

            &:before {
                content: "";
                display: block;
                position: absolute;
                width: 100%;
                top: 0px;
                left: 0px;
                height: 12px;
                background-image: url("/web/images/_new_images/zig-zag-transp-top.png");
                background-repeat: repeat-x;
                background-position: top;
                background-size: 24px 12px;
                z-index: 2;
            }
        }

        .basketPanel {

            form {
                text-align: right;
            }

            .basket-option {
                text-align: left;

                label {
                    width: auto !important;
                }
            }

            .basketTotal {
                text-align: left;

                span {
                    width: auto !important;
                    font-size: 1.2rem;
                }
            }

            #basketOptionBtn {
                display: inline-block;
                margin-left: 0;
                margin-right: 20px;
            }
        }
    }
}
