@media (max-width: $screen-mobile) {
	body.sheds.fences {
		.video-plate-image-mobile {
			background: url(/web/images/_new_images/sections/home/D_Browse_Inspiration_430x305.jpg) no-repeat top left;
			@include background-size(100% auto);
			
		}
		.helpandadvice-image-mobile {
			background: url(/web/images/_new_images/sections/helpadvice/fenceImg.jpg) no-repeat top left;
			@include background-size(100% auto);
		}
        //Images for Inspiration Carousel
        .swiper-slide {
            //Fences
            &.one {
            	background: url(/web/images/_new_images/sections/fences/A_Fence_845x500.jpg) no-repeat top left;
            	@include background-size(auto 100%);
            }
            &.two {
            	background: url(/web/images/_new_images/sections/fences/B_Fence_845x500.jpg) no-repeat top left;
            	@include background-size(auto 100%);
            }
            &.three {
            	background: url(/web/images/_new_images/sections/fences/C_Fence_845x500.jpg) no-repeat top left;
            	@include background-size(auto 100%);
            }
            &.four {
            	background: url(/web/images/_new_images/sections/fences/D_Fence_845x500.jpg) no-repeat top left;
            	@include background-size(auto 100%);
            }
            &.five {
            	background: url(/web/images/_new_images/sections/fences/E_Fence_845x500.jpg) no-repeat top left;
            	@include background-size(auto 100%);
            }
            &.six {
            	background: url(/web/images/_new_images/sections/fences/F_Fence_845x500.jpg) no-repeat top left;
            	@include background-size(auto 100%);
            }
        }
    }
}