.mobile__locator__modal, .mobile__locator__overlay, .location-items-mobile, .mobile__locator__list__buttons {
    display: none;
}

@media (max-width: $screen-mobile) {
    .mobile__locator__modal, .mobile__locator__overlay, .location-items-mobile, .mobile__locator__list__buttons {
        display: block;
    }
    body.store-finder {
        position: fixed !important;
        overflow: hidden !important;
        width: 100%;
        .imageHeading, ul.product-listing li:first-of-type, .colour-selector-promo, .toggle-hide-show, .fence-wrapper, .related-products, .product-spare-parts, .massive-wrapper {
            display: none !important;
            background: none !important;
        }
        .storefinder-content {
            .grid_4 {
                h2:first-of-type {
                    display: none;
                }
                p:first-of-type {
                    display: none;
                }
            }
            .search-form {
                display: none;
            }
            div.map-search {
                position: relative;
                float: none;
                margin: 0;
                padding: 0;
                width: 100%;
                background-color: none;
                div#map {
                    margin: 0;
                    border: none;
                    box-shadow: none;
                }
                .map-search-location-icon {
                    position: absolute;
                    top: 10px;
                    left: 10px;
                    width: 30px;
                    height: 30px;
                    background: url("/web/images/retina/locator-map-icon-off@2x.png") no-repeat;
                    @include background-size(100% 100%);
                    &:after {
                        @include opacity(0);
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: url("/web/images/retina/locator-map-icon-on@2x.png") no-repeat;
                        @include background-size(100% 100%);
                        content: "";
                    }
                    &.active, &:active {
                        &:after {
                            @include opacity(1);
                        }
                    }
                }
            }
            div.find-store {
                width: 100%;
                .locations {
                    display: none;
                    background: none;
                    box-shadow: none;
                }
                .location-items {
                    display: none !important;
                }
                .location-items-mobile {
                    display: block;
                }
            }
            .mobile__locator__modal__content, .location-items-mobile {
                .distance, .tinting, .mobile__locator__list__buttons {
                    display: none;
                }
                .name {
                    margin-bottom: 7px;
                    font-size: 14px;
                    font-family: 'arial';
                }
                .address, .zip {
                    margin: 0;
                    padding: 0;
                    font-size: 14px;
                    font-family: 'arial';
                    line-height: 21px;
                }
                .telephone {
                    margin-top: 13px;
                    margin-bottom: 11px;
                    padding: 0;
                    font-weight: bold;
                    font-size: 14px;
                    font-family: 'arial';
                }
            }
            .location-items-mobile {
                margin: 23px 0 0 20px !important;
                li {
                    margin-top: 40px;
                    &:first-of-type {
                        margin-top: 0;
                    }
                }
                .mobile__locator__list__buttons {
                    display: block;
                    margin-top: 20px;
                    font-family: 'arial';
                    a {
                        display: block;
                        float: left;
                        margin-right: 8px;
                        width: 87px;
                        height: 30px;
                        background-color: #318d2e;
                        color: #fff;
                        text-align: center;
                        font-size: 12px;
                        line-height: 30px;
                        &:active {
                            background-color: #20681d;
                        }
                    }
                    &:after {
                        display: block;
                        visibility: hidden;
                        clear: both;
                        height: 0;
                        content: ".";
                    }
                }
            }
        }
    }
    body > div.gradient {
        display: none;
    }
    //No results and listings Page
    .container_12.content-wrapper.account-container {
        margin-top: 35px;
        padding: 0 20px !important;
        background: #fff;
        h3, form[name="stockists"] {
            display: none;
        }
        div.title.noimage {
            display: block;
            margin: 0;
            border: none;
            h2 {
                margin-bottom: 15px;
                text-decoration: none;
                font-size: 18px;
                line-height: 21px;
            }
        }
        #stockist-results {
            ul {
                margin: 0;
                list-style: none;
                li, li a {
                    font-size: 18px;
                    line-height: 31px;
                }
            }
        }
    }
}