

@media (max-width: $screen-mobile) {
    body.mobile__locator {
        @include box-sizing(border-box);
        overflow: hidden;
        position: fixed;
        width: 100%;
        margin:0;
    }
    .mobile__locator__tabs {
        @include box-sizing(border-box);
        margin: 0;
        padding: 0;
        width: 100%;
        background-color: #20681d;
        list-style: none;
        font-weight: bold;
        font-size: 16px;
        li {
            @include box-sizing(border-box);
            //@include transition(all 0.3s ease);
            float: left;
            margin: 0;
            padding: 0;
            width: 50%;
            height: 40px;
            color: #fff;
            text-align: center;
            line-height: 40px;
            cursor: pointer;
            &:first-of-type {
                border-right: 1px solid #96b683;
            }
            &:last-of-type {
                border-left: 1px solid #96b683;
            }
            &.active, &:active {
                background-color: #318d2e;
                text-shadow: -1px 1px 17px #ffd, 1px -1px 17px #fff;
            }
        }
        &:after {
            display: block;
            visibility: hidden;
            clear: both;
            height: 0;
            content: ".";
        }
    }
    .mobile__locator__map {
        @include background-size(100%);
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        background: url("/web/images/retina/locator-map@2x.png") left top repeat;
        .mobile__locator__map__info {
            position: relative;
            padding-top: 80px;
            width: 100%;
            height: 100%;
            background: rgba(255, 255, 255, 0.8);
            text-align: center;
            @media (max-width: 340px) {
                padding-top: 20px;
            }
            h2 {
                margin-top: 15px;
            }
            h3 {}
            #js-link-geolocation {
                display: none;
            }
        }
    }
    .mobile__locator__overlay {

        @include opacity(0);
        @include box-sizing(border-box);
        @include transition(all 0.3s);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        visibility: hidden;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        /*dim the background*/
        &.visible {
            @include opacity(1);
            visibility: visible;
        }
    }
    .mobile__locator__modal {
        @include opacity(0);
        @include transition(all 0.3s);
        @include transform(scale(0.7));
        @include box-sizing(border-box);
        @include backface-visibility(hidden);
        position: fixed;
        top: 50%;
        left: 50%;
        z-index: 11;
        visibility: hidden;
        margin-top: -25px;
        margin-left: -120px;
        //min-height: 50px;
        width: 240px;
        .mobile__locator__modal__content {
            @include box-sizing(border-box);
            padding: 15px 20px 5px 20px;
            width: 100%;
            border: 1px solid #cccec8;
            border-width: 1px 1px 0 1px;
            background-color: #fff;
            text-align: left;
            .text--loading {
                float: left;
                font-weight: bold;
            }
            .mobile__spinner {
                //margin-left: 15px;
                float: right;
            }
            p {
                font-size: 14px;
                line-height: 21px;
            }
            #js-text-loading {
                margin-top: 5px;
            }
            #js-text-error {
                text-align: center;
                font-weight: bold;
            }
            &:after {
                visibility: hidden;
                display: block;
                font-size: 0;
                content: " ";
                clear: both;
                height: 0;
            }
        }
        .mobile__locator__modal__buttons {
            width: 100%;
            height: 40px;
            line-height: 40px;
            margin: 10px 0 0 0;
            padding: 0;
            background-color: #318d2e;
            position: absolute;
            bottom: -40px;
            left: 0;
            list-style: none;
            a {
                text-align: center;
                color: #fff;
                @include box-sizing(border-box);
                margin: 0;
                padding: 0;
                float: left;
                height: 100%;
                line-height: 40px;
                width: 50%;
                font-size: 14px;
                &:active {
                    background-color: #20681d;
                }
                &:first-of-type {
                    border-right: 1px solid #297c26;
                }
                &:last-of-type {
                    border-left: 1px solid #297c26;
                }
            }
        }
        &.visible {
            @include opacity(1);
            @include transform(scale(1));
            visibility: visible;
        }
    }
}



