@media (max-width: $screen-mobile) {
	body#products , body#product {
		overflow: auto;
		.imageHeading {
			display: none !important;
		}
		.imageHeading{
			background: none !important;
		}
		.title {
			h2 {
				text-align: center;
				margin-left: 0; 
			}
		}
		ul.product-listing li{
			margin-bottom: -15px !important;
		}
		#product-list{
			margin: 0;
			padding: 0;
			width: auto;
		}
	}
}