body#order {
		.basket-header-buttons {
				display: none;
		}
}

@media (max-width: $screen-mobile) {

		body#order {

				button.button,
				input[type="submit"] {
						//border-radius: 0;
						//line-height: 1.2em;
						//padding: 3px 8px 4px 8px;
						//font-size: 10px;
						//height: auto !important;
						//-moz-box-sizing: border-box;
						//box-sizing: border-box;
						//display: block;
						//margin: 0;
						//
						//&.remove {
						//  height: 25px !important;
						//}
				}


				.basket-headers {
						display: none;
				}

				.basket-header-buttons {
						display: block;
						padding: 0 20px;
						float: none;
						clear: both;

						.button.profile-link {
								padding: 3px 30px 4px 14px;

								@media (min-width: 350px) {
										float: left;
								}

								span {
										background-image: url("/web/images/buttons/profile_icon.png");
										background-size: 14px 12px;
										width: 14px;
								}
						}

						.basket-nav-checkout {
								margin-top: 10px;
								padding: 3px 14px 4px 14px;
								
								@media (min-width: 350px) {
										margin-top: 0;
										float: right;
								}
						}
				}

				.basket-items-full {
						float: none;
						clear: both;
						margin-top: 20px;
						background-color: $offColouredBackground;
						z-index: 1;

						&:before {
								content: "";
								display: block;
								position: relative;
								top: 0px;
								left: 0px;
								height: 12px;
								background-image: url("/web/images/_new_images/zig-zag-transp-top.png");
								background-repeat: repeat-x;
								background-position: top;
								background-size: 24px 12px;
								z-index: 2;
						}

						&:after {
								content: "";
								display: block;
								position: relative;
								bottom: 0px;
								left: 0px;
								height: 12px;
								background-image: url("/web/images/_new_images/zig-zag-yellow-bottom.png");
								background-repeat: repeat-x;
								background-position: bottom;
								background-size: 24px 12px;
								z-index: 2;
						}

						li {
								display: block;
								position: relative;
								float: none;
								clear: both;
								padding: 20px 20px 25px 20px;
								margin: 0;
								overflow: hidden; // clearfix

								.sep {
										clear: both;
										padding: 0;
										border-top: 1px solid #e9e4c2;
										border-bottom: 1px solid white;
										position: relative;
										top: 20px;
								}

								&:last-child {

										.sep {
												display: none;
										}
								}
						}
					.thumbnail{
						display: block;
						width: 35px !important;
						padding: 5px 5px;
						float: left;
						background-color: white;
						border-width: 1px;
						border-style: solid;
						border-color: $colourImageBorders;

						img {
							width: 35px !important;
							height: 50px !important;
							border: 0;
							display: block;
						}
					}
					.quantity {
							// position: absolute;
							// left: 90px;
							// top: 95px;
							display: block;
							width: auto!important;
							font-weight: bold;
							font-size: 1.05rem;

							.basket-quantity{
								font-size: 12px;
							}
							.submit-quantity {
								font-size: 0.8rem;
							}

							@media (min-width: 350px) {
								whitespace: no-wrap;
								.basket-quantity,
								.submit-quantity {
										display: inline-block;
								}
							}
						}
					.item_price{
							display: block;
							width: auto !important;
							margin-right: 5px!important;
							padding-left: 10px;
							// position: absolute;
							// top: 100px;

						&:after{
							display: inline-block;
							content: 'x';
							margin-left: 5px;
						}

							input {
								display: inline-block;
								margin: 0;
								float: none;
								clear: none;

								&:first-child {
									height: 24px;
									-moz-box-sizing: border-box;
									box-sizing: border-box;
									text-align: right;
								}
							}
						}
						.product_price {
							display: block;
							float: right;
							width: auto !important;
							padding-right: 10px;
							// position: absolute;
							// top: 100px;
							// right: 20px;
						}
						.product_name{
							display: block;
							width: auto !important;
							margin-left: 10px !important;
							margin-right: 10px !important;
							padding-left: 50px !important;
							padding-right: 15px !important;
							border-bottom: 1px solid scale-lightness(#e9e4c2, 25%);
							margin-bottom: 15px;
							float: none;
							clear: none;
							padding: 0 0 15px 0;
							font-weight: bold;
							font-size: 13px;
							min-height: 65px;

							p {
								font-weight: normal;
								font-size: 13px !important;
							}
						}
						.product_delete{
							position: absolute;
							top: 20px;
							right: 20px;
							width: auto !important;
						}
						.btn-primary.remove {
								position: relative;
								display: block;
								width: 18px;
								height: 25px;
								padding: 0;
								margin: 0;
								background-color: transparent;
								background-image: url("/web/images/global/delete.png");
								background-size: 18px 25px;
								background-position: center;
								background-repeat: no-repeat;
								box-shadow: none;
								border: 0;
								overflow: hidden;
								text-indent: 36px;
						}
				}

				.basket-summary-full {
						display: block;
						padding: 20px;
						float: none;
						clear: both;
				}

				.basket-checkout {
					padding-left: 20px;
					padding-right: 20px;
					overflow: hidden;
						input {
							float: right;
						}
				}

				.basket-empty {
						padding-left: 30px;
				}

				.title.no-border.grid_12 {
						display: block;
						float: none;
						clear: both;

						div {
								width: auto !important;
								display: block;
								float: none;
								clear: both;
						}

						h2 {
								display: block;
								padding: 20px;
								margin: 0 0 20px 0;
								background-color: $colourHeaders;
								color: white;
						}
				}

			.table-wrapper{
				float: left;
				height: 100%;
				width: 100%;
				position: relative;
			}

		}

		body.basket-payment {

				#order-form {

						> h3 {
								display: block;
								padding: 20px;
								margin: 0 -20px 20px -20px;
								background-color: $colourHeaders;
								color: white;
						}

						> .grid_12 {
								border-top: 1px solid $colourImageBorders;

								h3 {
										display: block;
										padding-top: 20px;
										margin-bottom: 0;
										font-size: 14px;
								}

								fieldset {
										padding: 0;
								}

								&:nth-child(4) {

										h3 {
												font-size: 18px;
										}
								}

								&:nth-child(5) {
										padding-top: 15px;
										text-align: right;

										h3 {
												display: none;
												text-align: left;
										}

										label {
												margin-right: 0;
												text-align: left;
										}

										button {
												display: inline-block;
										}

										input {
												display: inline-block;
												width: auto !important;
										}
								}
						}
				}

				#security-notice-3d-secure {
						padding: 20px 20px 0 20px;

						p {
								font-size: 0.8rem !important;
						}

						strong {
								font-weight: normal;
						}
				}

				#checkout-security {

						li {
								display: block;
								width: 50%;
								float: left;
								clear: right;
								text-align: center;
						}
				}

				#order-basket-summary {
						border-top: 1px solid $colourImageBorders;
						padding-top: 15px;

						th {
								font-size: 14px;
						}
				}

				#basket-totals {

						table {
								width: 100%;
								float: none;
								clear: both;
						}

						td {
								text-align: right;
						}

						th {
								text-align: left;
						}

						.t-total-grand {
								
								td,
								th {
										padding-top: 20px;
										font-size: 1.2rem;
								}
						}
				}

				#account-order-items {
						float: none;
						clear: both;
				}
		}

		body.basket-shipping,
		body.basket-payment {

				.title.no-border.grid_12 {
						display: none;
				}

				.account-container {

						.grid_12 {
								display: block;
								width: auto !important;
								float: none;
								clear: both;
						}

						h2 {
								padding: 20px;
								background-color: $colourHeaders;
								color: white;
						}

						form {
								padding: 0 20px;
						}

						label {
								position: relative;
								float: none;
								clear: both;
								margin-right: 82px;

								span {
										display: block;
										width: auto !important;
										float: none;
										clear: both;
										margin-bottom: 5px;
										font-size: 0.9rem;
										font-weight: bold;
										text-align: left;
								}

								input {
										width: 100%;
										height: 38px;
										-moz-box-sizing: border-box;
										box-sizing: border-box;
								}

								.formError {
										position: absolute;
										width: 72px;
										bottom: 0px;
										right: -92px;
										font-size: 12px;
										color: $colourFormFieldError;
								}

								&[for="billingAddressSameSw"] {
										margin-right: 0;
										text-align: left;

										input {
												display: inline-block;;
												width: auto !important;
										}
								}
						}

						.form-row.no-label {
								padding: 8px 0 0 0;
								text-align: right;

								button {
										display: inline-block;
										margin-right: 0;
								}
						}
				}
		}

		body.basket-confirmation {

				.thanks-list {

						h2,
						.title.grid_12 {
								display: block;
								margin: 0;
						}

						h2 {
								padding: 20px;
								margin: 0 -20px 20px -20px;
								background-color: $colourHeaders;
								color: white;
						}

						.grid_12 {
								display: block;
								width: auto !important;
								margin-left: 20px !important;
								margin-right: 20px !important;
								float: none;
								clear: both;
						}
				}

				#register-form {
						padding: 0;
						margin: 0 !important;

						legend {
								display: none;
						}

						dt {
								display: block;
								position: relative;
								float: none;
								clear: both;
								width: auto !important;
								font-size: 0.9rem;
								font-weight: bold;
								text-align: left;

								label {
										width: auto !important;
										margin: 0;
										padding-bottom: 5px;
								}
						}

						dd {
								display: block;
								margin: 0 !important;
								float: none;
								clear: both;

								input {
										position: relative;
										float: none;
										clear: both;
										width: 100%;
										height: 38px;
										-moz-box-sizing: border-box;
										box-sizing: border-box;
								}
						}

						fieldset.offers {
								
								em {
										display: none;
								}

								ul {
										list-style: none;
										margin-left: 0;
										padding-left: 0;
								}

								input {
										display: inline-block;
										width: auto;
										height: auto;
								}
						}

						input.submit {
								background: transparent;
								border: 0;
								padding: 0;
								margin: 0;
								outline: 0;
								box-shadow: none;
								margin-top: 20px;
								float: right;
						}
				}
		}

	// new recommended product column style
	.right-col_recommended{
		padding-top: 20px!important;
		padding-left: 20px;
		padding-right: 20px;

		ul{
			padding: 0;
			margin: 0 ;

			.rec-product{
				list-style: none;
				float: left;
				display: block;
				padding: 10px;
				border: 1px solid green;
				width: 100%;
				@include box-sizing(border-box);
				input[type="submit"]{
					display: block;
				}
				form {
					text-align: left;
				}
			}
			.rec-product-image {
				width: 50px;
				float: left;
				margin-right: 10px;
				>img { 
					width: 100%;
					height: auto;
				}
			}
			.rec-product-data {
				overflow: hidden;
				clear: none!important;
			}
			.rec-product-name{
				// float: left;
				display: block;

				font-size: 12px;
				font-weight: bold;
			}
		}

	}
}