@media (max-width: $screen-mobile) {
	body.sheds.buildings {
		.video-plate-image-mobile {
			background: url(/web/images/_new_images/sections/home/E_Browse_Inspiration_430x305.jpg) no-repeat top left;
			@include background-size(100% auto);
			
		}
		.helpandadvice-image-mobile {
			background: url(/web/images/_new_images/sections/helpadvice/buildings/A_Buildings_434x241.jpg) no-repeat top left;
			@include background-size(100% auto);
		}
        //Images for Inspiration Carousel
        .swiper-slide {
            //features
            &.one {
            	background: url(/web/images/_new_images/sections/features/A_House_845x500.jpg) no-repeat top left;
            	@include background-size(auto 100%);
            }
            &.two {
            	background: url(/web/images/_new_images/sections/features/B_House_845x500.jpg) no-repeat top left;
            	@include background-size(auto 100%);
            }
            &.three {
            	background: url(/web/images/_new_images/sections/features/C_House_845x500.jpg) no-repeat top left;
            	@include background-size(auto 100%);
            }
            &.four {
            	background: url(/web/images/_new_images/sections/features/D_House_845x500.jpg) no-repeat top left;
            	@include background-size(auto 100%);
            }
            &.five {
            	background: url(/web/images/_new_images/sections/features/E_House_845x500.jpg) no-repeat top left;
            	@include background-size(auto 100%);
            }
            &.six {
            	background: url(/web/images/_new_images/sections/features/F_House_845x500.jpg) no-repeat top left;
            	@include background-size(auto 100%);
            }
        }
    }
}

