body.advice {
    .canvas-title, .canvas-images {
        display: none;
    }
}

@media (max-width: $screen-mobile) {
    body.advice {
        background: none;
        p{
            padding: 0 20px;
        }
        .canvas-title, .canvas-images {
            display: block;
        }
        .canvas-title{
            margin-left: 0;
            margin-top: 20px;
        }
        .canvas-images {
            position: relative;
            &:before {
                @include background-image(linear-gradient(bottom, #fcfcfc 0%, #e8e8e8 100%));
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 4px;
                content: "";
            }
            &:after {
                @include background-image(linear-gradient(bottom, #e8e8e8 0%, #fcfcfc 100%));
                position: absolute;
                bottom: 0px;
                left: 0;
                width: 100%;
                height: 4px;
                content: "";
            }
            ul {
                overflow: auto;
                padding: 10px 0 20px 0;
                white-space: nowrap;
                -webkit-overflow-scrolling: touch;
                li {
                    display: inline-block;
                    float: none;
                    margin: 0;
                    margin-right: 6px !important;
                    padding: 0;
                    a {
                        @include box-sizing(border-box);
                        width: 89px;
                        height: 89px;
                        border: none;
                        background-position: center !important;
                        &:active {
                            border: 2px solid #acacac;
                        }
                    }
                    &:first-of-type {
                        margin-left: 20px;
                    }
                    &:last-of-type {
                        margin-right: 20px;
                    }
                }
            }
        }
        .canvas-images{
            ul{
                //overflow: hidden;
            }
            a.shed{
                background: url('/web/images/_new_images/sections/colourselector/selector_1b.jpg') 0 0 no-repeat !important;
                &:active, &.active{
                    background: url('/web/images/_new_images/sections/colourselector/selector_1a.jpg') 0 0 no-repeat !important;
                }
            }
            a.arbour {
                background: url('/web/images/_new_images/sections/colourselector/selector_2b.jpg') 0 0 no-repeat !important;
                &:active, &.active{
                    background: url('/web/images/_new_images/sections/colourselector/selector_2a.jpg') 0 0 no-repeat !important;
                }
            }
            a.fence {
                background: url("/web/images/_new_images/sections/colourselector/selector_3b.jpg") 0 0 no-repeat !important;
                &:active, &.active{
                    background: url('/web/images/_new_images/sections/colourselector/selector_3a.jpg') 0 0 no-repeat !important;
                }
            }
            a.furniture {
                background: url('/web/images/_new_images/sections/colourselector/selector_4b.jpg') 0 0 no-repeat !important;
                &:active, &.active{
                    background: url('/web/images/_new_images/sections/colourselector/selector_4a.jpg') 0 0 no-repeat !important;
                }
            }
            a.planter{
                background: url('/web/images/_new_images/sections/colourselector/selector_5b.jpg') 0 0 no-repeat !important;
                &:active, &.active{
                    background: url('/web/images/_new_images/sections/colourselector/selector_5a.jpg') 0 0 no-repeat !important;
                }
            }

        }
        .mobile__title--small{
            margin-bottom: 15px;
        }
        .imageHeading.grid_12, .sub-nav-container {
            display: none !important;
            background: none !important;
        }
        .yellow-section {
            background: none;
        }
        div.footer-icons div.zig-zag {
            @extend %sep-line;
        }
        h2 {
            padding: 0 20px;
            font-size: 18px;
            font-family: 'Arial';
            line-height: 21px;
        }
        .section-intro {
            @include box-sizing(border-box);
            .grid_3 {
                @include box-sizing(border-box);
                
                img {
                    @extend %image-mobile;
                    margin-top: -50px;
                    height: auto;
                }
            }
            div:nth-of-type(3) {
                overflow: hidden;
                height: 175px;
            }
            ul {
                margin: 0;
                padding: 0 40px;
                li {
                    margin-bottom: 20px;
                    font-size: 16px;
                    line-height: 21px;
                }
            }
        }

        //MAIN CONTAINER
        .container_12.pb20.pt40.content-wrapper {
            margin-top: 17px;
            #prepare {
                .section-intro {
                    h2 {
                        margin-bottom: -5px;
                        margin-left: 0;
                    }
                    p.larger {
                        margin-top: 20px;
                        margin-bottom: 25px;
                    }
                }
                .recommended-container {
                    h2 {
                        margin: -30px 20px 10px 20px;
                        padding: 0;
                    }
                    p {
                        display: none;
                    }
                }
                .product-listing {
                    padding: 0  0px 10px 20px !important;
                    text-align: left;
                    // li {
                    //     margin-bottom: -35px !important;
                    //     padding-right: 10px !important;
                    //     padding-left: 0 !important;
                    // }
                    li:last-of-type {
                        //display: none;
                        margin: 0;

                        a {
                            @include box-sizing(border-box);
                        }

                        span {
                            margin: 5px;
                            font-size: 13px;
                        }
                    }
                }
            }
            #revive {
                padding: 0 !important;
                .section-intro {
                    @extend %background-yellow;
                    position: relative;
                    padding-bottom: 15px;
                    h2 {
                        margin-top: 35px;
                        margin-bottom: -5px;
                    }
                    p.larger {
                        margin-top: 20px;
                        margin-bottom: 25px;
                    }
                    &:before {
                        background: none !important;
                    }
                }
                .recommended-container {
                    h2 {
                        margin: 30px 20px 10px 20px;
                        padding: 0;
                    }
                    p {
                        display: none;
                    }
                }
                .product-listing {
                    text-align: left !important;
                    padding: 0  0 15px 20px !important;
                    li {
                        margin-bottom: -15px !important;
                        padding-right: 10px !important;
                        padding-left: 0 !important;
                    }
                    li:last-of-type {
                        //display: none;
                        margin: 0;

                        a {
                            @include box-sizing(border-box);
                        }

                        span {
                            margin: 5px;
                            font-size: 13px;
                        }
                    }
                }
            }
        }
        #product-list {
            @include box-sizing(border-box);
            margin: 0;
            padding: 0 0 15px 20px !important;
            width: 100%;
            background: none !important;
            text-align: left !important;
            ul{
                text-align: left;
            }
            h2 {
                margin: 25px 20px 5px 20px;
                padding: 0;
            }
            li {
                margin-bottom: -15px !important;
                padding-right: 10px !important;
                padding-left: 0 !important;
            }
        }

        //Usage guides stuff
        .product-listing {
            text-align: left !important;
            li.grid_3 {
                margin-bottom: -15px !important;
                padding-right: 10px !important;
                padding-left: 0 !important;
            }
        }
    }
}
