@media (max-width: $screen-mobile) {
    body#search {
        .products.search .imageHeading {
            display: none;
        }
        .products.search.subheading {
            margin-top: 20px;
            h2 {
                padding: 0 20px;
                font-size: 18px;
                font-family: 'Arial';
                line-height: 21px;
            }
            h4 {
                display: none;
            }
        }
        #product-list {
            @include box-sizing(border-box);
            padding: 0 !important;
            width: 100% !important;
            ul.list-view {
                margin: 0 !important;
                margin-left: 50px !important;
                padding: 0 !important;
                li.grid_3 {
                    @include box-sizing(border-box);
                    overflow: visible;
                    margin: 0 20px 10px 20px;
                    margin-bottom: 10px;
                    padding: 0;
                    background: none !important;
                    .prod-image {
                        overflow: hidden;
                        margin: 0;
                        padding: 0;
                        width: 90px;
                        height: 90px;
                        border: 1px solid #acacac;
                        background: none !important;
                        text-align: center;
                        img {
                            float: none;
                            margin: 0 !important;
                            max-height: 100% !important;
                        }
                    }
                    .prod-title {
                        width: 140px;
                    }
                    .prod-info {
                        float: none;
                        clear: both;
                        margin: 0;
                        padding: 0;
                        width: auto;
                        height: auto;
                        background: none !important;
                    }
                }
            }
        }

        //Edit the second level list, the one without images!
        .product-listing:last-of-type {
            .prod-title {
                float: none !important;
                margin: 0 !important;
                margin-top: 20px !important;
                margin-bottom: 10px !important;
                padding: 0 !important;
                width: auto !important;
                height: auto !important;
                font-size: 18px !important;
                line-height: 21px !important;
            }
            .prod-info {
                .right {
                    float: none;
                    width: auto;
                }
                p {
                    margin: 0;
                    padding: 0;
                }
            }
        }

        .product-listing.list-view a span {
        color: $green-primary !important;
        //@extend %button;
        }

        .product-listing.list-view a:active span{
            color: darken($green-primary, 10%) !important;
        }



    }
}

.search-swatch-background {
  height: 80px;
  width: 197px;
  border: 4px solid #dedede;
  background: grey;
}

.search-swatch-name {
  color: #fff;
  font-size: 1.15em;
  background: #2e872b;
  display: block;
  line-height: 1em;
  height: 30px;
  padding: 15px;
  margin-bottom: 20px;
}
