@media (max-width: $screen-mobile) {
	body.sheds {
		.video-plate-image-mobile {
			background: url(/web/images/_new_images/sections/home/A_Browse_Inspiration_430x305.jpg) no-repeat top left;
			@include background-size(100% auto);
			
		}
		.helpandadvice-image-mobile {
			background: url(/web/images/_new_images/sections/helpadvice/shed/A_Shed_434x241.jpg) no-repeat top left;
			@include background-size(100% auto);
		}
        //Images for Inspiration Carousel
        .swiper-slide {
            //Fences
            &.one {
            	background: url(/web/images/_new_images/sections/sheds/A_Shed_845x500.jpg) no-repeat top left;
            	@include background-size(auto 100%);
            }
            &.two {
            	background: url(/web/images/_new_images/sections/sheds/B_Shed_845x500.jpg) no-repeat top left;
            	@include background-size(auto 100%);
            }
            &.three {
            	background: url(/web/images/_new_images/sections/sheds/C_Shed_845x500.jpg) no-repeat top left;
            	@include background-size(auto 100%);
            }
            &.four {
            	background: url(/web/images/_new_images/sections/sheds/D_Shed_845x500.jpg) no-repeat top left;
            	@include background-size(auto 100%);
            }
            &.five {
            	background: url(/web/images/_new_images/sections/sheds/E_Shed_845x500.jpg) no-repeat top left;
            	@include background-size(auto 100%);
            }
            &.six {
            	background: url(/web/images/_new_images/sections/sheds/F_Shed_845x500.jpg) no-repeat top left;
            	@include background-size(auto 100%);
            }

            @media screen and (orientation:landscape) {
                @include background-size(100% auto !important);   
            }

        }
    }
}