//Desktop Specific Styles
.video-plate-image-mobile, .helpandadvice-image-mobile {
    display: none;
    img {
        display: none;
    }
}
.swiper-header {
    display: none;
}

#helpandadvice h3 {
    text-transform: uppercase;
}

//Mobile Styles
@media (max-width: $screen-mobile) {
    //Full screen image across mobile, cropping contained img
    %image-mobile {
        display: block;
        overflow: hidden;
        width: 100%;
        height: 177px;
        img {
            display: block;
            width: 100%;
            height: auto;
        }
    }
    //Gives the container a yellow background with zig-zags
    %background-yellow {
        background: #fffef2 url("/web/images/_new_images/zig-zag-yellow-top.png") repeat-x top left;
        &:before {
            content: "";
            min-height: 20px;
            position: absolute;
            top: -10px;
            left: 0;
            width: 100%;
            background: url(/web/images/_new_images/zig-zag-yellow-top-bottom.png) repeat-x top left !important;
        }
        &:after {
            content: "";
            min-height: 20px;
            position: absolute;
            bottom: -10px;
            left: 0;
            width: 100%;
            background: url(/web/images/_new_images/zig-zag-yellow-top-bottom.png) repeat-x top left !important;
        }
    }
    //Logic for grey Divider
    %sep-line {
        background: url("/web/images/_new_images/sep-line.png") center center no-repeat !important;
        @include background-size(100% 2px !important);
        height: 2px !important;
    }
    //hide specific elements
    div.fence.t425 {
        display: none;
    }
    //Specific Styling?
    body.sheds, %temp {
        div.sheds {
            margin: 0;
            padding: 0;
            .image {
                @include background-size(auto 153px !important);
                height: 153px !important;
            }
        }
        h1.mobile__title {
            margin-bottom: 32px;
            padding-left: 20px;
        }
        .heading-wrapper {
            margin: 0 0 25px 0 !important;
            padding: 0 !important;
            height: 153px !important;
            background: none !important;
            display: none !important;
            .image {
                background: none !important;
            }
        }
        .sub-nav-container {
            display: none;
            .subNav {
                background: none !important;
            }
        }
        .sheds-colour-selector {
            float: left;
            width: auto !important;
        }
        .section-ideas {
            h2 {
                padding: 0 20px;
                margin-bottom: -16px;
                font-size: 24px;
            }
            h4 {
                padding: 0 20px;
                margin-bottom: 13px;
                font-size: 16px;
                line-height: 21px;
            }
            p {
                padding: 0 20px;
            }
        }
        #product-carousel {
            display: none;
        }
        .slide-info .button {
            width: 95px !important;
        }
        //Replace Zig-Zag with divider
        div.footer-icons .zig-zag, {
            @extend %sep-line;
            margin-top: -35px;
        }
        .footer-icon:first-of-type {
            margin-top: -30px;
        }
        .yellow-zig-top-bottom2 {
            @extend %sep-line;
            margin-top: 1px;
            margin-bottom: 5px;
        }
        //VIDEO Component
        .video-plate {
            @extend %background-yellow;
            margin-top: 5px;
            padding: 35px 20px 35px 20px;
            border: none;
            position: relative;
            div {
                float: none;
                margin: 0;
                width: 100%;
            }
            img {
                display: none;
            }
            h4 {
                margin: 0;
                padding: 0 !important;
                margin-top: 10px !important;
                margin-bottom: 18px !important;
                font-size: 18px !important;
            }
            .video-plate-image-mobile {
                @extend %image-mobile;
            }
            p {
                padding: 0 !important;
                margin: 10px 0 15px 0;
            }
        }
        //COLOR SELECTOR COMPONENT
        .sheds-colour-selector {
            width: 100% !important;
            padding: 0 20px;
            margin-top: -20px;
            height: auto;
            display: block;
            margin-bottom: -17px;
            @include box-sizing(border-box);
            div {
                background: none;
                width: auto;
                height: auto;
            }
            .tool-colour-mini {
                display: none;
            }
            .colour-selector-copy {
                padding: 0;
                width: auto;
                height: auto;
                float: none;
                color: #333;
                h4 {
                    padding: 0;
                    margin: 0;
                    color: #333;
                    font-size: 18px;
                }
                p {
                    padding: 10px 0 15px 0;
                    margin: 0;
                    @extend %p !optional;
                }
                a {
                    margin: 0;
                    @extend %button;
                    span {
                        display: none;
                    }
                }
            }
        }
    }
    //Carousel Component
    .swiper-header {
        margin-left: 20px;
        margin-top: 47px !important;
        display: block;
    }
    // pre-painted sheds section
    #pre-painted {
        h2 {
            margin: 0;
            margin-bottom: 5px;
            padding: 0 20px;
            font-size: 18px;
        }
        p {
            padding: 10px 20px 0 20px;
            margin-bottom: 15px;
        }
        .arrow-link {
            margin-top: 0;
            margin-left: 20px;
        }
    }
    //Help and advice sub section
    #helpandadvice {
        padding: 0 !important;
        & > .grid_6 {
            margin-top: -30px !important;
            margin-bottom: 15px;
        }
        &:not(.helpandadvice-video) > .grid_6:nth-of-type(2) {
            display: none;
        }
        h2 {
            margin: 0;
            margin-bottom: 5px;
            padding: 0 20px;
            font-size: 18px;
        }
        .helpandadvice-image-mobile {
            @extend %image-mobile;
            margin-bottom: 5px;
        }
        h3 {
            padding: 0 20px;
            text-transform: capitalize;
        }
        p {
            padding: 10px 20px 0 20px;
            margin-bottom: 15px;
        }
        //Sub Advice Container
        .pt45 {
            padding: 0;
            h3 {
                margin-bottom: 0;
            }
            p {
                padding-bottom: 0;
                margin-bottom: 15px;
            }
            .arrow-link {
                margin-top: 0;
                margin-left: 20px;
                margin-bottom: 35px;
            }
        }
    }
    //Yellow Section Component
    .yellow-section {
        padding-top: 60px !important;
        padding-bottom: 20px !important;
        background: none;
    }
    //Product Listing TESTS
    #products {
        overflow: hidden;
        h2 {
            font-size: 18px;
            margin-left: 20px;
        }
        p {
            padding-top: 10px;
            margin-bottom: 10px;
            margin-left: 20px;
        }
    }
    body:not(#search) {
        .product-listing {
            margin: 0;
            padding: 0;
            text-align: center;
            font-size: 0;
            .grid_3 {
                display: inline-block;
                float: none;
                margin: 0;
                padding: 10px;
                width: 129px !important;
                img {
                    margin: 0 !important;
                    max-width: 100%;
                    max-height: 100%;
                    width: auto !important;
                    height: auto !important;
                }
            }
            //Main Product Styling
            li a {
                .prod-image {
                    @include box-sizing(border-box);
                    display: block;
                    padding: 15px;
                    width: 129px;
                    height: 178px;
                    border: 1px solid #acacac;
                    &:before {
                        display: inline-block;
                        height: 100%;
                        content: "";
                        vertical-align: middle;
                    }
                    img {}
                    &:hover {
                        border: 1px solid #acacac;
                    }
                }
                span.prod-title {
                    @include box-sizing(border-box);
                    display: table-cell;
                    margin: 0;
                    padding: 10px !important;
                    width: 100%;
                    height: 80px;
                    vertical-align: middle;
                    text-align: center;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 19px;
                }
                &:hover .prod-image {
                    padding: 15px;
                    border: 1px solid #acacac;
                }
            }
        }
    }
    body.page404 {
        background: #fff !important;
        div.container-404 {
            width: auto;
            margin-top: 40px;
        }
        div.circle {
            width: 150px;
            height: 150px;
            margin: 0 auto;
            @include background-size(100%);
        }
        div.circle-inner {
            h2 {
                @include background-size(100%);
                width: 120px;
                margin-top: 15px;
            }
        }
        h3, p {
            padding: 0 20px;
        }
        h3 {
            font-size: 18px;
            line-height: 27px;
        }
        .grass {
            display: none;
        }
    }
    //ENVIROMENT SUBPAGES
    body.environemnt.gradient {
        background: #fff;
        .sub-nav-container {
            display: none !important;
        }
        .zig-zag {
            @extend %sep-line;
            margin-top: -25px;
        }
        img {
            max-width: 100%;
            &[alt="Planet Possible Can"] {
                margin-bottom: 40px;
            }
            &[alt="Cloud"] {
                margin-bottom: 25px;
            }
            &[src="/web/images/content/environment/fsc_banner.jpg"] {
                margin-bottom: 10px;
            }
        }
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            margin-bottom: 40px;
            li {
                font-size: 16px;
                line-height: 21px;
                margin-bottom: 15px;
                padding: 0 10px;
            }
        }
        .entries {
            margin-top: 20px;
        }
        .container_12.content-wrapper.environment-content {
            margin-top: 0px;
            padding: 0 20px !important;
            h2 {
                margin-bottom: 7px;
                font-size: 24px;
            }
            p {
                margin-bottom: 32px;
            }
            .grid_12 > p:last-of-type {
                margin-bottom: 0;
            }
            div.entry-content {
                width: auto;
            }
            hr {
                display: none;
            }
            div.box {
                @include box-sizing(border-box);
                width: 100%;
                height: 105px;
                border-width: 1px;
            }
        }
    }
    //EMAIL CONTACT FORM
    #frm-contact {
        margin-top: 20px;
        padding: 0 20px;
        .form-row label>span {
            width: auto;
            float: none;
            display: block;
            text-align: left;
        }
        select.select {
            width: auto;
            float: none;
            display: block;
            margin-top: 5px;
            margin-bottom: 5px;
            width: 280px;
        }
        input.text {
            float: none;
            margin: 11px 0 10px;
        }
        .formError {
            float: left !important;
        }
        textarea.textarea {
            width: 280px;
            float: left;
        }
    }
}