@media (max-width: $screen-mobile) {
	body.colorSelector {
		.imageHeading.grid_12, .fence-wrapper, .preview-tip {
			display: none !important;
			background: none !important;
		}
		div.canvas-images ul li a.fence {
			background: url("/web/images/_new_images/sections/colourselector/selector_3b.jpg") center no-repeat !important;
		}

		div.canvas-images ul li.selected a.fence {
			// background: url('/web/images/_new_images/sections/colourselector/selector_3a.jpg') center no-repeat !important;
		}
		h2 {
			margin-top: 3px;
			margin-bottom: 17px;
			margin-left: 20px;
			font-weight: bold;
			font-size: 18px;
			font-family: 'Arial';
		}

		h1#js-selected-colour {
			margin-bottom: 18px;
			margin-left: 20px;
			font-size: 24px;
			font-family: 'Arial';
		}

		div.choose-item{
			margin-bottom: 0px;
		}

		div.footer-icons {
			//margin-top: 30px;
		}

		div.footer-icons .zig-zag, {
			@extend %sep-line;
			margin-top: 0px;
		}
		.canvas-images {
			position: relative;
			&:before {
				@include background-image(linear-gradient(bottom, #fcfcfc 0%, #e8e8e8 100%));
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 4px;
				content: "";
			}
			&:after {
				@include background-image(linear-gradient(bottom, #e8e8e8 0%, #fcfcfc 100%));
				position: absolute;
				bottom: 0px;
				left: 0;
				width: 100%;
				height: 4px;
				content: "";
			}
			ul {
				overflow: auto;
				padding: 10px 0 20px 0;
				white-space: nowrap;
				-webkit-overflow-scrolling: touch;
				li {
					display: inline-block;
					float: none;
					margin: 0;
					margin-right: 6px !important;
					padding: 0;
					a {
						@include box-sizing(border-box);
						width: 89px;
						height: 89px;
						border: none;
						background-position: center !important;
						&:active {
							border: 2px solid #acacac;
						}
					}
					&:first-of-type {
						margin-left: 20px;
					}
					&:last-of-type {
						margin-right: 20px;
					}
				}
			}
		}
		.choose-colour {
			margin-top: 15px;
			margin-bottom: 15px;
		}
		div.colour-mixer {
			@include box-sizing(border-box);
			margin: 0;
			padding: 0;
			width: 100%;
			height: auto !important;
			border: none;

			div.palette{
				height: auto;
			}

			.top-tabs {
				margin: 0;
				padding: 0;
				width: 100%;
				height: 40px;
				border: none;
				background-color: green;
				a {
					@include box-sizing(border-box);
					display: block;
					float: left;
					margin: 0;
					padding: 0;
					width: 50%;
					height: 40px !important;
					border: none;
					background: #20681d;
					color: #fff;
					text-align: center;
					font-size: 14px;
					font-family: 'Arial';
					line-height: 40px;
					&:active, &.active {
						background: #318d2e;
					}
				}
			}
			ul {
				position: relative;
				overflow: auto;
				margin: 0;
				white-space: nowrap;
				-webkit-overflow-scrolling: touch;
				&:before {
					@include background-image(linear-gradient(bottom, #fcfcfc 0%, #e8e8e8 100%));
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 4px;
					content: "";
				}
				&:after {
					@include background-image(linear-gradient(bottom, #e8e8e8 0%, #fcfcfc 100%));
					position: absolute;
					bottom: 0px;
					left: 0;
					width: 100%;
					height: 4px;
					content: "";
				}
				li {
					display: inline-block;
					float: none;
					margin: 20px 16px 20px 0;
					padding: 0;
					width: 60px;
					height: 60px;
					border: none;
					line-height: 60px;
					a {
						@include background-size(100% 100% !important);
						margin: 0 !important;
						padding: 0 !important;
						width: 60px;
						height: 60px;
						border: none;
						line-height: 60px;
					}
					&:first-of-type {
						margin-left: 20px;
					}
					&:last-of-type {
						margin-right: 20px;
					}
				}
			}
		}
		.colour-preview {
			@include box-sizing(border-box);
			margin: 0;
			padding: 0;
			width: 100%;
			min-height: 215px;
			border: none;
			box-shadow: none;
			& > img {
				width: 100%;
				height: auto;
			}
		}
	}
}
