@media (max-width: $screen-mobile) {
    .home {
        .leafs, .desktop__header, .find, .left-shadow, .right-shadow, .shadow, .border-mask, #carousel, .caroufredsel_wrapper {
            display: none !important;
            background: none !important;
        }

        div.slide {
            background: none !important;
        }

        div.homepage h1 {
            margin: 15px 0 14px 20px;
            font-weight: normal;
            font-size: 18px;
            font-family: 'Effra W01 Medium', Arial, sans-serif;
        }
        div.news {
            margin-top: 20px;
            padding: 0 20px 25px 20px;
            div.grid_4 .news-header {
                min-height: inherit;
                h3 {
                    position: static;
                    margin-top: 25px;
                    margin-bottom: 15px;
                    line-height: 22px;
                }
            }
            .text {
                margin-bottom: 5px;
                font-weight: normal;
                font-size: 16px;
                line-height: 21px;
                p {
                    margin-bottom: 15px;
                    font-size: 16px;
                    line-height: 21px;
                }
            }
            img {
                margin-bottom: 5px;
                width: 100%;
                border: none;
            }
            //Hide the 'Order a Tester Item'
            & > div.grid_4:last-child {
                display: none;
            }
        }

        .swiper-slide {
            &.atl {
                background: url("/web/images/home/01_Cuprinol_Mobile_Header_Atl.jpg") no-repeat center top;
                @include background-size(100% auto);

                .slide-info p {
                    font-size: 14px !important;
                    line-height: 18px !important;
                }
            }
            &.shedoftheyear {
                background: url("/web/images/home/01_Cuprinol_Mobile_Header_Yearshed.jpg") no-repeat center;
                @include background-size(100% auto);
            }
            &.sheds {
                background: url("/web/images/home/01_Cuprinol_Mobile_Header_Yearshed.jpg") no-repeat center;
                @include background-size(100% auto);
            }
            &.fences {
                background: url("/web/images/home/01_Cuprinol_Mobile_Header_Fences.jpg") no-repeat center;
                @include background-size(100% auto);
            }
            &.decking {
                background: url("/web/images/home/01_Cuprinol_Mobile_Header_Decking.jpg") no-repeat center;
                @include background-size(100% auto);
            }
            &.furniture {
                background: url("/web/images/home/01_Cuprinol_Mobile_Header_Furniture.jpg") no-repeat center;
                @include background-size(100% auto);
            }
            &.buildings {
                background: url("/web/images/home/01_Cuprinol_Mobile_Header_Buildings.jpg") no-repeat center;
                @include background-size(100% auto);
            }
            &.outspiration {
                background: url("/web/images/home/outspiration.jpg") no-repeat center;
                @include background-size(100% auto);
            }
            &.sprayandbrush {
                background: url("/web/images/home/sprayandbrush.jpg") no-repeat center;
                @include background-size(100% auto);
            }
            &.heartwood {
                background: url("/web/images/home/heartwood.png") no-repeat center;
                @include background-size(100% auto);
            }
            &.garden-shades {
                background: url("/web/images/home/garden-shades.png") no-repeat center;
                @include background-size(100% auto);
            }
            &.pub {
                background: url("/web/images/home/pub.jpg") no-repeat center;
                @include background-size(100% auto);
            }
        }
        
        .swiper-container.sub .swiper-slide {
            &.sheds {
                background: url("/web/images/_new_images/sections/home/A_Browse_Inspiration_430x305.jpg") no-repeat center;
                @include background-size(100% auto);
            }
            &.fences {
                background: url("/web/images/_new_images/sections/home/D_Browse_Inspiration_430x305.jpg") no-repeat center;
                @include background-size(100% auto);
            }
            &.decking {
                background: url("/web/images/_new_images/sections/home/B_Browse_Inspiration_430x305.jpg") no-repeat center;
                @include background-size(100% auto);
            }
            &.furniture {
                background: url("/web/images/_new_images/sections/home/inspiration_round_table.jpg") no-repeat center;
                @include background-size(100% auto);
            }
            &.buildings {
                background: url("/web/images/_new_images/sections/home/E_Browse_Inspiration_430x305.jpg") no-repeat center;
                @include background-size(100% auto);
            }
        }
    }
}