@media (max-width: $screen-mobile) {
	body.shedoftheyear {

		h2,p {
			padding: 0 10px;
		}

		h2 {
			font-size: 20px !important;
		}

		p {
			font-size: 14px !important;
		}

		.heading-wrapper, .sub-nav-container {
			display: none;
		}

		#about {
			.mobile-image, .mobile-image img {
				display: block;
				width: 100%;
			}

			.grid_3 {
				display: none;
			}
		}

		#copy-finalist {
			margin: 0 10px;

			p {
				width: auto;
			}
		}

		#finalists {
			text-align: center;
			.categories {
				
				li {
					width: 80%;
					text-align: left;
					margin: 0 auto;
					float: none;
					border: none;
					background: #299a0b; /* Old browsers */
					background: -moz-linear-gradient(top, #299a0b 0%, #0a842b 56%, #097a3c 82%); /* FF3.6+ */
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#299a0b), color-stop(56%,#0a842b), color-stop(82%,#097a3c)); /* Chrome,Safari4+ */
					background: -webkit-linear-gradient(top, #299a0b 0%,#0a842b 56%,#097a3c 82%); /* Chrome10+,Safari5.1+ */
					background: -o-linear-gradient(top, #299a0b 0%,#0a842b 56%,#097a3c 82%); /* Opera 11.10+ */
					background: -ms-linear-gradient(top, #299a0b 0%,#0a842b 56%,#097a3c 82%); /* IE10+ */
					background: linear-gradient(to bottom, #299a0b 0%,#0a842b 56%,#097a3c 82%); /* W3C */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#299a0b', endColorstr='#097a3c',GradientType=0 ); /* IE6-9 */
					color: lighten(#2f892c, 60%);
					>span{
						display: block;
						color: inherit;
					}
					// &:first-child {
					// 	display: block;
					// 	position: relative;
					// 	&:after {
					// 		content: '';
					// 		position: absolute;
					// 		right: 20px;
					// 		top: 0;
					// 		z-index: 999999;
					// 		width: 8px;
					// 		height: 100%;
					// 		background: url("/web/images/retina/button-chevron-right@2x.png") center no-repeat;
					// 		-webkit-background-size: 8px 12px;
					// 		-moz-background-size: 8px 12px;
					// 		-o-background-size: 8px 12px;
					// 		background-size: 8px 12px;

					// 		-webkit-transform: rotate(90deg);
					// 		-moz-transform: rotate(90deg);
					// 		-ms-transform: rotate(90deg);
					// 		-o-transform: rotate(90deg);
					// 		transform: rotate(90deg);
					// 	}
					// }
				}
			}
		}

		.participants {

			>div{
				>ul{
					>li{
						display: block!important; // After clicking first item from list, the rest became hidden - this is workaround
					}
				}
			}

			ul {
				margin: 0;
			}

			div, div ul li {
				width: 100%;

				.slideshow, .slideshow div {
					width: 100%;
					box-shadow: none;

					img {
						width: 100%;
						box-shadow: none;
						display: inline-block !important;
						&.big{
							@include box-sizing(border-box);
						}
					}
				}

				.content {
						width: auto;
					}
			}
		}
	}

	iframe {
		width: 100%;
		height: 225px;
	}
}