@media (max-width: $screen-mobile) {

	#login-form,
	#account-register,
	#account-details-form,
	#change-password,
	#register-form {

		label {
			position: relative;
			float: none;
			clear: both;
			margin-right: 82px;

			span {
				display: block;
				width: auto !important;
				float: none;
				clear: both;
				margin-bottom: 5px;
				font-size: 0.9rem;
				font-weight: bold;
				text-align: left;
			}

			input {
				width: 100%;
				height: 38px;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
			}

			.formError {
				position: absolute;
				width: 72px;
				bottom: 0px;
				right: -92px;
				font-size: 12px;
				color: $colourFormFieldError;
			}

			&[for="offers"] {
				margin-right: 0;

				input {
					display: inline-block;
					width: auto;
					height: auto;
				}
			}
		}

		.form-row.no-label {
			padding: 8px 0 0 0;

			button {
				display: inline-block;
				margin-right: 10px;
			}

			p {
				display: inline-block;
				font-weight: bold;
				font-size: 0.8rem !important;
			}
		}
	}

	#account-details-form {

		label[for="offers"] {
			margin-right: 0;
			
			input {
				width: auto;
				height: auto;
			}
		}

		.form-row.no-label~.form-row.no-label {
			text-align: right;

			button {
				margin-right: 0;
			}
		}
	}

	body.account {

		#account-orders {

			th {
				font-weight: bold;
			}

			th,
			td {
				font-size: 0.8rem;
			}
		}

		.account-container {
			margin-top: 0 !important;
		}

		#aside {
			display: none;
		}

		.container_12 {
			
			.title.noimage {
				display: block;
				padding: 0;
				margin: 0;

				h2 {
					padding: 20px;
					margin: 0;
					background-color: $colourHeaders;
					color: white;
				}
			}
		}

		.subNav {
			display: block;
			padding: 0;
			height: 40px;
			background-color: $colourTabsBackground;
			background-image: none;

			&.nav_floated {
				top: 48px;
			}

			ul {
				position: relative;
				display: block;
				height: 40px;
				margin: 0;
				padding: 0;
				overflow: visible;
			}

			li {
				display: inline-block;
				height: 40px;
				margin: 0;
				padding: 0;

				a {
					display: block;
					padding: 0 5px;
					height: 40px;
					line-height: 40px;
					font-weight: bold;
					font-size: 12px;
					color: $colourTabsSelected;
					text-align: center;
					float: none;

					&:hover {
						border: 0;
					}
				}

				&.selected {
					background-color: $colourTabsSelected;

					a {
						color: white;
						border: 0;
					}
				}

				&.back-to-top {
					display: none !important;
				}

				&:first-child,
				&:nth-child(2),
				&:nth-child(3) {
					position: relative;
					display: block;
					float: left;
					clear: right;
					width: 33.33%;
				}

				&:nth-child(2),
				&:nth-child(3) {

					&:before {
						content: "";
						display: block;
						position: absolute;
						left: 0px;
						width: 0px;
						height: 30px;
						top: 5px;
						border-left: 1px solid #e9e9e9;
						border-right: 1px solid white;
					}

					&.selected {
						&:before {
							display: none;
						}
					}
				}
				&:nth-child(4) {
					position: absolute;
					right: 20px;
					bottom: 60px;
				}
			}
		}

		.container_12.content-wrapper.account-container {

			h2 {
				margin-left: -20px;
				margin-right: -20px; 
			}
		}

		&.account-register {

			.grid_6 {

				> h2 {
					display: none;
				}
			}

			input+.form-row.no-label {
				float: none;
				clear: both;
				text-align: right;

				button {
					margin-right: 0 !important;
				}
			}
		}

		&.account-order-detail {

			#order-detail-delivery {
				padding-top: 15px;
				border-top: 1px solid $colourImageBorders;
			}

			.account-container {

				.grid_12.waypoint {

					h3 {
						display: block;
					}
				}
			}

			.order-detail-items {

				h3 {
					display: none !important;
				}
			}

			#basket-totals {
				padding-top: 20px;
				float: none;
				clear: both;

				table {
					width: 100%;
					float: none;
					clear: both;

					th {
						text-align: left;
					}

					td {
						text-align: right;
					}

					tr:nth-child(4) {

						th,
						td {
							padding-top: 20px;
							font-size: 1.2rem;
						}
					}
				}
			}
		}

		form {

			.form-row {

				label {

					span {

						display: block;
					}
				}
			}
		}
	}

	body.account-login {
		.container_12.content-wrapper.account-container h2 {
			padding-left: 20px !important;
			padding-right: 20px !important;
		}
	}
}