@media (max-width: $screen-mobile) {
	body.sheds.garden {
		.video-plate-image-mobile {
			background: url(/web/images/_new_images/sections/home/inspiration_round_table.jpg) no-repeat top left;
			@include background-size(100% auto);
		}
		.helpandadvice-image-mobile {
			background: url(/web/images/_new_images/sections/helpadvice/furniture/A_Furniture_434x241.jpg) no-repeat top left;
			@include background-size(100% auto);
		}
        //Images for Inspiration Carousel
        .swiper-slide {
            //Furnitures
            &.one {
            	background: url(/web/images/_new_images/sections/furniture/A_Furniture_845x500.jpg) no-repeat top left;
            	@include background-size(auto 100%);
            }
            &.two {
            	background: url(/web/images/_new_images/sections/furniture/B_Furniture_845x500.jpg) no-repeat top left;
            	@include background-size(auto 100%);
            }
            &.three {
            	background: url(/web/images/_new_images/sections/furniture/C_Furniture_845x500.jpg) no-repeat top left;
            	@include background-size(auto 100%);
            }
            &.four {
            	background: url(/web/images/_new_images/sections/furniture/D_Furniture_845x500.jpg) no-repeat top left;
            	@include background-size(auto 100%);
            }
            &.five {
            	background: url(/web/images/_new_images/sections/furniture/E_Furniture_845x500.jpg) no-repeat top left;
            	@include background-size(auto 100%);
            }
            &.six {
            	background: url(/web/images/_new_images/sections/furniture/F_Furniture_845x500.jpg) no-repeat top left;
            	@include background-size(auto 100%);
            }
        }
    }
}



