@media (max-width: $screen-mobile) {
    .fence-wrapper {
        display: none;
        background: none;
    }
    .whiteBg div.footer-icons .zig-zag {
        @extend %sep-line;
        margin-top: 0px;
    }
    .about.container_12.content-wrapper, div.safetyinfo {
        margin-top: 20px;
        padding: 0 20px !important;
        h1 {
            display: none;
        }
        h2 {
            margin-bottom: 7px;
            font-size: 24px;
        }
        p {
            margin-bottom: 32px;
        }
        .grid_12 > p:last-of-type {
            margin-bottom: 0;
        }
        hr {
            display: none;
        }
        div.box {
            @include box-sizing(border-box);
            width: 100%;
            height: 105px;
            border-width: 1px;
        }
    }
    //Health and safety
    .tool-colour-full-container, .tool-colour-full {
        background: none;
    }
    .grid_3.sheets, .grid_3.safety-sheets {
        @include box-sizing(border-box);
        padding: 0;
        width: 100% !important;
        text-align: left;
        h4 {
            margin-bottom: 7px;
            font-size: 24px;
        }
    }
    .tool-colour-full ul {
        margin: 0 !important;
        width: 100% !important;
    }
    div.files ul {
        margin-top: -10px !important;
        li {
            display: block;
            margin: 0;
            margin-bottom: 5px;
            padding: 0;
            width: 100%;
            border: none;
            text-align: left;
            a {
                line-height: 40px;
            }
            i {
                display: none !important;
            }
        }
    }
    .title.grid_12 {
        display: none;
    }
    .grid_6.environment {
        img {
            display: none;
        }
    }


    .big.shadow.mb20{
        display: none !important;
        img{
            background: none !important;
        }
    }
}