body.sheds.spraynbrush {

    .heading-wrapper .button {
        position: absolute;
        left: 50%;
        margin-left: -300px;
        top: 320px;
    }

    .center-text-block {
        padding: 0 60px;
        text-align: center;

        h2 {
            color: #91b830;
            font-size: 32px;
            text-transform: uppercase;
        }

        p {
            color: #969696;
        }

        .button {
            display: inline-block;
            margin-top: 30px;

            &.mobile {
                display: none;
            }
        }
    }

    .combination-result-grid {
        text-align: center;
        margin-top: 55px;

        .gril-col {
            display: inline-block;
            max-width: 231px;
            min-height: 230px;
            vertical-align: top;

            img {
                display: block;
                max-width: 231px;
                height: auto;
            }

            &.plus-sign,
            &.equals-sign {
                position: relative;
                width: 25px;
                margin: 0 10px;

                &:after {
                    content: "";
                    position: absolute;
                    top: 90px;
                    left: 0px;
                    width: 100%;
                    text-align: center;
                    font-size: 44px;
                    color: #91b830;
                }
            }

            &.plus-sign {

                &:after {
                    content: "+";
                }
            }

            &.equals-sign {
                margin: 0 0 0 10px;

                &:after {
                    content: "=";
                }
            }

            &.range {
                padding-top: 30px;
            }
        }

        p {
            margin-top: 35px;
            color: #969696;
        }
    }

    .video-title {
        margin-top: 20px;
        text-align: center;
        color: #969696;
    }

    hr {
        position: relative;
        display: block;
        width: auto;
        max-width: 960px;
        height: 120px;
        margin: 0 auto;
        border: 0;
        outline: 0;
        background-color: transparent;
        background-image: url("/web/images/_new_images/sections/spraynbrush/hr.png");
        background-repeat: no-repeat;
        background-position: center;
        z-index: 1;
    }

    .combination-result-grid + hr {
        margin-top: -10px;
    }

    .three-col + hr {
        margin-top: 0px;
    }

    .three-col.videos {
        padding-bottom: 0;

        .grid_4 {
            text-align: center;

            img {
                display: block;
                max-width: 100%;
                height: auto;
            }

            p {
                margin-bottom: 0;
            }
        }
    }

    .pickupyours-figure {
        display: block;
        max-width: 100%;
        margin: 0 auto;
    }

    div.title {
        border: 0;
        margin-bottom: 0;
        margin-top: 34px;
    }

    .tool-colour-full-container .garden-shades-logo {
        display: block;
        margin: 0 auto;
    }

    .colours-teaser {
        padding: 20px 0;
        text-align: center;
        border-width: 2px 0;
        border-style: solid;
        border-color: #b3b3b3;

        h2 {
            text-align: left;
        }

        .colours {
            margin: 25px 0;
            list-style: none;
            text-align: left;

            li {
                display: inline-block;
            }

            img {
                width: 65px;
                height: 65px;
            }
        }

        p {
            text-align: center;
            color: #2A7A28;
        }

        .button {
            display: inline-block;
        }
    }
}

@media (max-width: $screen-mobile) {
    body.sheds.spraynbrush {

        .center-text-block {
            padding-bottom: 60px;

            .button {
                &.mobile {
                    display: inline-block;
                }
            }
        }

        .combination-result-grid {
            padding-bottom: 50px;

            .gril-col {
                display: block;
                max-width: none;
                min-height: 0px;

                img {
                    display: block;
                    margin: 0 auto;
                    max-width: 100%;
                }

                &.plus-sign,
                &.equals-sign {
                    width: auto;
                    height: 60px;
                    margin: 0 auto;

                    &:after {
                        top: 0px;
                    }
                }

                &.equals-sign {
                    margin: 0;
                }

                &.range {
                    padding-top: 0px;
                }
            }

            p {
                padding: 0 20px;
                margin-top: 30px;
                font-size: 12px;
            }
        }

        hr {
            height: 60px;
            background-position: center top;
        }

        .three-col.videos {
            padding-top: 0;
            padding-bottom: 20px;

            .grid_4 {
                margin-bottom: 20px;
            }
        }

        .tool-colour-full-container .garden-shades-logo {
            display: block;
            margin: 0 auto 25px auto;
        }

        .colours-teaser {
            margin-left: 20px;
            margin-right: 20px;

            .colours {
                margin: 25px 0;
                list-style: none;
                text-align: left;

                li {
                    margin: 4px 0;
                }
            }
        }
    }
}