/* ---------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Color Picker */
#color-picker {
  background: url(/web/images/_new_images/zig-zag-yellow-top.png) top left repeat-x, url(/web/images/_new_images/zig-zag-yellow-top.png) bottom left repeat-x, #FBFAF0;
  padding: 40px;
  margin: -40px;
}

#color-picker-margin {
  background: #FBFAF0;
  padding: 0;
  margin: 40px;
}

/* Color Picker - Header */
#color-picker-header {
  min-height: 75px;
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e4 99%);
  background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e4 99%);
  background: linear-gradient(to bottom, #ffffff 0%,#e5e5e4 99%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e4',GradientType=0 );
  margin-top: 20px;
}

#categories {

  list-style: none;

  height: 100%;

  padding: 0;
  margin: 0;

  text-align: center;
}

.category {

  display: inline-block;
  vertical-align: middle;

  width: 19%;

  margin: auto;
  margin-top: 10px;

  color: black;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  cursor: hand;
}

.category-selected .category-icon {
  width: 30px;
  height: 30px;
  margin: auto;
  margin-bottom: 10px;
}

.category-icon {
  width: 20px;
  height: 20px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  
}

#category-icon-neutral {
  background: #C69C6D;
}

#category-icon-red-pink {
  background: #F96A6A;
}

#category-icon-orange-yellow {
  background: #ECB634;
}

#category-icon-green-lime {
  background: #72B260;
}

#category-icon-blue-violet {
  background: #5968BF;
}

.category-name {
  margin: auto;
  margin-top: 10px;
  z-index: 1000;
}



/* Color Picker - Content */
#color-picker-content {
  padding: 20px;
  background-color: #ffffff;
}

#color-picker-second-title {
  padding-top: 20px;
}

.color-picker-swatches {
  padding: 0;
  margin: 0;
  list-style: none;
}

.color-picker-swatch {

  display: inline-block;
  vertical-align: middle;

  width: 130px;
  height: 50px;

  margin-right: 10px;
  margin-bottom: 5px;

  color: #ffffff;
  font-size: 15px;

}

.color-picker-swatch a {

  display: block;
  width: 100%;
  height: 100%;

  margin-left: 5px;

  color: #ffffff;
  line-height: 5.5;
}

.color-picker-swatch--white {
  color: #ffffff;
}

.color-picker-swatch--black {
  color: black;
}

.color-picker-swatch img {
  width: 100%;
  z-index: 4;
}

.color-picker-swatch:hover {
  -webkit-box-shadow:inset 0px 0px 0px 3px #ffffff;
  -moz-box-shadow:inset 0px 0px 0px 3px #ffffff;
  box-shadow:inset 0px 0px 0px 3px #ffffff;
}

/* Color Picker - Footer */
#color-picker-footer {
  margin-top: 10px;
  text-align: right;
  color: #2e862b;
  font-size: 16px;
}

/* Color Picker - Buy A Product */
#buy-product {
  display: none;
  width: 100%;
  margin: 20px;
}

#buy-product-swatch {
  width: 100%;
  height: auto;
  width: auto;

  margin: 50px;
  margin-bottom: 30px;
  padding: 30px;

  color: #ffffff;
}

#buy-product-tip {
  position: absolute;;
  background: red;
  top: 0px;
  left: 0px;
  width: 71px;
  height: 31px;
  background: url("tip-new.png") 0 0 no-repeat;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Color Selector - Desktop */
#color-selector-header-mobile {
    display: none;
}

#color-selector {
  border: 1px solid #bebebe;
}

/* Color Selector - Desktop - Header */
#color-selector-header {
  height: 30px;
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e4 99%);
  background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e4 99%);
  background: linear-gradient(to bottom, #ffffff 0%,#e5e5e4 99%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e4',GradientType=0 );

  border-bottom: 1px solid #bebebe;
}

#color-selector-dropdown-text {

  display: inline-block;
  width: 35%;

  margin: 0;
  padding-left: 10px;

  font-size: 15px;
  line-height: 30px;
}

#color-selector-dropdown-choice {

  display: inline-block;

  width: 47%;
  height: 100%;
  padding-left: 5px;

  font-size: 15px;
  line-height: 30px;
}

#color-selector-dropdown-button {
  width: 59%;
  height: 100%;
}

.color-selector-dropdown-arrow {
  width: 30px;
  height: 100%;

  float: right;

  background: #318D2E;
  background: #2a8027 url("/web/images/_new_images/widget-arrow-active.png") no-repeat center;
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.color-selector-dropdown-arrow-selected {
  width: 30px;
  height: 100%;

  display: inline;
  float: right;

  background: #318D2E;
  background: #2a8027 url("/web/images/_new_images/widget-arrow-active.png") no-repeat center;
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  z-index: 100;
}

#color-selector-dropdown {
  display: none;
  position: absolute;

  width: 180px;

  right: 0;
}

.color-selector-category-active {
  display: none;

  width: 0;
  height: 0;

  margin: 0;
  padding: 0;
}

.color-selector-category-name {

  width: 165px;
  height: 30px;

  margin: auto;
  padding: 5px;

  font-size: 16px;
  color: #318D2E;

}

#color-selector-dropdown-categories {
  list-style: none;

  margin: 0;
  padding: 10px 0 0 10px;

  border: 1px solid #bebebe;
  border-top: none;
  background: #fff;
  padding: 10px 0 0 10px;
  position: relative;
  z-index: 1000;
}

/* Color Selector - Mobile - Header */
#color-selector-header-mobile {
  display: none;
  height: 120px; 

  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e4 99%);
  background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e4 99%);
  background: linear-gradient(to bottom, #ffffff 0%,#e5e5e4 99%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e4',GradientType=0 );

  border-top: 2px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
  text-align: center;
}

.color-selector-mobile-category-active {
  background: #e5e5e4;
  background: -moz-linear-gradient(top, #e5e5e4 0%, #ffffff 99%);
  background: -webkit-linear-gradient(top, #e5e5e4 0%,#ffffff 99%);
  background: linear-gradient(to bottom, #e5e5e4 0%,#ffffff 99%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e4', endColorstr='#ffffff',GradientType=0 );
}

.color-selector-mobile-category {

  display: inline-block;

  width: 18%;
  height: 100%;

  padding: 0;
  margin: 0;
  padding-top: 10px;

  text-align: center;
  vertical-align: middle;

}

.color-selector-mobile-category a {

  width: 90%;
  height: 100%;
  display: inline-block;
  text-align: center;
  padding: 0;
}

.color-selector-mobile-category-name {
  display: block;
  margin-top: 10px;

  color: black;
  font-size: 14px;

}

.category-icon-mobile {
  width: 40px;
  height: 40px;
  padding: 5px;
  margin-bottom: 8px;

  margin: auto;
}

#color-selector-mobile-categories {

  list-style: none;
  height: 100%;

  padding: 0;
  margin: 0;
}

@media all and (max-width: 640px) {
  #color-selector {
    border: none;
  }

  #color-selector-header {
    display: none;
  }

  #color-selector-header-mobile {
    display: block;
  }

  #color-selector-content {
    display: none;
    padding: 10px;
    background: #ffffff;
  }

  .color-selector-swatch {

    display: inline-block;
    position: relative;

    width: 175px;
    height: 60px;

    margin-right: 5px;
    margin-bottom: 5px;

    color: #ffffff;
    font-size: 15px;

    cursor: pointer;
    cursor: hand;

  }

  #color-selector-dropdown-categories {
    display: none;
  }

}

@media all and (min-width: 641px) {
  .color-selector-swatch {

    display: inline-block;

    width: 80px;
    height: 40px;

    margin-right: 3px;
    margin-bottom: 5px;

    font-size: 14px;

    cursor: pointer;
    cursor: hand;
    position: relative;
    z-index: 1;

    p{
      vertical-align: bottom;
    }
  }

  #color-selector-content {
    padding: 10px;
    display: block;
  }
}

/* Color Selector - Desktop - Content */
.color-selector-swatches {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  display: none;

}

.ready-mixed-active {
  display: block;
}

.colour-mixing-active {
  display: block;
}

.color-selector-swatch:hover {
  -webkit-box-shadow:inset 0px 0px 0px 2px #ffffff;
  -moz-box-shadow:inset 0px 0px 0px 2px #ffffff;
  box-shadow:inset 0px 0px 0px 2px #ffffff;
  cursor: pointer;
  cursor: hand;
}

.color-selector-swatch-active {
  -webkit-box-shadow:inset 0px 0px 0px 2px #ffffff;
  -moz-box-shadow:inset 0px 0px 0px 2px #ffffff;
  box-shadow:inset 0px 0px 0px 2px #ffffff;
}

.color-selector-swatch-name {
  margin-left: 5px;
  margin-bottom: 2px;
  margin-right: 2px;
  font-size: 11px;
  color: #ffffff;

  position: absolute;
  bottom: 0;
  left: 0;
}

.color-selector-swatch-name-black {
  color: black;
}

.colourSelectoAvailableIn a img:hover {
  border: 8px solid #dedede;
}

.expanded {
  padding: 3px;
  box-shadow: 0 2.5px 0 0 #EBEBEB inset;
}

.colour-preview .color-selector-swatch {
  z-index: 1;
}

.colour-preview .color-selector-swatch:hover {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  cursor: default;
  pointer: default;
}


/* ---------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------------------------------------- */
// shed/index page details



.product-details-shed {

  width: 100%;

  #color-picker-margin{
    background: #ffffff;
  }

  #categories{

    min-height: 79px;

    .category{

      width: 16%;
      vertical-align: bottom;
      margin: 0;
      margin-left: 10px;
      margin-right: 10px;

    }

  }

  .category-name{
    margin: 0;
  }

  .category-selected .category-icon {
    margin-top: 10px;
  }

  #color-picker-content{

    h2{
      margin-top: 0 !important;
    }

  }


  .color-picker-swatches{
    .expanded{

      width: 835px;

      margin: 0;
      top: 0;
      margin-bottom: 15px;
      
    }
  }

  .product-colour{
    .colour-overlay{
      left: 470px;
      width: 410px !important;
      height: 305px !important;
    }
  }

  .color-picker-swatches{
    .product-colour{
      .colour-overlay{
        left: 0;
      }
    }
  }

  

}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------------------------------------- */
/* mobile version of colour picker like on sheds/index */

@media (max-width: $screen-mobile) {


  #color-picker{

    width: 100%;
    padding-right: 0px;


    .color-picker-swatches{
      .basket-container {
        width: 100%;
        padding-left: 0; 
      }
    }

    .left{
      float: none;
    }

    .right{
      width: 100%;
      float: none;
      margin-left: 0;
      padding-left: 0;
    }


    .product-colour{
        padding-left: 0; 
        width: 100%;
        h2{
          padding-left: 15px;
          margin-left: 15px;
        }

      }
  }
}


/* ---------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Swatches */

.black-ash {
  background-image: url("/web/images/_new_images/last_swatches/BlackAsh.jpg");
}

.silver-birch {
  background-image: url("/web/images/_new_images/last_swatches/SilverBirch.jpg");
}

.urban-slate {
  background-image: url("/web/images/_new_images/last_swatches/UrbanSlate.jpg");
}

.dusky-gem {
  background-image: url("/web/images/_new_images/last_swatches/DuskyGem.jpg");
}

.country-cream {
  background-image: url("/web/images/_new_images/last_swatches/CountryCream.jpg");
}

.natural-stone {
  background-image: url("/web/images/_new_images/last_swatches/NaturalStone.jpg");
}

.pale-jasmine {
  background-image: url("/web/images/_new_images/last_swatches/PaleJasmine.jpg");
}

.white-daisy {
  background-image: url("/web/images/_new_images/last_swatches/WhiteDaisy.jpg");
}

.seasoned-oak {
  background-image: url("/web/images/_new_images/last_swatches/SeasonedOak.jpg");
}

.forest-mushroom {
  background-image: url("/web/images/_new_images/last_swatches/ForestMushroom.jpg");
}

.muted-clay {
  background-image: url("/web/images/_new_images/last_swatches/MutedClay.jpg");
}

.forest-pine {
  background-image: url("/web/images/_new_images/last_swatches/ForestPine.jpg");
}

.pebble-trail {
  background-image: url("/web/images/_new_images/last_swatches/PebbleTrail.jpg");
}

.malted-barley {
  background-image: url("/web/images/_new_images/last_swatches/MaltedBarley.jpg");
}

.clouded-dawn {
  background-image: url("/web/images/_new_images/last_swatches/CloudedDawn.jpg");
}

.cool-marble {
  background-image: url("/web/images/_new_images/last_swatches/CoolMarble.jpg");
}

.frosted-glass {
  background-image: url("/web/images/_new_images/last_swatches/FrostedGlass.jpg");
}

.summer-breeze {
  background-image: url("/web/images/_new_images/last_swatches/SummerBreeze.jpg");
}

.sandy-shell {
  background-image: url("/web/images/_new_images/last_swatches/SandyShell.jpg");
}

.smooth-pebble {
  background-image: url("/web/images/_new_images/last_swatches/SmoothPebble.jpg");
}

.ground-nutmeg {
  background-image: url("/web/images/_new_images/last_swatches/GroundNutmeg.jpg");
}

.woodland-mink {
  background-image: url("/web/images/_new_images/last_swatches/WoodlandMink.jpg");
}

.warm-foilage {
  background-image: url("/web/images/_new_images/last_swatches/WarmFoilage.jpg");
}

.warm-almond {
  background-image: url("/web/images/_new_images/last_swatches/WarmAlmond.jpg");
}

.warm-flax {
  background-image: url("/web/images/_new_images/last_swatches/WarmFlax.jpg");
}

.summer-damson {
  background-image: url("/web/images/_new_images/last_swatches/SummerDamson.jpg");
}

.sweet-sundae {
  background-image: url("/web/images/_new_images/last_swatches/SweetSundae.jpg");
}

.rich-berry {
  background-image: url("/web/images/_new_images/last_swatches/RichBerry.jpg");
}

.pink-honeysuckle {
  background-image: url("/web/images/_new_images/last_swatches/PinkHoneysuckle.jpg");
}

.deep-russet {
  background-image: url("/web/images/_new_images/last_swatches/DeepRusset.jpg");
}

.sweet-pea {
  background-image: url("/web/images/_new_images/last_swatches/SweetPea.jpg");
}

.terracotta {
  background-image: url("/web/images/_new_images/last_swatches/Terracotta.jpg");
}

.rustic-brick {
  background-image: url("/web/images/_new_images/last_swatches/RusticBrick.jpg");
}

.raspberry-sorbet {
  background-image: url("/web/images/_new_images/last_swatches/RaspberrySorbet.jpg");
}

.crushed-chilli {
  background-image: url("/web/images/_new_images/last_swatches/CrushedChilli.jpg");
}

.berry-kiss {
  background-image: url("/web/images/_new_images/last_swatches/BerryKiss.jpg");
}

.rhubarb-compote {
  background-image: url("/web/images/_new_images/last_swatches/RhubarbCompote.jpg");
}

.porcelain-doll {
  background-image: url("/web/images/_new_images/last_swatches/PorcelainDoll.jpg");
}

.coral-splash {
  background-image: url("/web/images/_new_images/last_swatches/CoralSplash.jpg");
}

.honey-mango {
  background-image: url("/web/images/_new_images/last_swatches/HoneyMango.jpg");
}

.dazzling-yellow {
  background-image: url("/web/images/_new_images/last_swatches/DazzlingYellow.jpg");
}

.buttercup-blast {
  background-image: url("/web/images/_new_images/last_swatches/ButtercupBlast.jpg");
}

.pollen-yellow {
  background-image: url("/web/images/_new_images/last_swatches/PollenYellow.jpg");
}

.lemon-slice {
  background-image: url("/web/images/_new_images/last_swatches/LemonSlice.jpg");
}

.spring-shoots {
  background-image: url("/web/images/_new_images/last_swatches/SpringShoots.jpg");
}

.wild-thyme {
  background-image: url("/web/images/_new_images/last_swatches/WildThyme.jpg");
}

.somerset-green {
  background-image: url("/web/images/_new_images/last_swatches/SomersetGreen.jpg");
}

.willow {
  background-image: url("/web/images/_new_images/last_swatches/Willow.jpg");
}

.old-english-green {
  background-image: url("/web/images/_new_images/last_swatches/OldEnglishGreen.jpg");
}

.seagrass {
  background-image: url("/web/images/_new_images/last_swatches/Seagrass.jpg");
}

.sage {
  background-image: url("/web/images/_new_images/last_swatches/Sage.jpg");
}

.fresh-rosemary {
  background-image: url("/web/images/_new_images/last_swatches/FreshRosemary.jpg");
}

.olive-garden {
  background-image: url("/web/images/_new_images/last_swatches/Olivegarden.jpg"); 
}

.sunny-lime {
  background-image: url("/web/images/_new_images/last_swatches/SunnyLime.jpg");
}

.gated-forest {
  background-image: url("/web/images/_new_images/last_swatches/GatedForest.jpg");
}

.shaded-glen {
  background-image: url("/web/images/_new_images/last_swatches/ShadedGlen.jpg");
}

.emerald-stone {
  background-image: url("/web/images/_new_images/last_swatches/EmeraldStone.jpg");
}

.wild-eucalyptus {
  background-image: url("/web/images/_new_images/last_swatches/WildEucalyptus.jpg");
}

.mediterranean-glaze {
  background-image: url("/web/images/_new_images/last_swatches/MediterraneanGlaze.jpg");
}

.misty-lawn {
  background-image: url("/web/images/_new_images/last_swatches/MistyLawn.jpg");
}

.emerald-slate {
  background-image: url("/web/images/_new_images/last_swatches/EmeraldSlate.jpg");
}

.highland-marsh {
  background-image: url("/web/images/_new_images/last_swatches/HighlandMarsh.jpg");
}

.green-orchid {
  background-image: url("/web/images/_new_images/last_swatches/GreenOrchid.jpg");
}

.juicy-grape {
  background-image: url("/web/images/_new_images/last_swatches/JuicyGrape.jpg");
}

.jungle-lagoon {
  background-image: url("/web/images/_new_images/last_swatches/JungleLagoon.jpg");
}

.zingy-lime {
  background-image: url("/web/images/_new_images/last_swatches/ZingyLime.jpg");
}

.mellow-moss {
  background-image: url("/web/images/_new_images/last_swatches/MellowMoss.jpg");
}

.fresh-pea {
  background-image: url("/web/images/_new_images/last_swatches/FreshPea.jpg");
}

.first-leaves {
  background-image: url("/web/images/_new_images/last_swatches/FirstLeaves.jpg");
}

.fresh-daisy {
  background-image: url("/web/images/_new_images/last_swatches/FreshDaisy.jpg");
}

.iris {
  background-image: url("/web/images/_new_images/last_swatches/Iris.jpg");
}

.lavender {
  background-image: url("/web/images/_new_images/last_swatches/Lavender.jpg");
}

.barleywood {
  background-image: url("/web/images/_new_images/last_swatches/Barleywood.jpg");
}

.purple-pansy {
  background-image: url("/web/images/_new_images/last_swatches/PurplePansy.jpg");
}

.forget-me-not {
  background-image: url("/web/images/_new_images/last_swatches/ForgetMeNot.jpg");
}

.beaumont-blue {
  background-image: url("/web/images/_new_images/last_swatches/BeaumontBlue.jpg");
}

.beach-blue {
  background-image: url("/web/images/_new_images/last_swatches/BeachBlue.jpg");
}

.coastal-mist {
  background-image: url("/web/images/_new_images/last_swatches/CoastalMist.jpg");
}

.inky-stone {
  background-image: url("/web/images/_new_images/last_swatches/InkyStone.jpg");
}

.purple-slate {
  background-image: url("/web/images/_new_images/last_swatches/PurpleSlate.jpg");
}

.royal-peacock {
  background-image: url("/web/images/_new_images/last_swatches/RoyalPeacock.jpg");
}

.blue-slate {
  background-image: url("/web/images/_new_images/last_swatches/BlueSlate.jpg");
}

.sweet-blueberry {
  background-image: url("/web/images/_new_images/last_swatches/SweetBlueberry.jpg");
}

.misty-lake {
  background-image: url("/web/images/_new_images/last_swatches/MistyLake.jpg");
}

.ocean-sapphire {
  background-image: url("/web/images/_new_images/last_swatches/OceanSapphire.jpg");
}

.winters-well {
  background-image: url("/web/images/_new_images/last_swatches/WintersWell.jpg");
}

.sky-reflection {
  background-image: url("/web/images/_new_images/last_swatches/skyReflection.jpg");
}

.morning-breeze {
  background-image: url("/web/images/_new_images/last_swatches/MorningBreeze.jpg");
}

.winters-night {
  background-image: url("/web/images/_new_images/last_swatches/WintersNight.jpg");
}

.pale-thistle {
  background-image: url("/web/images/_new_images/last_swatches/PaleThistle.jpg");
}
