$spinner-color: #318d2e !default;
$spinner-background-color: #fff !default;
$spinner-stroke: 2px !default;
$spinner-diameter: 20px !default;
$spinner-sides: 1 !default;

@mixin spinner(
  $color: $spinner-color,
  $background-color: $spinner-background-color,
  $stroke: $spinner-stroke,
  $diameter: $spinner-diameter,
  $sides: $spinner-sides
) {
  border: $stroke solid $background-color;
  font-size: $diameter;
  width: 1em;
  height: 1em;
  border-radius: .5em;
  @include box-sizing(border-box);
  -webkit-animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  border-top-color: $color;
  @if $sides >= 2 {
    border-right-color: $color;
  }
  @if $sides >= 3 {
    border-bottom-color: $color;
  }
}

 .mobile__spinner  {
  @include spinner();
}

@-webkit-keyframes spin {
  to {
    @include transform(rotate(360deg));
  }
}

@-moz-keyframes spin {
  to {
    @include transform(rotate(360deg));
  }
}

@keyframes spin {
  to {
    @include transform(rotate(360deg));
  }
}