@media (max-width: $screen-mobile) {
    %button {
        @include box-shadow(-1px 0 3px #999999);
        position: relative;
        display: inline-block;
        padding: 0 26px 0 12px;
        width: auto;
        height: 24px;
        border: none;
        background: url("/web/images/_new_images/bg-button.png") 0 0 repeat-x;
        color: #fff;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        -webkit-font-smoothing: antialiased;
        &:hover {
            color: #fff;
        }
        &:after {
            position: absolute;
            top: 7px;
            right: 0;
            margin-right: 10px;
            width: 7px;
            height: 11px;
            background: url("/web/images/retina/button-chevron-right@2x.png") center no-repeat;
            @include background-size(100%);
            content: "";
        }
        &:active {
            top: 2px;
        }
    }
    a.arrow-link {
        @extend %button;
    }
}