@media (max-width: $screen-mobile) {
 //Top Level Carousel
        .swiper-container, .swiper-slide {
            width: 100%;
            height: 275px;
        }
        .swiper-slide {
            .swiper-content {
                width: 100%;
                height: 100%;
                .slide-info-wrap {
                    @include background-size(100% 100%);
                    @include box-sizing(border-box);
                    top: 0;
                    top: 70px;
                    left: 0;
                    margin: 0;
                    margin: 0 auto;
                    width: 280px;
                    height: 170px;
                    background-repeat: no-repeat;
                    img {
                        margin-right: 12px;
                        margin-left: -2px;
                        max-width: 75px;
                    }
                    .slide-info {
                        .colors {
                            margin-top: -3px;
                        }
                        h2 {
                            margin-top: 12px;
                            margin-bottom: 8px;
                            padding-right: 15px;
                            width: auto;
                            font-size: 14px;
                            line-height: 1.5;
                        }
                        h3 {
                            color: #444444;
                            font-size: 12px;
                        }
                        .button {
                            @extend %button;
                            position: relative;
                            top: 1px;
                            left: -35px;
                            float: left;
                            margin-top: 8px;
                            margin-left: 37px;
                        }
                    }
                }
            }
        }
        
        //Sub Carousel
        .swiper-container.sub, .swiper-container.sub .swiper-slide {
            margin-top: 0;
            width: 100%;
            height: 157px;
        }
        .swiper-container.sub .swiper-slide {
            .swiper-content {
                @include box-sizing(border-box);
                padding: 0 20px;
                width: 100%;
                height: 100%;
                h2 {
                    margin: 45px 0 5px 0;
                    color: #fff;
                    font-size: 24px;
                }
                .button {
                    @extend %button;
                    border: none !important;
                    box-shadow: -1px 0 3px #111 !important;
                }
            }
        }
}