@media (max-width: $screen-mobile) {
    //Hide a line divider
    footer {
        width: 100%;
        margin-top: 35px !important;
        padding-bottom: 80px;

        @include box-sizing(border-box);
        div.sep-line:nth-last-child(3) {
            display: none;
        }
        div.sep-line{
            @include background-size(100% 2px);
            height: 2px;
            margin: 50px 0 20px 0;
        }

        .footer-links {
            display: none;
        }
        div.footer-icons {
            position: relative;
            padding: 0;
        }
        .footer-icon {
            @include box-sizing(border-box);
            padding-top: 38px;
            div {
                padding: 0;
                color: #a0a0a0;
            }
            //Icon
            a {

                
                width: 64px;
                margin-left: auto;
                margin-right: auto;
                height: 64px;
                & {
                    background-position-x: center !important;
                }
                @media print, (-webkit-min-device-pixel-ratio: 1.25), (-o-min-device-pixel-ratio: 5 / 4), (min-resolution: 120dpi) {
                    & {
                        @include background-size(64px 61px !important);
                        width: 69px;
                        height: 61px;
                    }
                    &.search, &.search:hover {
                        background: url("/web/images/retina/footer-search@2x.png") top center no-repeat;
                    }
                    &.phone, &.phone:hover {
                        background: url("/web/images/retina/footer-phone@2x.png") top center no-repeat;
                    }
                    &.mail, &.mail:hover {
                        background: url("/web/images/retina/footer-mail@2x.png") top center no-repeat;
                    }
                    &.prof, &.prof:hover {
                        background: url("/web/images/retina/footer-prof@2x.png") top center no-repeat;
                    }
                
                    &:active {
                        margin-top:2px;
                        margin-bottom: -2px;
                    }
                }
                    &:active {
                        margin-top:2px;
                        margin-bottom: -2px;
                    }
            }
            //Phone Number
            h2 {
                padding: 0;
                font-size: 16px;
                margin-top: 15px;
                margin-bottom: 3px;
            }
            //Paragraph
            span {
                font-size: 16px;
                line-height: 21px;
                max-width: inherit;
                font-weight: normal;
                color: #a0a0a0;
                padding: 0 48px;
            }
            div.professional {
                padding-left: 0;
                width: auto;
            }
            div.store-finder {
                width: 240px;
                margin: 0 auto;
                h2 {
                    padding: 0;
                    font-size: 16px;
                    margin-top: 5px;
                    margin-bottom: 3px;
                }
                #searchbox {
                    width: 100%;
                    @include box-sizing(border-box);
                    height: 30px;
                    line-height: 30px;
                    display: inline-block;
                    position: relative;
                }
                button.finder-button {
                    top: 14px;
                    right: 0;
                    margin-right: 10px;
                    background: url("/web/images/retina/input-chevron-right-green@2x.png") 0 0 no-repeat;
                    @include background-size(7px 11px);
                    @media print, (-webkit-min-device-pixel-ratio: 1.25), (-o-min-device-pixel-ratio: 5 / 4), (min-resolution: 120dpi) {
                        background: url("/web/images/retina/input-chevron-right-green@2x.png") 0 0 no-repeat;
                        @include background-size(7px 11px);
                    }
                }
            }

            //Show the First store locator
            &.isHidden {
                display: block;
            }
            //Hide the Store Locater at the end
            &:nth-of-type(4) {
                display: none;
            }
        }

        //Note - This Image really needs replacing!
        div.akzonobel a {
            background: url("/web/images/retina/akzonobel-logo@2x.png") 0 0 no-repeat;
            @include background-size(86px 24px);
        }

    }
    div.grass {
        display: none;
        @include background-size(77px 48px);
        height: 48px;
        width: 100%;
    }
}