@media (max-width: $screen-mobile) {
    //Set all grid items to 100%;
    .grid_1,
    .grid_2,
    .grid_3,
    .grid_4,
    .grid_5,
    .grid_6,
    .grid_7,
    .grid_8,
    .grid_9,
    .grid_10,
    .grid_11,
    .grid_12 {
        margin-right: 0px !important;
        margin-left: 0px !important;
        width: 100% !important;
    }
    .alpha,
    .omega {
        margin-right: 0;
        margin-left: 0;
    }
    .align_center,
    .align_right {
        text-align: left;
    }
    body {
        @include box-sizing(border-box);
        min-width: 0;
        background: #fffef2;
    }
    
    //Hide Global Elements
    .leafs, .desktop__header, .find, .left-shadow, .right-shadow, .shadow, .border-mask, {
        background: none !important;
        display: none !important;
    }

    //Hide All Carousels
    #carousel {
        display: none !important;
        background: none !important;
    }

    //Overide all fixed width (960px+) elements
    .container_12, .news-wrapper, .zig-zag, .sep-line, .wrapper, .tool-colour-full, .section-ideas, .fence-wrapper, .yellow-section {
        @include box-sizing(border-box);
        width: 100% !important;
    }
    
    //Define Background none to prevent img downloads
    .massive-wrapper, .shadow, .fence, .fence-top, .leaf {
        background: none !important;
    }
    .content-wrapper {
        @include box-sizing(border-box);
        padding: 0 !important;
    }
    .news-wrapper {
        @include box-sizing(border-box);
        margin: 0 !important;
        background: #fffef2 !important;
    }

    //Global content with yellow background
    .yellow-section{
        margin: 0 !important;
        padding: 0 !important;
    }
    
    //Dividers between yellow content
    .zig-zag {
        @include box-sizing(border-box);
        left: 0 !important;
    }
}