.mobile__header, .mobile__header__dropdown, .mobile__title, .mobile__title--small {
    display: none;
}

@media (max-width: $screen-mobile) {
    .mobile__header {
        @include box-shadow(0px 3px 5px rgba(100, 100, 100, 0.49));
        position: fixed;
        top: 0;
        z-index: 9999999999;
        display: block;
        width: 100%;
        height: 48px;
        background-color: $green-primary;
        .mobile__header__menu {
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            position: relative;
            float: left;
            width: 44px;
            height: 100%;
            background: url("/web/images/retina/header-menu@2x.png") center no-repeat;
            @include background-size(22px 16px);
            cursor: pointer;
            &:after {
                @include transition(all 0.2s ease);
                @include opacity(0);
                position: absolute;
                top: 0;
                left: -7px;
                width: 58px;
                height: 100%;
                background: url("/web/images/retina/header-menu-glow@2x.png") left no-repeat;
                @include background-size(58px 56px);
                content: "";
            }
            &:active, &.active {
                &:after {
                    @include opacity(1);
                }
            }
            &:focus {
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }
        }
        .mobile__header__logo {
            float: left;
            margin-top: 10px;
            margin-left: 5px;
            width: 88px;
            height: 33px;
            background: url("/web/images/retina/header-logo@2x.png") 0 0 no-repeat;
            @include background-size(100%);
        }
        .mobile__header__location {
            cursor: pointer;
            display: block;
            float: right;
            padding-top: 25px;
            width: 50px;
            font-size: 12px;
            color: #fff;
            text-align: center;
            background: url("/web/images/retina/Cuprinol_Store_Locator.svg") 50% 7px no-repeat;
            @include background-size(18px);
            @include box-sizing(border-box);
            height: 48px;
            &:active {
                background-color: #318d2e;
            }
        }
        .mobile__header__search {
            cursor: pointer;
            display: block;
            @include box-sizing(border-box);
            height: 48px;
            float: right;
            padding-top: 25px;
            width: 50px;
            font-size: 12px;
            color: #fff;
            text-align: center;
            background: url("/web/images/retina/header-search@2x.png") 50% 10px no-repeat;
            @include background-size(15px);
            &:active {
                background-color: #318d2e;
            }
        }
        .mobile__header__basket {
            cursor: pointer;
            display: block;
            @include box-sizing(border-box);
            height: 48px;
            float: right;
            padding-top: 25px;
            width: 50px;
            font-size: 12px;
            color: #fff;
            text-align: center;
            background: url("/web/images/retina/header-basket@2x.png") 50% 10px no-repeat;
            @include background-size(15px);
            &:active {
                background-color: #318d2e;
            }
        }
    }
    .mobile__header__dropdown {
        @include box-shadow(0px 3px 5px rgba(100, 100, 100, 0.49));
        @include transform(translateY(-100%));
        @include transition(all 0.3s ease);
        position: fixed;
        z-index: 999;
        display: block;
        overflow-y: scroll;
        width: 100%;
        height: 100%;
        height: 100%;
        background-color: #f1f1f1;
        -webkit-overflow-scrolling: touch;
        &.active {
            @include transform(translateY(0));
            height: 100%;
        }
        //Divider
        hr {
            margin: 10px 0 7px 0;
            height: 2px;
            border: none;
            background: url("/web/images/_new_images/sep-line.png") center center no-repeat;
            @include background-size(100% 2px);
        }
        hr:nth-of-type(2) {
            margin-bottom: 20px;
        }
        hr:nth-of-type(3) {
            margin-top: 25px;
            margin-bottom: 23px;
        }
        //First Level list
        ul {
            margin: 0;
            padding-top: 10px;
            list-style: none;
            li {
                padding: 0 20px;
                height: 53px;
                a, %link {
                    @include box-sizing(border-box);
                    position: relative;
                    display: block;
                    width: 100%;
                    height: 100%;
                    border-bottom: 1px solid #cccccc;
                    color: #7e7e7e;
                    font-size: 18px;
                    line-height: 53px;
                    &:after {
                        position: absolute;
                        right: 0;
                        z-index: 999999;
                        width: 8px;
                        height: 100%;
                        background: url("/web/images/retina/header-chevron-right-grey@2x.png") center no-repeat;
                        @include background-size(8px 12px);
                        content: "";
                    }
                }
                &.active {
                    background-color: darken(#f1f1f1, 10%);
                }
                &:last-of-type a {
                    border-bottom: none;
                }
            }
            //Second level list
            &:last-of-type {
                padding-bottom: 62px;
                background-color: #fff;
                li {
                    height: 37px;
                    line-height: 37px;
                    &.active {
                        background-color: darken(white, 10%);
                    }
                }
                //Lets make the first two list items bigger
                li:nth-of-type(1), li:nth-of-type(2) {
                    height: 53px;
                    a {
                        line-height: 53px;
                    }
                }
                //Hide the active state color for the social item
                li:nth-of-type(2):hover {
                    background-color: #fff;
                    a {
                        background-color: #fff;
                    }
                }
                //Make the list items smaller!
                a {
                    border-bottom: none;
                    color: #a0a0a0;
                    font-size: 14px;
                    line-height: 37px;
                    &:after {
                        background: url("/web/images/retina/header-chevron-right-grey-small@2x.png") center no-repeat;
                        @include background-size(5px 7px);
                    }
                }
                .mobile__header__link--phone {
                    color: #7e7e7e;
                    font-size: 18px;
                    font-family: 'Effra W01 Medium', Arial, sans-serif;
                    line-height: 53px;
                    &:before {
                        position: absolute;
                        top: 0px;
                        right: 148px;
                        width: 41px;
                        height: 100%;
                        background: url("/web/images/retina/footer-phone@2x.png") center no-repeat;
                        @include background-size(41px 38px);
                        content: "";
                    }
                    &:after {
                        position: absolute;
                        top: 0px;
                        right: 25px;
                        width: auto;
                        background: none;
                        color: #318d2e;
                        content: "03332227171";
                        font-size: 18px;
                        line-height: 53px;
                    }
                    &:active {
                        &:before {
                            top: 2px;
                        }
                    }
                }
                .mobile__header__link--social {
                    position: relative;
                    border-bottom: 0px;
                    color: #7e7e7e;
                    font-size: 18px;
                    line-height: 54px;
                    %social__icon {
                        position: absolute;
                        top: 8px;
                        right: 4px;
                        width: 39px;
                        height: 40px;
                        border-bottom: none;
                        &:active {
                            top: 10px;
                        }
                    }
                    .-social__icon--facebook {
                        @extend %social__icon;
                        right: 56px;
                        background: url("/web/images/retina/header-facebook@2x.png") center no-repeat;
                        @include background-size(39px 40px);
                    }
                    .-social__icon--youtube {
                        @extend %social__icon;
                        background: url("/web/images/retina/header-youtube@2x.png") center no-repeat;
                        @include background-size(38px 40px);
                    }
                    a:after {
                        background: none;
                    }
                }
            }
        }
    }
    .mobile__title {
        display: block;
        padding-left: 20px;
        color: #fff;
        background-color: #318d2e;
        height: 55px;
        line-height: 55px;
        font-size: 18px;
        font-weight: normal;
        &:hover, &:active {
            color: #fff;
        }
        span {
            display: inline-block;
            margin-right: 4px;
            width: 8px;
            height: 12px;
            background: url("/web/images/retina/button-chevron-right@2x.png") center no-repeat;
            @include background-size(100%);
            @include transform(rotate(180deg));
            content: "";
        }
    }
    .mobile__title--small {
        @include box-sizing(border-box);
        display: block;
        margin: 0;
        margin: 0;
        padding: 0 20px;
        width: 100%;
        height: 31px;
        border: 1px solid #9fca9d;
        border-width: 1px 0 1px 0;
        font-size: 14px;
        line-height: 31px;
        box-shadow: none;
        color: #fff;
        background: #318d2e;
    }

    .mobile__locator__form {
        width: 100%;
        @include box-sizing(border-box);
        padding: 0 20px;
        width: 100%;
        height: 70px;
        background: #f1f1f1;
        line-height: 70px;
        input {
            @include box-sizing(border-box);
            padding: 0 10px;
            width: 100%;
            height: 40px;
            border: 1px solid #cccccb;
            background-color: #fff;
            font-size: 14px;
            line-height: 18px;
        }
    }


    .mobile__search__form{
        @extend .mobile__locator__form;
        @include transition(all .1s ease);
        border-bottom: 1px solid #c2c2c1;    
        position: fixed;
        z-index: 999999;
        @include transform(translateY(-70px));
    }
    
    .mobile__search__form.active{
        @include transform(translateY(0));
    }



}