/* Base
--------------------------------------------------*/
body {
	text-align: center;
}
* html caption { /* Captions cause problems - can't fully hide them in WIE5-5.5 */
	display: none;	
}

/* Layout 
--------------------------------------------------*/
* html #page {	
	text-align: left;
}

/* COMPONENTS 
--------------------------------------------------*/
* html span.required {
	width: 7px;
	display: inline-block;
	padding: 1em 0 0 0;
	overflow: hidden;
	background: #fff url(../assets/images/icons/required.gif) no-repeat top left;
	height: 0px !important;
	height /**/: 1em;
}

p.error,
p.success,
p.information,
p.warning  {
	background-image: url(/web/admin/images/global/message_sprite.gif);
}
span.submit span.icon {
	background-image: url(/web/admin/images/global/icons.gif);
}

* html #nav ul li.sub {
	background-image: url(/web/admin/images/canvas/nav_sprite.gif);
}

/* SITE 
--------------------------------------------------*/
#admin-login-page #content {
	background-image: url(/web/admin/images/canvas/login.gif);
}
#admin-login .form {
	padding-top: 0;
	margin: 110px 0 0;
}
#admin-login input.submit {
	margin-top: -20px !important;
}	

#nav ul {
	height: 35px;
}
#nav li a {
	float: left;
}
a.icon {
	background-image: url(/web/admin/images/canvas/nav_sprite.gif);
}

.yui-nav li {
	margin-bottom: -1px;
}
/*
.form dd select {
	float: none;
	height: 1%;
	display: inline;
}
*/
#body .accordian-nav li ul {
	margin-left: 0;
	padding-left: 40px;
}
#body .accordian-nav .content ul {
	width: 174px;
}

.aside-nav li, .accordian-nav li {
	background-image: url(/web/admin/images/canvas/nav_sprite.gif);
}

#order-header p.zoom {
	position: static;
}
#order-header p.zoom span {
	position: absolute;
	top: 0;
	right: 0;
}
#order-header p.zoom span span {
	position: static;
}


.content-three-quarters {
	width: 74.9%;
}

#nav li ul li {
	position: static;
}