/* BASE 
--------------------------------------------------*/
span.required {
	padding: 0;
	text-indent: -999em;
}
caption {
	display: none;
}

/* ORDER 
--------------------------------------------------*/
#basket-nav-checkout,
.t-quantity .submit,
.t-remove input {
	height: 22px;
}

#order-search-results #order-header {
	margin: 0 0 1.2727em;
}

#nav li ul li {
	position: static;
}