/*--------------------------------------------------

FORM VALIDATION

--------------------------------------------------*/

/* FORM - ERRORS
-------------------------*/
body .yui-panel-container .validation-error,
#page p.form .validation-error,
#page dd .validation-error,
#page dt .validation-error {
	width: 280px;
	color: #FFF;
	position: absolute;
	left: 5px;
	z-index: 100;
	margin: -27px 0 0 165px;
	cursor: default;
}

#page dt .validation-error {
	margin: -40px 0 0 30px;
}
.validation-error .validation-error-header {
	background: transparent url(/web/images/canvas/widget.form_validation.hd.png) no-repeat;
	height: 6px;
	width: 284px;
	overflow: hidden;
}
* html .validation-error .validation-error-header {
	background: #000;
	filter: alpha(opacity=65);
}
.validation-error .validation-error-content {
	background: transparent url(/web/images/canvas/widget.form_validation.bd.png) repeat-y;
	width: 264px;
	padding: 0 10px;
}
* html .validation-error .validation-error-content {
	background: #000;
	filter: alpha(opacity=65);
}
.validation-error .validation-error-footer {
	background: transparent url(/web/images/canvas/widget.form_validation.ft.png) no-repeat;
	height: 14px;
	width: 284px;
	overflow: hidden;
}
* html .validation-error .validation-error-footer {
	background-image: url(/web/images/canvas/widget.form_validation.ft.gif);
	height: 10px;
	filter: alpha(opacity=65);
}
body .yui-panel-container .validation-error .close,
body #content .validation-error .close {
	margin: 0;
	padding: 0;
	background: none;
	line-height: 1;
	width: auto;
	float: none;
	height: auto;
}
.validation-error .close a {
	background: transparent url(/web/images/canvas/widget.form_validation.close.png) no-repeat;
	height: 8px;
	width: 8px;
	overflow: hidden;
	position: absolute;
	top: 9px;
	right: 5px;
	display: block;
	text-indent: -999em;
	cursor: pointer;
}
* html .validation-error .close a {
	background-image: url(/web/images/canvas/widget.form_validation.close.gif);
}
body .yui-panel-container .validation-error ul, 
html body #page .validation-error ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: none;
	background: none;
	width:252px; /* Added by Oliver to prevent text overspill into close icon */
}
* html .validation-error ul {
	position: relative; /* IE6 - fix child opacity problem */
}
body .yui-panel-container.validation-error-content ul li,
#content .validation-error .validation-error-content ul li {
	font-weight: normal;
	margin: 0;
	padding: 0;
	font-size: 1em;
	color: #FFF;
	float: none;
	border: 0;
	clear: none;
	background: transparent;
	width: auto;
}
dl dl .validation-error li {
	font-size: .9em;
}
div.form-skin .validation-error .validation-error-content {
	font-size: 1.1em;
}