/*--------------------------------------------------

PALATTE BROWSER STYLES

Styles for the colour palette search.

--------------------------------------------------*/


/*--------------------------------------------------

  LOADER

--------------------------------------------------*/
#ssc-carousel-loader {
	position: absolute;
}
#ssc-carousel-loader-blanket {
	background: #FFF;
	opacity: .5;
	filter: alpha(opacity=50);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 50;
}
#ssc-carousel-loader-message {
	background: #FFF url(/web/images/global/loading.gif) no-repeat 50% 10px;
	text-align: center;
	margin: -40px 0 0 -56px;
	padding: 30px 0 10px;
	width: 100%;
	z-index: 100;
	left: 0;
	position: absolute;
	top: 50%;
	width: 120px;
	left: 50%;
}


/*--------------------------------------------------

  COLOUR REFINEMENT

--------------------------------------------------*/
#cpr-colour-wheel {
	float: left;
}
#cpr-colour-filter {
	float: left;
	padding: 10px 0 0 10px;
}
#cpr-colour-filter ul {
	list-style: none;
	margin: 0;
	padding: 0;
	float: left;
	width: 100%;
	border-top: 1px solid #DEDEDE;
}
#cpr-colour-filter ul#cprcf-exterior {
	display: none;
}
#cpr-colour-filter ul li {
	margin: 1px 0 6px 10px;
	float: left;
	clear: left;
	width: 100%;
}
ul#cprcf-mood-range {
	border: 0;
	padding: 0 0 1.2727em;
	float: left;
	clear: left;
	width: 100%;
}
ul#cprcf-mood-range li {
	margin: 0 0 0 20px;
	padding: 0 0 3px;
	border: 0;
}
* html ul#cprcf-mood-range li {
	display: inline;
}
#cpr-colour-filter ul li p {
	float: left;
	width: 100%;
	margin: 0;
	padding: 0 0 6px;
}
#cpr-colour-filter ul li input {
	margin-right: 6px;
	float: left;
}
#cpr-colour-filter ul li label {
	float: left;
}
/* Dirty, dirty man */
*+html #cpr-colour-filter ul li label {
	display: block;
	padding-top: 3px;
}
#cprf-categories-moods,
#cprf-categories-off-whites,
#cprf-categories-neutrals {
	border-bottom: 1px solid #DEDEDE;
}

#cpr-colour-filter #cprf-categories-moods p {
	padding-top: 5px;
}
#cpr-colour-filter {
	width: 160px;
}

/* COLOUR MODAL DETAIL
--------------------------------------------------*/
#colour-palette-detail-modal .bd {
	/* height: 500px; */
	height: 500px;
	width: 720px;	
	overflow: auto;
}

/* COLOUR LOADER
--------------------------------------------------*/
#colour-palette-loader {
	background: url(/web/images/ukisa/palette_browser/canvas/loader.gif) no-repeat center center;
	height: 40px;
	text-align: center;
	padding: 100px 0 0;
}
#colour-palette-modal .bd {
	height: 180px;
	width: 240px;	
}

/* COLOUR SLIDER
--------------------------------------------------*/
#colour-palette-slider {
	clear: both;
	float: left;
	width: 100%;
}
#palette-slider-pane {
	cursor: pointer;
	/*margin: -2px 0 0 -6px;*/
}
#palette-slider-pane img {
	margin: -2px 0 0;
}
#cps-canvas {
	background: url(/web/images/ukisa/palette_browser/canvas/slider_palette.gif) no-repeat;
	float: left;
	height: 50px;
	width: 431px;
}
#cps-canvas {
	position: relative; /* IE7 makes the thumb jump below */
}
#cps-nav-start,
#cps-nav-end,
#cps-nav-prev,
#cps-nav-next {
	background: url(/web/images/ukisa/palette_browser/canvas/slider_nav.gif) no-repeat;
	padding: 50px 0 0;
	margin-right: 10px;
	width: 6px;
	overflow: hidden;
	height: 0;
	display: block;
	float: left;
}
#cps-nav-start,
#cps-nav-end {
	width: 12px;
}
#cps-nav-start {
	background-position: 0 -50px;
}
#cps-nav-end {
	background-position: -12px -50px;
	margin-left: 10px;
	margin-right: 0;
}
#cps-nav-next {
	background-position: -18px 0;
	margin-left: 10px;
	margin-right: 0;
}
#colour-palette-slider .yui-h-slider {
	height: 57px;
	outline: none;
}

/* COLOUR WHEEL
--------------------------------------------------*/
#cpr-colour-wheel img {
	width: 220px;
	height: 220px;
	background: url(/web/images/ukisa/palette_browser/canvas/wheel.png);
	margin: 0;
	padding: 0;
	position: relative;
}
#cpr-colour-wheel img.yy {
	background-position: -220px 0;
}
#cpr-colour-wheel img.yr {
	background-position: -440px 0;
}
#cpr-colour-wheel img.rr {
	background-position: -660px 0;
}
#cpr-colour-wheel img.rb {
	background-position: -880px 0;
}
#cpr-colour-wheel img.bb {
	background-position: -1100px 0;
}
#cpr-colour-wheel img.bg {
	background-position: -1320px 0;
}
#cpr-colour-wheel img.gg {
	background-position: -1540px 0;
}
#cpr-colour-wheel img.gy {
	background-position: -1760px 0;
}

/* CAROUSEL
--------------------------------------------------*/
#ssc-carousel {
	clear: left;
	float: left;
	position: relative;
	height: 420px;
	margin: 20px 0;
	width: 492px;
}
#ssc-carousel ul {
	list-style: none;
	margin: 0;
	float: left;
}
#ssc-carousel li {
	clear: left;
	float: left;
	margin: 0 0 4px;
}
.ssc-carousel-stripe-card {
	float: left;
	background: url(/web/images/colour/palette/canvas/primary_card.png) no-repeat;
	position: absolute;
}
.ssc-carousel-stripe-card .name {
	color: #575757;
	padding: 4px 0 0;
	clear: both;
	margin: 0;
	float: left;
	width: 100%;
}
.ssc-carousel-secondary .name {
	font-size: 1.1em;
}
.ssc-carousel-ternary .name {
	font-size: 1em;
}
.ssc-carousel-stripe-card .rich {
	background: url(/web/images/colour/palette/canvas/tones.gif) no-repeat;
	background-position: 97px 7px;
}
.ssc-carousel-stripe-card .warm {
	background: url(/web/images/colour/palette/canvas/tones.gif) no-repeat;
	background-position: 97px -43px;
}
.ssc-carousel-stripe-card .calm {
	background: url(/web/images/colour/palette/canvas/tones.gif) no-repeat;
	background-position: 97px -93px;
}
.ssc-carousel-stripe-card .fresh {
	background: url(/web/images/colour/palette/canvas/tones.gif) no-repeat;
	background-position: 97px -143px;
}
.ssc-carousel-stripe-card p {
	text-align: center;
}
#ssc-carousel-ternary-1 {
	left: 40px;
	top: 75px;
	z-index: 10;
}
#ssc-carousel-ternary-2 {
	left: 386px;
	top: 75px;
	z-index: 10;
}
#ssc-carousel-secondary-1 {
	left: 103px;
	top: 41px;
	z-index: 20;
}
#ssc-carousel-secondary-2 {
	left: 302px;
	top: 41px;
	z-index: 20;
}

.swatch-canvas {
	position: relative;
}
#ssc-carousel-primary {
	height: 376px;
	padding: 12px 3px 1px;
	left: 183px;
	top: 0;
	z-index: 30;
	width: 119px;
}
#ssc-carousel-primary li {
	cursor: pointer;
}
#ssc-carousel-primary .swatch-canvas,
#ssc-carousel-primary .swatch {
	height: 46px;
	width: 119px;
}
.ssc-carousel-secondary {
	background-image: url(/web/images/colour/palette/canvas/secondary_card.png);
	width: 82px;
	height: 313px;
	padding: 10px 3px 0;
}
#ssc-carousel .ssc-carousel-secondary li {
	margin: 0 0 3px;	
}
.ssc-carousel-secondary .swatch-canvas,
.ssc-carousel-secondary .swatch {
	height: 36px;
	width: 82px;
}
.ssc-carousel-ternary {
	background-image: url(/web/images/colour/palette/canvas/ternary_card.png);
	padding: 8px 1px 0;
	height: 251px;
	width: 64px;
}
#ssc-carousel .ssc-carousel-ternary li {
	margin: 0 0 2px;	
}
.ssc-carousel-ternary .swatch-canvas,
.ssc-carousel-ternary .swatch {
	height: 28px;
	width: 64px;
}
#ssc-carousel-proxy {
	position: absolute;
	left: -999em;
}

#ssc-carousel-primary .swatch {
	position: relative;
	top: 0;
	left: 0;
}
.ssc-carousel-ternary .swatch-info,
.ssc-carousel-secondary .swatch-info {
	display: none;
}
#ssc-carousel-primary .swatch-info {
/*
	background: #000;
	opacity: .5;
	filter: alpha(opacity=50);
*/
	position: absolute;
	bottom: 0;
	left: 0;
	width: 119px;
	height: 17px;
}
#ssc-carousel-primary .colour-name-light {
	color: #333;
}
#ssc-carousel-primary .colour-name-dark {
	color: #FFF;
}
#ssc-carousel-primary .swatch-info p {
	padding: 2px 5px;
	text-align: left;
	margin: 0;
	font-size: 10px;
	cursor: pointer;
}

/* MOOD KEY
--------------------------------------------------*/
.mood-key label {
	background: url(/web/images/colour/palette/canvas/tones.gif) no-repeat;
	padding: 0 0 0 18px;
	display: inline-block;
}
.mood-key-fresh label {
	background-position: 1px 0;
}
.mood-key-warm label {
	background-position: 0 -47px;
}
.mood-key-calm label {
	background-position: 0 -97px;
}
.mood-key-rich label {
	background-position: 1px -147px;
}

/* CAROUSEL - LOADER
--------------------------------------------------*/
#ssc-carousel-loader {
	position: absolute;
}
#ssc-carousel-loader-blanket {
	background: #FFF;
	opacity: .5;
	filter: alpha(opacity=50);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 50;
}
#ssc-carousel-loader-message {
	background: #FFF url(/web/images/global/loading.gif) no-repeat 50% 10px;
	text-align: center;
	margin: -40px 0 0 -56px;
	padding: 30px 0 10px;
	width: 100%;
	z-index: 100;
	left: 0;
	position: absolute;
	top: 50%;
	width: 120px;
	left: 50%;
}



/* CAROUSEL - NAV
--------------------------------------------------*/
.ssc-carousel-nav {
	position: absolute;
	display: block;
	width: 27px;
	height: 0;
	padding: 54px 0 0;
	background: url(/web/images/colour/palette/canvas/carousel_nav.gif) no-repeat;
	overflow: hidden;
	top: 161px;
	cursor: pointer;
	z-index: 50;
}
#ssc-carousel-next {
	left: 0;
}
#ssc-carousel-prev {
	right: 0;
	background-position: 0 -54px;
}
/*
#cps-nav-next.disabled,
#cps-nav-prev.disabled,
#ssc-carousel-next.disabled,
#ssc-carousel-prev.disabled {
	opacity: .25;
	filter: alpha(opacity=25);
	cursor: default;
}
*/	

#cprf-categories .disabled {

	opacity: .25;
	/*filter: alpha(opacity=25);*/

	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
	filter: alpha(opacity=25);

}

#cpr-colour-wheel.disabled {
	opacity: .25;
	filter: alpha(opacity=25);
}
#cp-information {
	clear: both;
	position: relative;
}
#cp-information img {
	position: absolute;
	right: -188px;
}