/*--------------------------------------------------

PRINT BASE CSS

--------------------------------------------------*/

/*
body { font: normal normal 12px/1.5em Arial, Helvetica, sans-serif; }
a[href]:after { content: " (" attr(href) ") "; font-size: 90%; }
a[href^="/"]:after { content: " (http://domain.com" attr(href) ") "; }
ol#access-nav, .hide { display: none !important; }
*/

/* LAYOUT
--------------------------------------------------*/
html {
	background: #FFF;
	width: 640px;
	height: auto;
}
body {
	background: #FFF;
	font-size: 10pt;
	font-family: Arial, Helvetica, sans-serif;
	width: 640px;
	height: auto;
	overflow: visible;
}
img {
	border: 0;
}
#page,
#header,
#body,
#content {
	margin: 0;
	float: none;
	color: #000;
	border: 0;
	background: #FFF;
	position: static;
	width: 600px;
	height: auto;
}
#header {
	margin: 0 0 10px;
	
}
#logo {
	margin: 0;
	float: left;
}
canvas,
span.cufon,
#breadcrumb,
#access-nav,
#mini-search,
ul#utility-nav,
#nav,
div#footer,
#breadcrumbs {
	display: none;
}
a:link
a:visited,
a:hover,
a:active {
	color: #000;
	text-decoration: none;
}

#laydown {
	float: none;
}
#laydown-view {
	float: none;
}
#laydown {
	float: none;
}
#laydown ul {
	float: none;
}
#laydown li {
	float: none;
}

ul.category {
	list-style: none;
	margin-left: 0;
}